#### Note

In [130]:
# pd.set_option('display.max_rows', 100) # 최대 display option set
# pd.reset_option('display.max_rows') # 최대 display option reset

# from datetime import timedelta
# datetime.datetime(2019,12,31) - datetime.datetime(2008,1,1)

#### IMPORT

In [349]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

#### 08-19 OHCA 합치기

In [ ]:
# ohca_08 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_08.sas7bdat', encoding = 'euc-kr')
# ohca_09 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_09.sas7bdat', encoding = 'euc-kr')
# ohca_10 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_10.sas7bdat', encoding = 'euc-kr')
# ohca_11 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_11.sas7bdat', encoding = 'euc-kr')
# ohca_12 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_12.sas7bdat', encoding = 'euc-kr')
# ohca_13 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_13.sas7bdat', encoding = 'euc-kr')
# ohca_14 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_14.sas7bdat', encoding = 'euc-kr')
# ohca_16 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_16.sas7bdat', encoding = 'euc-kr')
# ohca_17 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_17.sas7bdat', encoding = 'euc-kr')
# ohca_18 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_18.sas7bdat', encoding = 'euc-kr')
# ohca_19 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_19.sas7bdat', encoding = 'euc-kr')

In [ ]:
# ohca_15 = pd.read_table('data\\급성심장정지조사(08-19)SAS\\ohca_15.txt', encoding = 'utf-8', sep='\t')

In [ ]:
# ohca_15

In [ ]:
# ohca_all = pd.concat([ohca_08, ohca_09, ohca_10, ohca_11, ohca_12, ohca_13, ohca_14, ohca_15, ohca_16, ohca_17, ohca_18, ohca_19], axis = 0)
# ohca_all.reset_index(drop = True, inplace = True)
# ohca_all

In [ ]:
# ohca_all.to_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', index = False)

#### 08-19 합친 ohca_all 다시 불러오기

In [807]:
ohca_all = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', low_memory = False)

##### 과천, 마포 check

In [569]:
check = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', low_memory = False)

In [571]:
check.loc[check['P_ADD_DIST'].str.contains('마포')]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_PR,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED
2,2008,11110.0,서울,종로구,11440.0,서울,마포구,2,81,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,66,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2008,11470.0,서울,양천구,11440.0,서울,마포구,1,67,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,60,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,86,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316622,2019,45800.0,전북,부안군,11440.0,서울,마포구,1,75,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316810,2019,45140.0,전북,익산시,11440.0,서울,마포구,2,53,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317252,2019,45730.0,전북,무주군,11440.0,서울,마포구,1,72,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319952,2019,47150.0,경북,김천시,11440.0,서울,마포구,1,59,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321662,2019,48330.0,경남,양산시,11440.0,서울,마포구,2,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [573]:
check.loc[check['P_ADMINCODE'] == 11440.0]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_PR,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED
2,2008,11110.0,서울,종로구,11440.0,서울,마포구,2,81,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,66,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2008,11470.0,서울,양천구,11440.0,서울,마포구,1,67,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,60,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,86,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316622,2019,45800.0,전북,부안군,11440.0,서울,마포구,1,75,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316810,2019,45140.0,전북,익산시,11440.0,서울,마포구,2,53,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317252,2019,45730.0,전북,무주군,11440.0,서울,마포구,1,72,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319952,2019,47150.0,경북,김천시,11440.0,서울,마포구,1,59,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321662,2019,48330.0,경남,양산시,11440.0,서울,마포구,2,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 질병, 질병 외 check

In [576]:
check['CAUSE'].value_counts()

1    236745
2     81926
9      5460
Name: CAUSE, dtype: int64

In [577]:
check['CAUSE_DISEASE'].value_counts()

1.0    220483
8.0      6635
4.0      3916
3.0      2684
2.0      1889
5.0      1138
Name: CAUSE_DISEASE, dtype: int64

##### ADD_CITY, ADD_DIST 합치기

In [808]:
ohca_all['H_ADD_CITY_DIST'] = ohca_all['H_ADD_CITY'] + ' ' + ohca_all['H_ADD_DIST']
ohca_all['P_ADD_CITY_DIST'] = ohca_all['P_ADD_CITY'] + ' ' + ohca_all['P_ADD_DIST']

##### NA check

In [809]:
# NA check 

ohca_all.isna().sum()

YEAR                         0
H_ADMINCODE                 48
H_ADD_CITY                   0
H_ADD_DIST                   0
P_ADMINCODE               8639
P_ADD_CITY                   0
P_ADD_DIST                   0
H_SEX                        0
AGE                          0
INS                          0
WITNESS                      0
PRE_ER_ARREST_DT        187122
PRE_ER_ARREST_TM        187122
LAST_NORM_DT            184422
LAST_NORM_TM            184422
WITNESS_MAN                  0
WITNESS_MAN1            299209
WITNESS_MAN2            110580
BYSTANDER_CPR                0
BYSTANDER_CPR_ELSE      286538
H_PLACE_PUBLIC               0
H_PLACE1                259037
H_PLACE2                115229
H_PLACE                      0
H_PLACE_FLOOR           251519
ACT                          0
CAUSE                        0
CAUSE_DISEASE            87386
CAUSE_MECH              242205
CAUSE_INTENT            242205
POISON_0                324110
POISON_1                323864
POISON_2                324122
POISON_3                324109
POISON_4                323940
POISON_5                324120
POISON_6                324093
POISON_7                322374
POISON_8                321909
POISON_9                323586
ER_ADM_DT                    0
ER_ADM_TM                    0
CPR                      15551
NO_CPR                  177586
ROSC                    162096
STOP_CPR                162096
STOP_CPR_DT             121533
STOP_CPR_TM             121533
ER_EKG                       0
ER_EKG_DT                  723
ER_EKG_TM                  723
FIRST_EKG_PLACE              0
ER_DEFIB                     0
FIRST_DEFIB_PLACE            0
OP1                     315510
OP1_1                   323946
OP1_2                   318932
OP1_9                   324127
OP2                     316204
OP2_1                   322223
OP2_2                   319573
OP2_3                   323482
OP2_4                   322468
OP2_9                   323072
OP3                     323984
OP4                     322330
OP5                     323475
OP5_1                   323951
OP5_2                   323648
ER_RESULT                    0
ER_DC_DT                     0
ER_DC_TM                     0
ADM_RESULT              284975
DC_DT                   285080
DTH_DT                   34595
DTH_TM                   34595
CPC                     307865
F_ADMINCODE                  0
F_HAPP_ADD_CITY              0
F_HAPP_ADD_DIST              0
PRE_ER_CPR               20091
PRE_ER_ROSC              20091
PRE_ER_EKG               20091
PRE_ER_DEFIB             20091
PHX_HTN                  20091
PHX_DM                   20091
PHX_HEART                20091
PHX_RENAL                20091
PHX_RESPI                20091
PHX_STROKE               20091
PHX_DYSLIPI              20091
ER_DEFIB_DT             278645
ER_DEFIB_TM             278645
OP6                     221870
OP6_1                   222177
OP6_2                   324118
OP6_3                   323896
OP6_4                   324073
OP6_8                   324066
OP7                     312724
OP7_1                   319868
OP7_2                   322361
OP7_3                   323669
OP7_8                   323132
OP8                     322385
PHX_HEART_1             322011
PHX_HEART_2             318076
PHX_HEART_3             319408
PHX_HEART_4             322604
PHX_HEART_5             319078
PHX_HEART_6             319594
PHX_HEART_7             323216
PHX_HEART_8             316833
PHX_HEART_9             321218
PHX_RENAL_1             319885
PHX_RENAL_2             319901
PHX_RENAL_3             324000
PHX_RENAL_9             323851
PHX_RESPI_1             319905
PHX_RESPI_2             320111
PHX_RESPI_3             321339
PHX_RESPI_9             323120
PHX_STROKE_1            316953
PHX_STROKE_2            321197
PHX_STROKE_9            318535
PHX_DYSLIPI_1           320263
PHX_DYSLIPI_9           324059
OP1_START_DT            318903
OP1_START_TM            318903
OP1_END_DT              319788
OP1_END_TM              319788
OP1_SUCCESS             319788
OP2_START_DT            318246
OP2_START_TM            318246
OP2_TARGET_DT           318246
OP2_TARGET_TM           318246
OP2_REWARM_DT           318246
OP2_REWARM_TM           318246
OP2_NORM_DT             318246
OP2_NORM_TM             318246
OP2_SUCCESS             318246
OP3_SURGERY_DT          324038
OP3_SURGERY_TM          324038
OP4_1                   322988
OP4_2                   323706
OP4_8                   324128
OP4_9                   324129
OP4_START_DT            322572
OP4_START_TM            322572
OP4_SUCCESS             322572
OP5_START_DT            324001
OP5_START_TM            324001
OP5_SUCCESS             324001
OP6_START_DT            272816
OP6_START_TM            272816
OP6_SUCCESS             272816
OP7_START_DT            314875
OP7_START_TM            314875
OP8_1                   323460
OP8_2                   323533
OP8_3                   323918
OP8_8                   324122
OP8_9                   324113
OP8_START_DT            322622
OP8_START_TM            322622
OP8_END_DT              322623
OP8_END_TM              322623
F_OPEN                  118670
F_ARREST_DT             131569
F_ARREST_TM             131569
F_CALL_DT               131569
F_CALL_TM               131569
F_PREH_INS              132511
H2_CHART                315501
H2_ER_RESULT            316471
H2_ER_DC_DT             316471
H2_ER_DC_TM             316471
H2_ADM_RESULT           318815
H2_DC_DT                318822
H2_DTH_DT               319558
H2_DTH_TM               319558
H2_CPC                  321594
F_AED_EKG               184055
F_DEFIB                 184055
F_NO_DEFIB              211750
H_PLACE_OTHER           321438
ACT_VITAL_ACTIVITY      285820
ACT_OTHER               304816
CAUSE_DISEASE_OTHER     321835
PHX_HEART_10            323989
PHX_ALCOHOL             206081
PHX_SMOKE               206081
OP1_3                   320872
OP1_PRE_MENTAL          317945
OP1_PRE_MENTAL_DT       317945
OP1_PRE_MENTAL_TM       317945
OP1_PRE_VITAL_SBP       317945
OP1_PRE_VITAL_DBP       317945
OP1_PRE_VITAL_PR        317945
OP1_PRE_VITAL_RR        317945
OP1_PRE_VITAL_BT        317945
OP1_PRE_VITAL_DT        317945
OP1_PRE_VITAL_TM        317945
OP2_PRE_MENTAL          320425
OP2_PRE_MENTAL_DT       320425
OP2_PRE_MENTAL_TM       320425
OP2_PRE_VITAL_SBP       320425
OP2_PRE_VITAL_DBP       320425
OP2_PRE_VITAL_PR        320425
OP2_PRE_VITAL_RR        320425
OP2_PRE_VITAL_BT        320425
OP2_PRE_VITAL_DT        320425
OP2_PRE_VITAL_TM        320425
OP2_TARGET_BT           320425
OP7_4                   320209
OP8_PRE_ARREST_STATE    323155
OP8_PRE_MENTAL          323641
OP8_PRE_MENTAL_DT       323641
OP8_PRE_MENTAL_TM       323641
OP8_PRE_VITAL_SBP       323641
OP8_PRE_VITAL_DBP       323641
OP8_PRE_VITAL_PR        323641
OP8_PRE_VITAL_RR        323641
OP8_PRE_VITAL_BT        323641
OP8_PRE_VITAL_DT        323641
OP8_PRE_VITAL_TM        323641
OP8_SUCCESS             323155
OP8_ROSC                323645
OP8_ROSC_DT             323707
OP8_ROSC_TM             323707
BYSTANDER_AED           324036
H_ADD_CITY_DIST              0
P_ADD_CITY_DIST              0
dtype: int64

In [810]:
ohca_all['P_ADMINCODE'].isna().sum()

8639

In [811]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()

187122

##### 일자 칼럼들 특이값 처리 (NaN으로 대체)         
- PRE_ER_ARREST_DT
- LAST_NORM_DT
- ER_ADM_DT        

미리 대체해놓지 않으면 PRE_ER_ARREST_DT 결측을 뒤의 두 칼럼으로 채울 때 특이값이 들어가 버림

In [812]:
# 일자 칼럼들 NaN은 빼고 str 형식으로 바꾸기
# astype(str) 쓸 때 column에 np.nan이 있으면 그것까지 str 'nan'으로 변환됨. 

ohca_all['PRE_ER_ARREST_DT'] = ohca_all['PRE_ER_ARREST_DT'].astype(str).replace('nan',np.nan)
ohca_all['LAST_NORM_DT'] = ohca_all['LAST_NORM_DT'].astype(str).replace('nan',np.nan)
ohca_all['ER_ADM_DT'] = ohca_all['ER_ADM_DT'].astype(str).replace('nan',np.nan)

In [813]:
# NaN이 있으면, str 형식으로 바꾸고 난 이후에도 NaN 잘 살아있는 거 확인해야 함

print('PRE_ER_ARREST_DT NaNs: ', ohca_all['PRE_ER_ARREST_DT'].isna().sum())  
print('LAST_NORM_DT NaNs: ', ohca_all['LAST_NORM_DT'].isna().sum())
print('ER_ADM_DT NaNs: ', ohca_all['ER_ADM_DT'].isna().sum())

PRE_ER_ARREST_DT NaNs:  187122
LAST_NORM_DT NaNs:  184422
ER_ADM_DT NaNs:  0

In [814]:
# 'PRE_ER_ARREST_DT' 20080101.0 형식에서 .0 자르기
# 'LAST_NORM_DT' 20080101.0 형식에서 .0 자르기
# 'ER_ADM_DT' 20080101.0 형식에서 .0 자르기

ohca_all['PRE_ER_ARREST_DT']= ohca_all['PRE_ER_ARREST_DT'].str[0:8]
ohca_all['LAST_NORM_DT']= ohca_all['LAST_NORM_DT'].str[0:8]
ohca_all['ER_ADM_DT']= ohca_all['ER_ADM_DT'].str[0:8]

99999999 처리

In [815]:
# PRE_ER_ARREST_DT == 99999999 or 88888888 이면 대신 nan 넣어주기
# 220

ohca_all.loc[ohca_all.PRE_ER_ARREST_DT.isin(['99999999', '88888888']), 'PRE_ER_ARREST_DT'] = np.nan

In [816]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()   # 220 늘었음

187342

In [817]:
# LAST_NORM_DT == 99999999 or 88888888 이면 대신 nan 넣어주기
# 959

ohca_all.loc[ohca_all.LAST_NORM_DT.isin(['99999999', '88888888']), 'LAST_NORM_DT'] = np.nan

In [818]:
ohca_all['LAST_NORM_DT'].isna().sum()   # 959 늘었음

185381

In [819]:
# ER_ADM_DT == 99999999 면 대신 nan 넣어주기
# 0

ohca_all.loc[ohca_all.ER_ADM_DT.isin(['99999999', '88888888']), 'ER_ADM_DT'] = np.nan

In [820]:
ohca_all['ER_ADM_DT'].isna().sum()   # 0 늘었음

0

endswith 99 처리

In [821]:
# PRE_ER_ARREST_DT ends with 99 면 대신 nan 넣어주기
# 155

ohca_all.loc[ohca_all['PRE_ER_ARREST_DT'].str[6:8] == '99', 'PRE_ER_ARREST_DT'] = np.nan

In [822]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()   # 155 늘었음

187497

In [823]:
# LAST_NORM_DT ends with 99 면 대신 nan 넣어주기
# 1835

ohca_all.loc[ohca_all['LAST_NORM_DT'].str[6:8] == '99', 'LAST_NORM_DT'] = np.nan

In [824]:
ohca_all['LAST_NORM_DT'].isna().sum()   # 1835 늘었음

187216

In [825]:
# ER_ADM_DT ends with 99 면 대신 nan 넣어주기
# 0

ohca_all.loc[ohca_all['ER_ADM_DT'].str[6:8] == '99', 'ER_ADM_DT'] = np.nan

In [826]:
ohca_all['ER_ADM_DT'].isna().sum()   # 0 늘었음

0

In [827]:
ohca_all['PRE_ER_ARREST_DT'].unique()

array([nan, '20080101', '20080102', ..., '20191009', '20191006',
       '20200101'], dtype=object)

##### PRE_ER_ARREST_DT NA 처리

일차로 PRE_ER_ARREST_DT NaN 다 LAST_NORM_DT로 채우고, 그래도 남은 NaN ER_ADM_DT 로 채우기

In [828]:
# PRE_ER_ARREST_DT 결측 (187497) -> LAST_NORM_DT 로 채우기

ohca_all['PRE_ER_ARREST_DT'].fillna(ohca_all['LAST_NORM_DT'], inplace = True)

In [829]:
# 기존 18만 결측 -> 50582 결측으로 줄음

ohca_all['PRE_ER_ARREST_DT'].isna().sum()

50582

In [830]:
# 그래도 결측 있음 -> 50582 결측 ER_ADM_DT 로 채우기

ohca_all['PRE_ER_ARREST_DT'].fillna(ohca_all['ER_ADM_DT'], inplace = True)

In [831]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()

0

In [832]:
ohca_all['PRE_ER_ARREST_DT'].dtype

dtype('O')

In [833]:
# str -> object로 바꿔주기

ohca_all['PRE_ER_ARREST_DT'] = ohca_all['PRE_ER_ARREST_DT'].astype(object)

In [834]:
# 다시 nan check - 이제 결측 없음!

ohca_all['PRE_ER_ARREST_DT'].isna().sum()

0

PRE_ER_ARREST_DT 결측 처리 완.

In [835]:
# P_ADMINCODE NA row check (8,639개) 

ohca_all.loc[ohca_all['P_ADMINCODE'].isna() == True]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST,P_ADD_CITY_DIST
42,2008,11680.0,서울,강남구,NaN,미상,미상,2,80,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
46,2008,11680.0,서울,강남구,NaN,미상,미상,1,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
53,2008,11710.0,서울,송파구,NaN,미상,미상,1,31,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 송파구,미상 미상
79,2008,11680.0,서울,강남구,NaN,미상,미상,2,83,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
82,2008,11710.0,서울,송파구,NaN,미상,미상,1,18,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 송파구,미상 미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323911,2019,50110.0,제주,제주시,NaN,미상,미상,2,92,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323912,2019,50110.0,제주,제주시,NaN,미상,미상,1,89,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323923,2019,50110.0,제주,제주시,NaN,미상,미상,2,79,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323926,2019,50110.0,제주,제주시,NaN,미상,미상,1,76,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
324001,2019,50130.0,제주,서귀포시,NaN,미상,미상,1,20,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 서귀포시,미상 미상

In [836]:
# H_는 있는데 P_는 없는 경우가 많음. ADMINCODE 및 일자의 NaN 처리를 위해 hospital, patient 테이블을 아예 분리해놓고 시작하자.

##### ohca_hospital, ohca_patient 생성

In [837]:
ohca_hospital = ohca_all.drop(['P_ADMINCODE', 'P_ADD_CITY', 'P_ADD_DIST', 'P_ADD_CITY_DIST'], axis = 1)
ohca_patient = ohca_all.drop(['H_ADMINCODE', 'H_ADD_CITY', 'H_ADD_DIST', 'H_ADD_CITY_DIST'], axis = 1)

In [838]:
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [839]:
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

#### 결측 처리 및 전처리

0. 특이사항 수기 수정          
    - ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구' 에 대한 H_ADMINCODE missing, 찾아서 넣어줌 (행정표준코드관리시스템)
    - '부산 진구' -> '부산 부산진구' 로 명칭 변경 (이게 정식 명칭이고, ohca_patient 에는 '부산 부산진구' 로 되어있음, 이래서 결측이 생겼던 것!)
    - ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군' --> '충남 금산군' 으로 수정     
    - '충남 금산군' 코드 찾아서 'P_ADMINCODE' 에 넣어줌 (행정표준코드관리시스템)               
                                                         
                                                   
                                                         
1. H_ADMINCODE, P_ADMINCODE 결측 drop    
                                                                 
                                                                                                                                       
2. PRE_ER_ARREST_DT 결측 drop                                                          

                                                                                                    
3. H_ADD_CITY_DIST, P_ADD_CITY_DIST endswith '미상' drop    


4. 'PRE_ER_ARREST_DT' 처리       
    - 99999999.0, 88888888.0        
    - 20081299.0

##### 0. 특이사항 수기 수정

In [840]:
# ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구' 에 대한 H_ADMINCODE missing, 찾아서 넣어줌 (행정표준코드관리시스템)
# '부산 진구' -> '부산 부산진구' 로 명칭 변경 (이게 정식 명칭이고, ohca_patient 에는 '부산 부산진구' 로 되어있음, 이래서 결측이 생겼던 것!) 

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구', 'H_ADMINCODE'] = 26230.0
ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구', 'H_ADD_CITY_DIST'] = '부산 부산진구'
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [841]:
# 혹시 모르니까 ohca_patient 에도 넣어줌

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '부산 진구', 'P_ADMINCODE'] = 26230.0
ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '부산 진구', 'P_ADD_CITY_DIST'] = '부산 부산진구'
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

In [842]:
# '충남 굼산군' check

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군']

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
285281,2018,NaN,충남,굼산군,1,66,1,2,20180707,1799.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 굼산군

In [843]:
# ohca_hospital에는 없음

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '충남 굼산군']

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [844]:
# ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군' --> '충남 금산군' 으로 수정
# '충남 금산군' 코드 찾아서 'P_ADMINCODE' 에 넣어줌 (행정표준코드관리시스템)  

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군', 'P_ADD_CITY_DIST'] = '충남 금산군'
ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 금산군', 'P_ADMINCODE'] = 44710.0
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### 1. H_ADMINCODE, P_ADMINCODE 결측 drop

In [845]:
# 결측 개수 확인 (H_ADMINCODE) - 없음

ohca_hospital.loc[ohca_hospital['H_ADMINCODE'].isna() == True]

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [846]:
# 결측 개수 확인 (P_ADMINCODE) - 8,638개, 시군구코드 뿐만 아니라 도시,지역 다 '미상' 처리라 그냥 drop 해야 함. 

ohca_patient.loc[ohca_patient['P_ADMINCODE'].isna() == True]

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
42,2008,NaN,미상,미상,2,80,1,2,20080105,1714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
46,2008,NaN,미상,미상,1,60,1,1,20080106,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
53,2008,NaN,미상,미상,1,31,9,2,20080107,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
79,2008,NaN,미상,미상,2,83,1,2,20080111,400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
82,2008,NaN,미상,미상,1,18,9,2,20080111,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323911,2019,NaN,미상,미상,2,92,5,1,20191207,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323912,2019,NaN,미상,미상,1,89,1,1,20191210,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323923,2019,NaN,미상,미상,2,79,1,1,20191226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323926,2019,NaN,미상,미상,1,76,5,1,20191028,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
324001,2019,NaN,미상,미상,1,20,9,9,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상

In [847]:
# drop & save

ohca_hospital.dropna(subset=['H_ADMINCODE'], inplace = True)
ohca_patient.dropna(subset=['P_ADMINCODE'], inplace = True)

In [848]:
ohca_hospital # 324131 cases left

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [849]:
ohca_patient # 315493 cases left

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### 2. PRE_ER_ARREST_DT 결측 drop

In [393]:
# 기존에 했었으나, 위의 '불러오기' 단계에서 PRE_ER_ARREST_DT 결측 다 채웠기 때문에 실행 안해도 됨! (실행해도 무방하긴 함)

ohca_hospital.dropna(subset=['PRE_ER_ARREST_DT'], inplace = True)
ohca_patient.dropna(subset=['PRE_ER_ARREST_DT'], inplace = True)

##### 3. H_ADD_CITY_DIST, P_ADD_CITY_DIST endswith '미상' drop

In [850]:
# ohca_hospital에는 없음

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'].str.endswith('미상') == True]

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [851]:
# ohca_patient 확인 -> 있음 (18개)

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'].str.endswith('미상') == True]

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
1523,2008,41000.0,경기,미상,1,69,1,2,20080711,2135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
2046,2008,11000.0,서울,미상,1,26,2,2,20080915,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
14194,2008,41000.0,경기,미상,1,45,7,1,20080624,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
14347,2008,44000.0,충남,미상,2,78,1,1,20081116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 미상
24386,2009,48000.0,경남,미상,1,19,1,2,20090710,1609.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경남 미상
29731,2009,41000.0,경기,미상,1,86,9,2,20090307,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
34318,2009,27000.0,대구,미상,1,41,1,2,20090112,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대구 미상
35997,2009,44000.0,충남,미상,1,53,1,2,20090513,1644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 미상
47408,2010,26000.0,부산,미상,2,51,1,1,20100623,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
54537,2010,11000.0,서울,미상,1,53,1,2,20100628,1046.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
150326,2014,11000.0,서울,미상,2,33,9,2,20140906,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
257468,2017,26000.0,부산,미상,2,0,1,1,20170317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
261254,2017,48000.0,경남,미상,2,88,1,2,20170306,930.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경남 미상
268387,2018,26000.0,부산,미상,1,83,1,1,20180114,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
283194,2018,11000.0,서울,미상,1,47,1,2,20180612,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
294543,2019,41000.0,경기,미상,1,51,1,2,20190305,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
294693,2019,11000.0,서울,미상,1,65,1,2,20190329,1653.0,...,NaN,NaN,NaN,NaN,1.0,2.0,20199999.0,9999.0,NaN,서울 미상
317251,2019,45000.0,전북,미상,2,92,1,2,20190826,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전북 미상

In [852]:
# ohca_patient endswith '미상' drop - 315475 cases left

ohca_patient = ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'].str.endswith('미상') == False].copy()
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### reset index

In [853]:
ohca_patient.reset_index(drop = True, inplace = True)
ohca_hospital.reset_index(drop = True, inplace = True)

In [854]:
# 결측 다시 확인

ohca_hospital.isna().sum()

YEAR                         0
H_ADMINCODE                  0
H_ADD_CITY                   0
H_ADD_DIST                   0
H_SEX                        0
AGE                          0
INS                          0
WITNESS                      0
PRE_ER_ARREST_DT             0
PRE_ER_ARREST_TM        187122
LAST_NORM_DT            187216
LAST_NORM_TM            184422
WITNESS_MAN                  0
WITNESS_MAN1            299209
WITNESS_MAN2            110580
BYSTANDER_CPR                0
BYSTANDER_CPR_ELSE      286538
H_PLACE_PUBLIC               0
H_PLACE1                259037
H_PLACE2                115229
H_PLACE                      0
H_PLACE_FLOOR           251519
ACT                          0
CAUSE                        0
CAUSE_DISEASE            87386
CAUSE_MECH              242205
CAUSE_INTENT            242205
POISON_0                324110
POISON_1                323864
POISON_2                324122
POISON_3                324109
POISON_4                323940
POISON_5                324120
POISON_6                324093
POISON_7                322374
POISON_8                321909
POISON_9                323586
ER_ADM_DT                    0
ER_ADM_TM                    0
CPR                      15551
NO_CPR                  177586
ROSC                    162096
STOP_CPR                162096
STOP_CPR_DT             121533
STOP_CPR_TM             121533
ER_EKG                       0
ER_EKG_DT                  723
ER_EKG_TM                  723
FIRST_EKG_PLACE              0
ER_DEFIB                     0
FIRST_DEFIB_PLACE            0
OP1                     315510
OP1_1                   323946
OP1_2                   318932
OP1_9                   324127
OP2                     316204
OP2_1                   322223
OP2_2                   319573
OP2_3                   323482
OP2_4                   322468
OP2_9                   323072
OP3                     323984
OP4                     322330
OP5                     323475
OP5_1                   323951
OP5_2                   323648
ER_RESULT                    0
ER_DC_DT                     0
ER_DC_TM                     0
ADM_RESULT              284975
DC_DT                   285080
DTH_DT                   34595
DTH_TM                   34595
CPC                     307865
F_ADMINCODE                  0
F_HAPP_ADD_CITY              0
F_HAPP_ADD_DIST              0
PRE_ER_CPR               20091
PRE_ER_ROSC              20091
PRE_ER_EKG               20091
PRE_ER_DEFIB             20091
PHX_HTN                  20091
PHX_DM                   20091
PHX_HEART                20091
PHX_RENAL                20091
PHX_RESPI                20091
PHX_STROKE               20091
PHX_DYSLIPI              20091
ER_DEFIB_DT             278645
ER_DEFIB_TM             278645
OP6                     221870
OP6_1                   222177
OP6_2                   324118
OP6_3                   323896
OP6_4                   324073
OP6_8                   324066
OP7                     312724
OP7_1                   319868
OP7_2                   322361
OP7_3                   323669
OP7_8                   323132
OP8                     322385
PHX_HEART_1             322011
PHX_HEART_2             318076
PHX_HEART_3             319408
PHX_HEART_4             322604
PHX_HEART_5             319078
PHX_HEART_6             319594
PHX_HEART_7             323216
PHX_HEART_8             316833
PHX_HEART_9             321218
PHX_RENAL_1             319885
PHX_RENAL_2             319901
PHX_RENAL_3             324000
PHX_RENAL_9             323851
PHX_RESPI_1             319905
PHX_RESPI_2             320111
PHX_RESPI_3             321339
PHX_RESPI_9             323120
PHX_STROKE_1            316953
PHX_STROKE_2            321197
PHX_STROKE_9            318535
PHX_DYSLIPI_1           320263
PHX_DYSLIPI_9           324059
OP1_START_DT            318903
OP1_START_TM            318903
OP1_END_DT              319788
OP1_END_TM              319788
OP1_SUCCESS             319788
OP2_START_DT            318246
OP2_START_TM            318246
OP2_TARGET_DT           318246
OP2_TARGET_TM           318246
OP2_REWARM_DT           318246
OP2_REWARM_TM           318246
OP2_NORM_DT             318246
OP2_NORM_TM             318246
OP2_SUCCESS             318246
OP3_SURGERY_DT          324038
OP3_SURGERY_TM          324038
OP4_1                   322988
OP4_2                   323706
OP4_8                   324128
OP4_9                   324129
OP4_START_DT            322572
OP4_START_TM            322572
OP4_SUCCESS             322572
OP5_START_DT            324001
OP5_START_TM            324001
OP5_SUCCESS             324001
OP6_START_DT            272816
OP6_START_TM            272816
OP6_SUCCESS             272816
OP7_START_DT            314875
OP7_START_TM            314875
OP8_1                   323460
OP8_2                   323533
OP8_3                   323918
OP8_8                   324122
OP8_9                   324113
OP8_START_DT            322622
OP8_START_TM            322622
OP8_END_DT              322623
OP8_END_TM              322623
F_OPEN                  118670
F_ARREST_DT             131569
F_ARREST_TM             131569
F_CALL_DT               131569
F_CALL_TM               131569
F_PREH_INS              132511
H2_CHART                315501
H2_ER_RESULT            316471
H2_ER_DC_DT             316471
H2_ER_DC_TM             316471
H2_ADM_RESULT           318815
H2_DC_DT                318822
H2_DTH_DT               319558
H2_DTH_TM               319558
H2_CPC                  321594
F_AED_EKG               184055
F_DEFIB                 184055
F_NO_DEFIB              211750
H_PLACE_OTHER           321438
ACT_VITAL_ACTIVITY      285820
ACT_OTHER               304816
CAUSE_DISEASE_OTHER     321835
PHX_HEART_10            323989
PHX_ALCOHOL             206081
PHX_SMOKE               206081
OP1_3                   320872
OP1_PRE_MENTAL          317945
OP1_PRE_MENTAL_DT       317945
OP1_PRE_MENTAL_TM       317945
OP1_PRE_VITAL_SBP       317945
OP1_PRE_VITAL_DBP       317945
OP1_PRE_VITAL_PR        317945
OP1_PRE_VITAL_RR        317945
OP1_PRE_VITAL_BT        317945
OP1_PRE_VITAL_DT        317945
OP1_PRE_VITAL_TM        317945
OP2_PRE_MENTAL          320425
OP2_PRE_MENTAL_DT       320425
OP2_PRE_MENTAL_TM       320425
OP2_PRE_VITAL_SBP       320425
OP2_PRE_VITAL_DBP       320425
OP2_PRE_VITAL_PR        320425
OP2_PRE_VITAL_RR        320425
OP2_PRE_VITAL_BT        320425
OP2_PRE_VITAL_DT        320425
OP2_PRE_VITAL_TM        320425
OP2_TARGET_BT           320425
OP7_4                   320209
OP8_PRE_ARREST_STATE    323155
OP8_PRE_MENTAL          323641
OP8_PRE_MENTAL_DT       323641
OP8_PRE_MENTAL_TM       323641
OP8_PRE_VITAL_SBP       323641
OP8_PRE_VITAL_DBP       323641
OP8_PRE_VITAL_PR        323641
OP8_PRE_VITAL_RR        323641
OP8_PRE_VITAL_BT        323641
OP8_PRE_VITAL_DT        323641
OP8_PRE_VITAL_TM        323641
OP8_SUCCESS             323155
OP8_ROSC                323645
OP8_ROSC_DT             323707
OP8_ROSC_TM             323707
BYSTANDER_AED           324036
H_ADD_CITY_DIST              0
dtype: int64

In [855]:
# 결측 다시 확인

ohca_patient.isna().sum()

YEAR                         0
P_ADMINCODE                  0
P_ADD_CITY                   0
P_ADD_DIST                   0
H_SEX                        0
AGE                          0
INS                          0
WITNESS                      0
PRE_ER_ARREST_DT             0
PRE_ER_ARREST_TM        181895
LAST_NORM_DT            181780
LAST_NORM_TM            179129
WITNESS_MAN                  0
WITNESS_MAN1            291264
WITNESS_MAN2            106982
BYSTANDER_CPR                0
BYSTANDER_CPR_ELSE      278879
H_PLACE_PUBLIC               0
H_PLACE1                252908
H_PLACE2                110623
H_PLACE                      0
H_PLACE_FLOOR           243302
ACT                          0
CAUSE                        0
CAUSE_DISEASE            84507
CAUSE_MECH              236168
CAUSE_INTENT            236168
POISON_0                315454
POISON_1                315216
POISON_2                315467
POISON_3                315453
POISON_4                315288
POISON_5                315464
POISON_6                315438
POISON_7                313780
POISON_8                313285
POISON_9                314946
ER_ADM_DT                    0
ER_ADM_TM                    0
CPR                      15074
NO_CPR                  172415
ROSC                    158134
STOP_CPR                158134
STOP_CPR_DT             118494
STOP_CPR_TM             118494
ER_EKG                       0
ER_EKG_DT                  694
ER_EKG_TM                  694
FIRST_EKG_PLACE              0
ER_DEFIB                     0
FIRST_DEFIB_PLACE            0
OP1                     306991
OP1_1                   315292
OP1_2                   310362
OP1_9                   315471
OP2                     307664
OP2_1                   313608
OP2_2                   310973
OP2_3                   314833
OP2_4                   313835
OP2_9                   314432
OP3                     315328
OP4                     313690
OP5                     314838
OP5_1                   315297
OP5_2                   315009
ER_RESULT                    0
ER_DC_DT                     0
ER_DC_TM                     0
ADM_RESULT              276970
DC_DT                   277074
DTH_DT                   32792
DTH_TM                   32792
CPC                     299561
F_ADMINCODE                  0
F_HAPP_ADD_CITY              0
F_HAPP_ADD_DIST              0
PRE_ER_CPR               19556
PRE_ER_ROSC              19556
PRE_ER_EKG               19556
PRE_ER_DEFIB             19556
PHX_HTN                  19556
PHX_DM                   19556
PHX_HEART                19556
PHX_RENAL                19556
PHX_RESPI                19556
PHX_STROKE               19556
PHX_DYSLIPI              19556
ER_DEFIB_DT             271349
ER_DEFIB_TM             271349
OP6                     215827
OP6_1                   216125
OP6_2                   315462
OP6_3                   315249
OP6_4                   315417
OP6_8                   315410
OP7                     304302
OP7_1                   311301
OP7_2                   313760
OP7_3                   315019
OP7_8                   314484
OP8                     313751
PHX_HEART_1             313387
PHX_HEART_2             309545
PHX_HEART_3             310841
PHX_HEART_4             313986
PHX_HEART_5             310506
PHX_HEART_6             311005
PHX_HEART_7             314568
PHX_HEART_8             308320
PHX_HEART_9             312642
PHX_RENAL_1             311288
PHX_RENAL_2             311318
PHX_RENAL_3             315347
PHX_RENAL_9             315206
PHX_RESPI_1             311343
PHX_RESPI_2             311508
PHX_RESPI_3             312727
PHX_RESPI_9             314476
PHX_STROKE_1            308412
PHX_STROKE_2            312604
PHX_STROKE_9            309990
PHX_DYSLIPI_1           311665
PHX_DYSLIPI_9           315403
OP1_START_DT            310334
OP1_START_TM            310334
OP1_END_DT              311204
OP1_END_TM              311204
OP1_SUCCESS             311204
OP2_START_DT            309671
OP2_START_TM            309671
OP2_TARGET_DT           309671
OP2_TARGET_TM           309671
OP2_REWARM_DT           309671
OP2_REWARM_TM           309671
OP2_NORM_DT             309671
OP2_NORM_TM             309671
OP2_SUCCESS             309671
OP3_SURGERY_DT          315382
OP3_SURGERY_TM          315382
OP4_1                   314343
OP4_2                   315053
OP4_8                   315472
OP4_9                   315473
OP4_START_DT            313930
OP4_START_TM            313930
OP4_SUCCESS             313930
OP5_START_DT            315346
OP5_START_TM            315346
OP5_SUCCESS             315346
OP6_START_DT            265400
OP6_START_TM            265400
OP6_SUCCESS             265400
OP7_START_DT            306433
OP7_START_TM            306433
OP8_1                   314815
OP8_2                   314886
OP8_3                   315264
OP8_8                   315466
OP8_9                   315457
OP8_START_DT            313988
OP8_START_TM            313988
OP8_END_DT              313989
OP8_END_TM              313989
F_OPEN                  115573
F_ARREST_DT             128237
F_ARREST_TM             128237
F_CALL_DT               128237
F_CALL_TM               128237
F_PREH_INS              129154
H2_CHART                307663
H2_ER_RESULT            308528
H2_ER_DC_DT             308528
H2_ER_DC_TM             308528
H2_ADM_RESULT           310637
H2_DC_DT                310644
H2_DTH_DT               311364
H2_DTH_TM               311364
H2_CPC                  313158
F_AED_EKG               179529
F_DEFIB                 179529
F_NO_DEFIB              206326
H_PLACE_OTHER           312886
ACT_VITAL_ACTIVITY      278106
ACT_OTHER               296776
CAUSE_DISEASE_OTHER     313257
PHX_HEART_10            315335
PHX_ALCOHOL             200927
PHX_SMOKE               200927
OP1_3                   312265
OP1_PRE_MENTAL          309390
OP1_PRE_MENTAL_DT       309390
OP1_PRE_MENTAL_TM       309390
OP1_PRE_VITAL_SBP       309390
OP1_PRE_VITAL_DBP       309390
OP1_PRE_VITAL_PR        309390
OP1_PRE_VITAL_RR        309390
OP1_PRE_VITAL_BT        309390
OP1_PRE_VITAL_DT        309390
OP1_PRE_VITAL_TM        309390
OP2_PRE_MENTAL          311821
OP2_PRE_MENTAL_DT       311821
OP2_PRE_MENTAL_TM       311821
OP2_PRE_VITAL_SBP       311821
OP2_PRE_VITAL_DBP       311821
OP2_PRE_VITAL_PR        311821
OP2_PRE_VITAL_RR        311821
OP2_PRE_VITAL_BT        311821
OP2_PRE_VITAL_DT        311821
OP2_PRE_VITAL_TM        311821
OP2_TARGET_BT           311821
OP7_4                   311629
OP8_PRE_ARREST_STATE    314513
OP8_PRE_MENTAL          314993
OP8_PRE_MENTAL_DT       314993
OP8_PRE_MENTAL_TM       314993
OP8_PRE_VITAL_SBP       314993
OP8_PRE_VITAL_DBP       314993
OP8_PRE_VITAL_PR        314993
OP8_PRE_VITAL_RR        314993
OP8_PRE_VITAL_BT        314993
OP8_PRE_VITAL_DT        314993
OP8_PRE_VITAL_TM        314993
OP8_SUCCESS             314513
OP8_ROSC                314995
OP8_ROSC_DT             315054
OP8_ROSC_TM             315054
BYSTANDER_AED           315385
P_ADD_CITY_DIST              0
dtype: int64

##### 추가 처리 - \ 로 끝나는 일자가 있음

In [856]:
tmp = pd.DataFrame(ohca_patient['PRE_ER_ARREST_DT'].astype(str))    # check
tmp.loc[tmp['PRE_ER_ARREST_DT'].str.endswith('\\')]

       PRE_ER_ARREST_DT
210096         2016091\

In [857]:
tmp = pd.DataFrame(ohca_hospital['PRE_ER_ARREST_DT'].astype(str))    # check
i = tmp.loc[tmp['PRE_ER_ARREST_DT'].str.endswith('\\')].index
i

Int64Index([215733], dtype='int64')

In [858]:
# ohca_hospital - '\' 로 끝나는 데이터 (1개) 삭제 (이거 때문에 datetime 변경이 안됨)

ohca_hospital['PRE_ER_ARREST_DT'] = ohca_hospital['PRE_ER_ARREST_DT'].astype(str)
i = ohca_hospital.loc[ohca_hospital['PRE_ER_ARREST_DT'].str.endswith('\\')].index
ohca_hospital.drop(i, inplace = True)
ohca_hospital.reset_index(drop = True, inplace = True)
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324125,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324126,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324127,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324128,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [859]:
# ohca_patient - '\' 로 끝나는 데이터 (1개) 삭제 (이거 때문에 datetime 변경이 안됨)

ohca_patient['PRE_ER_ARREST_DT'] = ohca_patient['PRE_ER_ARREST_DT'].astype(str)
i = ohca_patient.loc[ohca_patient['PRE_ER_ARREST_DT'].str.endswith('\\')].index
ohca_patient.drop(i, inplace = True)
ohca_patient.reset_index(drop = True, inplace = True)
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315469,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315470,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
315471,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315472,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315473,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### 결측 처리 및 전처리 완.

---------------------------------------------------

#### 일자별 x 시군구 cross join index 생성

##### 임의의 환자 고유 아이디 생성 및 연간 발생 case count

In [860]:
# 임의의 환자 고유 아이디 생성 (NUM)

ohca_hospital['NUM'] = np.arange(len(ohca_hospital))
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST,NUM
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구,0
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구,1
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구,2
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구,3
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324125,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324125
324126,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구,324126
324127,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324127
324128,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324128
324129,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구,324129

In [861]:
# 병원 소재지 기준 연간 30000명 가량 (원시자료 설명 기준) -> 27010 cases로 줄음

324131/12

27010.916666666668

In [862]:
# 임의의 환자 고유 아이디 생성 (NUM)

ohca_patient['NUM'] = np.arange(len(ohca_patient))
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST,NUM
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,0
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구,1
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구,2
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구,3
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315469,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315469
315470,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시,315470
315471,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315471
315472,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315472
315473,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315473

In [863]:
# 환자 소재지 기준 연간 30000명 가량 (원시자료 설명 기준) -> 26289명으로 줄음 

315475 / 12

26289.583333333332

##### 2007.11 ~ 2020-01-01까지의 모든 일자 dataframe으로 만들기

In [864]:
# 2007.11 ~ 2020-01-01까지의 모든 일자 dataframe으로 만들기

rng = pd.date_range(start = '2007-11-01', end = '2020-01-01', freq='D')
days = pd.DataFrame({'PRE_ER_ARREST_DT': rng}) 
days

     PRE_ER_ARREST_DT
0          2007-11-01
1          2007-11-02
2          2007-11-03
3          2007-11-04
4          2007-11-05
...               ...
4440       2019-12-28
4441       2019-12-29
4442       2019-12-30
4443       2019-12-31
4444       2020-01-01

[4445 rows x 1 columns]

##### hospital_cityname_index, patient_cityname_index 만들기

In [865]:
# 전처리 완료된 ohca_hospital에서 admincode, H_ADD_CITY_DIST 만 뽑아와서 unique, drop dup
# 총 254개 index

hospital_cityname_index = ohca_hospital[['H_ADMINCODE', 'H_ADD_CITY_DIST']].copy()
hospital_cityname_index.drop_duplicates(subset=['H_ADMINCODE', 'H_ADD_CITY_DIST'], inplace = True)
hospital_cityname_index.reset_index(drop = True, inplace = True)
hospital_cityname_index

     H_ADMINCODE H_ADD_CITY_DIST
0        11410.0         서울 서대문구
1        11320.0          서울 도봉구
2        11110.0          서울 종로구
3        11590.0          서울 동작구
4        11560.0         서울 영등포구
5        11680.0          서울 강남구
6        11470.0          서울 양천구
7        11650.0          서울 서초구
8        11740.0          서울 강동구
9        11230.0         서울 동대문구
10       41310.0          경기 구리시
11       11305.0          서울 강북구
12       11350.0          서울 노원구
13       11530.0          서울 구로구
14       11290.0          서울 성북구
15       11140.0           서울 중구
16       11260.0          서울 중랑구
17       11215.0          서울 광진구
18       11200.0          서울 성동구
19       11710.0          서울 송파구
20       11380.0          서울 은평구
21       11170.0          서울 용산구
22       41281.0      경기 고양시 덕양구
23       41210.0          경기 광명시
24       11545.0          서울 금천구
25       11620.0          서울 관악구
26       11500.0          서울 강서구
27       41285.0     경기 고양시 일산동구
28       26500.0          부산 수영구
29       26230.0         부산 부산진구
30       26260.0          부산 동래구
31       26200.0          부산 영도구
32       26470.0          부산 연제구
33       26410.0          부산 금정구
34       26710.0          부산 기장군
35       26110.0           부산 중구
36       26350.0         부산 해운대구
37       26380.0          부산 사하구
38       26290.0           부산 남구
39       26140.0           부산 서구
40       26320.0           부산 북구
41       26530.0          부산 사상구
42       26170.0           부산 동구
43       48250.0          경남 김해시
44       48129.0      경남 창원시 진해구
45       48330.0          경남 양산시
46       27290.0          대구 달서구
47       27200.0           대구 남구
48       27110.0           대구 중구
49       27170.0           대구 서구
50       27710.0          대구 달성군
51       27140.0           대구 동구
52       27260.0          대구 수성구
53       27230.0           대구 북구
54       47820.0          경북 청도군
55       28110.0           인천 중구
56       28200.0          인천 남동구
57       28140.0           인천 동구
58       28260.0           인천 서구
59       28185.0          인천 연수구
60       41570.0          경기 김포시
61       41390.0          경기 시흥시
62       28237.0          인천 부평구
63       28170.0           인천 남구
64       28245.0          인천 계양구
65       41195.0      경기 부천시 원미구
66       28710.0          인천 강화군
67       29200.0          광주 광산구
68       29110.0           광주 동구
69       29140.0           광주 서구
70       29170.0           광주 북구
71       29155.0           광주 남구
72       30170.0           대전 서구
73       30110.0           대전 동구
74       30140.0           대전 중구
75       30200.0          대전 유성구
76       30230.0          대전 대덕구
77       31710.0          울산 울주군
78       31170.0           울산 동구
79       31140.0           울산 남구
80       31200.0           울산 북구
81       31110.0           울산 중구
82       41630.0          경기 양주시
83       41111.0      경기 수원시 장안구
84       41273.0      경기 안산시 단원구
85       41135.0      경기 성남시 분당구
86       41360.0         경기 남양주시
87       41590.0          경기 화성시
88       41465.0      경기 용인시 수지구
89       41461.0      경기 용인시 처인구
90       41730.0          경기 여주군
91       41650.0          경기 포천시
92       41271.0      경기 안산시 상록구
93       41115.0      경기 수원시 팔달구
94       41370.0          경기 오산시
95       41220.0          경기 평택시
96       41150.0         경기 의정부시
97       41550.0          경기 안성시
98       41287.0     경기 고양시 일산서구
99       41500.0          경기 이천시
100      41830.0          경기 양평군
101      41800.0          경기 연천군
102      41171.0      경기 안양시 만안구
103      41199.0      경기 부천시 오정구
104      41430.0          경기 의왕시
105      41197.0      경기 부천시 소사구
106      41480.0          경기 파주시
107      41173.0      경기 안양시 동안구
108      41410.0          경기 군포시
109      41133.0      경기 성남시 중원구
110      41463.0      경기 용인시 기흥구
111      41117.0      경기 수원시 영통구
112      41113.0      경기 수원시 권선구
113      41610.0          경기 광주시
114      41250.0         경기 동두천시
115      43770.0          충북 음성군
116      42780.0          강원 철원군
117      42110.0          강원 춘천시
118      41820.0          경기 가평군
119      41450.0          경기 하남시
120      42130.0          강원 원주시
121      42790.0          강원 화천군
122      42800.0          강원 양구군
123      42810.0          강원 인제군
124      42730.0          강원 횡성군
125      42150.0          강원 강릉시
126      42170.0          강원 동해시
127      42190.0          강원 태백시
128      42210.0          강원 속초시
129      42230.0          강원 삼척시
130      47930.0          경북 울진군
131      42720.0          강원 홍천군
132      42750.0          강원 영월군
133      43150.0          충북 제천시
134      42760.0          강원 평창군
135      42770.0          강원 정선군
136      43130.0          충북 충주시
137      43750.0          충북 진천군
138      43111.0      충북 청주시 상당구
139      43113.0      충북 청주시 흥덕구
140      43760.0          충북 괴산군
141      43800.0          충북 단양군
142      43745.0          충북 증평군
143      43730.0          충북 옥천군
144      43720.0          충북 보은군
145      43740.0          충북 영동군
146      47150.0          경북 김천시
147      45730.0          전북 무주군
148      44730.0          충남 연기군
149      44131.0      충남 천안시 동남구
150      43170.0          충북 청원군
151      47280.0          경북 문경시
152      44200.0          충남 아산시
153      44180.0          충남 보령시
154      45130.0          전북 군산시
155      44150.0          충남 공주시
156      44760.0          충남 부여군
157      44810.0          충남 예산군
158      44770.0          충남 서천군
159      44800.0          충남 홍성군
160      44210.0          충남 서산시
161      44230.0          충남 논산시
162      44830.0          충남 당진군
163      44710.0          충남 금산군
164      44790.0          충남 청양군
165      44825.0          충남 태안군
166      44133.0      충남 천안시 서북구
167      45140.0          전북 익산시
168      45800.0          전북 부안군
169      45111.0      전북 전주시 완산구
170      45190.0          전북 남원시
171      45180.0          전북 정읍시
172      45113.0      전북 전주시 덕진구
173      45770.0          전북 순창군
174      45210.0          전북 김제시
175      45750.0          전북 임실군
176      45710.0          전북 완주군
177      45790.0          전북 고창군
178      45720.0          전북 진안군
179      45740.0          전북 장수군
180      46870.0          전남 영광군
181      46110.0          전남 목포시
182      46840.0          전남 무안군
183      46860.0          전남 함평군
184      46170.0          전남 나주시
185      46910.0          전남 신안군
186      46130.0          전남 여수시
187      46150.0          전남 순천시
188      46730.0          전남 구례군
189      46780.0          전남 보성군
190      46790.0          전남 화순군
191      46230.0          전남 광양시
192      46710.0          전남 담양군
193      46720.0          전남 곡성군
194      46880.0          전남 장성군
195      46770.0          전남 고흥군
196      46800.0          전남 장흥군
197      46820.0          전남 해남군
198      46890.0          전남 완도군
199      46900.0          전남 진도군
200      46810.0          전남 강진군
201      46830.0          전남 영암군
202      47190.0          경북 구미시
203      47130.0          경북 경주시
204      47230.0          경북 영천시
205      47111.0       경북 포항시 남구
206      47113.0       경북 포항시 북구
207      47250.0          경북 상주시
208      47170.0          경북 안동시
209      47760.0          경북 영양군
210      47750.0          경북 청송군
211      47730.0          경북 의성군
212      47920.0          경북 봉화군
213      47210.0          경북 영주시
214      47290.0          경북 경산시
215      47850.0          경북 칠곡군
216      47900.0          경북 예천군
217      47720.0          경북 군위군
218      47840.0          경북 성주군
219      47830.0          경북 고령군
220      47770.0          경북 영덕군
221      47940.0          경북 울릉군
222      48121.0      경남 창원시 의창구
223      48123.0      경남 창원시 성산구
224      48127.0    경남 창원시 마산회원구
225      48125.0    경남 창원시 마산합포구
226      48170.0          경남 진주시
227      48860.0          경남 산청군
228      48820.0          경남 고성군
229      48220.0          경남 통영시
230      48240.0          경남 사천시
231      48270.0          경남 밀양시
232      48310.0          경남 거제시
233      48730.0          경남 함안군
234      48740.0          경남 창녕군
235      48840.0          경남 남해군
236      48850.0          경남 하동군
237      48880.0          경남 거창군
238      48870.0          경남 함양군
239      48890.0          경남 합천군
240      48720.0          경남 의령군
241      50110.0          제주 제주시
242      50130.0         제주 서귀포시
243      26440.0          부산 강서구
244      41131.0      경기 성남시 수정구
245      44270.0          충남 당진시
246      28720.0          인천 옹진군
247      42820.0          강원 고성군
248      36110.0          세종 세종시
249      43112.0      충북 청주시 서원구
250      41190.0          경기 부천시
251      28177.0         인천 미추홀구
252      41670.0          경기 여주시
253      43114.0      충북 청주시 청원구

In [866]:
print('cityname: ', len(hospital_cityname_index['H_ADD_CITY_DIST'].unique()), 'unique values')
print('citycode: ', len(hospital_cityname_index['H_ADMINCODE'].unique()), 'unique values')   

# 갯수 안 맞음. 
# (코드, 시군구 이름) 기준으로 drop dup 했는데 안 맞는다는 건 코드는 같은데 이름이 다른 경우가 있다는 뜻, 내보내서 확인 한번 하자
# 부산 부산진구 != 부산 진구 이거였음

# ---> 맞췄음!

cityname:  254 unique values
citycode:  254 unique values

In [867]:
# hospital_cityname_index.to_csv('data\\dump\\hospital_cityname_index.csv', encoding = 'euc-kr', index = False)

In [868]:
# 전처리 완료된 ohca_patient에서 admincode, P_ADD_CITY_DIST 만 뽑아와서 unique, drop dup
# 총 263개 index

patient_cityname_index = ohca_patient[['P_ADMINCODE', 'P_ADD_CITY_DIST']].copy()
patient_cityname_index.drop_duplicates(subset=['P_ADMINCODE', 'P_ADD_CITY_DIST'], inplace = True)
patient_cityname_index.reset_index(drop = True, inplace = True)
patient_cityname_index

     P_ADMINCODE P_ADD_CITY_DIST
0        11680.0          서울 강남구
1        11305.0          서울 강북구
2        11440.0          서울 마포구
3        11590.0          서울 동작구
4        11560.0         서울 영등포구
5        11620.0          서울 관악구
6        11650.0          서울 서초구
7        11500.0          서울 강서구
8        11230.0         서울 동대문구
9        11260.0          서울 중랑구
10       41195.0      경기 부천시 원미구
11       11470.0          서울 양천구
12       11170.0          서울 용산구
13       11290.0          서울 성북구
14       11530.0          서울 구로구
15       11140.0           서울 중구
16       11380.0          서울 은평구
17       11320.0          서울 도봉구
18       11545.0          서울 금천구
19       11410.0         서울 서대문구
20       29140.0           광주 서구
21       11215.0          서울 광진구
22       44710.0          충남 금산군
23       11200.0          서울 성동구
24       11710.0          서울 송파구
25       41135.0      경기 성남시 분당구
26       11110.0          서울 종로구
27       11350.0          서울 노원구
28       41273.0      경기 안산시 단원구
29       48880.0          경남 거창군
30       11740.0          서울 강동구
31       43730.0          충북 옥천군
32       41390.0          경기 시흥시
33       41310.0          경기 구리시
34       28200.0          인천 남동구
35       29170.0           광주 북구
36       44830.0          충남 당진군
37       45800.0          전북 부안군
38       45111.0      전북 전주시 완산구
39       41171.0      경기 안양시 만안구
40       28170.0           인천 남구
41       41410.0          경기 군포시
42       41210.0          경기 광명시
43       44131.0      충남 천안시 동남구
44       27230.0           대구 북구
45       41133.0      경기 성남시 중원구
46       31140.0           울산 남구
47       28260.0           인천 서구
48       41610.0          경기 광주시
49       41287.0     경기 고양시 일산서구
50       41199.0      경기 부천시 오정구
51       47900.0          경북 예천군
52       41630.0          경기 양주시
53       41450.0          경기 하남시
54       27710.0          대구 달성군
55       41360.0         경기 남양주시
56       41281.0      경기 고양시 덕양구
57       41197.0      경기 부천시 소사구
58       28237.0          인천 부평구
59       41570.0          경기 김포시
60       28710.0          인천 강화군
61       43130.0          충북 충주시
62       44760.0          충남 부여군
63       26230.0         부산 부산진구
64       29155.0           광주 남구
65       41290.0          경기 과천시
66       41830.0          경기 양평군
67       41111.0      경기 수원시 장안구
68       44133.0      충남 천안시 서북구
69       47290.0          경북 경산시
70       47190.0          경북 구미시
71       28110.0           인천 중구
72       41150.0         경기 의정부시
73       41800.0          경기 연천군
74       30230.0          대전 대덕구
75       48110.0          경남 창원시
76       31710.0          울산 울주군
77       44810.0          충남 예산군
78       28245.0          인천 계양구
79       43770.0          충북 음성군
80       31200.0           울산 북구
81       26470.0          부산 연제구
82       41463.0      경기 용인시 기흥구
83       41430.0          경기 의왕시
84       41285.0     경기 고양시 일산동구
85       46880.0          전남 장성군
86       41271.0      경기 안산시 상록구
87       46800.0          전남 장흥군
88       44200.0          충남 아산시
89       41590.0          경기 화성시
90       41115.0      경기 수원시 팔달구
91       27200.0           대구 남구
92       30110.0           대전 동구
93       42770.0          강원 정선군
94       41650.0          경기 포천시
95       42150.0          강원 강릉시
96       41461.0      경기 용인시 처인구
97       41480.0          경기 파주시
98       45190.0          전북 남원시
99       43113.0      충북 청주시 흥덕구
100      46130.0          전남 여수시
101      45790.0          전북 고창군
102      41500.0          경기 이천시
103      41173.0      경기 안양시 동안구
104      45210.0          전북 김제시
105      46150.0          전남 순천시
106      42130.0          강원 원주시
107      26410.0          부산 금정구
108      41131.0      경기 성남시 수정구
109      47170.0          경북 안동시
110      45140.0          전북 익산시
111      47230.0          경북 영천시
112      28140.0           인천 동구
113      50110.0          제주 제주시
114      45130.0          전북 군산시
115      26290.0           부산 남구
116      26260.0          부산 동래구
117      26200.0          부산 영도구
118      26710.0          부산 기장군
119      26350.0         부산 해운대구
120      26110.0           부산 중구
121      26380.0          부산 사하구
122      26500.0          부산 수영구
123      26140.0           부산 서구
124      26170.0           부산 동구
125      26320.0           부산 북구
126      26530.0          부산 사상구
127      48250.0          경남 김해시
128      44770.0          충남 서천군
129      27290.0          대구 달서구
130      47920.0          경북 봉화군
131      26440.0          부산 강서구
132      48740.0          경남 창녕군
133      48190.0          경남 진해시
134      41113.0      경기 수원시 권선구
135      48330.0          경남 양산시
136      48270.0          경남 밀양시
137      47760.0          경북 영양군
138      48850.0          경남 하동군
139      48860.0          경남 산청군
140      30140.0           대전 중구
141      27170.0           대구 서구
142      41220.0          경기 평택시
143      27110.0           대구 중구
144      47720.0          경북 군위군
145      27140.0           대구 동구
146      27260.0          대구 수성구
147      47850.0          경북 칠곡군
148      43170.0          충북 청원군
149      47113.0       경북 포항시 북구
150      47150.0          경북 김천시
151      47840.0          경북 성주군
152      47820.0          경북 청도군
153      47111.0       경북 포항시 남구
154      47830.0          경북 고령군
155      42170.0          강원 동해시
156      47280.0          경북 문경시
157      47730.0          경북 의성군
158      31110.0           울산 중구
159      48160.0          경남 마산시
160      48890.0          경남 합천군
161      42190.0          강원 태백시
162      44210.0          충남 서산시
163      28185.0          인천 연수구
164      28720.0          인천 옹진군
165      29110.0           광주 동구
166      41550.0          경기 안성시
167      42720.0          강원 홍천군
168      50130.0         제주 서귀포시
169      46910.0          전남 신안군
170      48240.0          경남 사천시
171      29200.0          광주 광산구
172      46860.0          전남 함평군
173      46890.0          전남 완도군
174      46790.0          전남 화순군
175      46820.0          전남 해남군
176      46720.0          전남 곡성군
177      46710.0          전남 담양군
178      46110.0          전남 목포시
179      46780.0          전남 보성군
180      46810.0          전남 강진군
181      46730.0          전남 구례군
182      46830.0          전남 영암군
183      46840.0          전남 무안군
184      46170.0          전남 나주시
185      30200.0          대전 유성구
186      30170.0           대전 서구
187      43740.0          충북 영동군
188      44230.0          충남 논산시
189      44180.0          충남 보령시
190      44730.0          충남 연기군
191      47250.0          경북 상주시
192      45720.0          전북 진안군
193      45730.0          전북 무주군
194      44150.0          충남 공주시
195      41117.0      경기 수원시 영통구
196      43720.0          충북 보은군
197      31170.0           울산 동구
198      48170.0          경남 진주시
199      48820.0          경남 고성군
200      47130.0          경북 경주시
201      45750.0          전북 임실군
202      46870.0          전남 영광군
203      41465.0      경기 용인시 수지구
204      43150.0          충북 제천시
205      41250.0         경기 동두천시
206      41730.0          경기 여주군
207      42820.0          강원 고성군
208      41370.0          경기 오산시
209      41820.0          경기 가평군
210      47930.0          경북 울진군
211      46770.0          전남 고흥군
212      43111.0      충북 청주시 상당구
213      44800.0          충남 홍성군
214      42210.0          강원 속초시
215      45113.0      전북 전주시 덕진구
216      48870.0          경남 함양군
217      46900.0          전남 진도군
218      48310.0          경남 거제시
219      43750.0          충북 진천군
220      42110.0          강원 춘천시
221      43760.0          충북 괴산군
222      42780.0          강원 철원군
223      47770.0          경북 영덕군
224      44790.0          충남 청양군
225      42750.0          강원 영월군
226      42790.0          강원 화천군
227      42800.0          강원 양구군
228      42730.0          강원 횡성군
229      42760.0          강원 평창군
230      42830.0          강원 양양군
231      42230.0          강원 삼척시
232      47940.0          경북 울릉군
233      47210.0          경북 영주시
234      42810.0          강원 인제군
235      43745.0          충북 증평군
236      43800.0          충북 단양군
237      48730.0          경남 함안군
238      44825.0          충남 태안군
239      44250.0          충남 계룡시
240      46230.0          전남 광양시
241      45180.0          전북 정읍시
242      45770.0          전북 순창군
243      45710.0          전북 완주군
244      45740.0          전북 장수군
245      48220.0          경남 통영시
246      47750.0          경북 청송군
247      48720.0          경남 의령군
248      48840.0          경남 남해군
249      48125.0    경남 창원시 마산합포구
250      48121.0      경남 창원시 의창구
251      48129.0      경남 창원시 진해구
252      48123.0      경남 창원시 성산구
253      48127.0    경남 창원시 마산회원구
254      44270.0          충남 당진시
255      36110.0          세종 세종시
256      41670.0          경기 여주시
257      43114.0      충북 청주시 청원구
258      43112.0      충북 청주시 서원구
259      41190.0          경기 부천시
260      28177.0         인천 미추홀구
261      43110.0          충북 청주시
262      45110.0          전북 전주시

In [869]:
patient_cityname_index.loc[patient_cityname_index['P_ADMINCODE'] == 26230]

    P_ADMINCODE P_ADD_CITY_DIST
63      26230.0         부산 부산진구

In [870]:
# 갯수 일치 확인

print('cityname: ', len(patient_cityname_index['P_ADD_CITY_DIST'].unique()), 'unique values')
print('citycode: ', len(patient_cityname_index['P_ADMINCODE'].unique()), 'unique values')

cityname:  263 unique values
citycode:  263 unique values

In [871]:
# patient_cityname_index P_ADMINCODE 결측 (당연히) 없음

patient_cityname_index.isna().sum()

P_ADMINCODE        0
P_ADD_CITY_DIST    0
dtype: int64

In [872]:
# hospital_cityname_index H_ADMINCODE 결측 (당연히) 없음

hospital_cityname_index.isna().sum()

H_ADMINCODE        0
H_ADD_CITY_DIST    0
dtype: int64

In [873]:
hospital_cityname_index.dtypes  # dtype check

H_ADMINCODE        float64
H_ADD_CITY_DIST     object
dtype: object

In [874]:
# # 내보내서 뭐 있는지 한번 확인

# hospital_cityname_index.to_csv('data\\급성심장정지조사(08-19)SAS\\hospital_cityname_index.csv', encoding = 'euc-kr', index = False)
# patient_cityname_index.to_csv('data\\급성심장정지조사(08-19)SAS\\patient_cityname_index.csv', encoding = 'euc-kr', index = False)

##### 2008-2020.01.01 days x cityname_index cross join 해서 일자별, 시군구 index 생성하기

In [875]:
# cross join days x hospital code

hospital_index = days.merge(hospital_cityname_index, how='cross')
hospital_index

        PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST
0             2007-11-01      11410.0         서울 서대문구
1             2007-11-01      11320.0          서울 도봉구
2             2007-11-01      11110.0          서울 종로구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1129025       2020-01-01      43112.0      충북 청주시 서원구
1129026       2020-01-01      41190.0          경기 부천시
1129027       2020-01-01      28177.0         인천 미추홀구
1129028       2020-01-01      41670.0          경기 여주시
1129029       2020-01-01      43114.0      충북 청주시 청원구

[1129030 rows x 3 columns]

In [876]:
# hospital_index 일수, admincode 수 확인 - 맞음

print(len(hospital_index['PRE_ER_ARREST_DT'].unique()))
print(len(hospital_index['H_ADMINCODE'].unique()))
print(len(hospital_index['H_ADD_CITY_DIST'].unique()))

4445
254
254

In [877]:
# 개수 맞음!

len(hospital_index['PRE_ER_ARREST_DT'].unique()) * len(hospital_index['H_ADMINCODE'].unique())

1129030

In [878]:
# cross join days x patient code

patient_index = days.merge(patient_cityname_index, how='cross')
patient_index

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST
0             2007-11-01      11680.0          서울 강남구
1             2007-11-01      11305.0          서울 강북구
2             2007-11-01      11440.0          서울 마포구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1169030       2020-01-01      43112.0      충북 청주시 서원구
1169031       2020-01-01      41190.0          경기 부천시
1169032       2020-01-01      28177.0         인천 미추홀구
1169033       2020-01-01      43110.0          충북 청주시
1169034       2020-01-01      45110.0          전북 전주시

[1169035 rows x 3 columns]

In [879]:
# patient_index 일수, admincode 수 확인 - 맞음

print(len(patient_index['PRE_ER_ARREST_DT'].unique()))
print(len(patient_index['P_ADMINCODE'].unique()))
print(len(patient_index['P_ADD_CITY_DIST'].unique()))

4445
263
263

In [880]:
# 개수 맞음 ! 

len(patient_index['PRE_ER_ARREST_DT'].unique()) * len(patient_index['P_ADMINCODE'].unique())

1169035

##### 병원 소재지별, 급성심장정지 목격일자별 aggregate

In [881]:
# 병원 소재지별, 급성심장정지 목격일자별 aggregate

group_hospital = ohca_hospital.groupby(['PRE_ER_ARREST_DT', 'H_ADMINCODE', 'H_ADD_CITY_DIST'])
group_hospital = pd.DataFrame(group_hospital.size().reset_index(name='count'))

In [882]:
# check 

group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0              20071231      29110.0           광주 동구      1
1              20071231      42190.0          강원 태백시      1
2              20080101      11110.0          서울 종로구      1
3              20080101      11230.0         서울 동대문구      1
4              20080101      11320.0          서울 도봉구      1
...                 ...          ...             ...    ...
253765         20191231      48310.0          경남 거제시      1
253766         20191231      48330.0          경남 양산시      2
253767         20191231      48820.0          경남 고성군      1
253768         20191231      50110.0          제주 제주시      1
253769         20200101      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [883]:
# 일자 unique 값 한번 전부 뽑아보기 - 다 정상인 듯 !

lst = group_hospital['PRE_ER_ARREST_DT'].unique().tolist()
for value in range(len(lst)): 
    print(lst[value])

20071231
20080101
20080102
20080103
20080104
20080105
20080106
20080107
20080108
20080109
20080110
20080111
20080112
20080113
20080114
20080115
20080116
20080117
20080118
20080119
20080120
20080121
20080122
20080123
20080124
20080125
20080126
20080127
20080128
20080129
20080130
20080131
20080201
20080202
20080203
20080204
20080205
20080206
20080207
20080208
20080209
20080210
20080211
20080212
20080213
20080214
20080215
20080216
20080217
20080218
20080219
20080220
20080221
20080222
20080223
20080224
20080225
20080226
20080227
20080228
20080229
20080301
20080302
20080303
20080304
20080305
20080306
20080307
20080308
20080309
20080310
20080311
20080312
20080313
20080314
20080315
20080316
20080317
20080318
20080319
20080320
20080321
20080322
20080323
20080324
20080325
20080326
20080327
20080328
20080329
20080330
20080331
20080401
20080402
20080403
20080404
20080405
20080406
20080407
20080408
20080409
20080410
20080411
20080412
20080413
20080414
20080415
20080416
20080417
20080418
20080419
20080420
20080421
20080422
20080423
20080424
20080425
20080426
20080427
20080428
20080429
20080430
20080501
20080502
20080503
20080504
20080505
20080506
20080507
20080508
20080509
20080510
20080511
20080512
20080513
20080514
20080515
20080516
20080517
20080518
20080519
20080520
20080521
20080522
20080523
20080524
20080525
20080526
20080527
20080528
20080529
20080530
20080531
20080601
20080602
20080603
20080604
20080605
20080606
20080607
20080608
20080609
20080610
20080611
20080612
20080613
20080614
20080615
20080616
20080617
20080618
20080619
20080620
20080621
20080622
20080623
20080624
20080625
20080626
20080627
20080628
20080629
20080630
20080701
20080702
20080703
20080704
20080705
20080706
20080707
20080708
20080709
20080710
20080711
20080712
20080713
20080714
20080715
20080716
20080717
20080718
20080719
20080720
20080721
20080722
20080723
20080724
20080725
20080726
20080727
20080728
20080729
20080730
20080731
20080801
20080802
20080803
20080804
20080805
20080806
20080807
20080808
20080809
20080810
20080811
20080812
20080813
20080814
20080815
20080816
20080817
20080818
20080819
20080820
20080821
20080822
20080823
20080824
20080825
20080826
20080827
20080828
20080829
20080830
20080831
20080901
20080902
20080903
20080904
20080905
20080906
20080907
20080908
20080909
20080910
20080911
20080912
20080913
20080914
20080915
20080916
20080917
20080918
20080919
20080920
20080921
20080922
20080923
20080924
20080925
20080926
20080927
20080928
20080929
20080930
20081001
20081002
20081003
20081004
20081005
20081006
20081007
20081008
20081009
20081010
20081011
20081012
20081013
20081014
20081015
20081016
20081017
20081018
20081019
20081020
20081021
20081022
20081023
20081024
20081025
20081026
20081027
20081028
20081029
20081030
20081031
20081101
20081102
20081103
20081104
20081105
20081106
20081107
20081108
20081109
20081110
20081111
20081112
20081113
20081114
20081115
20081116
20081117
20081118
20081119
20081120
20081121
20081122
20081123
20081124
20081125
20081126
20081127
20081128
20081129
20081130
20081201
20081202
20081203
20081204
20081205
20081206
20081207
20081208
20081209
20081210
20081211
20081212
20081213
20081214
20081215
20081216
20081217
20081218
20081219
20081220
20081221
20081222
20081223
20081224
20081225
20081226
20081227
20081228
20081229
20081230
20081231
20090101
20090102
20090103
20090104
20090105
20090106
20090107
20090108
20090109
20090110
20090111
20090112
20090113
20090114
20090115
20090116
20090117
20090118
20090119
20090120
20090121
20090122
20090123
20090124
20090125
20090126
20090127
20090128
20090129
20090130
20090131
20090201
20090202
20090203
20090204
20090205
20090206
20090207
20090208
20090209
20090210
20090211
20090212
20090213
20090214
20090215
20090216
20090217
20090218
20090219
20090220
20090221
20090222
20090223
20090224
20090225
20090226
20090227
20090228
20090301
20090302
20090303
20090304
20090305
20090306
20090307
20090308
20090309
20090310
20090311
20090312
20090313
20090314
20090315
20090316
20090317
20090318
20090319
20090320
20090321
20090322
20090323
20090324
20090325
20090326
20090327
20090328
20090329
20090330
20090331
20090401
20090402
20090403
20090404
20090405
20090406
20090407
20090408
20090409
20090410
20090411
20090412
20090413
20090414
20090415
20090416
20090417
20090418
20090419
20090420
20090421
20090422
20090423
20090424
20090425
20090426
20090427
20090428
20090429
20090430
20090501
20090502
20090503
20090504
20090505
20090506
20090507
20090508
20090509
20090510
20090511
20090512
20090513
20090514
20090515
20090516
20090517
20090518
20090519
20090520
20090521
20090522
20090523
20090524
20090525
20090526
20090527
20090528
20090529
20090530
20090531
20090601
20090602
20090603
20090604
20090605
20090606
20090607
20090608
20090609
20090610
20090611
20090612
20090613
20090614
20090615
20090616
20090617
20090618
20090619
20090620
20090621
20090622
20090623
20090624
20090625
20090626
20090627
20090628
20090629
20090630
20090701
20090702
20090703
20090704
20090705
20090706
20090707
20090708
20090709
20090710
20090711
20090712
20090713
20090714
20090715
20090716
20090717
20090718
20090719
20090720
20090721
20090722
20090723
20090724
20090725
20090726
20090727
20090728
20090729
20090730
20090731
20090801
20090802
20090803
20090804
20090805
20090806
20090807
20090808
20090809
20090810
20090811
20090812
20090813
20090814
20090815
20090816
20090817
20090818
20090819
20090820
20090821
20090822
20090823
20090824
20090825
20090826
20090827
20090828
20090829
20090830
20090831
20090901
20090902
20090903
20090904
20090905
20090906
20090907
20090908
20090909
20090910
20090911
20090912
20090913
20090914
20090915
20090916
20090917
20090918
20090919
20090920
20090921
20090922
20090923
20090924
20090925
20090926
20090927
20090928
20090929
20090930
20091001
20091002
20091003
20091004
20091005
20091006
20091007
20091008
20091009
20091010
20091011
20091012
20091013
20091014
20091015
20091016
20091017
20091018
20091019
20091020
20091021
20091022
20091023
20091024
20091025
20091026
20091027
20091028
20091029
20091030
20091031
20091101
20091102
20091103
20091104
20091105
20091106
20091107
20091108
20091109
20091110
20091111
20091112
20091113
20091114
20091115
20091116
20091117
20091118
20091119
20091120
20091121
20091122
20091123
20091124
20091125
20091126
20091127
20091128
20091129
20091130
20091201
20091202
20091203
20091204
20091205
20091206
20091207
20091208
20091209
20091210
20091211
20091212
20091213
20091214
20091215
20091216
20091217
20091218
20091219
20091220
20091221
20091222
20091223
20091224
20091225
20091226
20091227
20091228
20091229
20091230
20091231
20100101
20100102
20100103
20100104
20100105
20100106
20100107
20100108
20100109
20100110
20100111
20100112
20100113
20100114
20100115
20100116
20100117
20100118
20100119
20100120
20100121
20100122
20100123
20100124
20100125
20100126
20100127
20100128
20100129
20100130
20100131
20100201
20100202
20100203
20100204
20100205
20100206
20100207
20100208
20100209
20100210
20100211
20100212
20100213
20100214
20100215
20100216
20100217
20100218
20100219
20100220
20100221
20100222
20100223
20100224
20100225
20100226
20100227
20100228
20100301
20100302
20100303
20100304
20100305
20100306
20100307
20100308
20100309
20100310
20100311
20100312
20100313
20100314
20100315
20100316
20100317
20100318
20100319
20100320
20100321
20100322
20100323
20100324
20100325
20100326
20100327
20100328
20100329
20100330
20100331
20100401
20100402
20100403
20100404
20100405
20100406
20100407
20100408
20100409
20100410
20100411
20100412
20100413
20100414
20100415
20100416
20100417
20100418
20100419
20100420
20100421
20100422
20100423
20100424
20100425
20100426
20100427
20100428
20100429
20100430
20100501
20100502
20100503
20100504
20100505
20100506
20100507
20100508
20100509
20100510
20100511
20100512
20100513
20100514
20100515
20100516
20100517
20100518
20100519
20100520
20100521
20100522
20100523
20100524
20100525
20100526
20100527
20100528
20100529
20100530
20100531
20100601
20100602
20100603
20100604
20100605
20100606
20100607
20100608
20100609
20100610
20100611
20100612
20100613
20100614
20100615
20100616
20100617
20100618
20100619
20100620
20100621
20100622
20100623
20100624
20100625
20100626
20100627
20100628
20100629
20100630
20100701
20100702
20100703
20100704
20100705
20100706
20100707
20100708
20100709
20100710
20100711
20100712
20100713
20100714
20100715
20100716
20100717
20100718
20100719
20100720
20100721
20100722
20100723
20100724
20100725
20100726
20100727
20100728
20100729
20100730
20100731
20100801
20100802
20100803
20100804
20100805
20100806
20100807
20100808
20100809
20100810
20100811
20100812
20100813
20100814
20100815
20100816
20100817
20100818
20100819
20100820
20100821
20100822
20100823
20100824
20100825
20100826
20100827
20100828
20100829
20100830
20100831
20100901
20100902
20100903
20100904
20100905
20100906
20100907
20100908
20100909
20100910
20100911
20100912
20100913
20100914
20100915
20100916
20100917
20100918
20100919
20100920
20100921
20100922
20100923
20100924
20100925
20100926
20100927
20100928
20100929
20100930
20101001
20101002
20101003
20101004
20101005
20101006
20101007
20101008
20101009
20101010
20101011
20101012
20101013
20101014
20101015
20101016
20101017
20101018
20101019
20101020
20101021
20101022
20101023
20101024
20101025
20101026
20101027
20101028
20101029
20101030
20101031
20101101
20101102
20101103
20101104
20101105
20101106
20101107
20101108
20101109
20101110
20101111
20101112
20101113
20101114
20101115
20101116
20101117
20101118
20101119
20101120
20101121
20101122
20101123
20101124
20101125
20101126
20101127
20101128
20101129
20101130
20101201
20101202
20101203
20101204
20101205
20101206
20101207
20101208
20101209
20101210
20101211
20101212
20101213
20101214
20101215
20101216
20101217
20101218
20101219
20101220
20101221
20101222
20101223
20101224
20101225
20101226
20101227
20101228
20101229
20101230
20101231
20110101
20110102
20110103
20110104
20110105
20110106
20110107
20110108
20110109
20110110
20110111
20110112
20110113
20110114
20110115
20110116
20110117
20110118
20110119
20110120
20110121
20110122
20110123
20110124
20110125
20110126
20110127
20110128
20110129
20110130
20110131
20110201
20110202
20110203
20110204
20110205
20110206
20110207
20110208
20110209
20110210
20110211
20110212
20110213
20110214
20110215
20110216
20110217
20110218
20110219
20110220
20110221
20110222
20110223
20110224
20110225
20110226
20110227
20110228
20110301
20110302
20110303
20110304
20110305
20110306
20110307
20110308
20110309
20110310
20110311
20110312
20110313
20110314
20110315
20110316
20110317
20110318
20110319
20110320
20110321
20110322
20110323
20110324
20110325
20110326
20110327
20110328
20110329
20110330
20110331
20110401
20110402
20110403
20110404
20110405
20110406
20110407
20110408
20110409
20110410
20110411
20110412
20110413
20110414
20110415
20110416
20110417
20110418
20110419
20110420
20110421
20110422
20110423
20110424
20110425
20110426
20110427
20110428
20110429
20110430
20110501
20110502
20110503
20110504
20110505
20110506
20110507
20110508
20110509
20110510
20110511
20110512
20110513
20110514
20110515
20110516
20110517
20110518
20110519
20110520
20110521
20110522
20110523
20110524
20110525
20110526
20110527
20110528
20110529
20110530
20110531
20110601
20110602
20110603
20110604
20110605
20110606
20110607
20110608
20110609
20110610
20110611
20110612
20110613
20110614
20110615
20110616
20110617
20110618
20110619
20110620
20110621
20110622
20110623
20110624
20110625
20110626
20110627
20110628
20110629
20110630
20110701
20110702
20110703
20110704
20110705
20110706
20110707
20110708
20110709
20110710
20110711
20110712
20110713
20110714
20110715
20110716
20110717
20110718
20110719
20110720
20110721
20110722
20110723
20110724
20110725
20110726
20110727
20110728
20110729
20110730
20110731
20110801
20110802
20110803
20110804
20110805
20110806
20110807
20110808
20110809
20110810
20110811
20110812
20110813
20110814
20110815
20110816
20110817
20110818
20110819
20110820
20110821
20110822
20110823
20110824
20110825
20110826
20110827
20110828
20110829
20110830
20110831
20110901
20110902
20110903
20110904
20110905
20110906
20110907
20110908
20110909
20110910
20110911
20110912
20110913
20110914
20110915
20110916
20110917
20110918
20110919
20110920
20110921
20110922
20110923
20110924
20110925
20110926
20110927
20110928
20110929
20110930
20111001
20111002
20111003
20111004
20111005
20111006
20111007
20111008
20111009
20111010
20111011
20111012
20111013
20111014
20111015
20111016
20111017
20111018
20111019
20111020
20111021
20111022
20111023
20111024
20111025
20111026
20111027
20111028
20111029
20111030
20111031
20111101
20111102
20111103
20111104
20111105
20111106
20111107
20111108
20111109
20111110
20111111
20111112
20111113
20111114
20111115
20111116
20111117
20111118
20111119
20111120
20111121
20111122
20111123
20111124
20111125
20111126
20111127
20111128
20111129
20111130
20111201
20111202
20111203
20111204
20111205
20111206
20111207
20111208
20111209
20111210
20111211
20111212
20111213
20111214
20111215
20111216
20111217
20111218
20111219
20111220
20111221
20111222
20111223
20111224
20111225
20111226
20111227
20111228
20111229
20111230
20111231
20120101
20120102
20120103
20120104
20120105
20120106
20120107
20120108
20120109
20120110
20120111
20120112
20120113
20120114
20120115
20120116
20120117
20120118
20120119
20120120
20120121
20120122
20120123
20120124
20120125
20120126
20120127
20120128
20120129
20120130
20120131
20120201
20120202
20120203
20120204
20120205
20120206
20120207
20120208
20120209
20120210
20120211
20120212
20120213
20120214
20120215
20120216
20120217
20120218
20120219
20120220
20120221
20120222
20120223
20120224
20120225
20120226
20120227
20120228
20120229
20120301
20120302
20120303
20120304
20120305
20120306
20120307
20120308
20120309
20120310
20120311
20120312
20120313
20120314
20120315
20120316
20120317
20120318
20120319
20120320
20120321
20120322
20120323
20120324
20120325
20120326
20120327
20120328
20120329
20120330
20120331
20120401
20120402
20120403
20120404
20120405
20120406
20120407
20120408
20120409
20120410
20120411
20120412
20120413
20120414
20120415
20120416
20120417
20120418
20120419
20120420
20120421
20120422
20120423
20120424
20120425
20120426
20120427
20120428
20120429
20120430
20120501
20120502
20120503
20120504
20120505
20120506
20120507
20120508
20120509
20120510
20120511
20120512
20120513
20120514
20120515
20120516
20120517
20120518
20120519
20120520
20120521
20120522
20120523
20120524
20120525
20120526
20120527
20120528
20120529
20120530
20120531
20120601
20120602
20120603
20120604
20120605
20120606
20120607
20120608
20120609
20120610
20120611
20120612
20120613
20120614
20120615
20120616
20120617
20120618
20120619
20120620
20120621
20120622
20120623
20120624
20120625
20120626
20120627
20120628
20120629
20120630
20120701
20120702
20120703
20120704
20120705
20120706
20120707
20120708
20120709
20120710
20120711
20120712
20120713
20120714
20120715
20120716
20120717
20120718
20120719
20120720
20120721
20120722
20120723
20120724
20120725
20120726
20120727
20120728
20120729
20120730
20120731
20120801
20120802
20120803
20120804
20120805
20120806
20120807
20120808
20120809
20120810
20120811
20120812
20120813
20120814
20120815
20120816
20120817
20120818
20120819
20120820
20120821
20120822
20120823
20120824
20120825
20120826
20120827
20120828
20120829
20120830
20120831
20120901
20120902
20120903
20120904
20120905
20120906
20120907
20120908
20120909
20120910
20120911
20120912
20120913
20120914
20120915
20120916
20120917
20120918
20120919
20120920
20120921
20120922
20120923
20120924
20120925
20120926
20120927
20120928
20120929
20120930
20121001
20121002
20121003
20121004
20121005
20121006
20121007
20121008
20121009
20121010
20121011
20121012
20121013
20121014
20121015
20121016
20121017
20121018
20121019
20121020
20121021
20121022
20121023
20121024
20121025
20121026
20121027
20121028
20121029
20121030
20121031
20121101
20121102
20121103
20121104
20121105
20121106
20121107
20121108
20121109
20121110
20121111
20121112
20121113
20121114
20121115
20121116
20121117
20121118
20121119
20121120
20121121
20121122
20121123
20121124
20121125
20121126
20121127
20121128
20121129
20121130
20121201
20121202
20121203
20121204
20121205
20121206
20121207
20121208
20121209
20121210
20121211
20121212
20121213
20121214
20121215
20121216
20121217
20121218
20121219
20121220
20121221
20121222
20121223
20121224
20121225
20121226
20121227
20121228
20121229
20121230
20121231
20130101
20130102
20130103
20130104
20130105
20130106
20130107
20130108
20130109
20130110
20130111
20130112
20130113
20130114
20130115
20130116
20130117
20130118
20130119
20130120
20130121
20130122
20130123
20130124
20130125
20130126
20130127
20130128
20130129
20130130
20130131
20130201
20130202
20130203
20130204
20130205
20130206
20130207
20130208
20130209
20130210
20130211
20130212
20130213
20130214
20130215
20130216
20130217
20130218
20130219
20130220
20130221
20130222
20130223
20130224
20130225
20130226
20130227
20130228
20130301
20130302
20130303
20130304
20130305
20130306
20130307
20130308
20130309
20130310
20130311
20130312
20130313
20130314
20130315
20130316
20130317
20130318
20130319
20130320
20130321
20130322
20130323
20130324
20130325
20130326
20130327
20130328
20130329
20130330
20130331
20130401
20130402
20130403
20130404
20130405
20130406
20130407
20130408
20130409
20130410
20130411
20130412
20130413
20130414
20130415
20130416
20130417
20130418
20130419
20130420
20130421
20130422
20130423
20130424
20130425
20130426
20130427
20130428
20130429
20130430
20130501
20130502
20130503
20130504
20130505
20130506
20130507
20130508
20130509
20130510
20130511
20130512
20130513
20130514
20130515
20130516
20130517
20130518
20130519
20130520
20130521
20130522
20130523
20130524
20130525
20130526
20130527
20130528
20130529
20130530
20130531
20130601
20130602
20130603
20130604
20130605
20130606
20130607
20130608
20130609
20130610
20130611
20130612
20130613
20130614
20130615
20130616
20130617
20130618
20130619
20130620
20130621
20130622
20130623
20130624
20130625
20130626
20130627
20130628
20130629
20130630
20130701
20130702
20130703
20130704
20130705
20130706
20130707
20130708
20130709
20130710
20130711
20130712
20130713
20130714
20130715
20130716
20130717
20130718
20130719
20130720
20130721
20130722
20130723
20130724
20130725
20130726
20130727
20130728
20130729
20130730
20130731
20130801
20130802
20130803
20130804
20130805
20130806
20130807
20130808
20130809
20130810
20130811
20130812
20130813
20130814
20130815
20130816
20130817
20130818
20130819
20130820
20130821
20130822
20130823
20130824
20130825
20130826
20130827
20130828
20130829
20130830
20130831
20130901
20130902
20130903
20130904
20130905
20130906
20130907
20130908
20130909
20130910
20130911
20130912
20130913
20130914
20130915
20130916
20130917
20130918
20130919
20130920
20130921
20130922
20130923
20130924
20130925
20130926
20130927
20130928
20130929
20130930
20131001
20131002
20131003
20131004
20131005
20131006
20131007
20131008
20131009
20131010
20131011
20131012
20131013
20131014
20131015
20131016
20131017
20131018
20131019
20131020
20131021
20131022
20131023
20131024
20131025
20131026
20131027
20131028
20131029
20131030
20131031
20131101
20131102
20131103
20131104
20131105
20131106
20131107
20131108
20131109
20131110
20131111
20131112
20131113
20131114
20131115
20131116
20131117
20131118
20131119
20131120
20131121
20131122
20131123
20131124
20131125
20131126
20131127
20131128
20131129
20131130
20131201
20131202
20131203
20131204
20131205
20131206
20131207
20131208
20131209
20131210
20131211
20131212
20131213
20131214
20131215
20131216
20131217
20131218
20131219
20131220
20131221
20131222
20131223
20131224
20131225
20131226
20131227
20131228
20131229
20131230
20131231
20140101
20140102
20140103
20140104
20140105
20140106
20140107
20140108
20140109
20140110
20140111
20140112
20140113
20140114
20140115
20140116
20140117
20140118
20140119
20140120
20140121
20140122
20140123
20140124
20140125
20140126
20140127
20140128
20140129

In [884]:
# 환자 거주지별, 급성심장정지 목격일자별 aggregate

group_patient = ohca_patient.groupby(['PRE_ER_ARREST_DT', 'P_ADMINCODE', 'P_ADD_CITY_DIST'])
group_patient = pd.DataFrame(group_patient.size().reset_index(name='count'))

In [885]:
# check 

group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0              20071231      29170.0           광주 북구      1
1              20071231      42190.0          강원 태백시      1
2              20080101      11230.0         서울 동대문구      1
3              20080101      11260.0          서울 중랑구      2
4              20080101      11305.0          서울 강북구      1
...                 ...          ...             ...    ...
260809         20191231      48330.0          경남 양산시      1
260810         20191231      48820.0          경남 고성군      1
260811         20191231      48840.0          경남 남해군      1
260812         20191231      50130.0         제주 서귀포시      1
260813         20200101      29200.0          광주 광산구      1

[260814 rows x 4 columns]

##### PRE_ER_ARREST_DT 처리 및 정렬 (datetime 변경)

In [886]:
group_hospital['PRE_ER_ARREST_DT'].dtype

dtype('O')

In [887]:
# group_hospital - datetime 으로 

group_hospital['PRE_ER_ARREST_DT'] = pd.to_datetime(group_hospital['PRE_ER_ARREST_DT'])
group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0            2007-12-31      29110.0           광주 동구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      11110.0          서울 종로구      1
3            2008-01-01      11230.0         서울 동대문구      1
4            2008-01-01      11320.0          서울 도봉구      1
...                 ...          ...             ...    ...
253765       2019-12-31      48310.0          경남 거제시      1
253766       2019-12-31      48330.0          경남 양산시      2
253767       2019-12-31      48820.0          경남 고성군      1
253768       2019-12-31      50110.0          제주 제주시      1
253769       2020-01-01      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [888]:
# group_patient - datetime 으로

group_patient['PRE_ER_ARREST_DT'] = pd.to_datetime(group_patient['PRE_ER_ARREST_DT'])
group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0            2007-12-31      29170.0           광주 북구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      11230.0         서울 동대문구      1
3            2008-01-01      11260.0          서울 중랑구      2
4            2008-01-01      11305.0          서울 강북구      1
...                 ...          ...             ...    ...
260809       2019-12-31      48330.0          경남 양산시      1
260810       2019-12-31      48820.0          경남 고성군      1
260811       2019-12-31      48840.0          경남 남해군      1
260812       2019-12-31      50130.0         제주 서귀포시      1
260813       2020-01-01      29200.0          광주 광산구      1

[260814 rows x 4 columns]

In [889]:
# date로 sort

group_hospital.sort_values('PRE_ER_ARREST_DT', inplace = True)
group_hospital.reset_index(drop = True, inplace = True)

In [890]:
# check

group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0            2007-12-31      29110.0           광주 동구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      41210.0          경기 광명시      1
3            2008-01-01      41273.0      경기 안산시 단원구      1
4            2008-01-01      41310.0          경기 구리시      3
...                 ...          ...             ...    ...
253765       2019-12-31      28185.0          인천 연수구      1
253766       2019-12-31      28177.0         인천 미추홀구      1
253767       2019-12-31      27200.0           대구 남구      2
253768       2019-12-31      30170.0           대전 서구      2
253769       2020-01-01      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [891]:
# date로 sort

group_patient.sort_values('PRE_ER_ARREST_DT', inplace = True)
group_patient.reset_index(drop = True, inplace = True)

In [892]:
# check

group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0            2007-12-31      29170.0           광주 북구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      41220.0          경기 평택시      1
3            2008-01-01      41273.0      경기 안산시 단원구      1
4            2008-01-01      41310.0          경기 구리시      1
...                 ...          ...             ...    ...
260809       2019-12-31      28185.0          인천 연수구      1
260810       2019-12-31      27710.0          대구 달성군      1
260811       2019-12-31      27230.0           대구 북구      1
260812       2019-12-31      30200.0          대전 유성구      2
260813       2020-01-01      29200.0          광주 광산구      1

[260814 rows x 4 columns]

##### hospital_index, patient_index LEFT JOIN aggregated data

In [893]:
hospital_index

        PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST
0             2007-11-01      11410.0         서울 서대문구
1             2007-11-01      11320.0          서울 도봉구
2             2007-11-01      11110.0          서울 종로구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1129025       2020-01-01      43112.0      충북 청주시 서원구
1129026       2020-01-01      41190.0          경기 부천시
1129027       2020-01-01      28177.0         인천 미추홀구
1129028       2020-01-01      41670.0          경기 여주시
1129029       2020-01-01      43114.0      충북 청주시 청원구

[1129030 rows x 3 columns]

In [894]:
# hospital_index랑 left join 하기

group_hospital = pd.merge(hospital_index, group_hospital, on=['PRE_ER_ARREST_DT', 'H_ADMINCODE'], how = 'left')
group_hospital

,PRE_ER_ARREST_DT,H_ADMINCODE,H_ADD_CITY_DIST_x,H_ADD_CITY_DIST_y,count
0,2007-11-01,11410.0,서울 서대문구,NaN,NaN
1,2007-11-01,11320.0,서울 도봉구,NaN,NaN
2,2007-11-01,11110.0,서울 종로구,NaN,NaN
3,2007-11-01,11590.0,서울 동작구,NaN,NaN
4,2007-11-01,11560.0,서울 영등포구,NaN,NaN
...,...,...,...,...,...
1129025,2020-01-01,43112.0,충북 청주시 서원구,NaN,NaN
1129026,2020-01-01,41190.0,경기 부천시,NaN,NaN
1129027,2020-01-01,28177.0,인천 미추홀구,NaN,NaN
1129028,2020-01-01,41670.0,경기 여주시,NaN,NaN
1129029,2020-01-01,43114.0,충북 청주시 청원구,NaN,NaN

In [896]:
4445 * 254  # 개수 맞음!

1129030

In [897]:
# patient_index랑 left join 하기

group_patient = pd.merge(patient_index, group_patient, on=['PRE_ER_ARREST_DT', 'P_ADMINCODE'], how = 'left')
group_patient

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count
0,2007-11-01,11680.0,서울 강남구,NaN,NaN
1,2007-11-01,11305.0,서울 강북구,NaN,NaN
2,2007-11-01,11440.0,서울 마포구,NaN,NaN
3,2007-11-01,11590.0,서울 동작구,NaN,NaN
4,2007-11-01,11560.0,서울 영등포구,NaN,NaN
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,NaN
1169031,2020-01-01,41190.0,경기 부천시,NaN,NaN
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,NaN
1169033,2020-01-01,43110.0,충북 청주시,NaN,NaN
1169034,2020-01-01,45110.0,전북 전주시,NaN,NaN

In [898]:
4445 * 263   # 개수 맞음!

1169035

##### Left Join 후 count == NaN 인 case들 0으로 채우기
인덱스에는 전체 일자*시군구가 다 존재하나, aggregated 된 데이터에는 없어서 missing 이 들어간 것      
해당 일자, 해당 시군구에는 발생자가 없는 것이니 0이 들어가야 함

In [900]:
group_patient['PRE_ER_ARREST_DT'] = group_patient['PRE_ER_ARREST_DT'].astype(str)

In [905]:
# 2007.11 ~ 12 데이터는 0 채우면 안되고 NaN이 들어가야 함
# 2007만 제외하고 0 채우기

# group_hospital['count'].fillna(0, inplace = True) - hospital 뺌
# group_patient['count'].fillna(0, inplace = True) - 하단으로 코드 변경

group_patient.loc[(group_patient['PRE_ER_ARREST_DT'].str[0:4] != '2007') & (group_patient['count'].isna() == True), 'count'] = 0

In [906]:
group_patient.loc[(group_patient['PRE_ER_ARREST_DT'].str[0:4] != '2007')]

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count
16043,2008-01-01,11680.0,서울 강남구,서울 강남구,1.0
16044,2008-01-01,11305.0,서울 강북구,서울 강북구,1.0
16045,2008-01-01,11440.0,서울 마포구,서울 마포구,1.0
16046,2008-01-01,11590.0,서울 동작구,서울 동작구,1.0
16047,2008-01-01,11560.0,서울 영등포구,서울 영등포구,1.0
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,0.0
1169031,2020-01-01,41190.0,경기 부천시,NaN,0.0
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,0.0
1169033,2020-01-01,43110.0,충북 청주시,NaN,0.0
1169034,2020-01-01,45110.0,전북 전주시,NaN,0.0

In [477]:
# # 'count' column 에 대해 value_count 한번 해보자 - group_hospital

# group_hospital['count'].value_counts()

0.0     859768
1.0     198010
2.0      44095
3.0       9295
4.0       1911
5.0        378
6.0         61
7.0         12
8.0          4
16.0         1
11.0         1
Name: count, dtype: int64

In [907]:
# 'count' column 에 대해 value_count 한번 해보자 - group_patient

group_patient['count'].value_counts()

0.0    892180
1.0    214408
2.0     39286
3.0      6124
4.0       879
5.0       101
6.0        13
7.0         2
9.0         1
Name: count, dtype: int64

##### drop _y column, rename _x column
_x column이 index 기준 시군구 명칭임

In [908]:
# drop
# group_hospital.drop(['H_ADD_CITY_DIST_y'], axis = 1, inplace = True)
group_patient.drop(['P_ADD_CITY_DIST_y'], axis = 1, inplace = True)

In [909]:
# rename
# group_hospital.rename(columns = {'H_ADD_CITY_DIST_x': 'H_ADD_CITY_DIST'}, inplace = True)
group_patient.rename(columns = {'P_ADD_CITY_DIST_x': 'P_ADD_CITY_DIST'}, inplace = True)

In [911]:
# group_hospital

In [482]:
# # 지역코드별 count 몇명인지 한번 check - 254개 index, count 4384개가 나와야 한다
# # group_hospital

# hospital_tmp = group_hospital.groupby(['H_ADMINCODE', 'H_ADD_CITY_DIST']).count()
# hospital_tmp.sort_values(by='count', ascending = False, inplace = True)
# hospital_tmp

                             PRE_ER_ARREST_DT  count
H_ADMINCODE H_ADD_CITY_DIST
11110.0     서울 종로구                       4384   4384
45190.0     전북 남원시                       4384   4384
44730.0     충남 연기군                       4384   4384
44760.0     충남 부여군                       4384   4384
44770.0     충남 서천군                       4384   4384
...                                       ...    ...
41210.0     경기 광명시                       4384   4384
41220.0     경기 평택시                       4384   4384
41250.0     경기 동두천시                      4384   4384
41271.0     경기 안산시 상록구                   4384   4384
50130.0     제주 서귀포시                      4384   4384

[254 rows x 2 columns]

In [912]:
# 지역코드별 count 몇명인지 한번 check - 263개 index, count 4384개가 나와야 한다
# group_patient

patient_tmp = group_patient.groupby(['P_ADMINCODE', 'P_ADD_CITY_DIST']).count()
patient_tmp.sort_values(by='count', ascending = False, inplace = True)
patient_tmp

                             PRE_ER_ARREST_DT  count
P_ADMINCODE P_ADD_CITY_DIST
29170.0     광주 북구                        4445   4385
42190.0     강원 태백시                       4445   4385
11110.0     서울 종로구                       4445   4384
45110.0     전북 전주시                       4445   4384
45180.0     전북 정읍시                       4445   4384
45140.0     전북 익산시                       4445   4384
45130.0     전북 군산시                       4445   4384
45113.0     전북 전주시 덕진구                   4445   4384
45111.0     전북 전주시 완산구                   4445   4384
44825.0     충남 태안군                       4445   4384
44830.0     충남 당진군                       4445   4384
45210.0     전북 김제시                       4445   4384
44810.0     충남 예산군                       4445   4384
44800.0     충남 홍성군                       4445   4384
44790.0     충남 청양군                       4445   4384
44770.0     충남 서천군                       4445   4384
45190.0     전북 남원시                       4445   4384
45720.0     전북 진안군                       4445   4384
45710.0     전북 완주군                       4445   4384
44730.0     충남 연기군                       4445   4384
45730.0     전북 무주군                       4445   4384
45740.0     전북 장수군                       4445   4384
45750.0     전북 임실군                       4445   4384
45770.0     전북 순창군                       4445   4384
45790.0     전북 고창군                       4445   4384
45800.0     전북 부안군                       4445   4384
46110.0     전남 목포시                       4445   4384
46130.0     전남 여수시                       4445   4384
46150.0     전남 순천시                       4445   4384
46170.0     전남 나주시                       4445   4384
46230.0     전남 광양시                       4445   4384
46710.0     전남 담양군                       4445   4384
44760.0     충남 부여군                       4445   4384
44710.0     충남 금산군                       4445   4384
46730.0     전남 구례군                       4445   4384
44270.0     충남 당진시                       4445   4384
42790.0     강원 화천군                       4445   4384
42800.0     강원 양구군                       4445   4384
42810.0     강원 인제군                       4445   4384
42820.0     강원 고성군                       4445   4384
42830.0     강원 양양군                       4445   4384
43110.0     충북 청주시                       4445   4384
43111.0     충북 청주시 상당구                   4445   4384
43112.0     충북 청주시 서원구                   4445   4384
43113.0     충북 청주시 흥덕구                   4445   4384
43114.0     충북 청주시 청원구                   4445   4384
43130.0     충북 충주시                       4445   4384
43150.0     충북 제천시                       4445   4384
43170.0     충북 청원군                       4445   4384
43720.0     충북 보은군                       4445   4384
43730.0     충북 옥천군                       4445   4384
43740.0     충북 영동군                       4445   4384
43745.0     충북 증평군                       4445   4384
43750.0     충북 진천군                       4445   4384
43760.0     충북 괴산군                       4445   4384
43770.0     충북 음성군                       4445   4384
43800.0     충북 단양군                       4445   4384
44131.0     충남 천안시 동남구                   4445   4384
44133.0     충남 천안시 서북구                   4445   4384
44150.0     충남 공주시                       4445   4384
44180.0     충남 보령시                       4445   4384
44200.0     충남 아산시                       4445   4384
44210.0     충남 서산시                       4445   4384
44230.0     충남 논산시                       4445   4384
44250.0     충남 계룡시                       4445   4384
46720.0     전남 곡성군                       4445   4384
46770.0     전남 고흥군                       4445   4384
42770.0     강원 정선군                       4445   4384
47850.0     경북 칠곡군                       4445   4384
47920.0     경북 봉화군                       4445   4384
47930.0     경북 울진군                       4445   4384
47940.0     경북 울릉군                       4445   4384
48110.0     경남 창원시                       4445   4384
48121.0     경남 창원시 의창구                   4445   4384
48123.0     경남 창원시 성산구                   4445   4384
48125.0     경남 창원시 마산합포구                 4445   4384
48127.0     경남 창원시 마산회원구                 4445   4384
48129.0     경남 창원시 진해구                   4445   4384
48160.0     경남 마산시                       4445   4384
48170.0     경남 진주시                       4445   4384
48190.0     경남 진해시                       4445   4384
48220.0     경남 통영시                       4445   4384
48240.0     경남 사천시                       4445   4384
48250.0     경남 김해시                       4445   4384
48270.0     경남 밀양시                       4445   4384
48310.0     경남 거제시                       4445   4384
48330.0     경남 양산시                       4445   4384
48720.0     경남 의령군                       4445   4384
48730.0     경남 함안군                       4445   4384
48740.0     경남 창녕군                       4445   4384
48820.0     경남 고성군                       4445   4384
48840.0     경남 남해군                       4445   4384
48850.0     경남 하동군                       4445   4384
48860.0     경남 산청군                       4445   4384
48870.0     경남 함양군                       4445   4384
48880.0     경남 거창군                       4445   4384
48890.0     경남 합천군                       4445   4384
50110.0     제주 제주시                       4445   4384
47900.0     경북 예천군                       4445   4384
47840.0     경북 성주군                       4445   4384
46780.0     전남 보성군                       4445   4384
47830.0     경북 고령군                       4445   4384
46790.0     전남 화순군                       4445   4384
46800.0     전남 장흥군                       4445   4384
46810.0     전남 강진군                       4445   4384
46820.0     전남 해남군                       4445   4384
46830.0     전남 영암군                       4445   4384
46840.0     전남 무안군                       4445   4384
46860.0     전남 함평군                       4445   4384
46870.0     전남 영광군                       4445   4384
46880.0     전남 장성군                       4445   4384
46890.0     전남 완도군                       4445   4384
46900.0     전남 진도군                       4445   4384
46910.0     전남 신안군                       4445   4384
47111.0     경북 포항시 남구                    4445   4384
47113.0     경북 포항시 북구                    4445   4384
47130.0     경북 경주시                       4445   4384
47150.0     경북 김천시                       4445   4384
47170.0     경북 안동시                       4445   4384
47190.0     경북 구미시                       4445   4384
47210.0     경북 영주시                       4445   4384
47230.0     경북 영천시                       4445   4384
47250.0     경북 상주시                       4445   4384
47280.0     경북 문경시                       4445   4384
47290.0     경북 경산시                       4445   4384
47720.0     경북 군위군                       4445   4384
47730.0     경북 의성군                       4445   4384
47750.0     경북 청송군                       4445   4384
47760.0     경북 영양군                       4445   4384
47770.0     경북 영덕군                       4445   4384
47820.0     경북 청도군                       4445   4384
42780.0     강원 철원군                       4445   4384
42750.0     강원 영월군                       4445   4384
42760.0     강원 평창군                       4445   4384
26350.0     부산 해운대구                      4445   4384
26410.0     부산 금정구                       4445   4384
26440.0     부산 강서구                       4445   4384
26470.0     부산 연제구                       4445   4384
26500.0     부산 수영구                       4445   4384
26530.0     부산 사상구                       4445   4384
26710.0     부산 기장군                       4445   4384
27110.0     대구 중구                        4445   4384
27140.0     대구 동구                        4445   4384
27170.0     대구 서구                        4445   4384
27200.0     대구 남구                        4445   4384
27230.0     대구 북구                        4445   4384
27260.0     대구 수성구                       4445   4384
27290.0     대구 달서구                       4445   4384
27710.0     대구 달성군                       4445   4384
28110.0     인천 중구                        4445   4384
28140.0     인천 동구                        4445   4384
28170.0     인천 남구                        4445   4384
28177.0     인천 미추홀구                      4445   4384
28185.0     인천 연수구                       4445   4384
28200.0     인천 남동구                       4445   4384
28237.0     인천 부평구                       4445   4384
28245.0     인천 계양구                       4445   4384
28260.0     인천 서구                        4445   4384
28710.0     인천 강화군                       4445   4384
28720.0     인천 옹진군                       4445   4384
29110.0     광주 동구                        4445   4384
29140.0     광주 서구                        4445   4384
29155.0     광주 남구                        4445   4384
29200.0     광주 광산구                       4445   4384
26380.0     부산 사하구                       4445   4384
26320.0     부산 북구                        4445   4384
11140.0     서울 중구                        4445   4384
26290.0     부산 남구                        4445   4384
11170.0     서울 용산구                       4445   4384
11200.0     서울 성동구                       4445   4384
11215.0     서울 광진구                       4445   4384
11230.0     서울 동대문구                      4445   4384
11260.0     서울 중랑구                       4445   4384
11290.0     서울 성북구                       4445   4384
11305.0     서울 강북구                       4445   4384
11320.0     서울 도봉구                       4445   4384
11350.0     서울 노원구                       4445   4384
11380.0     서울 은평구                       4445   4384
11410.0     서울 서대문구                      4445   4384
11440.0     서울 마포구                       4445   4384
11470.0     서울 양천구                       4445   4384
11500.0     서울 강서구                       4445   4384
11530.0     서울 구로구                       4445   4384
11545.0     서울 금천구                       4445   4384
11560.0     서울 영등포구                      4445   4384
11590.0     서울 동작구                       4445   4384
11620.0     서울 관악구                       4445   4384
11650.0     서울 서초구                       4445   4384
11680.0     서울 강남구                       4445   4384
11710.0     서울 송파구                       4445   4384
11740.0     서울 강동구                       4445   4384
26110.0     부산 중구                        4445   4384
26140.0     부산 서구                        4445   4384
26170.0     부산 동구                        4445   4384
26200.0     부산 영도구                       4445   4384
26230.0     부산 부산진구                      4445   4384
26260.0     부산 동래구                       4445   4384
30110.0     대전 동구                        4445   4384
30140.0     대전 중구                        4445   4384
30170.0     대전 서구                        4445   4384
30200.0     대전 유성구                       4445   4384
41370.0     경기 오산시                       4445   4384
41390.0     경기 시흥시                       4445   4384
41410.0     경기 군포시                       4445   4384
41430.0     경기 의왕시                       4445   4384
41450.0     경기 하남시                       4445   4384
41461.0     경기 용인시 처인구                   4445   4384
41463.0     경기 용인시 기흥구                   4445   4384
41465.0     경기 용인시 수지구                   4445   4384
41480.0     경기 파주시                       4445   4384
41500.0     경기 이천시                       4445   4384
41550.0     경기 안성시                       4445   4384
41570.0     경기 김포시                       4445   4384
41590.0     경기 화성시                       4445   4384
41610.0     경기 광주시                       4445   4384
41630.0     경기 양주시                       4445   4384
41650.0     경기 포천시                       4445   4384
41670.0     경기 여주시                       4445   4384
41730.0     경기 여주군                       4445   4384
41800.0     경기 연천군                       4445   4384
41820.0     경기 가평군                       4445   4384
41830.0     경기 양평군                       4445   4384
42110.0     강원 춘천시                       4445   4384
42130.0     강원 원주시                       4445   4384
42150.0     강원 강릉시                       4445   4384
42170.0     강원 동해시                       4445   4384
42210.0     강원 속초시                       4445   4384
42230.0     강원 삼척시                       4445   4384
42720.0     강원 홍천군                       4445   4384
42730.0     강원 횡성군                       4445   4384
41360.0     경기 남양주시                      4445   4384
41310.0     경기 구리시                       4445   4384
41290.0     경기 과천시                       4445   4384
41135.0     경기 성남시 분당구                   4445   4384
30230.0     대전 대덕구                       4445   4384
31110.0     울산 중구                        4445   4384
31140.0     울산 남구                        4445   4384
31170.0     울산 동구                        4445   4384
31200.0     울산 북구                        4445   4384
31710.0     울산 울주군                       4445   4384
36110.0     세종 세종시                       4445   4384
41111.0     경기 수원시 장안구                   4445   4384
41113.0     경기 수원시 권선구                   4445   4384
41115.0     경기 수원시 팔달구                   4445   4384
41117.0     경기 수원시 영통구                   4445   4384
41131.0     경기 성남시 수정구                   4445   4384
41133.0     경기 성남시 중원구                   4445   4384
41150.0     경기 의정부시                      4445   4384
41287.0     경기 고양시 일산서구                  4445   4384
41171.0     경기 안양시 만안구                   4445   4384
41173.0     경기 안양시 동안구                   4445   4384
41190.0     경기 부천시                       4445   4384
41195.0     경기 부천시 원미구                   4445   4384
41197.0     경기 부천시 소사구                   4445   4384
41199.0     경기 부천시 오정구                   4445   4384
41210.0     경기 광명시                       4445   4384
41220.0     경기 평택시                       4445   4384
41250.0     경기 동두천시                      4445   4384
41271.0     경기 안산시 상록구                   4445   4384
41273.0     경기 안산시 단원구                   4445   4384
41281.0     경기 고양시 덕양구                   4445   4384
41285.0     경기 고양시 일산동구                  4445   4384
50130.0     제주 서귀포시                      4445   4384

In [913]:
# 두 테이블 다 ADMINCODE 숫자로 바꾸기

# group_hospital['H_ADMINCODE'] = group_hospital['H_ADMINCODE'].astype(int)
group_patient['P_ADMINCODE'] = group_patient['P_ADMINCODE'].astype(int)

In [485]:
# group_hospital

        PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0             2008-01-01        11410         서울 서대문구    1.0
1             2008-01-01        11320          서울 도봉구    1.0
2             2008-01-01        11110          서울 종로구    1.0
3             2008-01-01        11590          서울 동작구    2.0
4             2008-01-01        11560         서울 영등포구    1.0
...                  ...          ...             ...    ...
1113531       2020-01-01        43112      충북 청주시 서원구    0.0
1113532       2020-01-01        41190          경기 부천시    0.0
1113533       2020-01-01        28177         인천 미추홀구    0.0
1113534       2020-01-01        41670          경기 여주시    0.0
1113535       2020-01-01        43114      충북 청주시 청원구    0.0

[1113536 rows x 4 columns]

In [914]:
group_patient

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0             2007-11-01        11680          서울 강남구    NaN
1             2007-11-01        11305          서울 강북구    NaN
2             2007-11-01        11440          서울 마포구    NaN
3             2007-11-01        11590          서울 동작구    NaN
4             2007-11-01        11560         서울 영등포구    NaN
...                  ...          ...             ...    ...
1169030       2020-01-01        43112      충북 청주시 서원구    0.0
1169031       2020-01-01        41190          경기 부천시    0.0
1169032       2020-01-01        28177         인천 미추홀구    0.0
1169033       2020-01-01        43110          충북 청주시    0.0
1169034       2020-01-01        45110          전북 전주시    0.0

[1169035 rows x 4 columns]

In [487]:
# # final null check 

# group_hospital.isna().sum()

PRE_ER_ARREST_DT    0
H_ADMINCODE         0
H_ADD_CITY_DIST     0
count               0
dtype: int64

In [915]:
# final null check  - count의 null은 2007.11 ~ 2007.12 에 대한 null임

group_patient.isna().sum()

PRE_ER_ARREST_DT        0
P_ADMINCODE             0
P_ADD_CITY_DIST         0
count               16041
dtype: int64

##### group_hospital, group_patient final df 한번 내보내자

In [916]:
# group_hospital.to_csv('data\\급성심장정지조사(08-19)SAS\\group_hospital.csv', encoding = 'euc-kr', index = False)
group_patient.to_csv('data\\급성심장정지조사(08-19)SAS\\group_patient.csv', encoding = 'euc-kr', index = False)

##### qgis 지도 idx       
- SIGUNGU_CD : 원래 유진선생님이 주신 raw data의 시군구 코드
- 법정동코드 : 행정표준코드관리시스템 기준 법정동코드, 급성심정지 데이터는 이 기준으로 되어 있음

In [917]:
# qgis 지도 idx 불러오기 - 240개

idx = pd.read_csv('data\\out of hospital sudden cardiac arrest\\qgis_지도_idx.csv', encoding = 'euc-kr')
idx

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드
0,31370,가평군,1,1,NaN,NaN,41820
1,11230,강남구,2,1,NaN,NaN,11680
2,11250,강동구,3,1,NaN,NaN,11740
3,32030,강릉시,4,0,NaN,NaN,42150
4,11090,강북구,5,1,NaN,NaN,11305
5,11160,강서구,6,1,NaN,NaN,11500
6,21120,강서구,7,0,NaN,NaN,26440
7,36390,강진군,8,0,NaN,NaN,46810
8,38390,거창군,11,0,NaN,NaN,48880
9,37100,경산시,12,0,NaN,NaN,47290
10,37020,경주시,13,0,NaN,NaN,47130
11,34070,계룡시,14,0,NaN,NaN,44250
12,23070,계양구,15,1,NaN,NaN,28245
13,37370,고령군,16,0,NaN,NaN,47830
14,32400,고성군,17,0,강원도,NaN,42820
15,38340,고성군,18,0,경남,NaN,48820
16,31101,고양시 덕양구,19,1,NaN,NaN,41281
17,31103,고양시 일산동구,20,1,NaN,NaN,41285
18,31104,고양시 일산서구,21,1,NaN,NaN,41287
19,35370,고창군,22,0,NaN,NaN,45790
20,36350,고흥군,23,0,NaN,NaN,46770
21,36320,곡성군,24,0,NaN,NaN,46720
22,34020,공주시,25,0,NaN,NaN,44150
23,31110,과천시,26,1,NaN,NaN,41290
24,11210,관악구,27,1,NaN,NaN,11620
25,31060,광명시,28,1,NaN,NaN,41210
26,24050,광산구,29,0,NaN,NaN,29200
27,36060,광양시,30,0,NaN,NaN,46230
28,31250,광주시,31,1,NaN,NaN,41610
29,11050,광진구,32,1,NaN,NaN,11215
30,33360,괴산군,33,0,NaN,NaN,43760
31,36330,구례군,34,0,NaN,NaN,46730
32,11170,구로구,35,1,NaN,NaN,11530
33,31120,구리시,36,1,NaN,NaN,41310
34,37050,구미시,37,0,NaN,NaN,47190
35,35020,군산시,38,0,NaN,NaN,45130
36,37310,군위군,39,0,NaN,NaN,47720
37,31160,군포시,40,1,NaN,NaN,41410
38,34310,금산군,41,0,NaN,NaN,44710
39,21110,금정구,42,0,NaN,NaN,26410
40,11180,금천구,43,1,NaN,NaN,11545
41,21310,기장군,44,0,NaN,NaN,26710
42,35060,김제시,45,0,NaN,NaN,45210
43,37030,김천시,46,0,NaN,NaN,47150
44,31230,김포시,47,1,NaN,NaN,41570
45,38070,김해시,48,0,NaN,NaN,48250
46,36040,나주시,49,0,NaN,NaN,46170
47,21070,남구,50,0,부산,NaN,26290
48,22040,남구,51,0,대구,NaN,27200
49,24030,남구,52,0,광주,NaN,29155
50,26020,남구,53,0,울산,NaN,31140
51,23050,남동구,54,1,NaN,NaN,28200
52,31130,남양주시,55,1,NaN,NaN,41360
53,35050,남원시,56,0,NaN,NaN,45190
54,11110,노원구,58,1,NaN,NaN,11350
55,34060,논산시,59,0,NaN,NaN,44230
56,33380,단양군,60,0,NaN,NaN,43800
57,22070,달서구,61,0,NaN,NaN,27290
58,22310,달성군,62,0,NaN,NaN,27710
59,36310,담양군,63,0,NaN,NaN,46710
60,34080,당진시,64,0,NaN,NaN,44270
61,25050,대덕구,65,0,NaN,NaN,30230
62,11100,도봉구,66,1,NaN,NaN,11320
63,21030,동구,67,0,부산,NaN,26170
64,22020,동구,68,0,대구,NaN,27140
65,23020,동구,69,1,인천,NaN,28140
66,24010,동구,70,0,광주,NaN,29110
67,25010,동구,71,0,대전,NaN,30110
68,26030,동구,72,0,울산,NaN,31170
69,11060,동대문구,73,1,NaN,NaN,11230
70,31080,동두천시,74,1,NaN,NaN,41250
71,21060,동래구,75,0,NaN,NaN,26260
72,11200,동작구,76,1,NaN,NaN,11590
73,32040,동해시,77,0,NaN,NaN,42170
74,11140,마포구,78,1,NaN,NaN,11440
75,36010,목포시,79,0,NaN,NaN,46110
76,36420,무안군,80,0,NaN,NaN,46840
77,35330,무주군,81,0,NaN,NaN,45730
78,37090,문경시,82,0,NaN,NaN,47280
79,23090,미추홀구,83,1,NaN,NaN,28177
80,38080,밀양시,84,0,NaN,NaN,48270
81,34030,보령시,85,0,NaN,NaN,44180
82,36360,보성군,86,0,NaN,NaN,46780
83,33320,보은군,87,0,NaN,NaN,43720
84,37410,봉화군,88,0,NaN,NaN,47920
85,21050,부산진구,89,0,NaN,NaN,26230
86,35380,부안군,90,0,NaN,NaN,45800
87,34330,부여군,91,0,NaN,NaN,44760
88,31050,부천시,92,1,NaN,NaN,41190
89,23060,부평구,93,1,NaN,NaN,28237
90,21080,북구,94,0,부산,NaN,26320
91,22050,북구,95,0,대구,NaN,27230
92,24040,북구,96,0,광주,NaN,29170
93,26040,북구,97,0,울산,NaN,31200
94,21150,사상구,98,0,NaN,NaN,26530
95,38060,사천시,99,0,NaN,NaN,48240
96,21100,사하구,100,0,NaN,NaN,26380
97,38370,산청군,101,0,NaN,NaN,48860
98,32070,삼척시,102,0,NaN,NaN,42230
99,37080,상주시,103,0,NaN,NaN,47250
100,21020,서구,104,0,부산,NaN,26140
101,22030,서구,105,0,대구,NaN,27170
102,23080,서구,106,1,인천,NaN,28260
103,24020,서구,107,0,광주,NaN,29140
104,25030,서구,108,0,대전,NaN,30170
105,11130,서대문구,110,1,NaN,NaN,11410
106,34050,서산시,111,0,NaN,NaN,44210
107,34340,서천군,112,0,NaN,NaN,44770
108,11220,서초구,113,1,NaN,NaN,11650
109,31023,성남시 분당구,114,1,NaN,NaN,41135
110,31021,성남시 수정구,115,1,NaN,NaN,41131
111,31022,성남시 중원구,116,1,NaN,NaN,41133
112,11040,성동구,117,1,NaN,NaN,11200
113,11080,성북구,118,1,NaN,NaN,11290
114,37380,성주군,119,0,NaN,NaN,47840
115,29010,세종시,120,0,NaN,NaN,36110
116,32060,속초시,121,0,NaN,NaN,42210
117,11240,송파구,122,1,NaN,NaN,11710
118,22060,수성구,123,0,NaN,NaN,27260
119,21140,수영구,124,0,NaN,NaN,26500
120,31012,수원시 권선구,125,1,NaN,NaN,41113
121,31014,수원시 영통구,126,1,NaN,NaN,41117
122,31011,수원시 장안구,127,1,NaN,NaN,41111
123,31013,수원시 팔달구,128,1,NaN,NaN,41115
124,35360,순창군,129,0,NaN,NaN,45770
125,36030,순천시,130,0,NaN,NaN,46150
126,31150,시흥시,131,1,NaN,NaN,41390
127,36480,신안군,132,0,NaN,NaN,46910
128,34040,아산시,133,0,NaN,NaN,44200
129,37040,안동시,134,0,NaN,NaN,47170
130,31092,안산시 단원구,135,1,NaN,NaN,41273
131,31091,안산시 상록구,136,1,NaN,NaN,41271
132,31220,안성시,137,1,NaN,NaN,41550
133,31042,안양시 동안구,138,1,NaN,NaN,41173
134,31041,안양시 만안구,139,1,NaN,NaN,41171
135,32380,양구군,140,0,NaN,NaN,42800
136,38100,양산시,141,0,NaN,NaN,48330
137,32410,양양군,142,0,NaN,NaN,42830
138,31260,양주시,143,1,NaN,NaN,41630
139,11150,양천구,144,1,NaN,NaN,11470
140,31380,양평군,145,0,NaN,NaN,41830
141,36020,여수시,146,0,NaN,NaN,46130
142,31280,여주시,147,0,NaN,NaN,41670
143,23040,연수구,148,1,NaN,NaN,28185
144,21130,연제구,149,0,NaN,NaN,26470
145,31350,연천군,150,1,NaN,NaN,41800
146,36440,영광군,151,0,NaN,NaN,46870
147,37350,영덕군,152,0,NaN,NaN,47770
148,33340,영동군,154,0,NaN,NaN,43740
149,11190,영등포구,155,1,NaN,NaN,11560
150,36410,영암군,156,0,NaN,NaN,46830
151,37340,영양군,157,0,NaN,NaN,47760
152,32330,영월군,158,0,NaN,NaN,42750
153,37060,영주시,159,0,NaN,NaN,47210
154,37070,영천시,160,0,NaN,NaN,47230
155,34370,예산군,161,0,NaN,NaN,44810
156,37400,예천군,162,0,NaN,NaN,47900
157,31140,오산시,163,1,NaN,NaN,41370
158,33330,옥천군,164,0,NaN,NaN,43730
159,35310,완주군,167,0,NaN,NaN,45710
160,11030,용산구,168,1,NaN,NaN,11170
161,31192,용인시 기흥구,169,1,NaN,NaN,41463
162,31193,용인시 수지구,170,1,NaN,NaN,41465
163,31191,용인시 처인구,171,1,NaN,NaN,41461
164,26310,울주군,173,0,NaN,NaN,31710
165,37420,울진군,174,0,NaN,NaN,47930
166,32020,원주시,175,0,NaN,NaN,42130
167,25040,유성구,176,0,NaN,NaN,30200
168,11120,은평구,177,1,NaN,NaN,11380
169,33370,음성군,178,0,NaN,NaN,43770
170,38310,의령군,179,0,NaN,NaN,48720
171,37320,의성군,180,0,NaN,NaN,47730
172,31170,의왕시,181,1,NaN,NaN,41430
173,31030,의정부시,182,1,NaN,NaN,41150
174,31210,이천시,183,1,NaN,NaN,41500
175,35030,익산시,184,0,NaN,NaN,45140
176,32390,인제군,185,0,NaN,NaN,42810
177,35350,임실군,186,0,NaN,NaN,45750
178,36450,장성군,187,0,NaN,NaN,46880
179,35340,장수군,188,0,NaN,NaN,45740
180,36380,장흥군,189,0,NaN,NaN,46800
181,35012,전주시 덕진구,190,0,NaN,NaN,45113
182,35011,전주시 완산구,191,0,NaN,NaN,45111
183,32350,정선군,192,0,NaN,NaN,42770
184,35040,정읍시,193,0,NaN,NaN,45180
185,33030,제천시,195,0,NaN,NaN,43150
186,11010,종로구,196,1,NaN,NaN,11110
187,11020,중구,197,1,서울,NaN,11140
188,21010,중구,198,0,부산,NaN,26110
189,22010,중구,199,0,대구,NaN,27110
190,23010,중구,200,1,인천,NaN,28110
191,25020,중구,201,0,대전,NaN,30140
192,26010,중구,202,0,울산,NaN,31110
193,11070,중랑구,203,1,NaN,NaN,11260
194,33390,증평군,204,0,NaN,NaN,43745
195,35320,진안군,206,0,NaN,NaN,45720
196,38030,진주시,207,0,NaN,NaN,48170
197,33350,진천군,208,0,NaN,NaN,43750
198,38330,창녕군,209,0,NaN,NaN,48740
199,38113,창원시 마산합포구,210,0,NaN,NaN,48125
200,38114,창원시 마산회원구,211,0,NaN,NaN,48127
201,38112,창원시 성산구,212,0,NaN,NaN,48123
202,38111,창원시 의창구,213,0,NaN,NaN,48121
203,38115,창원시 진해구,214,0,NaN,NaN,48129
204,34011,천안시 동남구,215,0,NaN,NaN,44131
205,34012,천안시 서북구,216,0,NaN,NaN,44133
206,32360,철원군,217,0,NaN,NaN,42780
207,37360,청도군,218,0,NaN,NaN,47820
208,37330,청송군,219,0,NaN,NaN,47750
209,34350,청양군,220,0,NaN,NaN,44790
210,33041,청주시 상당구,221,0,NaN,NaN,43111
211,33042,청주시 서원구,222,0,NaN,NaN,43112
212,33044,청주시 청원구,223,0,NaN,NaN,43114
213,33043,청주시 흥덕구,224,0,NaN,NaN,43113
214,32010,춘천시,225,0,NaN,NaN,42110
215,33020,충주시,226,0,NaN,NaN,43130
216,37390,칠곡군,227,0,NaN,NaN,47850
217,32050,태백시,228,0,NaN,NaN,42190
218,34380,태안군,229,0,NaN,NaN,44825
219,38050,통영시,230,0,NaN,NaN,48220
220,31200,파주시,231,1,NaN,NaN,41480
221,32340,평창군,232,0,NaN,NaN,42760
222,31070,평택시,233,1,NaN,NaN,41220
223,31270,포천시,234,1,NaN,NaN,41650
224,37011,포항시 남구,235,0,NaN,NaN,47111
225,37012,포항시 북구,236,0,NaN,NaN,47113
226,31180,하남시,237,1,NaN,NaN,41450
227,38360,하동군,238,0,NaN,NaN,48850
228,38320,함안군,239,0,NaN,NaN,48730
229,38380,함양군,240,0,NaN,NaN,48870
230,36430,함평군,241,0,NaN,NaN,46860
231,38400,합천군,242,0,NaN,NaN,48890
232,36400,해남군,243,0,NaN,NaN,46820
233,21090,해운대구,244,0,NaN,NaN,26350
234,34360,홍성군,245,0,NaN,NaN,44800
235,32310,홍천군,246,0,NaN,NaN,42720
236,31240,화성시,247,1,NaN,NaN,41590
237,36370,화순군,248,0,NaN,NaN,46790
238,32370,화천군,249,0,NaN,NaN,42790
239,32320,횡성군,250,0,NaN,NaN,42730

In [918]:
# 지도 idx table이랑 시군구 코드 column 명 맞추기 - join 하기 위해

# group_hospital.rename(columns={'H_ADMINCODE' : '법정동코드'}, inplace = True)
group_patient.rename(columns={'P_ADMINCODE' : '법정동코드'}, inplace = True)

In [919]:
# group_hospital   # '법정동코드' 로 잘 바뀐 거 확인

In [920]:
group_patient   # '법정동코드' 로 잘 바뀐 거 확인

        PRE_ER_ARREST_DT  법정동코드 P_ADD_CITY_DIST  count
0             2007-11-01  11680          서울 강남구    NaN
1             2007-11-01  11305          서울 강북구    NaN
2             2007-11-01  11440          서울 마포구    NaN
3             2007-11-01  11590          서울 동작구    NaN
4             2007-11-01  11560         서울 영등포구    NaN
...                  ...    ...             ...    ...
1169030       2020-01-01  43112      충북 청주시 서원구    0.0
1169031       2020-01-01  41190          경기 부천시    0.0
1169032       2020-01-01  28177         인천 미추홀구    0.0
1169033       2020-01-01  43110          충북 청주시    0.0
1169034       2020-01-01  45110          전북 전주시    0.0

[1169035 rows x 4 columns]

In [524]:
# # Merge group_hospital with idx with 법정동코드

# group_hospital_idx = pd.merge(group_hospital, idx, on='법정동코드', how='inner')
# group_hospital_idx.sort_values(by='PRE_ER_ARREST_DT', inplace = True)
# group_hospital_idx.reset_index(drop = True, inplace = True)
# group_hospital_idx

,PRE_ER_ARREST_DT,법정동코드,H_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
0,2008-01-01,11410,서울 서대문구,1.0,11130,서대문구,110,1,NaN,NaN
1,2008-01-01,45770,전북 순창군,0.0,35360,순창군,129,0,NaN,NaN
2,2008-01-01,11170,서울 용산구,0.0,11030,용산구,168,1,NaN,NaN
3,2008-01-01,45210,전북 김제시,0.0,35060,김제시,45,0,NaN,NaN
4,2008-01-01,45750,전북 임실군,0.0,35350,임실군,186,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1034619,2020-01-01,44800,충남 홍성군,0.0,34360,홍성군,245,0,NaN,NaN
1034620,2020-01-01,44770,충남 서천군,0.0,34340,서천군,112,0,NaN,NaN
1034621,2020-01-01,44810,충남 예산군,0.0,34370,예산군,161,0,NaN,NaN
1034622,2020-01-01,45190,전북 남원시,0.0,35050,남원시,56,0,NaN,NaN
1034623,2020-01-01,43114,충북 청주시 청원구,0.0,33044,청주시 청원구,223,0,NaN,NaN

In [525]:
# group_hospital - 236개만 매칭됨 

236 * 4384

1034624

In [538]:
# 4개 매칭 안된 거 뭔지 찾자 - 계룡, 과천, 마포, 양양

a = set(group_hospital['법정동코드'].unique())
b = set(idx['법정동코드'].unique())

nonmatched = list(b - a)

idx.loc[idx['법정동코드'].isin(nonmatched)]

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드
11,34070,계룡시,14,0,NaN,NaN,44250
23,31110,과천시,26,1,NaN,NaN,41290
74,11140,마포구,78,1,NaN,NaN,11440
137,32410,양양군,142,0,NaN,NaN,42830

In [575]:
# group_hospital - 수도권 기준으로는 과천, 마포 두개가 아예 데이터가 없음

group_hospital.loc[group_hospital['H_ADD_CITY_DIST'].str.contains("마포")]

Empty DataFrame
Columns: [PRE_ER_ARREST_DT, 법정동코드, H_ADD_CITY_DIST, count]
Index: []

In [921]:
# group_patient 에는 71개 다 잘 살아있음

group_patient.loc[group_patient['P_ADD_CITY_DIST'].str.contains("마포")]

        PRE_ER_ARREST_DT  법정동코드 P_ADD_CITY_DIST  count
2             2007-11-01  11440          서울 마포구    NaN
265           2007-11-02  11440          서울 마포구    NaN
528           2007-11-03  11440          서울 마포구    NaN
791           2007-11-04  11440          서울 마포구    NaN
1054          2007-11-05  11440          서울 마포구    NaN
...                  ...    ...             ...    ...
1167722       2019-12-28  11440          서울 마포구    2.0
1167985       2019-12-29  11440          서울 마포구    0.0
1168248       2019-12-30  11440          서울 마포구    1.0
1168511       2019-12-31  11440          서울 마포구    2.0
1168774       2020-01-01  11440          서울 마포구    0.0

[4445 rows x 4 columns]

##### group_hospital 버리고 group_patient 기준으로만 하자 결정
여기서부터 처리는 다 group_patient 만 함

In [922]:
# Merge group_patient with idx with 법정동코드

group_patient_idx = pd.merge(group_patient, idx, on='법정동코드', how='inner')
group_patient_idx.sort_values(by='PRE_ER_ARREST_DT', inplace = True)
group_patient_idx.reset_index(drop = True, inplace = True)
group_patient_idx

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
0,2007-11-01,11680,서울 강남구,NaN,11230,강남구,2,1,NaN,NaN
1,2007-11-01,27200,대구 남구,NaN,22040,남구,51,0,대구,NaN
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,수원시 팔달구,128,1,NaN,NaN
3,2007-11-01,41590,경기 화성시,NaN,31240,화성시,247,1,NaN,NaN
4,2007-11-01,44200,충남 아산시,NaN,34040,아산시,133,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN
1066796,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN
1066797,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN
1066798,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN

In [923]:
# group_patient - 240개 다 매칭 잘 됨

240 * 4445

1066800

In [580]:
# group_hospital_idx.isna().sum()

PRE_ER_ARREST_DT               0
법정동코드                          0
H_ADD_CITY_DIST                0
count                          0
SIGUNGU_CD                     0
SIGUNGU_NM                     0
OBJECTID(air_out_idx)          0
check(수도권=1)                   0
location                  916256
SOCIAL                   1034624
dtype: int64

In [924]:
group_patient_idx.isna().sum()

PRE_ER_ARREST_DT               0
법정동코드                          0
P_ADD_CITY_DIST                0
count                      14638
SIGUNGU_CD                     0
SIGUNGU_NM                     0
OBJECTID(air_out_idx)          0
check(수도권=1)                   0
location                  946785
SOCIAL                   1066800
dtype: int64

In [ ]:
# # aggregate by hospital location

# #pd.set_option("display.max_rows", 253)
# pd.reset_option('display.max_rows')
# group_hospital_table_location = group_hospital_idx.pivot_table(values='count', index=['법정동코드', 'SIGUNGU_NM', 'H_ADD_CITY_DIST'], aggfunc=np.sum)
# group_hospital_table_location

In [925]:
# aggregate by patient location - 그냥 한번 check (EDA용)

group_patient_table_location = group_patient_idx.pivot_table(values='count', index=['법정동코드', 'SIGUNGU_NM', 'P_ADD_CITY_DIST'], aggfunc=np.sum)
group_patient_table_location

                                   count
법정동코드 SIGUNGU_NM P_ADD_CITY_DIST
11110 종로구        서울 종로구           1086.0
11140 중구         서울 중구             896.0
11170 용산구        서울 용산구           1405.0
11200 성동구        서울 성동구           1554.0
11215 광진구        서울 광진구           1786.0
11230 동대문구       서울 동대문구          2149.0
11260 중랑구        서울 중랑구           2424.0
11290 성북구        서울 성북구           2581.0
11305 강북구        서울 강북구           2067.0
11320 도봉구        서울 도봉구           2116.0
11350 노원구        서울 노원구           3175.0
11380 은평구        서울 은평구           2332.0
11410 서대문구       서울 서대문구          1877.0
11440 마포구        서울 마포구           1997.0
11470 양천구        서울 양천구           2220.0
11500 강서구        서울 강서구           2568.0
11530 구로구        서울 구로구           2288.0
11545 금천구        서울 금천구           1394.0
11560 영등포구       서울 영등포구          2129.0
11590 동작구        서울 동작구           1992.0
11620 관악구        서울 관악구           2516.0
11650 서초구        서울 서초구           1592.0
11680 강남구        서울 강남구           2193.0
11710 송파구        서울 송파구           2381.0
11740 강동구        서울 강동구           2242.0
26110 중구         부산 중구             378.0
26140 서구         부산 서구             971.0
26170 동구         부산 동구             775.0
26230 부산진구       부산 부산진구          2452.0
26260 동래구        부산 동래구           1534.0
26290 남구         부산 남구            1643.0
26320 북구         부산 북구            1486.0
26350 해운대구       부산 해운대구          1992.0
26380 사하구        부산 사하구           1852.0
26410 금정구        부산 금정구           1346.0
26440 강서구        부산 강서구            426.0
26470 연제구        부산 연제구           1144.0
26500 수영구        부산 수영구           1093.0
26530 사상구        부산 사상구           1402.0
26710 기장군        부산 기장군            777.0
27110 중구         대구 중구             672.0
27140 동구         대구 동구            2360.0
27170 서구         대구 서구            1555.0
27200 남구         대구 남구            1240.0
27230 북구         대구 북구            2313.0
27260 수성구        대구 수성구           2149.0
27290 달서구        대구 달서구           2927.0
27710 달성군        대구 달성군           1033.0
28110 중구         인천 중구             777.0
28140 동구         인천 동구             662.0
28177 미추홀구       인천 미추홀구           502.0
28185 연수구        인천 연수구           1439.0
28200 남동구        인천 남동구           3034.0
28237 부평구        인천 부평구           3146.0
28245 계양구        인천 계양구           1802.0
28260 서구         인천 서구            2359.0
29110 동구         광주 동구             800.0
29140 서구         광주 서구            1512.0
29155 남구         광주 남구            1166.0
29170 북구         광주 북구            2339.0
29200 광산구        광주 광산구           1734.0
30110 동구         대전 동구            1734.0
30140 중구         대전 중구            1701.0
30170 서구         대전 서구            2464.0
30200 유성구        대전 유성구           1265.0
30230 대덕구        대전 대덕구           1218.0
31110 중구         울산 중구            1286.0
31140 남구         울산 남구            1520.0
31170 동구         울산 동구             930.0
31200 북구         울산 북구             786.0
31710 울주군        울산 울주군           1294.0
36110 세종시        세종 세종시            747.0
41111 수원시 장안구    경기 수원시 장안구       1560.0
41113 수원시 권선구    경기 수원시 권선구       1699.0
41115 수원시 팔달구    경기 수원시 팔달구       1316.0
41117 수원시 영통구    경기 수원시 영통구        875.0
41131 성남시 수정구    경기 성남시 수정구       1462.0
41133 성남시 중원구    경기 성남시 중원구       1546.0
41135 성남시 분당구    경기 성남시 분당구       2006.0
41150 의정부시       경기 의정부시          2769.0
41171 안양시 만안구    경기 안양시 만안구       1381.0
41173 안양시 동안구    경기 안양시 동안구       1412.0
41190 부천시        경기 부천시           1552.0
41210 광명시        경기 광명시           1673.0
41220 평택시        경기 평택시           2737.0
41250 동두천시       경기 동두천시           746.0
41271 안산시 상록구    경기 안산시 상록구       1896.0
41273 안산시 단원구    경기 안산시 단원구       1922.0
41281 고양시 덕양구    경기 고양시 덕양구       2151.0
41285 고양시 일산동구   경기 고양시 일산동구      1250.0
41287 고양시 일산서구   경기 고양시 일산서구      1301.0
41290 과천시        경기 과천시            307.0
41310 구리시        경기 구리시           1072.0
41360 남양주시       경기 남양주시          3050.0
41370 오산시        경기 오산시            908.0
41390 시흥시        경기 시흥시           2207.0
41410 군포시        경기 군포시           1283.0
41430 의왕시        경기 의왕시            684.0
41450 하남시        경기 하남시            933.0
41461 용인시 처인구    경기 용인시 처인구       1369.0
41463 용인시 기흥구    경기 용인시 기흥구       1505.0
41465 용인시 수지구    경기 용인시 수지구       1137.0
41480 파주시        경기 파주시           2322.0
41500 이천시        경기 이천시           1209.0
41550 안성시        경기 안성시           1326.0
41570 김포시        경기 김포시           1731.0
41590 화성시        경기 화성시           2623.0
41610 광주시        경기 광주시           1500.0
41630 양주시        경기 양주시           1325.0
41650 포천시        경기 포천시           1347.0
41670 여주시        경기 여주시            592.0
41800 연천군        경기 연천군            579.0
41820 가평군        경기 가평군            562.0
41830 양평군        경기 양평군            968.0
42110 춘천시        강원 춘천시           2119.0
42130 원주시        강원 원주시           2218.0
42150 강릉시        강원 강릉시           1825.0
42170 동해시        강원 동해시            799.0
42190 태백시        강원 태백시            298.0
42210 속초시        강원 속초시            765.0
42230 삼척시        강원 삼척시            910.0
42720 홍천군        강원 홍천군            786.0
42730 횡성군        강원 횡성군            532.0
42750 영월군        강원 영월군            579.0
42760 평창군        강원 평창군            510.0
42770 정선군        강원 정선군            354.0
42780 철원군        강원 철원군            513.0
42790 화천군        강원 화천군            216.0
42800 양구군        강원 양구군            163.0
42810 인제군        강원 인제군            329.0
42820 고성군        강원 고성군            435.0
42830 양양군        강원 양양군            349.0
43111 청주시 상당구    충북 청주시 상당구       1606.0
43112 청주시 서원구    충북 청주시 서원구        518.0
43113 청주시 흥덕구    충북 청주시 흥덕구       2021.0
43114 청주시 청원구    충북 청주시 청원구        546.0
43130 충주시        충북 충주시           1865.0
43150 제천시        충북 제천시           1310.0
43720 보은군        충북 보은군            455.0
43730 옥천군        충북 옥천군            597.0
43740 영동군        충북 영동군            699.0
43745 증평군        충북 증평군            251.0
43750 진천군        충북 진천군            638.0
43760 괴산군        충북 괴산군            529.0
43770 음성군        충북 음성군            782.0
43800 단양군        충북 단양군            384.0
44131 천안시 동남구    충남 천안시 동남구       1647.0
44133 천안시 서북구    충남 천안시 서북구       1504.0
44150 공주시        충남 공주시           1135.0
44180 보령시        충남 보령시           1080.0
44200 아산시        충남 아산시           1723.0
44210 서산시        충남 서산시           1472.0
44230 논산시        충남 논산시           1145.0
44250 계룡시        충남 계룡시            185.0
44270 당진시        충남 당진시            877.0
44710 금산군        충남 금산군            541.0
44760 부여군        충남 부여군            781.0
44770 서천군        충남 서천군            548.0
44790 청양군        충남 청양군            453.0
44800 홍성군        충남 홍성군            972.0
44810 예산군        충남 예산군            912.0
44825 태안군        충남 태안군            756.0
45111 전주시 완산구    전북 전주시 완산구       1936.0
45113 전주시 덕진구    전북 전주시 덕진구       1688.0
45130 군산시        전북 군산시           2030.0
45140 익산시        전북 익산시           2186.0
45180 정읍시        전북 정읍시           1201.0
45190 남원시        전북 남원시           1004.0
45210 김제시        전북 김제시           1070.0
45710 완주군        전북 완주군            754.0
45720 진안군        전북 진안군            348.0
45730 무주군        전북 무주군            423.0
45740 장수군        전북 장수군            369.0
45750 임실군        전북 임실군            364.0
45770 순창군        전북 순창군            403.0
45790 고창군        전북 고창군            720.0
45800 부안군        전북 부안군            600.0
46110 목포시        전남 목포시           1741.0
46130 여수시        전남 여수시           2304.0
46150 순천시        전남 순천시           1836.0
46170 나주시        전남 나주시            968.0
46230 광양시        전남 광양시            999.0
46710 담양군        전남 담양군            519.0
46720 곡성군        전남 곡성군            344.0
46730 구례군        전남 구례군            261.0
46770 고흥군        전남 고흥군            834.0
46780 보성군        전남 보성군            600.0
46790 화순군        전남 화순군            613.0
46800 장흥군        전남 장흥군            531.0
46810 강진군        전남 강진군            437.0
46820 해남군        전남 해남군            941.0
46830 영암군        전남 영암군            615.0
46840 무안군        전남 무안군            740.0
46860 함평군        전남 함평군            419.0
46870 영광군        전남 영광군            609.0
46880 장성군        전남 장성군            515.0
46910 신안군        전남 신안군            369.0
47111 포항시 남구     경북 포항시 남구        1627.0
47113 포항시 북구     경북 포항시 북구        1578.0
47130 경주시        경북 경주시           2282.0
47150 김천시        경북 김천시           1426.0
47170 안동시        경북 안동시           1629.0
47190 구미시        경북 구미시           2076.0
47210 영주시        경북 영주시            922.0
47230 영천시        경북 영천시           1173.0
47250 상주시        경북 상주시           1465.0
47280 문경시        경북 문경시            865.0
47290 경산시        경북 경산시           1655.0
47720 군위군        경북 군위군            299.0
47730 의성군        경북 의성군            628.0
47750 청송군        경북 청송군            452.0
47760 영양군        경북 영양군            265.0
47770 영덕군        경북 영덕군            554.0
47820 청도군        경북 청도군            656.0
47830 고령군        경북 고령군            362.0
47840 성주군        경북 성주군            535.0
47850 칠곡군        경북 칠곡군            845.0
47900 예천군        경북 예천군            551.0
47920 봉화군        경북 봉화군            453.0
47930 울진군        경북 울진군            749.0
48121 창원시 의창구    경남 창원시 의창구        936.0
48123 창원시 성산구    경남 창원시 성산구        610.0
48125 창원시 마산합포구  경남 창원시 마산합포구     1013.0
48127 창원시 마산회원구  경남 창원시 마산회원구      939.0
48129 창원시 진해구    경남 창원시 진해구        774.0
48170 진주시        경남 진주시           2340.0
48220 통영시        경남 통영시           1047.0
48240 사천시        경남 사천시            916.0
48250 김해시        경남 김해시           2100.0
48270 밀양시        경남 밀양시            995.0
48330 양산시        경남 양산시           1382.0
48720 의령군        경남 의령군            328.0
48730 함안군        경남 함안군            594.0
48740 창녕군        경남 창녕군            707.0
48820 고성군        경남 고성군            465.0
48850 하동군        경남 하동군            607.0
48860 산청군        경남 산청군            475.0
48870 함양군        경남 함양군            592.0
48880 거창군        경남 거창군            765.0
48890 합천군        경남 합천군            704.0

In [ ]:
# # group_hospital - aggregate by dates - 그냥 한번 check

# group_hospital_table_date = group_hospital_idx.pivot_table(values='count', index=['PRE_ER_ARREST_DT'], aggfunc=np.sum)
# group_hospital_table_date

In [926]:
# group_patient_idx - aggregate by dates - 그냥 한번 check (EDA용)

group_patient_table_date = group_patient_idx.pivot_table(values='count', index=['PRE_ER_ARREST_DT'], aggfunc=np.sum)
group_patient_table_date

                  count
PRE_ER_ARREST_DT
2007-11-01          0.0
2007-11-02          0.0
2007-11-03          0.0
2007-11-04          0.0
2007-11-05          0.0
...                 ...
2019-12-28         84.0
2019-12-29         97.0
2019-12-30        103.0
2019-12-31        110.0
2020-01-01          1.0

[4445 rows x 1 columns]

In [927]:
group_patient_idx.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_idx.csv', encoding = 'euc-kr', index = False)
# group_hospital_idx.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_idx.csv', encoding = 'euc-kr', index = False)

In [928]:
# 지역별 aggregate 

group_patient_table_location.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_table_location.csv', encoding = 'euc-kr')
# group_hospital_table_location.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_table_location.csv', encoding = 'euc-kr')

In [929]:
# 일자별 aggregate

group_patient_table_date.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_table_date.csv', encoding = 'euc-kr')
# group_hospital_table_date.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_table_date.csv', encoding = 'euc-kr')

#### Air data

##### index 생성

In [930]:
# r 코드 돌려서 만든 air_2020_idx 가져오기

air_2020_idx_zio = pd.read_csv('data\\out of hospital sudden cardiac arrest\\air_2020_idx_zio.csv', encoding = 'euc-kr')
air_2020_idx_zio

                                                    주소   측정소코드  air_out_idx
0                           강원 강릉시 경강로 2179(옥천동 327-2)  632132            4
1                                           강원 고성군 간성읍  632421           17
2                                   강원 고성군 간성읍 수성로 160  632441           17
3                               강원 동해시 천곡로 77(천곡동 806)  632151           77
4                             강원 삼척시 남양길 11(남양동 331-9)  632161          102
5                                      강원 속초시 중앙시장로 43  632461          121
6                                      강원 양구군 방산면 송현1리  132401          140
7                                   강원 양구군 양구읍 관공서로 33  132402          140
8                                    강원 양양군 양양읍 남문로 39  632451          142
9                                   강원 영월군 영월읍 팔괴로 7-3  632491          158
10                                   강원 원주시 문막읍 건등로 11  632124          175
11                            강원 원주시 충정길 12(학성동 206-6)  632121          175
12                               강원 인제군 인제읍 비봉로44번길 93  632521          185
13                                      강원 정선군 북평면 남평리  632371          192
14                                 강원 정선군 정선읍 정선로 1331  632372          192
15                                  강원 철원군 갈말읍 삼부연로 51  632472          217
16                            강원 춘천시 외솔길 17(석사동 322-1)  132113          225
17                        강원 춘천시 중앙로길 135(중앙로 3가 67-1)  132112          225
18                                       강원 태백시 태붐로 21  632511          228
19                          강원 평창군 평창읍 종부로 61(종부리 504)  632171          232
20                                  강원 홍천군 홍천읍 연봉동로 27  632481          246
21                                 강원 화천군 화천읍 화천새싹길 45  632501          249
22                                 강원 횡성군 강림면 강림리(치악산)  632431          250
23                                   강원 횡성군 횡성읍 중앙로 30  632432          250
24                                 강원도 고성군 간성읍 수성로 160  632441           17
25                                강원도 고성군 수동면 신탄리 산6번지  132993           17
26                               강원도 고성군 수동면 외면리 산14번지  132994           17
27                                    강원도 속초시 중앙시장로 43  632461          121
28                                 강원도 양구군 양구읍 관공서로 33  132402          140
29                                  강원도 양양군 양양읍 남문로 39  632451          142
30                                 강원도 영월군 영월읍 팔괴로 7-3  632491          158
31                                  강원도 원주시 문막읍 건등로 11  632124          175
32                                     강원도 원주시 배울로 215  632122          175
33                              강원도 인제군 인제읍 비봉로44번길 93  632521          185
34                                강원도 정선군 정선읍 정선로 1331  632372          192
35                                 강원도 철원군 갈말읍 삼부연로 51  632472          217
36                                강원도 철원군 철원읍 산명리 1345  132991          217
37                                    강원도 춘천시 경춘로 2370  132119          225
38                                     강원도 춘천시 사우4길 26  132118          225
39                                      강원도 태백시 태붐로 21  632511          228
40                                 강원도 홍천군 홍천읍 연봉동로 27  632481          246
41                                강원도 화천군 화천읍 풍산리 산269  132992          249
42                                강원도 화천군 화천읍 화천새싹길 45  632501          249
43                                  강원도 횡성군 횡성읍 중앙로 30  632432          250
44                                  경기 고양시 덕양구 신원2로 24  131384           19
45                            경기 고양시 덕양구 화신로 148 행신배수지  131381           19
46                                경기 고양시 일산동구 위시티로 151  131382           20
47                                경기 고양시 일산동구 장항2동 888  131383           20
48                                 경기 고양시 일산서구 주엽로 104  131385           21
49                                      경기 과천시 상하벌로 17  131202           26
50                                      경기 과천시 코오롱로 53  131201           26
51                                       경기 광명시 소하일로 7  131163           28
52                                       경기 광명시 시청로 20  131161           28
53                                      경기 광주시 중앙로 128  131392           31
54                                  경기 구리시 동구릉로 217-14  131212           36
55                                     경기 구리시 아차산로 439  131211           36
56                                  경기 군포시 산본로197번길 36  131501           40
57                                       경기 군포시 청백리길 6  131502           40
58                                  경기 김포시 고촌읍 신곡로 152  131472           47
59                                       경기 김포시 돌문로 51  131471           47
60                              경기 김포시 양촌읍 양곡2로30번길 46  131474           47
61                                    경기 남양주시 경춘로 1037  131241           55
62                                   경기 남양주시 별내중앙로 148  131243           55
63                            경기 남양주시 오남읍 진건오남로 806-34  131242           55
64                                  경기 남양주시 화도읍 비룡로 59  131244           55
65                                     경기 동두천시 싸리말로 28  131571           74
66                                      경기 부천시 경인옛로 73  831151           92
67                                      경기 부천시 삼작로 109  831152           92
68                                      경기 부천시 성오로 172  831154           92
69                                     경기 부천시 송내대로 262  831155           92
70                                      경기 부천시 심중로 121  831153           92
71                                  경기 성남시 분당구 돌마로 242  131123          114
72                                   경기 성남시 분당구 분당로 50  131124          114
73                             경기 성남시 분당구 운중로 138번길 10  131128          114
74                                경기 성남시 분당구 판교동 652-1  131120          114
75                                경기 성남시 수정구 성남대로 1229  131125          115
76                           경기 성남시 수정구 성남대로 1416번길 22  131126          115
77                             경기 성남시 수정구 희망로 506번길 21  131121          115
78                                 경기 성남시 중원구 둔촌대로 425  131129          116
79                                 경기 수원시 권선구 서부로 1600  131117          125
80                                  경기 수원시 권선구 칠보로 161  131118          125
81                                  경기 수원시 영통구 법조로 129  131113          126
82                             경기 수원시 영통구 영통로 217번길 12  131114          126
83                                 경기 수원시 장안구 서부로 2066  131115          127
84                              경기 수원시 팔달구 신풍로 23번길 68  131111          128
85                                 경기 수원시 팔달구 인계동 1047  131116          128
86                                  경기 수원시 팔달구 효원로 241  131112          128
87                                    경기 시흥시 공단1대로 204  131232          131
88                                       경기 시흥시 복지로 37  131233          131
89                                경기 시흥시 정왕대로 233번길 19  131231          131
90                               경기 안산시 단원구 대부중앙로 97-9  131196          135
91                            경기 안산시 단원구 산단로 112 근로복지관  131192          135
92                                경기 안산시 단원구 안산천남로 119  131197          135
93                                   경기 안산시 단원구 원선로 91  131194          135
94                                 경기 안산시 단원구 중앙대로 822  131198          135
95                                  경기 안산시 단원구 화랑로 387  131191          135
96                                   경기 안산시 상록구 각골길 75  131193          136
97                                  경기 안산시 상록구 성호로 326  131195          136
98                                       경기 안성시 시청길 25  131581          137
99                            경기 안양시 동안구 경수대로 665번길 11  131144          138
100                                경기 안양시 동안구 시민대로 235  131142          138
101                            경기 안양시 만안구 안양로 384번길 50  131145          139
102                             경기 안양시 만안구 안양로170번길 23  131141          139
103                                    경기 양주시 고읍남로 205  131562          143
104                                경기 양주시 백석읍 꿈나무로 199  131561          143
105                                 경기 양평군 용문면 용문로 395  131621          145
106                                  경기 여주시 여흥로11번길 26  131591          147
107                                  경기 연천군 연천읍 차현로 58  131601          150
108                               경기 연천군 중면 횡산리 산108-1  131991          150
109                                     경기 오산시 경기동로 51  131531          163
110                                       경기 오산시 금암로 7  131532          163
111                                  경기 용인시 기흥구 관곡로 95  131413          169
112                               경기 용인시 기흥구 구갈동 505-3  131414          169
113                              경기 용인시 수지구 수지로 342번길3  131412          170
114                                  경기 용인시 처인구 금령로 50  131411          171
115                            경기 용인시 처인구 모현읍 독점로 31-6  131415          171
116                       경기 용인시 처인구 백암면 백암로185번길 8-11  131417          171
117                            경기 용인시 처인구 이동읍 경기동로 673  131416          171
118                                      경기 의왕시 시청로 11  131223          181
119                                경기 의정부시 가능로152번길 14  131132          182
120                                    경기 의정부시 범골로 138  131131          182
121                                     경기 이천시 설성면 신필리  131441          183
122                                경기 이천시 영창로 163번길 28  131442          183
123                                 경기 이천시 장호원읍 오남리 27  131443          183
124                                    경기 파주시 군내면 통일촌길  131373          231
125                                   경기 파주시 와석순환로 470  131372          231
126                                      경기 파주시 후곡로 13  131371          231
127                                 경기 평택시 안중읍 안현로 400  131342          233
128                                     경기 평택시 중앙로 275  131341          233
129                                    경기 평택시 지산2로 113  131344          233
130                            경기 평택시 포승읍 평택항로184번길 38  131343          233
131                                         경기 포천시 관인면  131451          234
132                           경기 포천시 삼육사로 2186번길 11-15  131453          234
133                            경기 포천시 일동면 화동로1099번길 30  131454          234
134                                      경기 하남시 대청로 10  131541          237
135                             경기 화성시 남양읍 남양성지로 192-5  131551          247
136                                    경기 화성시 동탄반석로 87  131553          247
137                                경기 화성시 동탄순환대로22길 13  131555          247
138                              경기 화성시 우정읍 쌍봉로 109-14  131554          247
139                                  경기 화성시 향남읍 발안로 89  131552          247
140                                경기도 가평군 가평읍 석봉로 181  131611            1
141                                  경기도 가평군 설악면 한서로 8  131612            1
142                               경기도 고양시 일산서구 주엽로 104  131385           21
143                                경기도 광주시 곤지암읍 광여로 59  131395           31
144                            경기도 광주시 오포읍 오포로859번길 29  131394           31
145                              경기도 김포시 김포한강2로24번길 93  131475           47
146                                경기도 김포시 월곶면 군하로 263  131473           47
147                                   경기도 남양주시 경춘로 433  131245           55
148                                 경기도 남양주시 별내중앙로 148  131243           55
149                                 경기도 남양주시 와부읍 도곡길 7  131246           55
150                           경기도 남양주시 진접읍 금강로 1509-26  131247           55
151                                경기도 남양주시 화도읍 비룡로 59  131244           55
152                                경기도 수원시 권선구 칠보로 161  131118          125
153                                    경기도 시흥시 솔고개길 33  131234          131
154                                     경기도 시흥시 시청로 20  131235          131
155                                 경기도 안성시 공도읍 공도4로 8  131583          137
156                                 경기도 안성시 죽산면 남부길 60  131584          137
157                                경기도 양평군 양평읍 마유산로 17  131622          145
158                              경기도 여주시 가남읍 태평중앙1길 20  131593          147
159                             경기도 여주시 대신면 율촌1길 12-10  131592          147
160                                      경기도 오산시 금암로 7  131532          163
161                           경기도 용인시 처인구 모현읍 독점로 31-6  131415          171
162                      경기도 용인시 처인구 백암면 백암로185번길 8-11  131417          171
163                           경기도 용인시 처인구 이동읍 경기동로 673  131416          171
164                                   경기도 의왕시 덕영대로 166  131222          181
165                               경기도 의정부시 민락로243번길 94  131133          182
166                                경기도 이천시 부발읍 무촌로 117  131444          183
167                                 경기도 파주시 파주읍 교육길 13  131374          231
168                                   경기도 평택시 지산2로 113  131344          233
169                               경기도 평택시 청북읍 안청로2길 60  131345          233
170                           경기도 포천시 일동면 화동로1099번길 30  131454          234
171                                   경기도 하남시 아리수로 531  131542          237
172                               경기도 화성시 동탄순환대로22길 13  131555          247
173                              경기도 화성시 봉담읍 샘마을1길 8-4  131557          247
174                              경기도 화성시 서신면 궁평항로 1702  131558          247
175                                 경기도 화성시 수노을중앙로 178  131556          247
176                             경기도 화성시 우정읍 쌍봉로 109-14  131554          247
177                                     경남 거제시 남부면 저구리  238191          999
178                                  경남 거제시 아주동 산164-1  238201          999
179                                    경남 거제시 아주로 3길 7  238201          999
180                                  경남 거창군 거창읍 거열로 90  238431           11
181                                  경남 거창군 남상면 인평길 36  238481           11
182                                  경남 고성군 고성읍 중앙로 35  238421           18
183                                 경남 김해시 장유동 능동로 149  238183           48
184                          경남 김해시 진영읍 김해대로365번길 6-24  238184           48
185                                 경남 김해시 호계로 517번길 8  238181           48
186                                     경남 김해시 활천로 303  238182           48
187                               경남 남해군 남해읍 남해대로 2745  238461          999
188                                         경남 밀양시 중앙로  238401           84
189                                  경남 사천시 사천읍 읍내로 52  238211           99
190                                  경남 산청군 산청읍 산엔청로 6  238471          101
191                              경남 양산시 북부동 북안남 5번길 21  238361          141
192                                경남 의령군 의령읍 의병로8길 44  238491          179
193                                     경남 진주시 동진로 279  238133          207
194                                 경남 진주시 비봉로 85번길 12  238131          207
195                                   경남 진주시 진주대로 1052  238132          207
196                            경남 창녕군 창녕읍 우포2로 1189-35  238501          209
197                             경남 창원시 마산합포구 월영동16길 22  238152          210
198                               경남 창원시 마산회원구 봉암로 148  238112          211
199                            경남 창원시 마산회원구 회원동 11번길 7  238111          211
200                                 경남 창원시 성산구 공단로 303  238142          212
201                              경남 창원시 성산구 외리로14번길 18  238143          212
202                        경남 창원시 성산구 창이대로 706번길 16-23  238146          212
203                         경남 창원시 의창구 대산면 갈전로99번길 100  238241          213
204                          경남 창원시 의창구 용지로 239번길 19-4  238144          213
205                         경남 창원시 의창구 우곡로 101번길 85센터)  238141          213
206                                경남 창원시 의창구 원이대로 450  238145          213
207                              경남 창원시 진해구 경화로16번길 31  238151          214
208                                        경남 통영시 안개4길  238411          230
209                                  경남 하동군 하동읍 군청로 23  238161          238
210                                경남 함안군 가야읍 함안대로 505  238441          239
211                                  경남 함양군 함양읍 고운로 35  238451          240
212                                  경남 합천군 합천읍 중앙로 61  238511          242
213                           경북 경산시 중방동 708-5 남매로 158  437171           12
214                                  경북 경주시 경감로 587-18  437123           13
215                          경북 경주시 성건동 667-3(성건동주민센터)  437122           13
216                               경북 경주시 안강읍 비화동길 9-40  437124           13
217                                경북 경주시 외동읍 입실로3길 31  437125           13
218                                 경북 고령군 대가야읍 성산로 46  437551           16
219                       경북 구미시 공단동 256-18 (근로자종합복지회)  437151           37
220                      경북 구미시 산동면 봉산리 567(첨단기업1로 17)  437154           37
221                          경북 구미시 원평동 56-4(구미중앙로 24)  437152           37
222                            경북 구미시 형곡동 142(구미시립도서관)  437153           37
223                                 경북 군위군 군위읍 군청로 158  437561           39
224                                  경북 김천시 공단2길 30-22  437132           46
225                                       경북 김천시 운동장길1  437131           46
226                                     경북 김천시 혁신4로 21  437133           46
227                                     경북 문경시 시청2길 45  437211           82
228                                경북 봉화군 석포면 석포로1길 55  437431           88
229                                      경북 상주시 북천로 63  437181          103
230                               경북 안동시 퇴계로 115 (명륜동)  437141          134
231                                 경북 영덕군 영덕읍 삼근길 6-7  437201          152
232                                     경북 영덕군 지품면 신안리  437371          152
233                                     경북 영주시 가흥로 263  437161          159
234                                      경북 영천시 시청로 23  437402          160
235                                         경북 영천시 화북면  437401          160
236                                      경북 울릉군 서면 태하리  437541          999
237                                 경북 울릉군 울릉읍 도동2길 65  437542          999
238                                경북 울진군 울진읍 읍내10길 19  437421          174
239                               경북 의성군 안계면 위양2길 9-26  437411          180
240                                  경북 의성군 의성읍 군청길 31  437412          180
241                                경북 청도군 화양읍 도주관로 159  437591          218
242                                경북 칠곡군 왜관읍 관문로1길 30  437191          227
243                      경북 포항시 남구 대도동 111-6(상대2동주민센터)  437114          235
244                      경북 포항시 남구 대도동 111-6(상대동평생학습관)  437114          235
245                   경북 포항시 남구 대송면 장동홍계길19 (대송면사무소 내)  437115          235
246                        경북 포항시 남구 대송면 철강산단로130번길 29  437116          235
247                                   경북 포항시 남구 신항로 10  437119          235
248                        경북 포항시 남구 오천읍 냉천로320번길 4-11  437118          235
249                            경북 포항시 남구 철강로 331 공단정수장  437112          235
250                                   경북 포항시 남구 축항로 55  437117          235
251                             경북 포항시 북구 삼흥로 98 북구보건소  437113          236
252                                   경상남도 거제시 계룡로 125  238203          999
253                                경상남도 거창군 남상면 인평길 36  238481           11
254                                경상남도 고성군 고성읍 중앙로 35  238421           18
255                             경상남도 남해군 남해읍 남해대로 2745  238461          999
256                                   경상남도 밀양시 중앙로 346  238401           84
257                                   경상남도 사천시 향촌5길 28  238212           99
258                               경상남도 양산시 물금읍 황산로 384  238363          141
259                                  경상남도 양산시 북안남5길 21  238361          141
260                                   경상남도 양산시 삼호9길 11  238362          141
261                              경상남도 진주시 정촌면 예하리 1340  238134          207

In [588]:
# merge with qgis_지도_idx

map_air_idx = pd.merge(idx, air_2020_idx_zio, left_on='OBJECTID(air_out_idx)', right_on='air_out_idx')
map_air_idx

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드,주소,측정소코드,air_out_idx
0,31370,가평군,1,1,NaN,NaN,41820,경기도 가평군 가평읍 석봉로 181,131611,1
1,31370,가평군,1,1,NaN,NaN,41820,경기도 가평군 설악면 한서로 8,131612,1
2,11230,강남구,2,1,NaN,NaN,11680,서울 강남구 도산대로 104,111263,2
3,11230,강남구,2,1,NaN,NaN,11680,서울 강남구 학동로 426,111261,2
4,11250,강동구,3,1,NaN,NaN,11740,서울 강동구 구천면로 42길 59,111274,3
...,...,...,...,...,...,...,...,...,...,...
624,32370,화천군,249,0,NaN,NaN,42790,강원도 화천군 화천읍 풍산리 산269,132992,249
625,32370,화천군,249,0,NaN,NaN,42790,강원도 화천군 화천읍 화천새싹길 45,632501,249
626,32320,횡성군,250,0,NaN,NaN,42730,강원 횡성군 강림면 강림리(치악산),632431,250
627,32320,횡성군,250,0,NaN,NaN,42730,강원 횡성군 횡성읍 중앙로 30,632432,250
628,32320,횡성군,250,0,NaN,NaN,42730,강원도 횡성군 횡성읍 중앙로 30,632432,250

In [931]:
map_air_idx.drop_duplicates(subset=['air_out_idx'], inplace = True)   # 240개 확인
map_air_idx.reset_index(drop = True, inplace = True)
map_air_idx

,법정동코드,주소,측정소코드,air_out_idx
0,41820,경기도 가평군 가평읍 석봉로 181,131611,1
1,11680,서울 강남구 도산대로 104,111263,2
2,11740,서울 강동구 구천면로 42길 59,111274,3
3,42150,강원 강릉시 경강로 2179(옥천동 327-2),632132,4
4,11305,서울 강북구 삼양로 139길 49,111291,5
5,11500,서울 강서구 강서로 45 다길 71 화곡3동,111212,6
6,26440,부산 강서구 녹산산단 382로 49번길 39,221212,7
7,46810,전남 강진군 강진읍 동성로 72,336541,8
8,48880,경남 거창군 거창읍 거열로 90,238431,11
9,47290,경북 경산시 중방동 708-5 남매로 158,437171,12
10,47130,경북 경주시 경감로 587-18,437123,13
11,44250,충남 계룡시 엄사면 번영7길 17,534510,14
12,28245,인천 계양구 계양산로134번길 18(계산동),823662,15
13,47830,경북 고령군 대가야읍 성산로 46,437551,16
14,42820,강원 고성군 간성읍,632421,17
15,48820,경남 고성군 고성읍 중앙로 35,238421,18
16,41281,경기 고양시 덕양구 신원2로 24,131384,19
17,41285,경기 고양시 일산동구 위시티로 151,131382,20
18,41287,경기 고양시 일산서구 주엽로 104,131385,21
19,45790,전라북도 고창군 고창읍 월곡공원1길 36,735161,22
20,46770,전남 고흥군 고흥읍 터미널길 11,336511,23
21,46720,전남 곡성군 곡성읍 학정3길 6,336551,24
22,44150,충남 공주시 봉황로 1,534342,25
23,41290,경기 과천시 상하벌로 17,131202,26
24,11620,서울 관악구 신림동길 14,111251,27
25,41210,경기 광명시 소하일로 7,131163,28
26,29200,광주 광산구 광산로 70,324141,29
27,46230,전남 광양시 광양읍 인덕로 1100(칠성리),336355,30
28,41610,경기 광주시 중앙로 128,131392,31
29,11215,서울특별시 광진구 광나루로 571,111141,32
30,43760,충북 괴산군 괴산읍 서부리 377-1,633362,33
31,46730,전남 구례군 구례읍 동편제길 30,336561,34
32,11530,서울 구로구 가마산로 27길 45,111221,35
33,41310,경기 구리시 동구릉로 217-14,131212,36
34,47190,경북 구미시 공단동 256-18 (근로자종합복지회),437151,37
35,45130,전라북도 군산시 번영로 339-5,735123,38
36,47720,경북 군위군 군위읍 군청로 158,437561,39
37,41410,경기 군포시 산본로197번길 36,131501,40
38,44710,충남 금산군 금산읍 비호로 69,534501,41
39,26410,부산 금정구 부곡로156번길 7,221251,42
40,11545,서울 금천구 금하로21길 20,111281,43
41,26710,부산 기장군 기장읍 읍내로 69,221231,44
42,45210,전북 김제시 요촌중길 50,735181,45
43,47150,경북 김천시 공단2길 30-22,437132,46
44,41570,경기 김포시 고촌읍 신곡로 152,131472,47
45,48250,경남 김해시 장유동 능동로 149,238183,48
46,46170,전남 나주시 빛가람로 719,336141,49
47,26290,부산 남구 수영로 196번길 80,221172,50
48,27200,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
49,29155,광주 남구 회서로 21번가길 13,324155,52
50,31140,울산 남구 대암로 90번길 27,238124,53
51,28200,인천 남동구 구월말로 7(구월동),823631,54
52,41360,경기 남양주시 경춘로 1037,131241,55
53,45190,전북 남원시 죽항동 비석길 72 죽항동주민센터 옥상,735151,56
54,11350,서울 노원구 상계로 118,111311,58
55,44230,충남 논산시 시민로,534451,59
56,43800,충북 단양군 단성면 충혼로 52-1,633312,60
57,27290,대구 달서구 성서공단로 11길 32 대구기계부품연구원 1동 옥상,422171,61
58,27710,대구 달성군 다사읍 매곡로12길 37,422205,62
59,46710,전라남도 담양군 담양읍 면앙정로 730,336151,63
60,44270,충남 당진시 송산면 유곡로 342-27,534433,64
61,30230,대전 대덕구 대전로 1331번길 75(태아산업(주)),525111,65
62,11320,서울 도봉구 시루봉로2길 34,111171,66
63,26170,부산 동구 구청로 1,221241,67
64,27140,대구 동구 서호동 25-1(안심로49길 70),422121,68
65,28140,인천 동구 금곡로 67(송림동),823621,69
66,29110,광주 동구 서남로 1,324115,70
67,30110,대전 동구 계족로 368번길 70(성남동 주민센터),525161,71
68,31170,울산 동구 대송5길 10,238120,72
69,11230,서울 동대문구 천호대로13길 43,111152,73
70,41250,경기 동두천시 싸리말로 28,131571,74
71,26260,부산 동래구 명장로 32,221163,75
72,11590,서울 동작구 동작대로 144,111242,76
73,42170,강원 동해시 천곡로 77(천곡동 806),632151,77
74,11440,서울 마포구 노고산동 57-62,111202,78
75,46110,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
76,46840,전남 무안군 무안읍 성내1길 2,336531,80
77,45730,전라북도 무주군 무주읍 향학로 49,735371,81
78,47280,경북 문경시 시청2길 45,437211,82
79,28177,인천 미추홀구 독정안길 26,823632,83
80,48270,경남 밀양시 중앙로,238401,84
81,44180,충남 보령시 오천면 외연도리 산64,534484,85
82,46780,전남 보성군 벌교읍 체육공원길 35,336571,86
83,43720,충북 보은군 보은읍 삼산로 50,633491,87
84,47920,경북 봉화군 석포면 석포로1길 55,437431,88
85,26230,부산 부산진구 개금온정로17번길 51,221283,89
86,45800,전북 부안군 변산면 새만금로,735172,90
87,44760,충남 부여군 부여읍 사비로 36,534411,91
88,41190,경기 부천시 경인옛로 73,831151,92
89,28237,인천 부평구 광장로 지하15(부평동),823634,93
90,26320,부산 북구 덕천2길 10,221182,94
91,27230,대구 북구 노원동 3가 262번지(삼영초등학교)(3공단로 14길 31),422153,95
92,29170,광주 북구 군왕로 141번길 6 (두암보건지소),324133,96
93,31200,울산 북구 염포로 290,238130,97
94,26530,부산 사상구 대동로 205,221181,98
95,48240,경남 사천시 사천읍 읍내로 52,238211,99
96,26380,부산 사하구 장림로 161번길 2,221202,100
97,48860,경남 산청군 산청읍 산엔청로 6,238471,101
98,42230,강원 삼척시 남양길 11(남양동 331-9),632161,102
99,47250,경북 상주시 북천로 63,437181,103
100,26140,부산 서구 대신로 150,221281,104
101,27170,대구 서구 이현동 48-60 (중리초등학교)(국채보상로 135),422132,105
102,28260,인천 서구 거북로 116(석남동),823681,106
103,29140,광주 서구 상무대로 1165 (광주시립미술관 상록전시관 단독건물),324121,107
104,30170,대전 서구 둔산서로 84(근로자 종합복지회관),525172,108
105,11410,서울 서대문구 세검정로4길 32(홍제3동 주민센터),111191,110
106,44210,충남 서산시 대산읍 충의로 1942,534423,111
107,44770,충남 서천군 서면 서인로 761,735521,112
108,11650,서울 서초구 신반포로15길 16,111262,113
109,41135,경기 성남시 분당구 돌마로 242,131123,114
110,41131,경기 성남시 수정구 성남대로 1229,131125,115
111,41133,경기 성남시 중원구 둔촌대로 425,131129,116
112,11200,서울 성동구 강변북로 257,111143,117
113,11290,서울 성북구 돈암동 8-164번지,111162,118
114,47840,경상북도 성주군 성주읍 성주로 3258,437221,119
115,36110,세종 누리로 27,541113,120
116,42210,강원 속초시 중앙시장로 43,632461,121
117,11710,서울 송파구 백제고분로 236,111273,122
118,27260,대구 수성구 노변공원로 52,422203,123
119,26500,부산 수영구 광안로21번가길 57,221271,124
120,41113,경기 수원시 권선구 서부로 1600,131117,125
121,41117,경기 수원시 영통구 법조로 129,131113,126
122,41111,경기 수원시 장안구 서부로 2066,131115,127
123,41115,경기 수원시 팔달구 신풍로 23번길 68,131111,128
124,45770,전라북도 순창군 순창읍 경천로 33,735381,129
125,46150,전남 순천시 순천만길 513-25(대대동),336133,130
126,41390,경기 시흥시 공단1대로 204,131232,131
127,46910,전남 신안군 안좌면 중부로 860,336521,132
128,44200,충남 아산시 도고면 기곡리 296-4,534443,133
129,47170,경북 안동시 퇴계로 115 (명륜동),437141,134
130,41273,경기 안산시 단원구 대부중앙로 97-9,131196,135
131,41271,경기 안산시 상록구 각골길 75,131193,136
132,41550,경기 안성시 시청길 25,131581,137
133,41173,경기 안양시 동안구 경수대로 665번길 11,131144,138
134,41171,경기 안양시 만안구 안양로 384번길 50,131145,139
135,42800,강원 양구군 방산면 송현1리,132401,140
136,48330,경남 양산시 북부동 북안남 5번길 21,238361,141
137,42830,강원 양양군 양양읍 남문로 39,632451,142
138,41630,경기 양주시 고읍남로 205,131562,143
139,11470,서울 양천구 중앙로52길 56,111301,144
140,41830,경기 양평군 용문면 용문로 395,131621,145
141,46130,전남 여수시 덕충안길 95,336128,146
142,41670,경기 여주시 여흥로11번길 26,131591,147
143,28185,인천 연수구 갯벌로 12,823706,148
144,26470,부산 연제구 중앙대로 1001,221221,149
145,41800,경기 연천군 연천읍 차현로 58,131601,150
146,46870,전남 영광군 낙월면 영외리 산 118,336462,151
147,47770,경북 영덕군 영덕읍 삼근길 6-7,437201,152
148,43740,충북 영동군 영동읍 계산로2길 25,633471,154
149,11560,서울 영등포구 영중로 37,111232,155
150,46830,전남 영암군 삼호읍 나불로 192(나불리),336441,156
151,47760,경상북도 영양군 영양읍 군청길 37,437571,157
152,42750,강원 영월군 영월읍 팔괴로 7-3,632491,158
153,47210,경북 영주시 가흥로 263,437161,159
154,47230,경북 영천시 시청로 23,437402,160
155,44810,충남 예산군 예산읍 신흥길 63,534471,161
156,47900,경상북도 예천군 호명면 행복7길 25-4,437581,162
157,41370,경기 오산시 경기동로 51,131531,163
158,43730,충북 옥천군 옥천읍 중앙로 99(옥천군청 통합관제 센터 옥상),634111,164
159,45710,전라북도 완주군 봉동읍 삼봉로 933,735192,167
160,11170,서울 용산구 한강대로 405,111122,168
161,41463,경기 용인시 기흥구 관곡로 95,131413,169
162,41465,경기 용인시 수지구 수지로 342번길3,131412,170
163,41461,경기 용인시 처인구 금령로 50,131411,171
164,31710,울산 울주군 삼남면 서향교1길 67-12,238375,173
165,47930,경북 울진군 울진읍 읍내10길 19,437421,174
166,42130,강원 원주시 문막읍 건등로 11,632124,175
167,30200,대전 유성구 노은동로 87번길 89(노은1동 주민센터),525142,176
168,11380,서울 은평구 진흥로 215,111181,177
169,43770,충북 음성군 금왕읍 무극로,633461,178
170,48720,경남 의령군 의령읍 의병로8길 44,238491,179
171,47730,경북 의성군 안계면 위양2길 9-26,437411,180
172,41430,경기 의왕시 시청로 11,131223,181
173,41150,경기 의정부시 가능로152번길 14,131132,182
174,41500,경기 이천시 설성면 신필리,131441,183
175,45140,전라북도 익산시 함열읍 함열중앙로 83,735136,184
176,42810,강원 인제군 인제읍 비봉로44번길 93,632521,185
177,45750,전라북도 임실군 관촌면 사선1길 13,735362,186
178,46880,전남 장성군 장성읍 영천로 211,336161,187
179,45740,전라북도 장수군 장수읍 호비로 10,735391,188
180,46800,전남 장흥군 장흥읍 흥성로 23,336471,189
181,45113,전라북도 전주시 덕진구 동부대로 1183,735115,190
182,45111,전북 전주시 완산구 물왕멀3길 29,335115,191
183,42770,강원 정선군 북평면 남평리,632371,192
184,45180,전라북도 정읍시 신태인읍 신태인중앙로 14,735142,193
185,43150,"충북 제천시 장락동 672-8(내제로 318),(시립도서관 주차장 옆, 화단)",633131,195
186,11110,서울 종로구 종로 169,111125,196
187,11140,서울 중구 덕수궁길 15,111121,197
188,26110,부산 중구 광복로 55번길 10,221112,198
189,27110,대구 중구 수창동 73 (수창초등학교)(달성로 22길 30),422114,199
190,28110,인천 중구 서해대로 471(신흥동 2가),823611,200
191,30140,대전 중구 보문로 20번길 38(문창동 주민센터),525121,201
192,31110,울산 중구 새즈믄해거리 28,238121,202
193,11260,서울 중랑구 용마산로 369,111151,203
194,43745,충북 증평군 증평읍 송산리 123-2,633481,204
195,45720,전북 진안군 진안읍 진무로 1189,735201,206
196,48170,경남 진주시 동진로 279,238133,207
197,43750,충북 진천군 진천읍 상산로 65 읍내리 370-1,633411,208
198,48740,경남 창녕군 창녕읍 우포2로 1189-35,238501,209
199,48125,경남 창원시 마산합포구 월영동16길 22,238152,210
200,48127,경남 창원시 마산회원구 봉암로 148,238112,211
201,48123,경남 창원시 성산구 공단로 303,238142,212
202,48121,경남 창원시 의창구 대산면 갈전로99번길 100,238241,213
203,48129,경남 창원시 진해구 경화로16번길 31,238151,214
204,44131,충남 천안시 동남구 복자1길 24 문성어린이집,534111,215
205,44133,충남 천안시 서북구 성거읍 천흥8길 7,534115,216
206,42780,강원 철원군 갈말읍 삼부연로 51,632472,217
207,47820,경북 청도군 화양읍 도주관로 159,437591,218
208,47750,경상북도 청송군 청송읍 금월로 230,735601,219
209,44790,충남 청양군 청양읍 칠갑산로7길 54,534502,220
210,43111,충북 청주시 상당구 교동로139번길 20,533114,221
211,43112,충북 청주시 서원구 원흥로 81,633213,222
212,43114,"충북 청주시 청원구 사천동 233-223번지(사뜸로 61번길 88-14), 청주청원...",533113,223
213,43113,충북 청주시 흥덕구 복대동,533116,224
214,42110,강원 춘천시 외솔길 17(석사동 322-1),132113,225
215,43130,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),633123,226
216,47850,경북 칠곡군 왜관읍 관문로1길 30,437191,227
217,42190,강원 태백시 태붐로 21,632511,228
218,44825,충남 태안군 근흥면 가의도길 44-71번지,534464,229
219,48220,경남 통영시 안개4길,238411,230
220,41480,경기 파주시 군내면 통일촌길,131373,231
221,42760,강원 평창군 평창읍 종부로 61(종부리 504),632171,232
222,41220,경기 평택시 안중읍 안현로 400,131342,233
223,41650,경기 포천시 관인면,131451,234
224,47111,경북 포항시 남구 대도동 111-6(상대2동주민센터),437114,235
225,47113,경북 포항시 북구 삼흥로 98 북구보건소,437113,236
226,41450,경기 하남시 대청로 10,131541,237
227,48850,경남 하동군 하동읍 군청로 23,238161,238
228,48730,경남 함안군 가야읍 함안대로 505,238441,239
229,48870,경남 함양군 함양읍 고운로 35,238451,240
230,46860,전남 함평군 함평읍 중앙길 39,336501,241
231,48890,경남 합천군 합천읍 중앙로 61,238511,242
232,46820,전남 해남군 해남읍 남부순환로 114,336361,243
233,26350,부산 해운대구 양운로 91,221192,244
234,44800,충남 홍성군 홍북읍 홍예공원로 8,534492,245
235,42720,강원 홍천군 홍천읍 연봉동로 27,632481,246
236,41590,경기 화성시 남양읍 남양성지로 192-5,131551,247
237,46790,전남 화순군 북면 송단리,336451,248
238,42790,강원 화천군 화천읍 화천새싹길 45,632501,249
239,42730,강원 횡성군 강림면 강림리(치악산),632431,250

In [932]:
# 겹치는 column drop

map_air_idx.drop(columns = {'SIGUNGU_CD', 'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'check(수도권=1)', 'location', 'SOCIAL'}, inplace = True)
map_air_idx

KeyError: "['location' 'check(수도권=1)' 'SIGUNGU_CD' 'OBJECTID(air_out_idx)'\n 'SIGUNGU_NM' 'SOCIAL'] not found in axis"

In [ ]:
# # merge group_hospital_idx with air, map idx

# group_hospital_idx_air = pd.merge(group_hospital_idx, map_air_idx, on='법정동코드', how='left')
# group_hospital_idx_air

In [591]:
# merge group_patient_idx with air, map idx

group_patient_idx_air = pd.merge(group_patient_idx, map_air_idx, on='법정동코드', how='left')
group_patient_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,주소,측정소코드,air_out_idx
0,2008-01-01,11680,서울 강남구,1.0,11230,강남구,2,1,NaN,NaN,서울 강남구 도산대로 104,111263,2
1,2008-01-01,43750,충북 진천군,1.0,33350,진천군,208,0,NaN,NaN,충북 진천군 진천읍 상산로 65 읍내리 370-1,633411,208
2,2008-01-01,47280,경북 문경시,1.0,37090,문경시,82,0,NaN,NaN,경북 문경시 시청2길 45,437211,82
3,2008-01-01,41500,경기 이천시,0.0,31210,이천시,183,1,NaN,NaN,경기 이천시 설성면 신필리,131441,183
4,2008-01-01,26410,부산 금정구,0.0,21110,금정구,42,0,NaN,NaN,부산 금정구 부곡로156번길 7,221251,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052155,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN,경기 안성시 시청길 25,131581,137
1052156,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN,광주 동구 서남로 1,324115,70
1052157,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN,인천 연수구 갯벌로 12,823706,148
1052158,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1052159,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN,인천 미추홀구 독정안길 26,823632,83

In [592]:
240 * 4384

1052160

In [593]:
# 필요 없는 칼럼 한번 다시 정리

# group_hospital_idx_air.drop(columns = {'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'location', 'SOCIAL'}, axis = 1, inplace = True)
group_patient_idx_air.drop(columns = {'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'location', 'SOCIAL'}, axis = 1, inplace = True)

In [594]:
group_patient_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,111263,2
1,2008-01-01,43750,충북 진천군,1.0,33350,0,충북 진천군 진천읍 상산로 65 읍내리 370-1,633411,208
2,2008-01-01,47280,경북 문경시,1.0,37090,0,경북 문경시 시청2길 45,437211,82
3,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,131441,183
4,2008-01-01,26410,부산 금정구,0.0,21110,0,부산 금정구 부곡로156번길 7,221251,42
...,...,...,...,...,...,...,...,...,...
1052155,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137
1052156,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70
1052157,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148
1052158,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1052159,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83

In [603]:
# group_patient_idx_air summary

print('patient <측정소코드> unique values: ', len(group_patient_idx_air['측정소코드'].unique()))
print('patient <air_out_idx> unique values: ', len(group_patient_idx_air['air_out_idx'].unique()))
print('patient <count> unique values: ', group_patient_idx_air['count'].isna().sum())

patient <측정소코드> unique values:  240
patient <air_out_idx> unique values:  240
patient <count> unique values:  0

In [598]:
# 여기까지 깔끔 ~

In [ ]:
# # group_hospital_idx_air summary

# print('patient <측정소코드> unique values: ', len(group_hospital_idx_air['측정소코드'].unique()))
# print('patient <air_out_idx> unique values: ', len(group_hospital_idx_air['air_out_idx'].unique()))
# print('patient <count> unique values: ', group_hospital_idx_air['count'].isna().sum())

##### air data 불러오기

In [ ]:
# air data 불러와서 합치기 - 11분 소요

year_list = np.arange(2008, 2020, 1).tolist()
year_list = list(map(str, year_list))
year_list

air_data = pd.DataFrame()
for year in year_list: 
    air_tmp = pd.read_excel('data\\out of hospital sudden cardiac arrest\\air_year_{}.xlsx'.format(year))
    air_data = pd.concat([air_data, air_tmp], axis = 0)

In [ ]:
# air_data.to_csv('data\\out of hospital sudden cardiac arrest\\air_0819_zio.csv', encoding = 'euc-kr', index = False)

##### air - 07년도 데이터 추가

In [771]:
# 07년도 데이터 추가

air_07 = pd.read_excel('data\\out of hospital sudden cardiac arrest\\air_year_2007.xlsx')
air_07

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,NO2_median,NO2_min,NO2_max,NO2_sum,PM10_count,PM10_mean,PM10_median,PM10_min,PM10_max,PM10_sum
0,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-01,24,0.0051,0.0050,0.003,0.008,...,0.0240,0.011,0.037,0.576,24,42.2917,39.5,26.0,67.0,1015
1,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-02,24,0.0048,0.0050,0.001,0.008,...,0.0195,0.013,0.031,0.488,24,40.9167,40.0,16.0,79.0,982
2,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-03,24,0.0061,0.0060,0.004,0.010,...,0.0195,0.011,0.033,0.447,24,64.3333,64.0,45.0,88.0,1544
3,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-04,24,0.0051,0.0050,0.002,0.007,...,0.0180,0.009,0.035,0.466,24,46.7917,48.0,22.0,66.0,1123
4,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-05,24,0.0053,0.0050,0.002,0.008,...,0.0280,0.008,0.036,0.582,24,50.8333,49.0,19.0,87.0,1220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95949,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-27,24,0.0176,0.0170,0.011,0.026,...,0.0395,0.025,0.047,0.910,24,151.9583,157.0,79.0,236.0,3647
95950,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-28,24,0.0116,0.0100,0.007,0.020,...,0.0380,0.032,0.048,0.904,21,75.8571,72.0,54.0,115.0,1593
95951,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-29,24,0.0114,0.0090,0.004,0.022,...,0.0255,0.017,0.035,0.615,17,185.5294,152.0,107.0,352.0,3154
95952,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-30,24,0.0070,0.0065,0.004,0.013,...,0.0170,0.011,0.026,0.423,24,156.9167,156.0,59.0,275.0,3766
95953,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-31,24,0.0075,0.0070,0.005,0.012,...,0.0210,0.010,0.035,0.500,15,112.2000,108.0,72.0,157.0,1683

In [774]:
air_07['dt'] = air_07['dt'].astype(str)

In [777]:
# 11월, 12월만 뽑기

air_07_1112 = air_07.loc[air_07['dt'].str[0:7].isin(['2007-11', '2007-12'])]
air_07_1112

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,NO2_median,NO2_min,NO2_max,NO2_sum,PM10_count,PM10_mean,PM10_median,PM10_min,PM10_max,PM10_sum
304,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-01,24,0.0013,0.0010,0.001,0.003,...,0.0085,0.004,0.030,0.259,24,57.7917,55.0,27.0,100.0,1387
305,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-02,24,0.0011,0.0010,0.001,0.002,...,0.0175,0.006,0.037,0.421,24,40.5417,39.0,26.0,64.0,973
306,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-03,24,0.0019,0.0010,0.001,0.004,...,0.0155,0.008,0.033,0.394,24,49.4167,47.0,29.0,68.0,1186
307,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-04,24,0.0015,0.0010,0.001,0.004,...,0.0130,0.005,0.029,0.327,24,39.7500,38.0,28.0,63.0,954
308,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,...,0.0185,0.006,0.033,0.464,24,46.7917,44.5,27.0,79.0,1123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95949,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-27,24,0.0176,0.0170,0.011,0.026,...,0.0395,0.025,0.047,0.910,24,151.9583,157.0,79.0,236.0,3647
95950,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-28,24,0.0116,0.0100,0.007,0.020,...,0.0380,0.032,0.048,0.904,21,75.8571,72.0,54.0,115.0,1593
95951,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-29,24,0.0114,0.0090,0.004,0.022,...,0.0255,0.017,0.035,0.615,17,185.5294,152.0,107.0,352.0,3154
95952,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-30,24,0.0070,0.0065,0.004,0.013,...,0.0170,0.011,0.026,0.423,24,156.9167,156.0,59.0,275.0,3766
95953,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-31,24,0.0075,0.0070,0.005,0.012,...,0.0210,0.010,0.035,0.500,15,112.2000,108.0,72.0,157.0,1683

In [781]:
air_data2 = pd.concat([air_07_1112, air_data], axis = 0)
air_data2.reset_index(drop = True, inplace = True)
air_data2.to_csv('data\\out of hospital sudden cardiac arrest\\air_0711-1912_zio.csv', encoding = 'euc-kr', index = False)

##### air_data 다시 불러오기 (07.11 ~ 19.12)

In [782]:
# air_data 다시 불러오기 

air_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\air_0711-1912_zio.csv', encoding = 'euc-kr')

In [783]:
air_data

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-01,24,0.0013,0.001,0.001,0.003,...,55.0,27.0,100.0,1387,NaN,NaN,NaN,NaN,NaN,NaN
1,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-02,24,0.0011,0.001,0.001,0.002,...,39.0,26.0,64.0,973,NaN,NaN,NaN,NaN,NaN,NaN
2,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-03,24,0.0019,0.001,0.001,0.004,...,47.0,29.0,68.0,1186,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-04,24,0.0015,0.001,0.001,0.004,...,38.0,28.0,63.0,954,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,...,44.5,27.0,79.0,1123,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437562,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-27,24,0.0039,0.004,0.003,0.006,...,44.5,30.0,78.0,1100,24.0,22.0417,20.5,13.0,44.0,529.0
1437563,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-28,24,0.0041,0.004,0.003,0.006,...,54.0,30.0,85.0,1256,24.0,24.1250,23.5,14.0,36.0,579.0
1437564,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-29,24,0.0042,0.004,0.003,0.006,...,59.0,43.0,77.0,1400,24.0,33.8333,32.0,27.0,46.0,812.0
1437565,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-30,22,0.0034,0.003,0.003,0.005,...,37.0,28.0,72.0,978,24.0,27.5000,26.0,14.0,52.0,660.0
1437566,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-31,24,0.0030,0.003,0.003,0.004,...,32.0,26.0,47.0,811,24.0,14.2083,14.5,8.0,19.0,341.0

In [784]:
# '주소' 겹치니까 지우기

air_data.drop(columns = ['주소'], axis = 1, inplace = True)
air_data

,지역,측정소코드,측정소명,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,SO2_sum,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,강원 강릉시,632132,옥천동,2007-11-01,24,0.0013,0.001,0.001,0.003,0.030,...,55.0,27.0,100.0,1387,NaN,NaN,NaN,NaN,NaN,NaN
1,강원 강릉시,632132,옥천동,2007-11-02,24,0.0011,0.001,0.001,0.002,0.027,...,39.0,26.0,64.0,973,NaN,NaN,NaN,NaN,NaN,NaN
2,강원 강릉시,632132,옥천동,2007-11-03,24,0.0019,0.001,0.001,0.004,0.046,...,47.0,29.0,68.0,1186,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,2007-11-04,24,0.0015,0.001,0.001,0.004,0.035,...,38.0,28.0,63.0,954,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,0.000,...,44.5,27.0,79.0,1123,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437562,충북 충주시,633123,칠금동,2019-12-27,24,0.0039,0.004,0.003,0.006,0.093,...,44.5,30.0,78.0,1100,24.0,22.0417,20.5,13.0,44.0,529.0
1437563,충북 충주시,633123,칠금동,2019-12-28,24,0.0041,0.004,0.003,0.006,0.099,...,54.0,30.0,85.0,1256,24.0,24.1250,23.5,14.0,36.0,579.0
1437564,충북 충주시,633123,칠금동,2019-12-29,24,0.0042,0.004,0.003,0.006,0.100,...,59.0,43.0,77.0,1400,24.0,33.8333,32.0,27.0,46.0,812.0
1437565,충북 충주시,633123,칠금동,2019-12-30,22,0.0034,0.003,0.003,0.005,0.074,...,37.0,28.0,72.0,978,24.0,27.5000,26.0,14.0,52.0,660.0
1437566,충북 충주시,633123,칠금동,2019-12-31,24,0.0030,0.003,0.003,0.004,0.073,...,32.0,26.0,47.0,811,24.0,14.2083,14.5,8.0,19.0,341.0

In [785]:
air_data.isna().sum()

지역                  0
측정소코드               0
측정소명                0
dt                  0
SO2_count           0
SO2_mean        45431
SO2_median      45431
SO2_min         45431
SO2_max         45431
SO2_sum             0
CO_count            0
CO_mean         46585
CO_median       46585
CO_min          46585
CO_max          46585
CO_sum              0
O3_count            0
O3_mean         42993
O3_median       42993
O3_min          42993
O3_max          42993
O3_sum              0
NO2_count           0
NO2_mean        32031
NO2_median      32031
NO2_min         32031
NO2_max         32031
NO2_sum             0
PM10_count          0
PM10_mean       43841
PM10_median     43841
PM10_min        43841
PM10_max        43841
PM10_sum            0
PM25_count     666662
PM25_mean      977954
PM25_median    977954
PM25_min       977954
PM25_max       977954
PM25_sum       666662
dtype: int64

In [786]:
len(air_data['측정소코드'].unique())

497

In [787]:
air_data.dtypes

지역              object
측정소코드            int64
측정소명            object
dt              object
SO2_count        int64
SO2_mean       float64
SO2_median     float64
SO2_min        float64
SO2_max        float64
SO2_sum        float64
CO_count         int64
CO_mean        float64
CO_median      float64
CO_min         float64
CO_max         float64
CO_sum         float64
O3_count         int64
O3_mean        float64
O3_median      float64
O3_min         float64
O3_max         float64
O3_sum         float64
NO2_count        int64
NO2_mean       float64
NO2_median     float64
NO2_min        float64
NO2_max        float64
NO2_sum        float64
PM10_count       int64
PM10_mean      float64
PM10_median    float64
PM10_min       float64
PM10_max       float64
PM10_sum         int64
PM25_count     float64
PM25_mean      float64
PM25_median    float64
PM25_min       float64
PM25_max       float64
PM25_sum       float64
dtype: object

In [788]:
# date column 이름 맞춰주기

air_data.rename(columns = {'dt' : 'PRE_ER_ARREST_DT'}, inplace = True)

In [789]:
# 날짜 칼럼에 null 없는 거 check

air_data['PRE_ER_ARREST_DT'].isna().sum()

0

In [790]:
# datetime 으로 변경

air_data['PRE_ER_ARREST_DT'] = pd.to_datetime(air_data['PRE_ER_ARREST_DT'])

In [ ]:
# # air_hospital_final

# air_hospital_final = pd.merge(group_hospital_idx_air, air_data, on=['측정소코드', 'PRE_ER_ARREST_DT'], how = 'left')
# air_hospital_final

In [791]:
# air_patient_final

air_patient_final = pd.merge(group_patient_idx_air, air_data, on=['측정소코드', 'PRE_ER_ARREST_DT'], how = 'left')
air_patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,37.0,29.0,48.0,458.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-01,43750,충북 진천군,1.0,33350,0,충북 진천군 진천읍 상산로 65 읍내리 370-1,633411,208,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01,47280,경북 문경시,1.0,37090,0,경북 문경시 시청2길 45,437211,82,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,131441,183,경기 이천시,...,46.0,33.0,65.0,1130.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-01,26410,부산 금정구,0.0,21110,0,부산 금정구 부곡로156번길 7,221251,42,부산 금정구,...,21.0,16.0,26.0,523.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052155,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052156,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052157,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052158,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052159,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [616]:
air_patient_final.isna().sum()   # 주요 변수에 null 없는 거 확인

PRE_ER_ARREST_DT         0
법정동코드                    0
P_ADD_CITY_DIST          0
count                    0
SIGUNGU_CD               0
check(수도권=1)             0
주소                       0
측정소코드                    0
air_out_idx              0
지역                  396308
측정소명                396308
SO2_count           396308
SO2_mean            420044
SO2_median          420044
SO2_min             420044
SO2_max             420044
SO2_sum             396308
CO_count            396308
CO_mean             420863
CO_median           420863
CO_min              420863
CO_max              420863
CO_sum              396308
O3_count            396308
O3_mean             410782
O3_median           410782
O3_min              410782
O3_max              410782
O3_sum              396308
NO2_count           396308
NO2_mean            412096
NO2_median          412096
NO2_min             412096
NO2_max             412096
NO2_sum             396308
PM10_count          396308
PM10_mean           417078
PM10_median         417078
PM10_min            417078
PM10_max            417078
PM10_sum            396308
PM25_count          690277
PM25_mean           827384
PM25_median         827384
PM25_min            827384
PM25_max            827384
PM25_sum            690277
dtype: int64

In [ ]:
# # air_hospital_final summary

# print('air_hospital <air_out_idx> unique values: ', len(air_hospital_final['air_out_idx'].unique()))
# print('air_hospital <측정소코드> unique values: ',len(air_hospital_final['측정소코드'].unique()))

In [615]:
# air_patient_final summary - 240개 통일 확인

print('air_patient <air_out_idx> unique values: ', len(air_patient_final['air_out_idx'].unique()))
print('air_patient <측정소코드> unique values: ',len(air_patient_final['측정소코드'].unique()))

air_patient <air_out_idx> unique values:  240
air_patient <측정소코드> unique values:  240

#### Weather data

##### weather index 불러오기
- 수도권 71개만 있음 (air_out_idx)

In [617]:
weather_index = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_index.csv', encoding = 'euc-kr')
weather_index

       지점     지점명  air_out_idx
0     505    가평조종            1
1     505      현리            1
2     505    가평조종            1
3    1524    설악활곡            1
4    1428  명지산주차장            1
..    ...     ...          ...
843  1578     동탄2          247
844  1413      팔탄          247
845   489      서신          247
846   571      서신          247
847  1577      반월          247

[848 rows x 3 columns]

In [618]:
weather_index.drop_duplicates(subset=['지점'], inplace = True)   # 지점 기준 drop dup - 621개
weather_index.reset_index(drop = True, inplace = True)
weather_index

       지점     지점명  air_out_idx
0     505    가평조종            1
1    1524    설악활곡            1
2    1428  명지산주차장            1
3    1432    호명호수            1
4    1256      청평            1
..    ...     ...          ...
616  1509     남양동          247
617  1414      남양          247
618  1578     동탄2          247
619  1413      팔탄          247
620  1577      반월          247

[621 rows x 3 columns]

In [619]:
weather_index.drop(['지점명'], axis = 1, inplace = True)

In [620]:
weather_index

       지점  air_out_idx
0     505            1
1    1524            1
2    1428            1
3    1432            1
4    1256            1
..    ...          ...
616  1509          247
617  1414          247
618  1578          247
619  1413          247
620  1577          247

[621 rows x 2 columns]

In [621]:
len(weather_index['air_out_idx'].unique())

71

In [ ]:
# weather data 불러오기 - 11분 소요

year_list = np.arange(2008, 2020, 1).tolist()
year_list = list(map(str, year_list))
year_list

weather_data = pd.DataFrame()
for year in year_list: 
    weather_tmp = pd.read_excel('data\\out of hospital sudden cardiac arrest\\weather_day_year{}.xlsx'.format(year))
    weather_data = pd.concat([weather_data, weather_tmp], axis = 0)

In [ ]:
# weather_data.to_csv('data\\out of hospital sudden cardiac arrest\\weather_0819_zio.csv', encoding = 'euc-kr', index = False)

##### weather_07 데이터 추가

In [801]:
weather_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_0819_zio.csv', encoding = 'euc-kr')

In [802]:
weather_07 = pd.read_excel('data\\out of hospital sudden cardiac arrest\\weather_day_year2007.xlsx')
weather_07

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,12,안면도(감),2007-01-05,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,3,0.0,0.0,0.0,0.0,0.0
1,12,안면도(감),2007-01-10,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,2,0.0,0.0,0.0,0.0,0.0
2,12,안면도(감),2007-02-10,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0
3,12,안면도(감),2007-05-11,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0
4,12,안면도(감),2007-11-13,10,12.1,12.25,10.2,13.9,121.4,10,...,0.0,0.0,0.0,0.0,10,68.0,66.5,60.1,85.4,680.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200609,978,춘천신북,2007-12-24,0,NaN,NaN,NaN,NaN,0.0,1,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200610,978,춘천신북,2007-12-26,0,NaN,NaN,NaN,NaN,0.0,4,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200611,978,춘천신북,2007-12-29,0,NaN,NaN,NaN,NaN,0.0,5,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200612,978,춘천신북,2007-12-30,0,NaN,NaN,NaN,NaN,0.0,15,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200613,978,춘천신북,2007-12-31,0,NaN,NaN,NaN,NaN,0.0,6,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0

In [804]:
# 11월, 12월만 뽑기

weather_07['dt'] = weather_07['dt'].astype(str)
weather_07_1112 = weather_07.loc[weather_07['dt'].str[0:7].isin(['2007-11', '2007-12'])].copy()
weather_07_1112.sort_values(by='dt', inplace = True)
weather_07_1112

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
108290,650,양지,2007-11-01,24,5.8,6.55,-1.4,10.6,139.0,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
84202,583,안흥,2007-11-01,24,6.3,6.90,-0.5,9.6,150.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
30591,300,말도,2007-11-01,24,12.1,11.80,10.6,15.0,291.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
186430,917,사천,2007-11-01,24,11.6,10.80,6.4,17.5,279.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
164832,826,신녕,2007-11-01,24,10.7,11.50,5.1,14.4,257.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66745,534,장호원,2007-12-31,24,-4.9,-5.70,-6.8,-1.9,-117.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
67110,535,서석,2007-12-31,24,-7.8,-8.20,-10.5,-5.0,-186.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
168542,836,현서,2007-12-31,24,-6.4,-6.85,-8.8,-3.1,-153.8,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
135698,746,땅끝,2007-12-31,24,0.7,0.85,-0.8,3.0,17.8,24,...,0.0,0.0,0.5,1.5,24,0.0,0.0,0.0,0.0,0.0
200613,978,춘천신북,2007-12-31,0,NaN,NaN,NaN,NaN,0.0,6,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0

In [805]:
weather_data2 = pd.concat([weather_07_1112, weather_data], axis = 0)
weather_data2.reset_index(drop = True, inplace = True)
weather_data2.to_csv('data\\out of hospital sudden cardiac arrest\\weather_0711-1912_zio.csv', encoding = 'euc-kr', index = False)

##### weather_data 다시 불러오기 (07.11 ~ 19.12)

In [806]:
weather_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_0711-1912_zio.csv', encoding = 'euc-kr')

In [800]:
weather_data

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,12,안면도(감),2007-11-13,10,12.1,12.25,10.2,13.9,121.4,10,...,0.0,0.0,0.0,0.0,10,68.0,66.50,60.1,85.4,680.5
1,12,안면도(감),2007-11-14,24,12.6,13.70,9.6,15.0,302.0,24,...,0.0,0.0,0.0,0.0,24,78.2,76.65,61.5,94.1,1876.5
2,12,안면도(감),2007-11-15,24,11.0,10.80,8.0,14.5,264.2,24,...,0.0,0.0,0.0,0.0,24,69.6,68.45,56.3,84.5,1670.2
3,12,안면도(감),2007-11-16,23,7.0,6.90,5.3,9.2,160.0,24,...,0.0,0.0,0.0,0.0,23,55.8,56.70,44.4,66.4,1283.1
4,12,안면도(감),2007-11-17,24,8.8,9.55,5.6,11.7,212.0,24,...,0.0,0.0,1.0,1.5,24,60.6,60.15,45.6,83.6,1453.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593804,980,강정,2019-12-27,24,5.3,5.20,4.3,6.7,127.3,24,...,0.0,0.0,0.0,0.0,24,57.6,57.00,51.9,66.8,1381.9
2593805,980,강정,2019-12-28,24,6.0,5.55,1.4,10.6,143.7,24,...,0.0,0.0,0.0,0.0,24,68.5,67.10,53.5,83.6,1644.6
2593806,980,강정,2019-12-29,24,11.2,10.50,7.0,15.8,268.2,24,...,0.0,0.0,13.5,38.5,24,83.9,80.15,73.3,98.0,2012.7
2593807,980,강정,2019-12-30,24,12.3,12.70,8.6,14.5,294.5,24,...,0.0,0.0,0.0,0.0,24,77.7,76.90,63.2,93.2,1865.0
2593808,980,강정,2019-12-31,24,4.1,3.45,1.3,8.6,98.9,24,...,0.0,0.0,0.0,0.0,24,61.8,59.15,44.0,82.6,1482.3

In [657]:
len(weather_data['지점'].unique())

632

In [644]:
# weather_data.loc[weather_data['지점'] == 418, '지점명'].unique()

In [645]:
# len(weather_data['지점'].unique())
# len(weather_index['지점'].unique())
# len(weather_index['air_out_idx'].unique())
# a = set(weather_data['지점'].unique())
# b = set(weather_index['지점'].unique())

# len(a.intersection(b))
# a2 = set(weather_data['지점명'].unique())
# b2 = set(weather_index['지점명'].unique())

# a2.intersection(b2)
# unique_place = weather_data['지점명'].unique().tolist()
# unique_place

In [669]:
# # join key 얼마나 겹치는지 확인

# a = set(weather_index['지점'].unique())
# b = set(weather_data['지점'].unique())

# len(a.intersection(b))

95

In [675]:
# wdata_list = pd.DataFrame({'지점' : weather_data['지점'].unique().tolist(), '지점2' : weather_data['지점'].unique().tolist()})
# wdata_list

      지점  지점2
0     12   12
1     90   90
2     95   95
3     96   96
4     98   98
..   ...  ...
627  892  892
628  893  893
629  898  898
630  899  899
631  964  964

[632 rows x 2 columns]

In [678]:
# pd.set_option('display.max_rows', 1000)
# test = pd.merge(weather_index, wdata_list, on = '지점', how = 'left')
# test
# test2 = pd.merge(wdata_list, weather_index, on = '지점', how = 'left')
# test2

        지점  air_out_idx    지점2
0      505            1  505.0
1     1524            1    NaN
2     1428            1    NaN
3     1432            1    NaN
4     1256            1    NaN
5     1250            1    NaN
6     1430            1    NaN
7     1701            1    NaN
8      531            1  531.0
9     1429            1    NaN
10    1431            1    NaN
11    1539            1    NaN
12     485            1    NaN
13     486            1    NaN
14     542            1  542.0
15    1522            1    NaN
16    1521            1    NaN
17    1523            1    NaN
18    1520            1    NaN
19    1896            1    NaN
20    1252            1    NaN
21    1257            1    NaN
22    1254            1    NaN
23    1251            1    NaN
24    1191            2    NaN
25     400            2  400.0
26    1159            2    NaN
27    1102            2    NaN
28    1101            2    NaN
29    1100            2    NaN
30    1200            2    NaN
31    1208            3    NaN
32    1104            3    NaN
33     402            3  402.0
34    1175            3    NaN
35    1103            3    NaN
36    1213            3    NaN
37     424            5  424.0
38    1201            5    NaN
39    1920            5    NaN
40    1105            5    NaN
41    1165            5    NaN
42     404            6  404.0
43    1198            6    NaN
44    1106            6    NaN
45    1915            6    NaN
46    1176            6    NaN
47    1107            6    NaN
48     110            6    NaN
49    2100           15    NaN
50    2144           15    NaN
51    1275           19    NaN
52    1589           19    NaN
53    1273           19    NaN
54    1276           19    NaN
55     540           19  540.0
56    1274           19    NaN
57    1592           19    NaN
58    1702           19    NaN
59     589           19  589.0
60    1269           19    NaN
61    1493           19    NaN
62    1580           20    NaN
63    1586           20    NaN
64    1271           20    NaN
65    1495           20    NaN
66    1494           20    NaN
67     590           26  590.0
68    1480           26    NaN
69     116           26  116.0
70    1481           26    NaN
71     509           27  509.0
72    1917           27    NaN
73     425           27  425.0
74     417           27  417.0
75    1109           27    NaN
76    1203           27    NaN
77    1108           27    NaN
78    1174           27    NaN
79     437           28  437.0
80    1470           28    NaN
81    1536           28    NaN
82     453           28    NaN
83     492           28    NaN
84    1282           31    NaN
85     458           31    NaN
86    1280           31    NaN
87    1291           31    NaN
88    1283           31    NaN
89     546           31  546.0
90     460           31    NaN
91    1289           31    NaN
92    1281           31    NaN
93    1290           31    NaN
94    1286           31    NaN
95    1496           31    NaN
96    1288           31    NaN
97     459           31    NaN
98    1681           31    NaN
99    1279           31    NaN
100   1285           31    NaN
101   1287           31    NaN
102   1284           31    NaN
103   1871           31    NaN
104    413           32  413.0
105   1195           32    NaN
106   1164           32    NaN
107   1110           32    NaN
108   1199           35    NaN
109    423           35  423.0
110   1112           35    NaN
111   1156           35    NaN
112   1111           35    NaN
113    569           36  569.0
114   1548           36    NaN
115   1549           36    NaN
116   1482           36    NaN
117    368           36    NaN
118   1292           36    NaN
119   1483           36    NaN
120   1546           36    NaN
121   1552           36    NaN
122   1547           36    NaN
123   1550           36    NaN
124   1545           36    NaN
125   1551           36    NaN
126   1544           36    NaN
127    369           40    NaN
128    438           40  438.0
129   1294           40    NaN
130   1506           40    NaN
131   1505           40    NaN
132   1205           43    NaN
133   1113           43    NaN
134   1161           43    NaN
135   1296           47    NaN
136   1908           47    NaN
137   1297           47    NaN
138   1503           47    NaN
139   1704           47    NaN
140    487           47    NaN
141   1299           47    NaN
142    441           47  441.0
143    427           47  427.0
144   1439           47    NaN
145   1564           47    NaN
146   1295           47    NaN
147   1502           47    NaN
148   1504           47    NaN
149   1298           47    NaN
150   1300           47    NaN
151   1563           47    NaN
152    570           47  570.0
153   2871           54    NaN
154   2150           54    NaN
155   2102           54    NaN
156   2149           54    NaN
157   2151           54    NaN
158   2147           54    NaN
159   2130           54    NaN
160    512           54  512.0
161   2139           54    NaN
162    451           55    NaN
163   1708           55    NaN
164   1308           55    NaN
165   1895           55    NaN
166   1557           55    NaN
167   1307           55    NaN
168    541           55  541.0
169   1309           55    NaN
170   1310           55    NaN
171   1304           55    NaN
172   1305           55    NaN
173   1306           55    NaN
174   1947           55    NaN
175   1489           55    NaN
176   1312           55    NaN
177   1303           55    NaN
178   1302           55    NaN
179   1582           55    NaN
180    484           55    NaN
181   1247           55    NaN
182   1311           55    NaN
183   1248           55    NaN
184   1301           55    NaN
185   1449           55    NaN
186   1313           55    NaN
187   1115           58    NaN
188    407           58  407.0
189   1163           58    NaN
190   1918           58    NaN
191   1114           58    NaN
192   1204           58    NaN
193   1196           66    NaN
194   1116           66    NaN
195    406           66  406.0
196   1154           66    NaN
197    408           73  408.0
198   1183           73    NaN
199   1119           73    NaN
200   1910           73    NaN
201   1152           73    NaN
202   1118           73    NaN
203   1211           73    NaN
204   1513           74    NaN
205    539           74  539.0
206    454           74    NaN
207     98           74   98.0
208    477           74    NaN
209   1202           76    NaN
210    410           76  410.0
211   1121           76    NaN
212    889           76  889.0
213   1173           76    NaN
214   1120           76    NaN
215   1155           78    NaN
216   1123           78    NaN
217   1122           78    NaN
218   1187           78    NaN
219    860           78  860.0
220    411           78  411.0
221   1186           78    NaN
222   2132           83    NaN
223   2131           83    NaN
224   2101           83    NaN
225   1316           92    NaN
226   1516           92    NaN
227    433           92  433.0
228   1518           92    NaN
229   1872           92    NaN
230   1315           92    NaN
231   1440           92    NaN
232   1517           92    NaN
233   1314           92    NaN
234   1519           92    NaN
235   2153           93    NaN
236   2134           93    NaN
237   2158           93    NaN
238   2154           93    NaN
239    649           93  649.0
240   2104           93    NaN
241    511           93  511.0
242   2152           93    NaN
243   2140           93    NaN
244   2135          106    NaN
245   2136          106    NaN
246   2137          106    NaN
247   2141          106    NaN
248   2142          106    NaN
249   1124          110    NaN
250    412          110  412.0
251   1197          110    NaN
252   1160          110    NaN
253    401          113  401.0
254   1916          113    NaN
255   1125          113    NaN
256   1190          113    NaN
257   1158          113    NaN
258   1126          113    NaN
259   1323          114    NaN
260   1318          114    NaN
261    364          114    NaN
262   1459          114    NaN
263   1534          114    NaN
264   1556          114    NaN
265   1458          114    NaN
266   1535          114    NaN
267   1457          115    NaN
268    572          115  572.0
269   1461          115    NaN
270   1460          115    NaN
271   1319          115    NaN
272   1322          115    NaN
273   1317          116    NaN
274   1555          116    NaN
275   1463          116    NaN
276   1321          116    NaN
277   1320          116    NaN
278   1128          117    NaN
279   1127          117    NaN
280    421          117  421.0
281   1210          117    NaN
282   1168          117    NaN
283   1129          118    NaN
284   1912          118    NaN
285    414          118  414.0
286   1153          118    NaN
287   1130          118    NaN
288   1185          118    NaN
289   1212          122    NaN
290   1131          122    NaN
291   1166          122    NaN
292    403          122  403.0
293   1132          122    NaN
294    971          125    NaN
295    119          125  119.0
296   1328          125    NaN
297   1236          125    NaN
298   1330          125    NaN
299   1456          125    NaN
300   1727          125    NaN
301   1331          126    NaN
302   1453          126    NaN
303   1325          126    NaN
304    862          126  862.0
305    432          126    NaN
306   1324          127    NaN
307   1329          127    NaN
308   1454          127    NaN
309   1326          128    NaN
310   1450          128    NaN
311    430          128    NaN
312   1451          128    NaN
313   1455          128    NaN
314   1327          128    NaN
315   1452          128    NaN
316   1332          131    NaN
317   1487          131    NaN
318   1561          131    NaN
319   1562          131    NaN
320    565          131  565.0
321   1488          131    NaN
322    544          131  544.0
323   1333          131    NaN
324   1441          131    NaN
325   1709          131    NaN
326   1599          131    NaN
327   1334          131    NaN
328   1486          131    NaN
329   1472          135    NaN
330   1473          135    NaN
331    514          135  514.0
332   1478          135    NaN
333   1475          135    NaN
334   1442          135    NaN
335   1445          135    NaN
336   1444          135    NaN
337   1477          135    NaN
338   1479          135    NaN
339   1336          135    NaN
340   1443          135    NaN
341    545          136  545.0
342   1725          136    NaN
343   1446          136    NaN
344   1474          136    NaN
345   1476          136    NaN
346   1345          137    NaN
347    443          137    NaN
348    470          137    NaN
349    467          137    NaN
350    516          137  516.0
351   1711          137    NaN
352    469          137    NaN
353   1514          137    NaN
354    495          137  495.0
355   1343          137    NaN
356   1341          137    NaN
357   1340          137    NaN
358    468          137    NaN
359   1339          137    NaN
360   1342          137    NaN
361   1338          137    NaN
362   1337          137    NaN
363   1344          137    NaN
364   1971          137    NaN
365   1952          137    NaN
366   1467          138    NaN
367    434          138  434.0
368   1468          138    NaN
369   1350          138    NaN
370   1466          139    NaN
371   1349          139    NaN
372   1347          139    NaN
373   1469          139    NaN
374    365          139    NaN
375   1348          139    NaN
376   1922          143    NaN
377   1530          143    NaN
378   1435          143    NaN
379   1533          143    NaN
380   1924          143    NaN
381   1529          143    NaN
382   1512          143    NaN
383    598          143  598.0
384   1438          143    NaN
385   1434          143    NaN
386   1249          143    NaN
387   1433          143    NaN
388   1437          143    NaN
389   1712          143    NaN
390   1354          143    NaN
391   1923          143    NaN
392   1527          143    NaN
393   1436          143    NaN
394   1134          144    NaN
395   1133          144    NaN
396    405          144  405.0
397   1192          144    NaN
398   1162          144    NaN
399   2161          148    NaN
400   2160          148    NaN
401    631          148  631.0
402   2162          148    NaN
403   2155          148    NaN
404   2108          148    NaN
405   2143          148    NaN
406    426          150  426.0
407    456          150    NaN
408    499          150  499.0
409    538          150  538.0
410    652          150  652.0
411    692          150  692.0
412   1715          150    NaN
413   1729          150    NaN
414   1897          150    NaN
415   1898          150    NaN
416   1538          150    NaN
417   6317          150    NaN
418   1135          155    NaN
419   1136          155    NaN
420   1157          155    NaN
421    418          155  418.0
422    510          155  510.0
423   1209          155    NaN
424   1189          155    NaN
425    550          163  550.0
426   1241          163    NaN
427    446          163    NaN
428   1507          163    NaN
429   1194          168    NaN
430   1138          168    NaN
431   1167          168    NaN
432   1207          168    NaN
433    415          168  415.0
434   1137          168    NaN
435   1230          169    NaN
436   1499          169    NaN
437   1581          169    NaN
438   1231          169    NaN
439   1378          169    NaN
440   1232          169    NaN
441   1377          169    NaN
442   1447          169    NaN
443   1384          169    NaN
444   1498          170    NaN
445   1379          170    NaN
446   1385          170    NaN
447   1235          170    NaN
448   1233          170    NaN
449   1237          171    NaN
450    549          171  549.0
451    576          171  576.0
452   1381          171    NaN
453    436          171    NaN
454   1382          171    NaN
455    575          171  575.0
456   1380          171    NaN
457   1376          171    NaN
458   1229          171    NaN
459   1375          171    NaN
460   1239          171    NaN
461   1383          171    NaN
462   1948          171    NaN
463   1497          171    NaN
464   1716          171    NaN
465   1238          171    NaN
466    416          177  416.0
467   1870          177    NaN
468   1914          177    NaN
469   1172          177    NaN
470   1139          177    NaN
471   1141          177    NaN
472   1140          177    NaN
473   1921          177    NaN
474   1388          181    NaN
475    366          181    NaN
476   1876          181    NaN
477   1485          181    NaN
478   1386          181    NaN
479   1558          181    NaN
480   1590          181    NaN
481    445          181  445.0
482   1484          181    NaN
483   1387          181    NaN
484    532          182  532.0
485   1464          182    NaN
486   1465          182    NaN
487    431          182    NaN
488   1393          183    NaN
489    461          183    NaN
490   1394          183    NaN
491   1395          183    NaN
492    534          183  534.0
493   1396          183    NaN
494    440          183    NaN
495   1500          183    NaN
496   1391          183    NaN
497   1240          183    NaN
498   1389          183    NaN
499   1874          183    NaN
500    462          183    NaN
501    533          183  533.0
502   1719          183    NaN
503    203          183  203.0
504   1951          183    NaN
505   1730          183    NaN
506    108          196  108.0
507   1143          196    NaN
508    508          196  508.0
509   1214          196    NaN
510  47108          196    NaN
511   1181          196    NaN
512   1171          196    NaN
513   1142          196    NaN
514    422          196  422.0
515    420          196  420.0
516    419          197  419.0
517   1144          197    NaN
518   1151          197    NaN
519   1170          197    NaN
520    112          200  112.0
521    113          200    NaN
522    543          200  543.0
523    665          200  665.0
524   2129          200    NaN
525   2133          200    NaN
526   1169          203    NaN
527   1145          203    NaN
528   1146          203    NaN
529   1182          203    NaN
530    409          203  409.0
531   1913          203    NaN
532     99          231   99.0
533    481          231    NaN
534    482          231    NaN
535    483          231    NaN
536    503          231  503.0
537    506          231  506.0
538    567          231  567.0
539   1408          233    NaN
540  47122          233    NaN
541   1409          233    NaN
542   1404          233    NaN
543   1407          233    NaN
544   1565          233    NaN
545   1406          233    NaN
546    471          233    NaN
547   1574          233    NaN
548    472          233    NaN
549    551          233  551.0
550   1597          233    NaN
551   1573          233    NaN
552   1405          233    NaN
553   1569          233    NaN
554   1572          233    NaN
555   1571          233    NaN
556   1490          233    NaN
557   1567          233    NaN
558   1575          233    NaN
559   1540          233    NaN
560   1491          233    NaN
561   1721          233    NaN
562   4954          233    NaN
563   1570          233    NaN
564   1543          233    NaN
565   1568          233    NaN
566   1566          233    NaN
567   4953          233    NaN
568    475          234    NaN
569    568          234  568.0
570    476          234    NaN
571    504          234  504.0
572    507          234  507.0
573   1501          234    NaN
574   1532          234    NaN
575   1531          234    NaN
576   1411          234    NaN
577    599          234  599.0
578   1875          234    NaN
579   1542          234    NaN
580    473          234    NaN
581    474          234    NaN
582   1541          234    NaN
583   1410          234    NaN
584   1412          234    NaN
585   1554          237    NaN
586    428          237  428.0
587    457          237    NaN
588   1508          237    NaN
589    444          237  444.0
590    515          247  515.0
591   1595          247    NaN
592    439          247    NaN
593   1421          247    NaN
594   1576          247    NaN
595   1423          247    NaN
596   1946          247    NaN
597   1594          247    NaN
598   1417          247    NaN
599   1510          247    NaN
600   1591          247    NaN
601   1418          247    NaN
602   1511          247    NaN
603   1420          247    NaN
604    489          247    NaN
605    571          247  571.0
606   1422          247    NaN
607   1419          247    NaN
608   1426          247    NaN
609   1416          247    NaN
610    488          247    NaN
611   1723          247    NaN
612   1427          247    NaN
613   1424          247    NaN
614   1425          247    NaN
615   1415          247    NaN
616   1509          247    NaN
617   1414          247    NaN
618   1578          247    NaN
619   1413          247    NaN
620   1577          247    NaN

In [681]:
# pd.set_option("display.max_rows", 253)
weather_data_idx = pd.merge(weather_data, weather_index, on='지점', how = 'inner')
weather_data_idx

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.00,36.0,66.0,1263.0,74
1,98,동두천,2008-01-02,24,-5.6,-5.75,-11.5,1.4,-134.8,0,...,NaN,NaN,0.0,24,60.9,67.00,31.0,88.0,1461.0,74
2,98,동두천,2008-01-03,24,-1.0,-1.75,-6.5,6.2,-23.7,0,...,NaN,NaN,0.0,24,63.2,68.50,37.0,83.0,1517.0,74
3,98,동두천,2008-01-04,24,-2.1,-1.20,-7.8,4.5,-51.2,0,...,NaN,NaN,0.0,24,66.2,64.50,36.0,93.0,1590.0,74
4,98,동두천,2008-01-05,24,-1.3,-2.05,-7.0,4.6,-30.6,0,...,NaN,NaN,0.0,24,71.4,74.50,41.0,91.0,1713.0,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389180,428,하남덕풍,2019-12-27,24,-0.9,-1.20,-5.3,3.9,-21.1,24,...,0.0,0.0,0.0,24,58.1,59.75,31.1,87.8,1393.8,237
389181,428,하남덕풍,2019-12-28,24,0.4,1.35,-4.1,5.5,8.9,24,...,0.0,0.0,0.0,24,63.4,64.35,46.4,83.4,1522.3,237
389182,428,하남덕풍,2019-12-29,24,3.2,3.75,-0.2,6.6,77.4,24,...,0.0,0.5,0.5,24,66.3,68.55,47.1,91.3,1591.5,237
389183,428,하남덕풍,2019-12-30,24,3.9,4.05,-2.6,6.8,93.8,24,...,0.0,0.0,0.0,24,83.2,89.95,51.8,96.1,1996.2,237
389184,428,하남덕풍,2019-12-31,24,-6.2,-6.20,-9.5,-3.3,-148.4,24,...,0.0,0.0,0.0,24,47.0,50.30,33.8,59.4,1127.3,237

In [683]:
len(weather_data_idx['air_out_idx'].unique())

59

##### weather_data index 맞추기        
- 없는 지역은 각각 dataframe 만들어서 air_out_idx 만 지역별 idx로 바꿔주고, axis = 0으로 concat
- ex. air_out_idx == 200인 df 6개 만들어서 각각 6개 지역별 idx를 air_out_idx에 넣어줌

54,69,83,148,93,106 -> 200 데이터로 채우기

In [687]:
# df 만들기

weather_54 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_69 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_83 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_148 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_93 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_106 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()

In [688]:
# 지역별 idx 채우기

weather_54['air_out_idx'] = 54
weather_69['air_out_idx'] = 69
weather_83['air_out_idx'] = 83
weather_148['air_out_idx'] = 148
weather_93['air_out_idx'] = 93
weather_106['air_out_idx'] = 106

127,128,181 -> 125 데이터로 채우기

In [690]:
# df 만들기

weather_127 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()
weather_128 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()
weather_181 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()

In [691]:
# 지역별 idx 채우기

weather_127['air_out_idx'] = 127
weather_128['air_out_idx'] = 128
weather_181['air_out_idx'] = 181

138,139 -> 27 데이터로 채우기

In [692]:
# df 만들기

weather_138 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 27].copy()
weather_139 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 27].copy()

In [693]:
# 지역별 idx 채우기

weather_138['air_out_idx'] = 138
weather_139['air_out_idx'] = 139

15,20,47 -> 231 데이터로 채우기

In [694]:
# df 만들기

weather_15 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()
weather_20 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()
weather_47 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()

In [695]:
# 지역별 idx 채우기

weather_15['air_out_idx'] = 15
weather_20['air_out_idx'] = 20
weather_47['air_out_idx'] = 47

28,92 -> 131 데이터로 채우기

In [696]:
# df 만들기

weather_28 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 131].copy()
weather_92 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 131].copy()

In [697]:
# 지역별 idx 채우기

weather_28['air_out_idx'] = 28
weather_92['air_out_idx'] = 92

40 -> 136 데이터로 채우기

In [698]:
# df 만들기

weather_40 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 136].copy()

In [699]:
# 지역별 idx 채우기

weather_40['air_out_idx'] = 40

169,170 -> 126 데이터로 채우기

In [700]:
# df 만들기

weather_169 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 126].copy()
weather_170 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 126].copy()

In [701]:
# 지역별 idx 채우기

weather_169['air_out_idx'] = 169
weather_170['air_out_idx'] = 170

114 -> 115 데이터로 채우기

In [722]:
# df 만들기

weather_114 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 115].copy()

In [724]:
# 지역별 idx 채우기

weather_114['air_out_idx'] = 114

237,122 -> 3 데이터로 채우기

In [703]:
# df 만들기

weather_237 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 3].copy()
weather_122 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 3].copy()

In [704]:
# 지역별 idx 채우기

weather_237['air_out_idx'] = 237
weather_122['air_out_idx'] = 122

113 -> 2 데이터로 채우기

In [705]:
# df 만들기

weather_113 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 2].copy()

In [706]:
# 지역별 idx 채우기

weather_113['air_out_idx'] = 113

168,177 -> 78 데이터로 채우기

In [707]:
# df 만들기

weather_168 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 78].copy()
weather_177 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 78].copy()

In [708]:
# 지역별 idx 채우기

weather_168['air_out_idx'] = 168
weather_177['air_out_idx'] = 177

43 -> 35 데이터로 채우기

In [709]:
# df 만들기

weather_43 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 35].copy()

In [710]:
# 지역별 idx 채우기

weather_43['air_out_idx'] = 43

110,197 -> 196 데이터로 채우기

In [711]:
# df 만들기

weather_110 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 196].copy()
weather_197 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 196].copy()

In [712]:
# 지역별 idx 채우기

weather_110['air_out_idx'] = 110
weather_197['air_out_idx'] = 197

144,6 -> 155 데이터로 채우기

In [713]:
# df 만들기

weather_144 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 155].copy()
weather_6 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 155].copy()

In [714]:
# 지역별 idx 채우기

weather_144['air_out_idx'] = 144
weather_6['air_out_idx'] = 6

만든 데이터 다 concat

In [726]:
weather_data_idx_final = pd.concat([weather_data_idx, 
weather_54, weather_69, weather_83, weather_148, weather_93, weather_106,
weather_127, weather_128, weather_181,
weather_138, weather_139,
weather_15, weather_20, weather_47,
weather_28, weather_92,
weather_40,
weather_169, weather_170,
weather_114,
weather_237, weather_122,
weather_113,
weather_168, weather_177,
weather_43,
weather_110, weather_197, 
weather_144, weather_6
], axis = 0)

In [727]:
weather_data_idx_final

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.0,36.0,66.0,1263.0,74
1,98,동두천,2008-01-02,24,-5.6,-5.75,-11.5,1.4,-134.8,0,...,NaN,NaN,0.0,24,60.9,67.0,31.0,88.0,1461.0,74
2,98,동두천,2008-01-03,24,-1.0,-1.75,-6.5,6.2,-23.7,0,...,NaN,NaN,0.0,24,63.2,68.5,37.0,83.0,1517.0,74
3,98,동두천,2008-01-04,24,-2.1,-1.20,-7.8,4.5,-51.2,0,...,NaN,NaN,0.0,24,66.2,64.5,36.0,93.0,1590.0,74
4,98,동두천,2008-01-05,24,-1.3,-2.05,-7.0,4.6,-30.6,0,...,NaN,NaN,0.0,24,71.4,74.5,41.0,91.0,1713.0,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206933,510,영등포,2019-12-27,24,-0.1,0.25,-2.9,3.0,-2.9,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
206934,510,영등포,2019-12-28,24,2.7,2.60,-1.0,6.1,65.2,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
206935,510,영등포,2019-12-29,24,4.8,4.90,2.9,7.0,115.8,24,...,0.0,0.5,1.0,0,NaN,NaN,NaN,NaN,0.0,6
206936,510,영등포,2019-12-30,24,4.2,5.50,-3.6,7.5,101.6,24,...,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,0.0,6
206937,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

##### 최종 air_out_idx 개수 확인

In [728]:
len(weather_data_idx_final['air_out_idx'].unique())

71

In [730]:
# 열 이름 통일

weather_data_idx_final.rename(columns = {'dt': 'PRE_ER_ARREST_DT'}, inplace = True)
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.0,36.0,66.0,1263.0,74
1,98,동두천,2008-01-02,24,-5.6,-5.75,-11.5,1.4,-134.8,0,...,NaN,NaN,0.0,24,60.9,67.0,31.0,88.0,1461.0,74
2,98,동두천,2008-01-03,24,-1.0,-1.75,-6.5,6.2,-23.7,0,...,NaN,NaN,0.0,24,63.2,68.5,37.0,83.0,1517.0,74
3,98,동두천,2008-01-04,24,-2.1,-1.20,-7.8,4.5,-51.2,0,...,NaN,NaN,0.0,24,66.2,64.5,36.0,93.0,1590.0,74
4,98,동두천,2008-01-05,24,-1.3,-2.05,-7.0,4.6,-30.6,0,...,NaN,NaN,0.0,24,71.4,74.5,41.0,91.0,1713.0,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206933,510,영등포,2019-12-27,24,-0.1,0.25,-2.9,3.0,-2.9,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
206934,510,영등포,2019-12-28,24,2.7,2.60,-1.0,6.1,65.2,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
206935,510,영등포,2019-12-29,24,4.8,4.90,2.9,7.0,115.8,24,...,0.0,0.5,1.0,0,NaN,NaN,NaN,NaN,0.0,6
206936,510,영등포,2019-12-30,24,4.2,5.50,-3.6,7.5,101.6,24,...,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,0.0,6
206937,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [731]:
71 * 4384

311264

In [732]:
# 날짜 기준으로 sort

weather_data_idx_final = weather_data_idx_final.sort_values(by=['PRE_ER_ARREST_DT'])
weather_data_idx_final.reset_index(drop = True, inplace = True)
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.0,36.0,66.0,1263.0,74
1,405,양천,2008-01-01,24,-5.2,-5.15,-7.4,-2.1,-124.7,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,144
2,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,127
3,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,128
4,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659865,417,금천,2019-12-31,24,-6.7,-6.05,-9.5,-4.3,-160.5,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,27
659866,544,전곡항,2019-12-31,24,-5.8,-5.45,-8.0,-3.9,-139.3,24,...,0.0,0.0,0.0,24,55.5,56.2,45.4,64.8,1331.6,28
659867,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.5,40.0,73.0,1454.0,125
659868,665,무의도,2019-12-31,24,-6.6,-6.45,-8.9,-4.3,-158.5,24,...,0.0,0.0,0.0,24,55.9,56.2,45.9,71.7,1342.7,83
659869,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [734]:
weather_data_idx_final['PRE_ER_ARREST_DT'].isna().sum()

0

In [ ]:
# pd.set_option('display.max_rows', 100)
# tmp = weather_data_idx.copy()
# tmp['PRE_ER_ARREST_DT'] = tmp['PRE_ER_ARREST_DT'].astype(str)
# tmp.groupby(tmp['PRE_ER_ARREST_DT'].str[0:4]).count()

In [735]:
# datetime 형식으로 바꾸기

weather_data_idx_final['PRE_ER_ARREST_DT'] = pd.to_datetime(weather_data_idx_final['PRE_ER_ARREST_DT'])
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.0,36.0,66.0,1263.0,74
1,405,양천,2008-01-01,24,-5.2,-5.15,-7.4,-2.1,-124.7,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,144
2,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,127
3,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,128
4,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659865,417,금천,2019-12-31,24,-6.7,-6.05,-9.5,-4.3,-160.5,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,27
659866,544,전곡항,2019-12-31,24,-5.8,-5.45,-8.0,-3.9,-139.3,24,...,0.0,0.0,0.0,24,55.5,56.2,45.4,64.8,1331.6,28
659867,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.5,40.0,73.0,1454.0,125
659868,665,무의도,2019-12-31,24,-6.6,-6.45,-8.9,-4.3,-158.5,24,...,0.0,0.0,0.0,24,55.9,56.2,45.9,71.7,1342.7,83
659869,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

#### 최종 ohca+air+weather 데이터 생성

##### 일단 수도권만 확인

In [ ]:
# # air_hospital_final 이랑 겹치는 index 확인

# a = set(air_hospital_final['air_out_idx'].unique())
# b = set(weather_data_idx['air_out_idx'].unique())

# len(a.intersection(b))

In [736]:
# air_patient_final이랑 겹치는 index 확인


a = set(air_patient_final['air_out_idx'].unique())
b = set(weather_data_idx_final['air_out_idx'].unique())

len(a.intersection(b))

71

In [ ]:
# len(air_hospital_final['air_out_idx'].unique())

In [ ]:
# air_hospital_final_sudogwon = air_hospital_final.loc[air_hospital_final['check(수도권=1)'] == 1].reset_index(drop = True)
# air_hospital_final_sudogwon

In [ ]:
# 

# hospital = pd.merge(air_hospital_final_sudogwon, weather_data_idx, on=['air_out_idx', 'PRE_ER_ARREST_DT'], how='inner')
# hospital

In [ ]:
# len(hospital['air_out_idx'].unique())

In [750]:
air_patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,37.0,29.0,48.0,458.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-01,43750,충북 진천군,1.0,33350,0,충북 진천군 진천읍 상산로 65 읍내리 370-1,633411,208,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01,47280,경북 문경시,1.0,37090,0,경북 문경시 시청2길 45,437211,82,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,131441,183,경기 이천시,...,46.0,33.0,65.0,1130.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-01,26410,부산 금정구,0.0,21110,0,부산 금정구 부곡로156번길 7,221251,42,부산 금정구,...,21.0,16.0,26.0,523.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052155,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052156,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052157,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052158,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052159,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [751]:
240 * 4384

1052160

In [752]:
ii = weather_data_idx_final['air_out_idx'].unique().tolist()
len(ii)

71

In [753]:
air_patient_final_2 = air_patient_final.loc[air_patient_final['air_out_idx'].isin(ii)]     # 71개 인덱스만 뽑아서 저장
air_patient_final_2.reset_index(drop = True, inplace = True)
air_patient_final_2

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,37.0,29.0,48.0,458.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,131441,183,경기 이천시,...,46.0,33.0,65.0,1130.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-01,11215,서울 광진구,0.0,11050,1,서울특별시 광진구 광나루로 571,111141,32,서울,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-01,41111,경기 수원시 장안구,0.0,31011,1,경기 수원시 장안구 서부로 2066,131115,127,경기 수원시,...,40.5,26.0,57.0,964.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-01,11710,서울 송파구,1.0,11240,1,서울 송파구 백제고분로 236,111273,122,서울,...,37.0,30.0,61.0,956.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311259,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311260,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311261,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311262,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311263,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [754]:
71 * 4384

311264

In [756]:
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.0,36.0,66.0,1263.0,74
1,405,양천,2008-01-01,24,-5.2,-5.15,-7.4,-2.1,-124.7,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,144
2,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,127
3,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,128
4,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.0,41.0,62.0,1232.0,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659865,417,금천,2019-12-31,24,-6.7,-6.05,-9.5,-4.3,-160.5,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,27
659866,544,전곡항,2019-12-31,24,-5.8,-5.45,-8.0,-3.9,-139.3,24,...,0.0,0.0,0.0,24,55.5,56.2,45.4,64.8,1331.6,28
659867,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.5,40.0,73.0,1454.0,125
659868,665,무의도,2019-12-31,24,-6.6,-6.45,-8.9,-4.3,-158.5,24,...,0.0,0.0,0.0,24,55.9,56.2,45.9,71.7,1342.7,83
659869,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [757]:
weather_data_idx_final.drop_duplicates(['PRE_ER_ARREST_DT', 'air_out_idx'], inplace = True)
weather_data_idx_final.reset_index(drop = True, inplace = True)
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,98,동두천,2008-01-01,24,-6.7,-7.20,-9.8,-1.9,-160.1,0,...,NaN,NaN,0.0,24,52.6,55.00,36.0,66.0,1263.0,74
1,405,양천,2008-01-01,24,-5.2,-5.15,-7.4,-2.1,-124.7,24,...,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0,144
2,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.00,41.0,62.0,1232.0,127
3,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.00,41.0,62.0,1232.0,128
4,119,수원,2008-01-01,24,-5.5,-5.90,-7.8,-3.0,-132.7,0,...,NaN,NaN,0.0,24,51.3,52.00,41.0,62.0,1232.0,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302382,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.50,40.0,73.0,1454.0,127
302383,572,성남,2019-12-31,24,-6.7,-6.50,-9.4,-4.3,-159.9,24,...,0.0,0.0,0.0,24,41.6,42.25,30.2,61.5,998.7,114
302384,403,송파,2019-12-31,24,-6.2,-5.65,-9.3,-3.1,-149.1,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,122
302385,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.50,40.0,73.0,1454.0,128
302386,119,수원,2019-12-31,24,-6.9,-6.95,-9.6,-4.1,-164.6,0,...,NaN,NaN,0.0,24,60.6,64.50,40.0,73.0,1454.0,125

In [758]:
# air_patient_final 에는 unique index 240개
# weather_data_idx_final 에는 unique index 71개 

patient = pd.merge(air_patient_final_2, weather_data_idx_final, on=['air_out_idx', 'PRE_ER_ARREST_DT'], how='left')
patient

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
1,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,131441,183,경기 이천시,...,NaN,NaN,NaN,0.0,24.0,54.0,56.0,40.0,71.0,1295.0
2,2008-01-01,11215,서울 광진구,0.0,11050,1,서울특별시 광진구 광나루로 571,111141,32,서울,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
3,2008-01-01,41111,경기 수원시 장안구,0.0,31011,1,경기 수원시 장안구 서부로 2066,131115,127,경기 수원시,...,NaN,NaN,NaN,0.0,24.0,51.3,52.0,41.0,62.0,1232.0
4,2008-01-01,11710,서울 송파구,1.0,11240,1,서울 송파구 백제고분로 236,111273,122,서울,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311259,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311260,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311261,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311262,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311263,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [759]:
len(patient['PRE_ER_ARREST_DT'].unique())   # 2020-01-01 빠짐 (weather data에 없어서) (4384 -> 4383)

4384

In [760]:
len(patient['air_out_idx'].unique())

71

In [761]:
len(patient['법정동코드'].unique())

71

In [763]:
4384 * 71

311264

In [764]:
len(patient['air_out_idx'].unique())

71

In [ ]:
# hospital['H_ADD_CITY_DIST'].unique()

In [765]:
len(patient['P_ADD_CITY_DIST'].unique())

71

In [766]:
# 필요 없는 칼럼 drop

# hospital.drop(['지역', '측정소명', '지점', '지점명'], axis = 1, inplace = True)
patient.drop(['지역', '측정소명', '지점', '측정소코드', '지점명'], axis = 1, inplace = True)

In [767]:
patient

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,air_out_idx,SO2_count,SO2_mean,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,2008-01-01,11680,서울 강남구,1.0,11230,1,서울 강남구 도산대로 104,2,24.0,0.0065,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
1,2008-01-01,41500,경기 이천시,0.0,31210,1,경기 이천시 설성면 신필리,183,24.0,0.0035,...,NaN,NaN,NaN,0.0,24.0,54.0,56.0,40.0,71.0,1295.0
2,2008-01-01,11215,서울 광진구,0.0,11050,1,서울특별시 광진구 광나루로 571,32,24.0,0.0064,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
3,2008-01-01,41111,경기 수원시 장안구,0.0,31011,1,경기 수원시 장안구 서부로 2066,127,24.0,0.0075,...,NaN,NaN,NaN,0.0,24.0,51.3,52.0,41.0,62.0,1232.0
4,2008-01-01,11710,서울 송파구,1.0,11240,1,서울 송파구 백제고분로 236,122,24.0,0.0049,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311259,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311260,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311261,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311262,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,148,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311263,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [769]:
patient.isna().sum()

PRE_ER_ARREST_DT         0
법정동코드                    0
P_ADD_CITY_DIST          0
count                    0
SIGUNGU_CD               0
check(수도권=1)             0
주소                       0
air_out_idx              0
SO2_count            20338
SO2_mean             25412
SO2_median           25412
SO2_min              25412
SO2_max              25412
SO2_sum              20338
CO_count             20338
CO_mean              25851
CO_median            25851
CO_min               25851
CO_max               25851
CO_sum               20338
O3_count             20338
O3_mean              25029
O3_median            25029
O3_min               25029
O3_max               25029
O3_sum               20338
NO2_count            20338
NO2_mean             25229
NO2_median           25229
NO2_min              25229
NO2_max              25229
NO2_sum              20338
PM10_count           20338
PM10_mean            27192
PM10_median          27192
PM10_min             27192
PM10_max             27192
PM10_sum             20338
PM25_count          160842
PM25_mean           227391
PM25_median         227391
PM25_min            227391
PM25_max            227391
PM25_sum            160842
temp_count            8877
temp_mean             9165
temp_median           9165
temp_min              9165
temp_max              9165
temp_sum              8877
rain_count            8877
rain_mean            32168
rain_median          32168
rain_min             32168
rain_max             32168
rain_sum              8877
humi_count            8877
humi_mean            62419
humi_median          62419
humi_min             62419
humi_max             62419
humi_sum              8877
dtype: int64

In [ ]:
# hospital.to_csv('data\\급성심장정지조사(08-19)SAS\\hospital.csv', encoding = 'euc-kr', index = False)
patient.to_csv('data\\급성심장정지조사(08-19)SAS\\patient.csv', encoding = 'euc-kr', index = False)