#### Note

In [130]:
# pd.set_option('display.max_rows', 100) # 최대 display option set
# pd.reset_option('display.max_rows') # 최대 display option reset

# from datetime import timedelta
# datetime.datetime(2019,12,31) - datetime.datetime(2008,1,1)

#### IMPORT

In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

#### 08-19 OHCA 합치기

In [ ]:
# ohca_08 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_08.sas7bdat', encoding = 'euc-kr')
# ohca_09 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_09.sas7bdat', encoding = 'euc-kr')
# ohca_10 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_10.sas7bdat', encoding = 'euc-kr')
# ohca_11 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_11.sas7bdat', encoding = 'euc-kr')
# ohca_12 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_12.sas7bdat', encoding = 'euc-kr')
# ohca_13 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_13.sas7bdat', encoding = 'euc-kr')
# ohca_14 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_14.sas7bdat', encoding = 'euc-kr')
# ohca_16 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_16.sas7bdat', encoding = 'euc-kr')
# ohca_17 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_17.sas7bdat', encoding = 'euc-kr')
# ohca_18 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_18.sas7bdat', encoding = 'euc-kr')
# ohca_19 = pd.read_sas('data\\급성심장정지조사(08-19)SAS\\ohca_19.sas7bdat', encoding = 'euc-kr')

In [ ]:
# ohca_15 = pd.read_table('data\\급성심장정지조사(08-19)SAS\\ohca_15.txt', encoding = 'utf-8', sep='\t')

In [ ]:
# ohca_15

In [ ]:
# ohca_all = pd.concat([ohca_08, ohca_09, ohca_10, ohca_11, ohca_12, ohca_13, ohca_14, ohca_15, ohca_16, ohca_17, ohca_18, ohca_19], axis = 0)
# ohca_all.reset_index(drop = True, inplace = True)
# ohca_all

In [ ]:
# ohca_all.to_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', index = False)

#### 08-19 합친 ohca_all 다시 불러오기

In [9]:
ohca_all = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', low_memory = False)

##### 과천, 마포 check

In [569]:
check = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\ohca_all.csv', encoding = 'euc-kr', low_memory = False)

In [571]:
check.loc[check['P_ADD_DIST'].str.contains('마포')]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_PR,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED
2,2008,11110.0,서울,종로구,11440.0,서울,마포구,2,81,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,66,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2008,11470.0,서울,양천구,11440.0,서울,마포구,1,67,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,60,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,86,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316622,2019,45800.0,전북,부안군,11440.0,서울,마포구,1,75,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316810,2019,45140.0,전북,익산시,11440.0,서울,마포구,2,53,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317252,2019,45730.0,전북,무주군,11440.0,서울,마포구,1,72,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319952,2019,47150.0,경북,김천시,11440.0,서울,마포구,1,59,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321662,2019,48330.0,경남,양산시,11440.0,서울,마포구,2,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [573]:
check.loc[check['P_ADMINCODE'] == 11440.0]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_PR,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED
2,2008,11110.0,서울,종로구,11440.0,서울,마포구,2,81,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,66,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2008,11470.0,서울,양천구,11440.0,서울,마포구,1,67,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,60,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,2008,11410.0,서울,서대문구,11440.0,서울,마포구,1,86,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316622,2019,45800.0,전북,부안군,11440.0,서울,마포구,1,75,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316810,2019,45140.0,전북,익산시,11440.0,서울,마포구,2,53,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317252,2019,45730.0,전북,무주군,11440.0,서울,마포구,1,72,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319952,2019,47150.0,경북,김천시,11440.0,서울,마포구,1,59,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321662,2019,48330.0,경남,양산시,11440.0,서울,마포구,2,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 질병, 질병 외 check

In [576]:
check['CAUSE'].value_counts()

1    236745
2     81926
9      5460
Name: CAUSE, dtype: int64

In [577]:
check['CAUSE_DISEASE'].value_counts()

1.0    220483
8.0      6635
4.0      3916
3.0      2684
2.0      1889
5.0      1138
Name: CAUSE_DISEASE, dtype: int64

##### 성남시 중원구 check
ADMINCODE 41133

In [11]:
ohca_all.loc[ohca_all['P_ADD_DIST'].str.contains('중원')]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_PR,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED
261,2008,11680.0,서울,강남구,41133.0,경기,성남시 중원구,1,58,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,2008,11680.0,서울,강남구,41133.0,경기,성남시 중원구,1,42,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,2008,11140.0,서울,중구,41133.0,경기,성남시 중원구,1,36,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7133,2008,30230.0,대전,대덕구,41133.0,경기,성남시 중원구,2,77,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827,2008,41133.0,경기,성남시 중원구,41133.0,경기,성남시 중원구,1,28,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311569,2019,41173.0,경기,안양시 동안구,41133.0,경기,성남시 중원구,2,57,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312361,2019,42150.0,강원,강릉시,41133.0,경기,성남시 중원구,2,73,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312424,2019,42230.0,강원,삼척시,41133.0,경기,성남시 중원구,1,46,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313566,2019,43770.0,충북,음성군,41133.0,경기,성남시 중원구,2,94,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314146,2019,43150.0,충북,제천시,41133.0,경기,성남시 중원구,2,80,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### ADD_CITY, ADD_DIST 합치기

In [12]:
ohca_all['H_ADD_CITY_DIST'] = ohca_all['H_ADD_CITY'] + ' ' + ohca_all['H_ADD_DIST']
ohca_all['P_ADD_CITY_DIST'] = ohca_all['P_ADD_CITY'] + ' ' + ohca_all['P_ADD_DIST']

##### NA check

In [13]:
# NA check 

ohca_all.isna().sum()

YEAR                    0
H_ADMINCODE            48
H_ADD_CITY              0
H_ADD_DIST              0
P_ADMINCODE          8639
                    ...
OP8_ROSC_DT        323707
OP8_ROSC_TM        323707
BYSTANDER_AED      324036
H_ADD_CITY_DIST         0
P_ADD_CITY_DIST         0
Length: 233, dtype: int64

In [14]:
ohca_all['P_ADMINCODE'].isna().sum()

8639

In [15]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()

187122

##### 일자 칼럼들 특이값 처리 (NaN으로 대체)         
- PRE_ER_ARREST_DT
- LAST_NORM_DT
- ER_ADM_DT        

미리 대체해놓지 않으면 PRE_ER_ARREST_DT 결측을 뒤의 두 칼럼으로 채울 때 특이값이 들어가 버림

In [16]:
# 일자 칼럼들 NaN은 빼고 str 형식으로 바꾸기
# astype(str) 쓸 때 column에 np.nan이 있으면 그것까지 str 'nan'으로 변환됨. 

ohca_all['PRE_ER_ARREST_DT'] = ohca_all['PRE_ER_ARREST_DT'].astype(str).replace('nan',np.nan)
ohca_all['LAST_NORM_DT'] = ohca_all['LAST_NORM_DT'].astype(str).replace('nan',np.nan)
ohca_all['ER_ADM_DT'] = ohca_all['ER_ADM_DT'].astype(str).replace('nan',np.nan)

In [17]:
# NaN이 있으면, str 형식으로 바꾸고 난 이후에도 NaN 잘 살아있는 거 확인해야 함

print('PRE_ER_ARREST_DT NaNs: ', ohca_all['PRE_ER_ARREST_DT'].isna().sum())  
print('LAST_NORM_DT NaNs: ', ohca_all['LAST_NORM_DT'].isna().sum())
print('ER_ADM_DT NaNs: ', ohca_all['ER_ADM_DT'].isna().sum())

PRE_ER_ARREST_DT NaNs:  187122
LAST_NORM_DT NaNs:  184422
ER_ADM_DT NaNs:  0

In [18]:
# 'PRE_ER_ARREST_DT' 20080101.0 형식에서 .0 자르기
# 'LAST_NORM_DT' 20080101.0 형식에서 .0 자르기
# 'ER_ADM_DT' 20080101.0 형식에서 .0 자르기

ohca_all['PRE_ER_ARREST_DT']= ohca_all['PRE_ER_ARREST_DT'].str[0:8]
ohca_all['LAST_NORM_DT']= ohca_all['LAST_NORM_DT'].str[0:8]
ohca_all['ER_ADM_DT']= ohca_all['ER_ADM_DT'].str[0:8]

99999999 처리

In [19]:
# PRE_ER_ARREST_DT == 99999999 or 88888888 이면 대신 nan 넣어주기
# 220

ohca_all.loc[ohca_all.PRE_ER_ARREST_DT.isin(['99999999', '88888888']), 'PRE_ER_ARREST_DT'] = np.nan

In [20]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()   # 220 늘었음

187342

In [21]:
# LAST_NORM_DT == 99999999 or 88888888 이면 대신 nan 넣어주기
# 959

ohca_all.loc[ohca_all.LAST_NORM_DT.isin(['99999999', '88888888']), 'LAST_NORM_DT'] = np.nan

In [22]:
ohca_all['LAST_NORM_DT'].isna().sum()   # 959 늘었음

185381

In [23]:
# ER_ADM_DT == 99999999 면 대신 nan 넣어주기
# 0

ohca_all.loc[ohca_all.ER_ADM_DT.isin(['99999999', '88888888']), 'ER_ADM_DT'] = np.nan

In [24]:
ohca_all['ER_ADM_DT'].isna().sum()   # 0 늘었음

0

endswith 99 처리

In [25]:
# PRE_ER_ARREST_DT ends with 99 면 대신 nan 넣어주기
# 155

ohca_all.loc[ohca_all['PRE_ER_ARREST_DT'].str[6:8] == '99', 'PRE_ER_ARREST_DT'] = np.nan

In [26]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()   # 155 늘었음

187497

In [27]:
# LAST_NORM_DT ends with 99 면 대신 nan 넣어주기
# 1835

ohca_all.loc[ohca_all['LAST_NORM_DT'].str[6:8] == '99', 'LAST_NORM_DT'] = np.nan

In [28]:
ohca_all['LAST_NORM_DT'].isna().sum()   # 1835 늘었음

187216

In [29]:
# ER_ADM_DT ends with 99 면 대신 nan 넣어주기
# 0

ohca_all.loc[ohca_all['ER_ADM_DT'].str[6:8] == '99', 'ER_ADM_DT'] = np.nan

In [30]:
ohca_all['ER_ADM_DT'].isna().sum()   # 0 늘었음

0

In [31]:
ohca_all['PRE_ER_ARREST_DT'].unique()

array([nan, '20080101', '20080102', ..., '20191009', '20191006',
       '20200101'], dtype=object)

##### PRE_ER_ARREST_DT NA 처리

일차로 PRE_ER_ARREST_DT NaN 다 LAST_NORM_DT로 채우고, 그래도 남은 NaN ER_ADM_DT 로 채우기

In [32]:
# PRE_ER_ARREST_DT 결측 (187497) -> LAST_NORM_DT 로 채우기

ohca_all['PRE_ER_ARREST_DT'].fillna(ohca_all['LAST_NORM_DT'], inplace = True)

In [33]:
# 기존 18만 결측 -> 50582 결측으로 줄음

ohca_all['PRE_ER_ARREST_DT'].isna().sum()

50582

In [34]:
# 그래도 결측 있음 -> 50582 결측 ER_ADM_DT 로 채우기

ohca_all['PRE_ER_ARREST_DT'].fillna(ohca_all['ER_ADM_DT'], inplace = True)

In [35]:
ohca_all['PRE_ER_ARREST_DT'].isna().sum()

0

In [36]:
ohca_all['PRE_ER_ARREST_DT'].dtype

dtype('O')

In [37]:
# str -> object로 바꿔주기

ohca_all['PRE_ER_ARREST_DT'] = ohca_all['PRE_ER_ARREST_DT'].astype(object)

In [38]:
# 다시 nan check - 이제 결측 없음!

ohca_all['PRE_ER_ARREST_DT'].isna().sum()

0

PRE_ER_ARREST_DT 결측 처리 완.

In [39]:
# P_ADMINCODE NA row check (8,639개) 

ohca_all.loc[ohca_all['P_ADMINCODE'].isna() == True]

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST,P_ADD_CITY_DIST
42,2008,11680.0,서울,강남구,NaN,미상,미상,2,80,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
46,2008,11680.0,서울,강남구,NaN,미상,미상,1,60,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
53,2008,11710.0,서울,송파구,NaN,미상,미상,1,31,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 송파구,미상 미상
79,2008,11680.0,서울,강남구,NaN,미상,미상,2,83,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,미상 미상
82,2008,11710.0,서울,송파구,NaN,미상,미상,1,18,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 송파구,미상 미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323911,2019,50110.0,제주,제주시,NaN,미상,미상,2,92,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323912,2019,50110.0,제주,제주시,NaN,미상,미상,1,89,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323923,2019,50110.0,제주,제주시,NaN,미상,미상,2,79,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
323926,2019,50110.0,제주,제주시,NaN,미상,미상,1,76,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 제주시,미상 미상
324001,2019,50130.0,제주,서귀포시,NaN,미상,미상,1,20,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제주 서귀포시,미상 미상

In [40]:
# H_는 있는데 P_는 없는 경우가 많음. ADMINCODE 및 일자의 NaN 처리를 위해 hospital, patient 테이블을 아예 분리해놓고 시작하자.

##### ohca_hospital, ohca_patient 생성

In [41]:
ohca_hospital = ohca_all.drop(['P_ADMINCODE', 'P_ADD_CITY', 'P_ADD_DIST', 'P_ADD_CITY_DIST'], axis = 1)
ohca_patient = ohca_all.drop(['H_ADMINCODE', 'H_ADD_CITY', 'H_ADD_DIST', 'H_ADD_CITY_DIST'], axis = 1)

In [42]:
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [43]:
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

#### 결측 처리 및 전처리

0. 특이사항 수기 수정          
    - ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구' 에 대한 H_ADMINCODE missing, 찾아서 넣어줌 (행정표준코드관리시스템)
    - '부산 진구' -> '부산 부산진구' 로 명칭 변경 (이게 정식 명칭이고, ohca_patient 에는 '부산 부산진구' 로 되어있음, 이래서 결측이 생겼던 것!)
    - ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군' --> '충남 금산군' 으로 수정     
    - '충남 금산군' 코드 찾아서 'P_ADMINCODE' 에 넣어줌 (행정표준코드관리시스템)               
                                                         
                                                   
                                                         
1. H_ADMINCODE, P_ADMINCODE 결측 drop    
                                                                 
                                                                                                                                       
2. PRE_ER_ARREST_DT 결측 drop                                                          

                                                                                                    
3. H_ADD_CITY_DIST, P_ADD_CITY_DIST endswith '미상' drop    


4. 'PRE_ER_ARREST_DT' 처리       
    - 99999999.0, 88888888.0        
    - 20081299.0

##### 0. 특이사항 수기 수정

In [44]:
# ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구' 에 대한 H_ADMINCODE missing, 찾아서 넣어줌 (행정표준코드관리시스템)
# '부산 진구' -> '부산 부산진구' 로 명칭 변경 (이게 정식 명칭이고, ohca_patient 에는 '부산 부산진구' 로 되어있음, 이래서 결측이 생겼던 것!) 

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구', 'H_ADMINCODE'] = 26230.0
ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '부산 진구', 'H_ADD_CITY_DIST'] = '부산 부산진구'
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [45]:
# 혹시 모르니까 ohca_patient 에도 넣어줌

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '부산 진구', 'P_ADMINCODE'] = 26230.0
ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '부산 진구', 'P_ADD_CITY_DIST'] = '부산 부산진구'
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

In [46]:
# '충남 굼산군' check

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군']

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
285281,2018,NaN,충남,굼산군,1,66,1,2,20180707,1799.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 굼산군

In [47]:
# ohca_hospital에는 없음

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'] == '충남 굼산군']

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [48]:
# ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군' --> '충남 금산군' 으로 수정
# '충남 금산군' 코드 찾아서 'P_ADMINCODE' 에 넣어줌 (행정표준코드관리시스템)  

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 굼산군', 'P_ADD_CITY_DIST'] = '충남 금산군'
ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'] == '충남 금산군', 'P_ADMINCODE'] = 44710.0
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### 1. H_ADMINCODE, P_ADMINCODE 결측 drop

In [49]:
# 결측 개수 확인 (H_ADMINCODE) - 없음

ohca_hospital.loc[ohca_hospital['H_ADMINCODE'].isna() == True]

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [50]:
# 결측 개수 확인 (P_ADMINCODE) - 8,638개, 시군구코드 뿐만 아니라 도시,지역 다 '미상' 처리라 그냥 drop 해야 함. 

ohca_patient.loc[ohca_patient['P_ADMINCODE'].isna() == True]

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
42,2008,NaN,미상,미상,2,80,1,2,20080105,1714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
46,2008,NaN,미상,미상,1,60,1,1,20080106,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
53,2008,NaN,미상,미상,1,31,9,2,20080107,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
79,2008,NaN,미상,미상,2,83,1,2,20080111,400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
82,2008,NaN,미상,미상,1,18,9,2,20080111,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323911,2019,NaN,미상,미상,2,92,5,1,20191207,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323912,2019,NaN,미상,미상,1,89,1,1,20191210,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323923,2019,NaN,미상,미상,2,79,1,1,20191226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
323926,2019,NaN,미상,미상,1,76,5,1,20191028,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상
324001,2019,NaN,미상,미상,1,20,9,9,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미상 미상

In [51]:
# drop & save

ohca_hospital.dropna(subset=['H_ADMINCODE'], inplace = True)
ohca_patient.dropna(subset=['P_ADMINCODE'], inplace = True)

In [52]:
ohca_hospital # 324131 cases left

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [53]:
ohca_patient # 315493 cases left

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### 2. PRE_ER_ARREST_DT 결측 drop

In [54]:
# 기존에 했었으나, 위의 '불러오기' 단계에서 PRE_ER_ARREST_DT 결측 다 채웠기 때문에 실행 안해도 됨! (실행해도 무방하긴 함)

ohca_hospital.dropna(subset=['PRE_ER_ARREST_DT'], inplace = True)
ohca_patient.dropna(subset=['PRE_ER_ARREST_DT'], inplace = True)

##### 3. H_ADD_CITY_DIST, P_ADD_CITY_DIST endswith '미상' drop

In [55]:
# ohca_hospital에는 없음

ohca_hospital.loc[ohca_hospital['H_ADD_CITY_DIST'].str.endswith('미상') == True]

Empty DataFrame
Columns: [YEAR, H_ADMINCODE, H_ADD_CITY, H_ADD_DIST, H_SEX, AGE, INS, WITNESS, PRE_ER_ARREST_DT, PRE_ER_ARREST_TM, LAST_NORM_DT, LAST_NORM_TM, WITNESS_MAN, WITNESS_MAN1, WITNESS_MAN2, BYSTANDER_CPR, BYSTANDER_CPR_ELSE, H_PLACE_PUBLIC, H_PLACE1, H_PLACE2, H_PLACE, H_PLACE_FLOOR, ACT, CAUSE, CAUSE_DISEASE, CAUSE_MECH, CAUSE_INTENT, POISON_0, POISON_1, POISON_2, POISON_3, POISON_4, POISON_5, POISON_6, POISON_7, POISON_8, POISON_9, ER_ADM_DT, ER_ADM_TM, CPR, NO_CPR, ROSC, STOP_CPR, STOP_CPR_DT, STOP_CPR_TM, ER_EKG, ER_EKG_DT, ER_EKG_TM, FIRST_EKG_PLACE, ER_DEFIB, FIRST_DEFIB_PLACE, OP1, OP1_1, OP1_2, OP1_9, OP2, OP2_1, OP2_2, OP2_3, OP2_4, OP2_9, OP3, OP4, OP5, OP5_1, OP5_2, ER_RESULT, ER_DC_DT, ER_DC_TM, ADM_RESULT, DC_DT, DTH_DT, DTH_TM, CPC, F_ADMINCODE, F_HAPP_ADD_CITY, F_HAPP_ADD_DIST, PRE_ER_CPR, PRE_ER_ROSC, PRE_ER_EKG, PRE_ER_DEFIB, PHX_HTN, PHX_DM, PHX_HEART, PHX_RENAL, PHX_RESPI, PHX_STROKE, PHX_DYSLIPI, ER_DEFIB_DT, ER_DEFIB_TM, OP6, OP6_1, OP6_2, OP6_3, OP6_4, OP6_8, OP7, OP7_1, OP7_2, OP7_3, ...]
Index: []

[0 rows x 229 columns]

In [56]:
# ohca_patient 확인 -> 있음 (18개)

ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'].str.endswith('미상') == True]

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
1523,2008,41000.0,경기,미상,1,69,1,2,20080711,2135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
2046,2008,11000.0,서울,미상,1,26,2,2,20080915,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
14194,2008,41000.0,경기,미상,1,45,7,1,20080624,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
14347,2008,44000.0,충남,미상,2,78,1,1,20081116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 미상
24386,2009,48000.0,경남,미상,1,19,1,2,20090710,1609.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경남 미상
29731,2009,41000.0,경기,미상,1,86,9,2,20090307,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
34318,2009,27000.0,대구,미상,1,41,1,2,20090112,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대구 미상
35997,2009,44000.0,충남,미상,1,53,1,2,20090513,1644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 미상
47408,2010,26000.0,부산,미상,2,51,1,1,20100623,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
54537,2010,11000.0,서울,미상,1,53,1,2,20100628,1046.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
150326,2014,11000.0,서울,미상,2,33,9,2,20140906,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
257468,2017,26000.0,부산,미상,2,0,1,1,20170317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
261254,2017,48000.0,경남,미상,2,88,1,2,20170306,930.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경남 미상
268387,2018,26000.0,부산,미상,1,83,1,1,20180114,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,부산 미상
283194,2018,11000.0,서울,미상,1,47,1,2,20180612,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 미상
294543,2019,41000.0,경기,미상,1,51,1,2,20190305,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 미상
294693,2019,11000.0,서울,미상,1,65,1,2,20190329,1653.0,...,NaN,NaN,NaN,NaN,1.0,2.0,20199999.0,9999.0,NaN,서울 미상
317251,2019,45000.0,전북,미상,2,92,1,2,20190826,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전북 미상

In [57]:
# ohca_patient endswith '미상' drop - 315475 cases left

ohca_patient = ohca_patient.loc[ohca_patient['P_ADD_CITY_DIST'].str.endswith('미상') == False].copy()
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324126,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324127,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
324128,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324130,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

##### reset index

In [58]:
ohca_patient.reset_index(drop = True, inplace = True)
ohca_hospital.reset_index(drop = True, inplace = True)

In [59]:
# 결측 다시 확인

ohca_hospital.isna().sum()

YEAR                    0
H_ADMINCODE             0
H_ADD_CITY              0
H_ADD_DIST              0
H_SEX                   0
                    ...
OP8_ROSC           323645
OP8_ROSC_DT        323707
OP8_ROSC_TM        323707
BYSTANDER_AED      324036
H_ADD_CITY_DIST         0
Length: 229, dtype: int64

In [60]:
# 결측 다시 확인

ohca_patient.isna().sum()

YEAR                    0
P_ADMINCODE             0
P_ADD_CITY              0
P_ADD_DIST              0
H_SEX                   0
                    ...
OP8_ROSC           314995
OP8_ROSC_DT        315054
OP8_ROSC_TM        315054
BYSTANDER_AED      315385
P_ADD_CITY_DIST         0
Length: 229, dtype: int64

##### 추가 처리 - \ 로 끝나는 일자가 있음

In [61]:
tmp = pd.DataFrame(ohca_patient['PRE_ER_ARREST_DT'].astype(str))    # check
tmp.loc[tmp['PRE_ER_ARREST_DT'].str.endswith('\\')]

       PRE_ER_ARREST_DT
210096         2016091\

In [62]:
tmp = pd.DataFrame(ohca_hospital['PRE_ER_ARREST_DT'].astype(str))    # check
i = tmp.loc[tmp['PRE_ER_ARREST_DT'].str.endswith('\\')].index
i

Int64Index([215733], dtype='int64')

In [63]:
# ohca_hospital - '\' 로 끝나는 데이터 (1개) 삭제 (이거 때문에 datetime 변경이 안됨)

ohca_hospital['PRE_ER_ARREST_DT'] = ohca_hospital['PRE_ER_ARREST_DT'].astype(str)
i = ohca_hospital.loc[ohca_hospital['PRE_ER_ARREST_DT'].str.endswith('\\')].index
ohca_hospital.drop(i, inplace = True)
ohca_hospital.reset_index(drop = True, inplace = True)
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324125,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324126,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구
324127,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324128,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
324129,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구

In [64]:
# ohca_patient - '\' 로 끝나는 데이터 (1개) 삭제 (이거 때문에 datetime 변경이 안됨)

ohca_patient['PRE_ER_ARREST_DT'] = ohca_patient['PRE_ER_ARREST_DT'].astype(str)
i = ohca_patient.loc[ohca_patient['PRE_ER_ARREST_DT'].str.endswith('\\')].index
ohca_patient.drop(i, inplace = True)
ohca_patient.reset_index(drop = True, inplace = True)
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315469,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315470,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시
315471,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315472,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시
315473,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시

In [65]:
ohca_patient.loc[ohca_patient['P_ADMINCODE'] == 41133]    # 중원 check - 여기까지 잘 살아있음

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_RR,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST
244,2008,41133.0,경기,성남시 중원구,1,58,7,2,20080131,1450.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
1000,2008,41133.0,경기,성남시 중원구,1,42,1,2,20080509,1930.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
1842,2008,41133.0,경기,성남시 중원구,1,36,9,1,20080905,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
6800,2008,41133.0,경기,성남시 중원구,2,77,1,2,20080827,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
7482,2008,41133.0,경기,성남시 중원구,1,28,5,1,20080108,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303230,2019,41133.0,경기,성남시 중원구,2,57,1,1,20191225,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
304012,2019,41133.0,경기,성남시 중원구,2,73,1,2,20190429,1545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
304075,2019,41133.0,경기,성남시 중원구,1,46,9,1,20190525,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
305194,2019,41133.0,경기,성남시 중원구,2,94,1,1,20190204,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구
305765,2019,41133.0,경기,성남시 중원구,2,80,1,1,20190913,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기 성남시 중원구

##### 결측 처리 및 전처리 완.

---------------------------------------------------

#### 일자별 x 시군구 cross join index 생성

##### 임의의 환자 고유 아이디 생성 및 연간 발생 case count

In [66]:
# 임의의 환자 고유 아이디 생성 (NUM)

ohca_hospital['NUM'] = np.arange(len(ohca_hospital))
ohca_hospital

,YEAR,H_ADMINCODE,H_ADD_CITY,H_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,H_ADD_CITY_DIST,NUM
0,2008,11410.0,서울,서대문구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 서대문구,0
1,2008,11320.0,서울,도봉구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 도봉구,1
2,2008,11110.0,서울,종로구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 종로구,2
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구,3
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324125,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324125
324126,2019,43112.0,충북,청주시 서원구,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충북 청주시 서원구,324126
324127,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324127
324128,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,324128
324129,2019,30170.0,대전,서구,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대전 서구,324129

In [67]:
# 병원 소재지 기준 연간 30000명 가량 (원시자료 설명 기준) -> 27010 cases로 줄음

324130 / 12

27010.833333333332

In [68]:
# 임의의 환자 고유 아이디 생성 (NUM)

ohca_patient['NUM'] = np.arange(len(ohca_patient))
ohca_patient

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST,NUM
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,0
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구,1
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구,2
3,2008,11590.0,서울,동작구,2,64,9,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 동작구,3
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315469,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315469
315470,2019,44230.0,충남,논산시,1,60,3,2,20191004,1337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남 논산시,315470
315471,2019,36110.0,세종,세종시,2,56,9,1,20191116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315471
315472,2019,36110.0,세종,세종시,2,35,9,1,20191024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315472
315473,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315473

In [69]:
# 환자 소재지 기준 연간 30000명 가량 (원시자료 설명 기준) -> 26289명으로 줄음 

315474 / 12

26289.5

##### 2007.11 ~ 2020-01-01까지의 모든 일자 dataframe으로 만들기

In [70]:
# 2007.11 ~ 2020-01-01까지의 모든 일자 dataframe으로 만들기

rng = pd.date_range(start = '2007-11-01', end = '2020-01-01', freq='D')
days = pd.DataFrame({'PRE_ER_ARREST_DT': rng}) 
days

     PRE_ER_ARREST_DT
0          2007-11-01
1          2007-11-02
2          2007-11-03
3          2007-11-04
4          2007-11-05
...               ...
4440       2019-12-28
4441       2019-12-29
4442       2019-12-30
4443       2019-12-31
4444       2020-01-01

[4445 rows x 1 columns]

##### hospital_cityname_index, patient_cityname_index 만들기

In [71]:
# 전처리 완료된 ohca_hospital에서 admincode, H_ADD_CITY_DIST 만 뽑아와서 unique, drop dup
# 총 254개 index

hospital_cityname_index = ohca_hospital[['H_ADMINCODE', 'H_ADD_CITY_DIST']].copy()
hospital_cityname_index.drop_duplicates(subset=['H_ADMINCODE', 'H_ADD_CITY_DIST'], inplace = True)
hospital_cityname_index.reset_index(drop = True, inplace = True)
hospital_cityname_index

     H_ADMINCODE H_ADD_CITY_DIST
0        11410.0         서울 서대문구
1        11320.0          서울 도봉구
2        11110.0          서울 종로구
3        11590.0          서울 동작구
4        11560.0         서울 영등포구
..           ...             ...
249      43112.0      충북 청주시 서원구
250      41190.0          경기 부천시
251      28177.0         인천 미추홀구
252      41670.0          경기 여주시
253      43114.0      충북 청주시 청원구

[254 rows x 2 columns]

In [72]:
print('cityname: ', len(hospital_cityname_index['H_ADD_CITY_DIST'].unique()), 'unique values')
print('citycode: ', len(hospital_cityname_index['H_ADMINCODE'].unique()), 'unique values')   

# 갯수 안 맞음. 
# (코드, 시군구 이름) 기준으로 drop dup 했는데 안 맞는다는 건 코드는 같은데 이름이 다른 경우가 있다는 뜻, 내보내서 확인 한번 하자
# 부산 부산진구 != 부산 진구 이거였음

# ---> 맞췄음!

cityname:  254 unique values
citycode:  254 unique values

In [73]:
# hospital_cityname_index.to_csv('data\\dump\\hospital_cityname_index.csv', encoding = 'euc-kr', index = False)

In [74]:
# 전처리 완료된 ohca_patient에서 admincode, P_ADD_CITY_DIST 만 뽑아와서 unique, drop dup
# 총 263개 index

patient_cityname_index = ohca_patient[['P_ADMINCODE', 'P_ADD_CITY_DIST']].copy()
patient_cityname_index.drop_duplicates(subset=['P_ADMINCODE', 'P_ADD_CITY_DIST'], inplace = True)
patient_cityname_index.reset_index(drop = True, inplace = True)
patient_cityname_index

     P_ADMINCODE P_ADD_CITY_DIST
0        11680.0          서울 강남구
1        11305.0          서울 강북구
2        11440.0          서울 마포구
3        11590.0          서울 동작구
4        11560.0         서울 영등포구
..           ...             ...
258      43112.0      충북 청주시 서원구
259      41190.0          경기 부천시
260      28177.0         인천 미추홀구
261      43110.0          충북 청주시
262      45110.0          전북 전주시

[263 rows x 2 columns]

In [75]:
patient_cityname_index.loc[patient_cityname_index['P_ADMINCODE'] == 26230]

    P_ADMINCODE P_ADD_CITY_DIST
63      26230.0         부산 부산진구

In [77]:
patient_cityname_index.loc[patient_cityname_index['P_ADMINCODE'] == 41133]    # 중원 check - 여기까지 잘 살아있음

    P_ADMINCODE P_ADD_CITY_DIST
45      41133.0      경기 성남시 중원구

In [78]:
# 갯수 일치 확인

print('cityname: ', len(patient_cityname_index['P_ADD_CITY_DIST'].unique()), 'unique values')
print('citycode: ', len(patient_cityname_index['P_ADMINCODE'].unique()), 'unique values')

cityname:  263 unique values
citycode:  263 unique values

In [79]:
# patient_cityname_index P_ADMINCODE 결측 (당연히) 없음

patient_cityname_index.isna().sum()

P_ADMINCODE        0
P_ADD_CITY_DIST    0
dtype: int64

In [80]:
# hospital_cityname_index H_ADMINCODE 결측 (당연히) 없음

hospital_cityname_index.isna().sum()

H_ADMINCODE        0
H_ADD_CITY_DIST    0
dtype: int64

In [81]:
hospital_cityname_index.dtypes  # dtype check

H_ADMINCODE        float64
H_ADD_CITY_DIST     object
dtype: object

In [82]:
# # 내보내서 뭐 있는지 한번 확인

# hospital_cityname_index.to_csv('data\\급성심장정지조사(08-19)SAS\\hospital_cityname_index.csv', encoding = 'euc-kr', index = False)
# patient_cityname_index.to_csv('data\\급성심장정지조사(08-19)SAS\\patient_cityname_index.csv', encoding = 'euc-kr', index = False)

##### 2008-2020.01.01 days x cityname_index cross join 해서 일자별, 시군구 index 생성하기

In [83]:
# cross join days x hospital code

hospital_index = days.merge(hospital_cityname_index, how='cross')
hospital_index

        PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST
0             2007-11-01      11410.0         서울 서대문구
1             2007-11-01      11320.0          서울 도봉구
2             2007-11-01      11110.0          서울 종로구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1129025       2020-01-01      43112.0      충북 청주시 서원구
1129026       2020-01-01      41190.0          경기 부천시
1129027       2020-01-01      28177.0         인천 미추홀구
1129028       2020-01-01      41670.0          경기 여주시
1129029       2020-01-01      43114.0      충북 청주시 청원구

[1129030 rows x 3 columns]

In [84]:
# hospital_index 일수, admincode 수 확인 - 맞음

print(len(hospital_index['PRE_ER_ARREST_DT'].unique()))
print(len(hospital_index['H_ADMINCODE'].unique()))
print(len(hospital_index['H_ADD_CITY_DIST'].unique()))

4445
254
254

In [85]:
# 개수 맞음!

len(hospital_index['PRE_ER_ARREST_DT'].unique()) * len(hospital_index['H_ADMINCODE'].unique())

1129030

In [86]:
# cross join days x patient code

patient_index = days.merge(patient_cityname_index, how='cross')
patient_index

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST
0             2007-11-01      11680.0          서울 강남구
1             2007-11-01      11305.0          서울 강북구
2             2007-11-01      11440.0          서울 마포구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1169030       2020-01-01      43112.0      충북 청주시 서원구
1169031       2020-01-01      41190.0          경기 부천시
1169032       2020-01-01      28177.0         인천 미추홀구
1169033       2020-01-01      43110.0          충북 청주시
1169034       2020-01-01      45110.0          전북 전주시

[1169035 rows x 3 columns]

In [87]:
# patient_index 일수, admincode 수 확인 - 맞음

print(len(patient_index['PRE_ER_ARREST_DT'].unique()))
print(len(patient_index['P_ADMINCODE'].unique()))
print(len(patient_index['P_ADD_CITY_DIST'].unique()))

4445
263
263

In [88]:
# 개수 맞음 ! 

len(patient_index['PRE_ER_ARREST_DT'].unique()) * len(patient_index['P_ADMINCODE'].unique())

1169035

In [89]:
patient_index.loc[patient_index['P_ADMINCODE'] == 41133]       # 중원 check - 여기까지 잘 살아있음

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST
45            2007-11-01      41133.0      경기 성남시 중원구
308           2007-11-02      41133.0      경기 성남시 중원구
571           2007-11-03      41133.0      경기 성남시 중원구
834           2007-11-04      41133.0      경기 성남시 중원구
1097          2007-11-05      41133.0      경기 성남시 중원구
...                  ...          ...             ...
1167765       2019-12-28      41133.0      경기 성남시 중원구
1168028       2019-12-29      41133.0      경기 성남시 중원구
1168291       2019-12-30      41133.0      경기 성남시 중원구
1168554       2019-12-31      41133.0      경기 성남시 중원구
1168817       2020-01-01      41133.0      경기 성남시 중원구

[4445 rows x 3 columns]

##### 01.12 - 질병으로 인한 급성심정지인 사람만 뽑기

In [90]:
ohca_patient.loc[ohca_patient['CAUSE'] == 1]

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST,NUM
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,0
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구,1
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구,2
4,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
5,2008,11620.0,서울,관악구,2,81,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 관악구,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315465,2019,36110.0,세종,세종시,1,0,1,2,20191219,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315465
315466,2019,36110.0,세종,세종시,1,82,1,1,20191221,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315466
315467,2019,36110.0,세종,세종시,1,65,1,1,20191003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315467
315469,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315469
315473,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315473

In [91]:
ohca_patient_disease = ohca_patient.loc[ohca_patient['CAUSE'] == 1].copy()
ohca_patient_disease.reset_index(drop = True, inplace = True)
ohca_patient_disease

,YEAR,P_ADMINCODE,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,INS,WITNESS,PRE_ER_ARREST_DT,PRE_ER_ARREST_TM,...,OP8_PRE_VITAL_BT,OP8_PRE_VITAL_DT,OP8_PRE_VITAL_TM,OP8_SUCCESS,OP8_ROSC,OP8_ROSC_DT,OP8_ROSC_TM,BYSTANDER_AED,P_ADD_CITY_DIST,NUM
0,2008,11680.0,서울,강남구,1,58,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강남구,0
1,2008,11305.0,서울,강북구,2,47,1,2,20080101,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 강북구,1
2,2008,11440.0,서울,마포구,2,81,5,9,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 마포구,2
3,2008,11560.0,서울,영등포구,1,72,1,2,20080101,1405.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 영등포구,4
4,2008,11620.0,서울,관악구,2,81,1,1,20080101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울 관악구,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230962,2019,36110.0,세종,세종시,1,0,1,2,20191219,9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315465
230963,2019,36110.0,세종,세종시,1,82,1,1,20191221,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315466
230964,2019,36110.0,세종,세종시,1,65,1,1,20191003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315467
230965,2019,36110.0,세종,세종시,1,80,1,1,20191127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315469
230966,2019,36110.0,세종,세종시,1,88,1,2,20191217,705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,세종 세종시,315473

##### 병원 소재지별, 급성심장정지 목격일자별 aggregate

In [92]:
# 병원 소재지별, 급성심장정지 목격일자별 aggregate

group_hospital = ohca_hospital.groupby(['PRE_ER_ARREST_DT', 'H_ADMINCODE', 'H_ADD_CITY_DIST'])
group_hospital = pd.DataFrame(group_hospital.size().reset_index(name='count'))

In [93]:
# check 

group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0              20071231      29110.0           광주 동구      1
1              20071231      42190.0          강원 태백시      1
2              20080101      11110.0          서울 종로구      1
3              20080101      11230.0         서울 동대문구      1
4              20080101      11320.0          서울 도봉구      1
...                 ...          ...             ...    ...
253765         20191231      48310.0          경남 거제시      1
253766         20191231      48330.0          경남 양산시      2
253767         20191231      48820.0          경남 고성군      1
253768         20191231      50110.0          제주 제주시      1
253769         20200101      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [94]:
# 일자 unique 값 한번 전부 뽑아보기 - 다 정상인 듯 !

lst = group_hospital['PRE_ER_ARREST_DT'].unique().tolist()
for value in range(len(lst)): 
    print(lst[value])

20071231
20080101
20080102
20080103
20080104
20080105
20080106
20080107
20080108
20080109
20080110
20080111
20080112
20080113
20080114
20080115
20080116
20080117
20080118
20080119
20080120
20080121
20080122
20080123
20080124
20080125
20080126
20080127
20080128
20080129
20080130
20080131
20080201
20080202
20080203
20080204
20080205
20080206
20080207
20080208
20080209
20080210
20080211
20080212
20080213
20080214
20080215
20080216
20080217
20080218
20080219
20080220
20080221
20080222
20080223
20080224
20080225
20080226
20080227
20080228
20080229
20080301
20080302
20080303
20080304
20080305
20080306
20080307
20080308
20080309
20080310
20080311
20080312
20080313
20080314
20080315
20080316
20080317
20080318
20080319
20080320
20080321
20080322
20080323
20080324
20080325
20080326
20080327
20080328
20080329
20080330
20080331
20080401
20080402
20080403
20080404
20080405
20080406
20080407
20080408
20080409
20080410
20080411
20080412
20080413
20080414
20080415
20080416
20080417
20080418
20080419
20080420
20080421
20080422
20080423
20080424
20080425
20080426
20080427
20080428
20080429
20080430
20080501
20080502
20080503
20080504
20080505
20080506
20080507
20080508
20080509
20080510
20080511
20080512
20080513
20080514
20080515
20080516
20080517
20080518
20080519
20080520
20080521
20080522
20080523
20080524
20080525
20080526
20080527
20080528
20080529
20080530
20080531
20080601
20080602
20080603
20080604
20080605
20080606
20080607
20080608
20080609
20080610
20080611
20080612
20080613
20080614
20080615
20080616
20080617
20080618
20080619
20080620
20080621
20080622
20080623
20080624
20080625
20080626
20080627
20080628
20080629
20080630
20080701
20080702
20080703
20080704
20080705
20080706
20080707
20080708
20080709
20080710
20080711
20080712
20080713
20080714
20080715
20080716
20080717
20080718
20080719
20080720
20080721
20080722
20080723
20080724
20080725
20080726
20080727
20080728
20080729
20080730
20080731
20080801
20080802
20080803
20080804
20080805
20080806
20080807
20080808
20080809
20080810
20080811
20080812
20080813
20080814
20080815
20080816
20080817
20080818
20080819
20080820
20080821
20080822
20080823
20080824
20080825
20080826
20080827
20080828
20080829
20080830
20080831
20080901
20080902
20080903
20080904
20080905
20080906
20080907
20080908
20080909
20080910
20080911
20080912
20080913
20080914
20080915
20080916
20080917
20080918
20080919
20080920
20080921
20080922
20080923
20080924
20080925
20080926
20080927
20080928
20080929
20080930
20081001
20081002
20081003
20081004
20081005
20081006
20081007
20081008
20081009
20081010
20081011
20081012
20081013
20081014
20081015
20081016
20081017
20081018
20081019
20081020
20081021
20081022
20081023
20081024
20081025
20081026
20081027
20081028
20081029
20081030
20081031
20081101
20081102
20081103
20081104
20081105
20081106
20081107
20081108
20081109
20081110
20081111
20081112
20081113
20081114
20081115
20081116
20081117
20081118
20081119
20081120
20081121
20081122
20081123
20081124
20081125
20081126
20081127
20081128
20081129
20081130
20081201
20081202
20081203
20081204
20081205
20081206
20081207
20081208
20081209
20081210
20081211
20081212
20081213
20081214
20081215
20081216
20081217
20081218
20081219
20081220
20081221
20081222
20081223
20081224
20081225
20081226
20081227
20081228
20081229
20081230
20081231
20090101
20090102
20090103
20090104
20090105
20090106
20090107
20090108
20090109
20090110
20090111
20090112
20090113
20090114
20090115
20090116
20090117
20090118
20090119
20090120
20090121
20090122
20090123
20090124
20090125
20090126
20090127
20090128
20090129
20090130
20090131
20090201
20090202
20090203
20090204
20090205
20090206
20090207
20090208
20090209
20090210
20090211
20090212
20090213
20090214
20090215
20090216
20090217
20090218
20090219
20090220
20090221
20090222
20090223
20090224
20090225
20090226
20090227
20090228
20090301
20090302
20090303
20090304
20090305
20090306
20090307
20090308
20090309
20090310
20090311
20090312
20090313
20090314
20090315
20090316
20090317
20090318
20090319
20090320
20090321
20090322
20090323
20090324
20090325
20090326
20090327
20090328
20090329
20090330
20090331
20090401
20090402
20090403
20090404
20090405
20090406
20090407
20090408
20090409
20090410
20090411
20090412
20090413
20090414
20090415
20090416
20090417
20090418
20090419
20090420
20090421
20090422
20090423
20090424
20090425
20090426
20090427
20090428
20090429
20090430
20090501
20090502
20090503
20090504
20090505
20090506
20090507
20090508
20090509
20090510
20090511
20090512
20090513
20090514
20090515
20090516
20090517
20090518
20090519
20090520
20090521
20090522
20090523
20090524
20090525
20090526
20090527
20090528
20090529
20090530
20090531
20090601
20090602
20090603
20090604
20090605
20090606
20090607
20090608
20090609
20090610
20090611
20090612
20090613
20090614
20090615
20090616
20090617
20090618
20090619
20090620
20090621
20090622
20090623
20090624
20090625
20090626
20090627
20090628
20090629
20090630
20090701
20090702
20090703
20090704
20090705
20090706
20090707
20090708
20090709
20090710
20090711
20090712
20090713
20090714
20090715
20090716
20090717
20090718
20090719
20090720
20090721
20090722
20090723
20090724
20090725
20090726
20090727
20090728
20090729
20090730
20090731
20090801
20090802
20090803
20090804
20090805
20090806
20090807
20090808
20090809
20090810
20090811
20090812
20090813
20090814
20090815
20090816
20090817
20090818
20090819
20090820
20090821
20090822
20090823
20090824
20090825
20090826
20090827
20090828
20090829
20090830
20090831
20090901
20090902
20090903
20090904
20090905
20090906
20090907
20090908
20090909
20090910
20090911
20090912
20090913
20090914
20090915
20090916
20090917
20090918
20090919
20090920
20090921
20090922
20090923
20090924
20090925
20090926
20090927
20090928
20090929
20090930
20091001
20091002
20091003
20091004
20091005
20091006
20091007
20091008
20091009
20091010
20091011
20091012
20091013
20091014
20091015
20091016
20091017
20091018
20091019
20091020
20091021
20091022
20091023
20091024
20091025
20091026
20091027
20091028
20091029
20091030
20091031
20091101
20091102
20091103
20091104
20091105
20091106
20091107
20091108
20091109
20091110
20091111
20091112
20091113
20091114
20091115
20091116
20091117
20091118
20091119
20091120
20091121
20091122
20091123
20091124
20091125
20091126
20091127
20091128
20091129
20091130
20091201
20091202
20091203
20091204
20091205
20091206
20091207
20091208
20091209
20091210
20091211
20091212
20091213
20091214
20091215
20091216
20091217
20091218
20091219
20091220
20091221
20091222
20091223
20091224
20091225
20091226
20091227
20091228
20091229
20091230
20091231
20100101
20100102
20100103
20100104
20100105
20100106
20100107
20100108
20100109
20100110
20100111
20100112
20100113
20100114
20100115
20100116
20100117
20100118
20100119
20100120
20100121
20100122
20100123
20100124
20100125
20100126
20100127
20100128
20100129
20100130
20100131
20100201
20100202
20100203
20100204
20100205
20100206
20100207
20100208
20100209
20100210
20100211
20100212
20100213
20100214
20100215
20100216
20100217
20100218
20100219
20100220
20100221
20100222
20100223
20100224
20100225
20100226
20100227
20100228
20100301
20100302
20100303
20100304
20100305
20100306
20100307
20100308
20100309
20100310
20100311
20100312
20100313
20100314
20100315
20100316
20100317
20100318
20100319
20100320
20100321
20100322
20100323
20100324
20100325
20100326
20100327
20100328
20100329
20100330
20100331
20100401
20100402
20100403
20100404
20100405
20100406
20100407
20100408
20100409
20100410
20100411
20100412
20100413
20100414
20100415
20100416
20100417
20100418
20100419
20100420
20100421
20100422
20100423
20100424
20100425
20100426
20100427
20100428
20100429
20100430
20100501
20100502
20100503
20100504
20100505
20100506
20100507
20100508
20100509
20100510
20100511
20100512
20100513
20100514
20100515
20100516
20100517
20100518
20100519
20100520
20100521
20100522
20100523
20100524
20100525
20100526
20100527
20100528
20100529
20100530
20100531
20100601
20100602
20100603
20100604
20100605
20100606
20100607
20100608
20100609
20100610
20100611
20100612
20100613
20100614
20100615
20100616
20100617
20100618
20100619
20100620
20100621
20100622
20100623
20100624
20100625
20100626
20100627
20100628
20100629
20100630
20100701
20100702
20100703
20100704
20100705
20100706
20100707
20100708
20100709
20100710
20100711
20100712
20100713
20100714
20100715
20100716
20100717
20100718
20100719
20100720
20100721
20100722
20100723
20100724
20100725
20100726
20100727
20100728
20100729
20100730
20100731
20100801
20100802
20100803
20100804
20100805
20100806
20100807
20100808
20100809
20100810
20100811
20100812
20100813
20100814
20100815
20100816
20100817
20100818
20100819
20100820
20100821
20100822
20100823
20100824
20100825
20100826
20100827
20100828
20100829
20100830
20100831
20100901
20100902
20100903
20100904
20100905
20100906
20100907
20100908
20100909
20100910
20100911
20100912
20100913
20100914
20100915
20100916
20100917
20100918
20100919
20100920
20100921
20100922
20100923
20100924
20100925
20100926
20100927
20100928
20100929
20100930
20101001
20101002
20101003
20101004
20101005
20101006
20101007
20101008
20101009
20101010
20101011
20101012
20101013
20101014
20101015
20101016
20101017
20101018
20101019
20101020
20101021
20101022
20101023
20101024
20101025
20101026
20101027
20101028
20101029
20101030
20101031
20101101
20101102
20101103
20101104
20101105
20101106
20101107
20101108
20101109
20101110
20101111
20101112
20101113
20101114
20101115
20101116
20101117
20101118
20101119
20101120
20101121
20101122
20101123
20101124
20101125
20101126
20101127
20101128
20101129
20101130
20101201
20101202
20101203
20101204
20101205
20101206
20101207
20101208
20101209
20101210
20101211
20101212
20101213
20101214
20101215
20101216
20101217
20101218
20101219
20101220
20101221
20101222
20101223
20101224
20101225
20101226
20101227
20101228
20101229
20101230
20101231
20110101
20110102
20110103
20110104
20110105
20110106
20110107
20110108
20110109
20110110
20110111
20110112
20110113
20110114
20110115
20110116
20110117
20110118
20110119
20110120
20110121
20110122
20110123
20110124
20110125
20110126
20110127
20110128
20110129
20110130
20110131
20110201
20110202
20110203
20110204
20110205
20110206
20110207
20110208
20110209
20110210
20110211
20110212
20110213
20110214
20110215
20110216
20110217
20110218
20110219
20110220
20110221
20110222
20110223
20110224
20110225
20110226
20110227
20110228
20110301
20110302
20110303
20110304
20110305
20110306
20110307
20110308
20110309
20110310
20110311
20110312
20110313
20110314
20110315
20110316
20110317
20110318
20110319
20110320
20110321
20110322
20110323
20110324
20110325
20110326
20110327
20110328
20110329
20110330
20110331
20110401
20110402
20110403
20110404
20110405
20110406
20110407
20110408
20110409
20110410
20110411
20110412
20110413
20110414
20110415
20110416
20110417
20110418
20110419
20110420
20110421
20110422
20110423
20110424
20110425
20110426
20110427
20110428
20110429
20110430
20110501
20110502
20110503
20110504
20110505
20110506
20110507
20110508
20110509
20110510
20110511
20110512
20110513
20110514
20110515
20110516
20110517
20110518
20110519
20110520
20110521
20110522
20110523
20110524
20110525
20110526
20110527
20110528
20110529
20110530
20110531
20110601
20110602
20110603
20110604
20110605
20110606
20110607
20110608
20110609
20110610
20110611
20110612
20110613
20110614
20110615
20110616
20110617
20110618
20110619
20110620
20110621
20110622
20110623
20110624
20110625
20110626
20110627
20110628
20110629
20110630
20110701
20110702
20110703
20110704
20110705
20110706
20110707
20110708
20110709
20110710
20110711
20110712
20110713
20110714
20110715
20110716
20110717
20110718
20110719
20110720
20110721
20110722
20110723
20110724
20110725
20110726
20110727
20110728
20110729
20110730
20110731
20110801
20110802
20110803
20110804
20110805
20110806
20110807
20110808
20110809
20110810
20110811
20110812
20110813
20110814
20110815
20110816
20110817
20110818
20110819
20110820
20110821
20110822
20110823
20110824
20110825
20110826
20110827
20110828
20110829
20110830
20110831
20110901
20110902
20110903
20110904
20110905
20110906
20110907
20110908
20110909
20110910
20110911
20110912
20110913
20110914
20110915
20110916
20110917
20110918
20110919
20110920
20110921
20110922
20110923
20110924
20110925
20110926
20110927
20110928
20110929
20110930
20111001
20111002
20111003
20111004
20111005
20111006
20111007
20111008
20111009
20111010
20111011
20111012
20111013
20111014
20111015
20111016
20111017
20111018
20111019
20111020
20111021
20111022
20111023
20111024
20111025
20111026
20111027
20111028
20111029
20111030
20111031
20111101
20111102
20111103
20111104
20111105
20111106
20111107
20111108
20111109
20111110
20111111
20111112
20111113
20111114
20111115
20111116
20111117
20111118
20111119
20111120
20111121
20111122
20111123
20111124
20111125
20111126
20111127
20111128
20111129
20111130
20111201
20111202
20111203
20111204
20111205
20111206
20111207
20111208
20111209
20111210
20111211
20111212
20111213
20111214
20111215
20111216
20111217
20111218
20111219
20111220
20111221
20111222
20111223
20111224
20111225
20111226
20111227
20111228
20111229
20111230
20111231
20120101
20120102
20120103
20120104
20120105
20120106
20120107
20120108
20120109
20120110
20120111
20120112
20120113
20120114
20120115
20120116
20120117
20120118
20120119
20120120
20120121
20120122
20120123
20120124
20120125
20120126
20120127
20120128
20120129
20120130
20120131
20120201
20120202
20120203
20120204
20120205
20120206
20120207
20120208
20120209
20120210
20120211
20120212
20120213
20120214
20120215
20120216
20120217
20120218
20120219
20120220
20120221
20120222
20120223
20120224
20120225
20120226
20120227
20120228
20120229
20120301
20120302
20120303
20120304
20120305
20120306
20120307
20120308
20120309
20120310
20120311
20120312
20120313
20120314
20120315
20120316
20120317
20120318
20120319
20120320
20120321
20120322
20120323
20120324
20120325
20120326
20120327
20120328
20120329
20120330
20120331
20120401
20120402
20120403
20120404
20120405
20120406
20120407
20120408
20120409
20120410
20120411
20120412
20120413
20120414
20120415
20120416
20120417
20120418
20120419
20120420
20120421
20120422
20120423
20120424
20120425
20120426
20120427
20120428
20120429
20120430
20120501
20120502
20120503
20120504
20120505
20120506
20120507
20120508
20120509
20120510
20120511
20120512
20120513
20120514
20120515
20120516
20120517
20120518
20120519
20120520
20120521
20120522
20120523
20120524
20120525
20120526
20120527
20120528
20120529
20120530
20120531
20120601
20120602
20120603
20120604
20120605
20120606
20120607
20120608
20120609
20120610
20120611
20120612
20120613
20120614
20120615
20120616
20120617
20120618
20120619
20120620
20120621
20120622
20120623
20120624
20120625
20120626
20120627
20120628
20120629
20120630
20120701
20120702
20120703
20120704
20120705
20120706
20120707
20120708
20120709
20120710
20120711
20120712
20120713
20120714
20120715
20120716
20120717
20120718
20120719
20120720
20120721
20120722
20120723
20120724
20120725
20120726
20120727
20120728
20120729
20120730
20120731
20120801
20120802
20120803
20120804
20120805
20120806
20120807
20120808
20120809
20120810
20120811
20120812
20120813
20120814
20120815
20120816
20120817
20120818
20120819
20120820
20120821
20120822
20120823
20120824
20120825
20120826
20120827
20120828
20120829
20120830
20120831
20120901
20120902
20120903
20120904
20120905
20120906
20120907
20120908
20120909
20120910
20120911
20120912
20120913
20120914
20120915
20120916
20120917
20120918
20120919
20120920
20120921
20120922
20120923
20120924
20120925
20120926
20120927
20120928
20120929
20120930
20121001
20121002
20121003
20121004
20121005
20121006
20121007
20121008
20121009
20121010
20121011
20121012
20121013
20121014
20121015
20121016
20121017
20121018
20121019
20121020
20121021
20121022
20121023
20121024
20121025
20121026
20121027
20121028
20121029
20121030
20121031
20121101
20121102
20121103
20121104
20121105
20121106
20121107
20121108
20121109
20121110
20121111
20121112
20121113
20121114
20121115
20121116
20121117
20121118
20121119
20121120
20121121
20121122
20121123
20121124
20121125
20121126
20121127
20121128
20121129
20121130
20121201
20121202
20121203
20121204
20121205
20121206
20121207
20121208
20121209
20121210
20121211
20121212
20121213
20121214
20121215
20121216
20121217
20121218
20121219
20121220
20121221
20121222
20121223
20121224
20121225
20121226
20121227
20121228
20121229
20121230
20121231
20130101
20130102
20130103
20130104
20130105
20130106
20130107
20130108
20130109
20130110
20130111
20130112
20130113
20130114
20130115
20130116
20130117
20130118
20130119
20130120
20130121
20130122
20130123
20130124
20130125
20130126
20130127
20130128
20130129
20130130
20130131
20130201
20130202
20130203
20130204
20130205
20130206
20130207
20130208
20130209
20130210
20130211
20130212
20130213
20130214
20130215
20130216
20130217
20130218
20130219
20130220
20130221
20130222
20130223
20130224
20130225
20130226
20130227
20130228
20130301
20130302
20130303
20130304
20130305
20130306
20130307
20130308
20130309
20130310
20130311
20130312
20130313
20130314
20130315
20130316
20130317
20130318
20130319
20130320
20130321
20130322
20130323
20130324
20130325
20130326
20130327
20130328
20130329
20130330
20130331
20130401
20130402
20130403
20130404
20130405
20130406
20130407
20130408
20130409
20130410
20130411
20130412
20130413
20130414
20130415
20130416
20130417
20130418
20130419
20130420
20130421
20130422
20130423
20130424
20130425
20130426
20130427
20130428
20130429
20130430
20130501
20130502
20130503
20130504
20130505
20130506
20130507
20130508
20130509
20130510
20130511
20130512
20130513
20130514
20130515
20130516
20130517
20130518
20130519
20130520
20130521
20130522
20130523
20130524
20130525
20130526
20130527
20130528
20130529
20130530
20130531
20130601
20130602
20130603
20130604
20130605
20130606
20130607
20130608
20130609
20130610
20130611
20130612
20130613
20130614
20130615
20130616
20130617
20130618
20130619
20130620
20130621
20130622
20130623
20130624
20130625
20130626
20130627
20130628
20130629
20130630
20130701
20130702
20130703
20130704
20130705
20130706
20130707
20130708
20130709
20130710
20130711
20130712
20130713
20130714
20130715
20130716
20130717
20130718
20130719
20130720
20130721
20130722
20130723
20130724
20130725
20130726
20130727
20130728
20130729
20130730
20130731
20130801
20130802
20130803
20130804
20130805
20130806
20130807
20130808
20130809
20130810
20130811
20130812
20130813
20130814
20130815
20130816
20130817
20130818
20130819
20130820
20130821
20130822
20130823
20130824
20130825
20130826
20130827
20130828
20130829
20130830
20130831
20130901
20130902
20130903
20130904
20130905
20130906
20130907
20130908
20130909
20130910
20130911
20130912
20130913
20130914
20130915
20130916
20130917
20130918
20130919
20130920
20130921
20130922
20130923
20130924
20130925
20130926
20130927
20130928
20130929
20130930
20131001
20131002
20131003
20131004
20131005
20131006
20131007
20131008
20131009
20131010
20131011
20131012
20131013
20131014
20131015
20131016
20131017
20131018
20131019
20131020
20131021
20131022
20131023
20131024
20131025
20131026
20131027
20131028
20131029
20131030
20131031
20131101
20131102
20131103
20131104
20131105
20131106
20131107
20131108
20131109
20131110
20131111
20131112
20131113
20131114
20131115
20131116
20131117
20131118
20131119
20131120
20131121
20131122
20131123
20131124
20131125
20131126
20131127
20131128
20131129
20131130
20131201
20131202
20131203
20131204
20131205
20131206
20131207
20131208
20131209
20131210
20131211
20131212
20131213
20131214
20131215
20131216
20131217
20131218
20131219
20131220
20131221
20131222
20131223
20131224
20131225
20131226
20131227
20131228
20131229
20131230
20131231
20140101
20140102
20140103
20140104
20140105
20140106
20140107
20140108
20140109
20140110
20140111
20140112
20140113
20140114
20140115
20140116
20140117
20140118
20140119
20140120
20140121
20140122
20140123
20140124
20140125
20140126
20140127
20140128
20140129

In [95]:
# 환자 거주지별, 급성심장정지 목격일자별 aggregate

group_patient = ohca_patient.groupby(['PRE_ER_ARREST_DT', 'P_ADMINCODE', 'P_ADD_CITY_DIST'])
group_patient = pd.DataFrame(group_patient.size().reset_index(name='count'))

In [96]:
# 환자 거주지별, 급성심장정지 목격일자별 aggregate (질병 원인인 사람만)

group_patient_disease = ohca_patient_disease.groupby(['PRE_ER_ARREST_DT', 'P_ADMINCODE', 'P_ADD_CITY_DIST'])
group_patient_disease = pd.DataFrame(group_patient_disease.size().reset_index(name='count_disease'))

In [97]:
# check - 260814

group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0              20071231      29170.0           광주 북구      1
1              20071231      42190.0          강원 태백시      1
2              20080101      11230.0         서울 동대문구      1
3              20080101      11260.0          서울 중랑구      2
4              20080101      11305.0          서울 강북구      1
...                 ...          ...             ...    ...
260809         20191231      48330.0          경남 양산시      1
260810         20191231      48820.0          경남 고성군      1
260811         20191231      48840.0          경남 남해군      1
260812         20191231      50130.0         제주 서귀포시      1
260813         20200101      29200.0          광주 광산구      1

[260814 rows x 4 columns]

In [99]:
group_patient.loc[group_patient['P_ADMINCODE'] == 41133]    # 중원 check - ok

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
350            20080108      41133.0      경기 성남시 중원구      1
521            20080112      41133.0      경기 성남시 중원구      1
733            20080117      41133.0      경기 성남시 중원구      1
931            20080121      41133.0      경기 성남시 중원구      1
1374           20080131      41133.0      경기 성남시 중원구      1
...                 ...          ...             ...    ...
259409         20191212      41133.0      경기 성남시 중원구      1
259766         20191217      41133.0      경기 성남시 중원구      1
259833         20191218      41133.0      경기 성남시 중원구      1
260026         20191221      41133.0      경기 성남시 중원구      2
260315         20191225      41133.0      경기 성남시 중원구      1

[1291 rows x 4 columns]

In [98]:
# check - 200132

group_patient_disease

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
0              20071231      29170.0           광주 북구              1
1              20080101      11260.0          서울 중랑구              1
2              20080101      11305.0          서울 강북구              1
3              20080101      11440.0          서울 마포구              1
4              20080101      11500.0          서울 강서구              2
...                 ...          ...             ...            ...
200127         20191231      48330.0          경남 양산시              1
200128         20191231      48820.0          경남 고성군              1
200129         20191231      48840.0          경남 남해군              1
200130         20191231      50130.0         제주 서귀포시              1
200131         20200101      29200.0          광주 광산구              1

[200132 rows x 4 columns]

In [100]:
group_patient_disease.loc[group_patient_disease['P_ADMINCODE'] == 41133]    # 중원 check - ok

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
592            20080117      41133.0      경기 성남시 중원구              1
758            20080121      41133.0      경기 성남시 중원구              1
1110           20080131      41133.0      경기 성남시 중원구              1
1230           20080203      41133.0      경기 성남시 중원구              1
1357           20080206      41133.0      경기 성남시 중원구              1
...                 ...          ...             ...            ...
198934         20191211      41133.0      경기 성남시 중원구              1
198982         20191212      41133.0      경기 성남시 중원구              1
199276         20191217      41133.0      경기 성남시 중원구              1
199328         20191218      41133.0      경기 성남시 중원구              1
199486         20191221      41133.0      경기 성남시 중원구              1

[1036 rows x 4 columns]

##### PRE_ER_ARREST_DT 처리 및 정렬 (datetime 변경)

In [101]:
group_hospital['PRE_ER_ARREST_DT'].dtype

dtype('O')

In [102]:
# group_hospital - datetime 으로 

group_hospital['PRE_ER_ARREST_DT'] = pd.to_datetime(group_hospital['PRE_ER_ARREST_DT'])
group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0            2007-12-31      29110.0           광주 동구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      11110.0          서울 종로구      1
3            2008-01-01      11230.0         서울 동대문구      1
4            2008-01-01      11320.0          서울 도봉구      1
...                 ...          ...             ...    ...
253765       2019-12-31      48310.0          경남 거제시      1
253766       2019-12-31      48330.0          경남 양산시      2
253767       2019-12-31      48820.0          경남 고성군      1
253768       2019-12-31      50110.0          제주 제주시      1
253769       2020-01-01      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [103]:
# group_patient - datetime 으로

group_patient['PRE_ER_ARREST_DT'] = pd.to_datetime(group_patient['PRE_ER_ARREST_DT'])
group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0            2007-12-31      29170.0           광주 북구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      11230.0         서울 동대문구      1
3            2008-01-01      11260.0          서울 중랑구      2
4            2008-01-01      11305.0          서울 강북구      1
...                 ...          ...             ...    ...
260809       2019-12-31      48330.0          경남 양산시      1
260810       2019-12-31      48820.0          경남 고성군      1
260811       2019-12-31      48840.0          경남 남해군      1
260812       2019-12-31      50130.0         제주 서귀포시      1
260813       2020-01-01      29200.0          광주 광산구      1

[260814 rows x 4 columns]

In [104]:
# group_patient_disease - datetime 으로

group_patient_disease['PRE_ER_ARREST_DT'] = pd.to_datetime(group_patient_disease['PRE_ER_ARREST_DT'])
group_patient_disease

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
0            2007-12-31      29170.0           광주 북구              1
1            2008-01-01      11260.0          서울 중랑구              1
2            2008-01-01      11305.0          서울 강북구              1
3            2008-01-01      11440.0          서울 마포구              1
4            2008-01-01      11500.0          서울 강서구              2
...                 ...          ...             ...            ...
200127       2019-12-31      48330.0          경남 양산시              1
200128       2019-12-31      48820.0          경남 고성군              1
200129       2019-12-31      48840.0          경남 남해군              1
200130       2019-12-31      50130.0         제주 서귀포시              1
200131       2020-01-01      29200.0          광주 광산구              1

[200132 rows x 4 columns]

In [105]:
# date로 sort

group_hospital.sort_values('PRE_ER_ARREST_DT', inplace = True)
group_hospital.reset_index(drop = True, inplace = True)

In [106]:
# check

group_hospital

       PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST  count
0            2007-12-31      29110.0           광주 동구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      41210.0          경기 광명시      1
3            2008-01-01      41273.0      경기 안산시 단원구      1
4            2008-01-01      41310.0          경기 구리시      3
...                 ...          ...             ...    ...
253765       2019-12-31      28185.0          인천 연수구      1
253766       2019-12-31      28177.0         인천 미추홀구      1
253767       2019-12-31      27200.0           대구 남구      2
253768       2019-12-31      30170.0           대전 서구      2
253769       2020-01-01      45111.0      전북 전주시 완산구      1

[253770 rows x 4 columns]

In [107]:
# date로 sort

group_patient.sort_values('PRE_ER_ARREST_DT', inplace = True)
group_patient.reset_index(drop = True, inplace = True)

In [108]:
# check

group_patient

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0            2007-12-31      29170.0           광주 북구      1
1            2007-12-31      42190.0          강원 태백시      1
2            2008-01-01      41220.0          경기 평택시      1
3            2008-01-01      41273.0      경기 안산시 단원구      1
4            2008-01-01      41310.0          경기 구리시      1
...                 ...          ...             ...    ...
260809       2019-12-31      28185.0          인천 연수구      1
260810       2019-12-31      27710.0          대구 달성군      1
260811       2019-12-31      27230.0           대구 북구      1
260812       2019-12-31      30200.0          대전 유성구      2
260813       2020-01-01      29200.0          광주 광산구      1

[260814 rows x 4 columns]

In [109]:
# date로 sort

group_patient_disease.sort_values('PRE_ER_ARREST_DT', inplace = True)
group_patient_disease.reset_index(drop = True, inplace = True)

In [110]:
# check

group_patient_disease

       PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
0            2007-12-31      29170.0           광주 북구              1
1            2008-01-01      41210.0          경기 광명시              1
2            2008-01-01      41220.0          경기 평택시              1
3            2008-01-01      41360.0         경기 남양주시              2
4            2008-01-01      41465.0      경기 용인시 수지구              1
...                 ...          ...             ...            ...
200127       2019-12-31      27710.0          대구 달성군              1
200128       2019-12-31      27230.0           대구 북구              1
200129       2019-12-31      27170.0           대구 서구              1
200130       2019-12-31      29155.0           광주 남구              1
200131       2020-01-01      29200.0          광주 광산구              1

[200132 rows x 4 columns]

##### hospital_index, patient_index LEFT JOIN aggregated data

In [111]:
hospital_index

        PRE_ER_ARREST_DT  H_ADMINCODE H_ADD_CITY_DIST
0             2007-11-01      11410.0         서울 서대문구
1             2007-11-01      11320.0          서울 도봉구
2             2007-11-01      11110.0          서울 종로구
3             2007-11-01      11590.0          서울 동작구
4             2007-11-01      11560.0         서울 영등포구
...                  ...          ...             ...
1129025       2020-01-01      43112.0      충북 청주시 서원구
1129026       2020-01-01      41190.0          경기 부천시
1129027       2020-01-01      28177.0         인천 미추홀구
1129028       2020-01-01      41670.0          경기 여주시
1129029       2020-01-01      43114.0      충북 청주시 청원구

[1129030 rows x 3 columns]

In [112]:
# hospital_index랑 left join 하기

group_hospital = pd.merge(hospital_index, group_hospital, on=['PRE_ER_ARREST_DT', 'H_ADMINCODE'], how = 'left')
group_hospital

,PRE_ER_ARREST_DT,H_ADMINCODE,H_ADD_CITY_DIST_x,H_ADD_CITY_DIST_y,count
0,2007-11-01,11410.0,서울 서대문구,NaN,NaN
1,2007-11-01,11320.0,서울 도봉구,NaN,NaN
2,2007-11-01,11110.0,서울 종로구,NaN,NaN
3,2007-11-01,11590.0,서울 동작구,NaN,NaN
4,2007-11-01,11560.0,서울 영등포구,NaN,NaN
...,...,...,...,...,...
1129025,2020-01-01,43112.0,충북 청주시 서원구,NaN,NaN
1129026,2020-01-01,41190.0,경기 부천시,NaN,NaN
1129027,2020-01-01,28177.0,인천 미추홀구,NaN,NaN
1129028,2020-01-01,41670.0,경기 여주시,NaN,NaN
1129029,2020-01-01,43114.0,충북 청주시 청원구,NaN,NaN

In [113]:
4445 * 254  # 개수 맞음!

1129030

In [114]:
# patient_index랑 left join 하기

group_patient = pd.merge(patient_index, group_patient, on=['PRE_ER_ARREST_DT', 'P_ADMINCODE'], how = 'left')
group_patient

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count
0,2007-11-01,11680.0,서울 강남구,NaN,NaN
1,2007-11-01,11305.0,서울 강북구,NaN,NaN
2,2007-11-01,11440.0,서울 마포구,NaN,NaN
3,2007-11-01,11590.0,서울 동작구,NaN,NaN
4,2007-11-01,11560.0,서울 영등포구,NaN,NaN
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,NaN
1169031,2020-01-01,41190.0,경기 부천시,NaN,NaN
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,NaN
1169033,2020-01-01,43110.0,충북 청주시,NaN,NaN
1169034,2020-01-01,45110.0,전북 전주시,NaN,NaN

In [115]:
4445 * 263   # 개수 맞음!

1169035

In [116]:
# patient_index랑 left join 하기

group_patient_disease = pd.merge(patient_index, group_patient_disease, on=['PRE_ER_ARREST_DT', 'P_ADMINCODE'], how = 'left')
group_patient_disease

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count_disease
0,2007-11-01,11680.0,서울 강남구,NaN,NaN
1,2007-11-01,11305.0,서울 강북구,NaN,NaN
2,2007-11-01,11440.0,서울 마포구,NaN,NaN
3,2007-11-01,11590.0,서울 동작구,NaN,NaN
4,2007-11-01,11560.0,서울 영등포구,NaN,NaN
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,NaN
1169031,2020-01-01,41190.0,경기 부천시,NaN,NaN
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,NaN
1169033,2020-01-01,43110.0,충북 청주시,NaN,NaN
1169034,2020-01-01,45110.0,전북 전주시,NaN,NaN

In [117]:
4445 * 263   # 개수 맞음!

1169035

##### Left Join 후 count == NaN 인 case들 0으로 채우기
인덱스에는 전체 일자*시군구가 다 존재하나, aggregated 된 데이터에는 없어서 missing 이 들어간 것      
해당 일자, 해당 시군구에는 발생자가 없는 것이니 0이 들어가야 함
- 단, 2007.11 ~ 2007.12 데이터는 0 채우면 안되고 NaN이 들어가야 함. (해당기간의 급성심정지 데이터 없음)

! 여기서부터 group_patient, group_patient_disease (22.01.12 추가)만 진행함 !

In [118]:
group_patient['PRE_ER_ARREST_DT'] = group_patient['PRE_ER_ARREST_DT'].astype(str)
group_patient_disease['PRE_ER_ARREST_DT'] = group_patient_disease['PRE_ER_ARREST_DT'].astype(str)

In [119]:
# 2007.11 ~ 12 데이터는 0 채우면 안되고 NaN이 들어가야 함
# 2007만 제외하고 0 채우기

# group_hospital['count'].fillna(0, inplace = True) - hospital 뺌
# group_patient['count'].fillna(0, inplace = True) - 하단으로 코드 변경

group_patient.loc[(group_patient['PRE_ER_ARREST_DT'].str[0:4] != '2007') & (group_patient['count'].isna() == True), 'count'] = 0
group_patient_disease.loc[(group_patient_disease['PRE_ER_ARREST_DT'].str[0:4] != '2007') & (group_patient_disease['count_disease'].isna() == True), 'count_disease'] = 0

In [120]:
group_patient.loc[(group_patient['PRE_ER_ARREST_DT'].str[0:4] != '2007')]

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count
16043,2008-01-01,11680.0,서울 강남구,서울 강남구,1.0
16044,2008-01-01,11305.0,서울 강북구,서울 강북구,1.0
16045,2008-01-01,11440.0,서울 마포구,서울 마포구,1.0
16046,2008-01-01,11590.0,서울 동작구,서울 동작구,1.0
16047,2008-01-01,11560.0,서울 영등포구,서울 영등포구,1.0
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,0.0
1169031,2020-01-01,41190.0,경기 부천시,NaN,0.0
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,0.0
1169033,2020-01-01,43110.0,충북 청주시,NaN,0.0
1169034,2020-01-01,45110.0,전북 전주시,NaN,0.0

In [121]:
group_patient_disease.loc[(group_patient_disease['PRE_ER_ARREST_DT'].str[0:4] != '2007')]

,PRE_ER_ARREST_DT,P_ADMINCODE,P_ADD_CITY_DIST_x,P_ADD_CITY_DIST_y,count_disease
16043,2008-01-01,11680.0,서울 강남구,서울 강남구,1.0
16044,2008-01-01,11305.0,서울 강북구,서울 강북구,1.0
16045,2008-01-01,11440.0,서울 마포구,서울 마포구,1.0
16046,2008-01-01,11590.0,서울 동작구,NaN,0.0
16047,2008-01-01,11560.0,서울 영등포구,서울 영등포구,1.0
...,...,...,...,...,...
1169030,2020-01-01,43112.0,충북 청주시 서원구,NaN,0.0
1169031,2020-01-01,41190.0,경기 부천시,NaN,0.0
1169032,2020-01-01,28177.0,인천 미추홀구,NaN,0.0
1169033,2020-01-01,43110.0,충북 청주시,NaN,0.0
1169034,2020-01-01,45110.0,전북 전주시,NaN,0.0

In [122]:
# # 'count' column 에 대해 value_count 한번 해보자 - group_hospital

# group_hospital['count'].value_counts()

In [123]:
# 'count' column 에 대해 value_count 한번 해보자 - group_patient

group_patient['count'].value_counts()

0.0    892180
1.0    214408
2.0     39286
3.0      6124
4.0       879
5.0       101
6.0        13
7.0         2
9.0         1
Name: count, dtype: int64

In [124]:
# 'count_disease' column 에 대해 value_count 한번 해보자 - group_patient_disease

group_patient_disease['count_disease'].value_counts()

0.0    952861
1.0    172831
2.0     24144
3.0      2811
4.0       318
5.0        26
7.0         1
6.0         1
Name: count_disease, dtype: int64

##### drop _y column, rename _x column
_x column이 index 기준 시군구 명칭임

In [125]:
# drop
# group_hospital.drop(['H_ADD_CITY_DIST_y'], axis = 1, inplace = True)
group_patient.drop(['P_ADD_CITY_DIST_y'], axis = 1, inplace = True)
group_patient_disease.drop(['P_ADD_CITY_DIST_y'], axis = 1, inplace = True)

In [126]:
# rename
# group_hospital.rename(columns = {'H_ADD_CITY_DIST_x': 'H_ADD_CITY_DIST'}, inplace = True)
group_patient.rename(columns = {'P_ADD_CITY_DIST_x': 'P_ADD_CITY_DIST'}, inplace = True)
group_patient_disease.rename(columns = {'P_ADD_CITY_DIST_x': 'P_ADD_CITY_DIST'}, inplace = True)

In [127]:
# group_hospital

In [128]:
# # 지역코드별 count 몇명인지 한번 check - 254개 index, count 4384개가 나와야 한다
# # group_hospital

# hospital_tmp = group_hospital.groupby(['H_ADMINCODE', 'H_ADD_CITY_DIST']).count()
# hospital_tmp.sort_values(by='count', ascending = False, inplace = True)
# hospital_tmp

In [129]:
# 지역코드별 count 몇명인지 한번 check - 263개 index, count 4445개가 나와야 한다
# group_patient

patient_tmp = group_patient.groupby(['P_ADMINCODE', 'P_ADD_CITY_DIST']).count()
patient_tmp.sort_values(by='count', ascending = False, inplace = True)
patient_tmp

                             PRE_ER_ARREST_DT  count
P_ADMINCODE P_ADD_CITY_DIST
29170.0     광주 북구                        4445   4385
42190.0     강원 태백시                       4445   4385
11110.0     서울 종로구                       4445   4384
45110.0     전북 전주시                       4445   4384
45180.0     전북 정읍시                       4445   4384
...                                       ...    ...
41271.0     경기 안산시 상록구                   4445   4384
41273.0     경기 안산시 단원구                   4445   4384
41281.0     경기 고양시 덕양구                   4445   4384
41285.0     경기 고양시 일산동구                  4445   4384
50130.0     제주 서귀포시                      4445   4384

[263 rows x 2 columns]

In [130]:
# 지역코드별 count 몇명인지 한번 check - 263개 index, count 4445개가 나와야 한다
# group_patient_disease

patient_tmp_disease = group_patient_disease.groupby(['P_ADMINCODE', 'P_ADD_CITY_DIST']).count()
patient_tmp_disease.sort_values(by='count_disease', ascending = False, inplace = True)
patient_tmp_disease

                             PRE_ER_ARREST_DT  count_disease
P_ADMINCODE P_ADD_CITY_DIST
29170.0     광주 북구                        4445           4385
11110.0     서울 종로구                       4445           4384
44830.0     충남 당진군                       4445           4384
45180.0     전북 정읍시                       4445           4384
45140.0     전북 익산시                       4445           4384
...                                       ...            ...
41271.0     경기 안산시 상록구                   4445           4384
41273.0     경기 안산시 단원구                   4445           4384
41281.0     경기 고양시 덕양구                   4445           4384
41285.0     경기 고양시 일산동구                  4445           4384
50130.0     제주 서귀포시                      4445           4384

[263 rows x 2 columns]

In [131]:
# 두 테이블 다 ADMINCODE 숫자로 바꾸기

# group_hospital['H_ADMINCODE'] = group_hospital['H_ADMINCODE'].astype(int)
group_patient['P_ADMINCODE'] = group_patient['P_ADMINCODE'].astype(int)
group_patient_disease['P_ADMINCODE'] = group_patient_disease['P_ADMINCODE'].astype(int)

In [132]:
# group_hospital

In [133]:
group_patient

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
0             2007-11-01        11680          서울 강남구    NaN
1             2007-11-01        11305          서울 강북구    NaN
2             2007-11-01        11440          서울 마포구    NaN
3             2007-11-01        11590          서울 동작구    NaN
4             2007-11-01        11560         서울 영등포구    NaN
...                  ...          ...             ...    ...
1169030       2020-01-01        43112      충북 청주시 서원구    0.0
1169031       2020-01-01        41190          경기 부천시    0.0
1169032       2020-01-01        28177         인천 미추홀구    0.0
1169033       2020-01-01        43110          충북 청주시    0.0
1169034       2020-01-01        45110          전북 전주시    0.0

[1169035 rows x 4 columns]

In [134]:
group_patient_disease

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
0             2007-11-01        11680          서울 강남구            NaN
1             2007-11-01        11305          서울 강북구            NaN
2             2007-11-01        11440          서울 마포구            NaN
3             2007-11-01        11590          서울 동작구            NaN
4             2007-11-01        11560         서울 영등포구            NaN
...                  ...          ...             ...            ...
1169030       2020-01-01        43112      충북 청주시 서원구            0.0
1169031       2020-01-01        41190          경기 부천시            0.0
1169032       2020-01-01        28177         인천 미추홀구            0.0
1169033       2020-01-01        43110          충북 청주시            0.0
1169034       2020-01-01        45110          전북 전주시            0.0

[1169035 rows x 4 columns]

In [135]:
# # final null check 

# group_hospital.isna().sum()

In [136]:
# final null check  - count의 null은 2007.11 ~ 2007.12 에 대한 null임

group_patient.isna().sum()

PRE_ER_ARREST_DT        0
P_ADMINCODE             0
P_ADD_CITY_DIST         0
count               16041
dtype: int64

In [137]:
# final null check  - count의 null은 2007.11 ~ 2007.12 에 대한 null임

group_patient_disease.isna().sum()

PRE_ER_ARREST_DT        0
P_ADMINCODE             0
P_ADD_CITY_DIST         0
count_disease       16042
dtype: int64

In [138]:
group_patient.loc[group_patient['P_ADMINCODE'] == 41133]  # 중원 check - ok

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count
45            2007-11-01        41133      경기 성남시 중원구    NaN
308           2007-11-02        41133      경기 성남시 중원구    NaN
571           2007-11-03        41133      경기 성남시 중원구    NaN
834           2007-11-04        41133      경기 성남시 중원구    NaN
1097          2007-11-05        41133      경기 성남시 중원구    NaN
...                  ...          ...             ...    ...
1167765       2019-12-28        41133      경기 성남시 중원구    0.0
1168028       2019-12-29        41133      경기 성남시 중원구    0.0
1168291       2019-12-30        41133      경기 성남시 중원구    0.0
1168554       2019-12-31        41133      경기 성남시 중원구    0.0
1168817       2020-01-01        41133      경기 성남시 중원구    0.0

[4445 rows x 4 columns]

In [139]:
group_patient_disease.loc[group_patient_disease['P_ADMINCODE'] == 41133]  # 중원 check - ok

        PRE_ER_ARREST_DT  P_ADMINCODE P_ADD_CITY_DIST  count_disease
45            2007-11-01        41133      경기 성남시 중원구            NaN
308           2007-11-02        41133      경기 성남시 중원구            NaN
571           2007-11-03        41133      경기 성남시 중원구            NaN
834           2007-11-04        41133      경기 성남시 중원구            NaN
1097          2007-11-05        41133      경기 성남시 중원구            NaN
...                  ...          ...             ...            ...
1167765       2019-12-28        41133      경기 성남시 중원구            0.0
1168028       2019-12-29        41133      경기 성남시 중원구            0.0
1168291       2019-12-30        41133      경기 성남시 중원구            0.0
1168554       2019-12-31        41133      경기 성남시 중원구            0.0
1168817       2020-01-01        41133      경기 성남시 중원구            0.0

[4445 rows x 4 columns]

##### group_hospital, group_patient final df 한번 내보내자

In [151]:
# group_hospital.to_csv('data\\급성심장정지조사(08-19)SAS\\group_hospital.csv', encoding = 'euc-kr', index = False)
group_patient.to_csv('data\\급성심장정지조사(08-19)SAS\\group_patient.csv', encoding = 'euc-kr', index = False)
group_patient_disease.to_csv('data\\급성심장정지조사(08-19)SAS\\group_patient_disease.csv', encoding = 'euc-kr', index = False)

In [2]:
# 다시 불러오기

group_patient = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\group_patient.csv', encoding = 'euc-kr')
group_patient_disease = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\group_patient_disease.csv', encoding = 'euc-kr')

##### qgis 지도 idx       
- SIGUNGU_CD : 원래 유진선생님이 주신 raw data의 시군구 코드
- 법정동코드 : 행정표준코드관리시스템 기준 법정동코드, 급성심정지 데이터는 이 기준으로 되어 있음

In [140]:
# qgis 지도 idx 불러오기 - 240개

idx = pd.read_csv('data\\out of hospital sudden cardiac arrest\\qgis_지도_idx.csv', encoding = 'euc-kr')
idx

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드
0,31370,가평군,1,1,NaN,NaN,41820
1,11230,강남구,2,1,NaN,NaN,11680
2,11250,강동구,3,1,NaN,NaN,11740
3,32030,강릉시,4,0,NaN,NaN,42150
4,11090,강북구,5,1,NaN,NaN,11305
...,...,...,...,...,...,...,...
235,32310,홍천군,246,0,NaN,NaN,42720
236,31240,화성시,247,1,NaN,NaN,41590
237,36370,화순군,248,0,NaN,NaN,46790
238,32370,화천군,249,0,NaN,NaN,42790
239,32320,횡성군,250,0,NaN,NaN,42730

In [141]:
len(idx.loc[idx['check(수도권=1)'] == 1, 'OBJECTID(air_out_idx)'].unique())

73

In [142]:
idx.loc[idx['check(수도권=1)'] == 1]

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드
0,31370,가평군,1,1,NaN,NaN,41820
1,11230,강남구,2,1,NaN,NaN,11680
2,11250,강동구,3,1,NaN,NaN,11740
4,11090,강북구,5,1,NaN,NaN,11305
5,11160,강서구,6,1,NaN,NaN,11500
...,...,...,...,...,...,...,...
220,31200,파주시,231,1,NaN,NaN,41480
222,31070,평택시,233,1,NaN,NaN,41220
223,31270,포천시,234,1,NaN,NaN,41650
226,31180,하남시,237,1,NaN,NaN,41450
236,31240,화성시,247,1,NaN,NaN,41590

In [143]:
# 지도 idx table이랑 시군구 코드 column 명 맞추기 - join 하기 위해

# group_hospital.rename(columns={'H_ADMINCODE' : '법정동코드'}, inplace = True)
group_patient.rename(columns={'P_ADMINCODE' : '법정동코드'}, inplace = True)
group_patient_disease.rename(columns={'P_ADMINCODE' : '법정동코드'}, inplace = True)

In [144]:
# group_hospital   # '법정동코드' 로 잘 바뀐 거 확인

In [145]:
group_patient   # '법정동코드' 로 잘 바뀐 거 확인

        PRE_ER_ARREST_DT  법정동코드 P_ADD_CITY_DIST  count
0             2007-11-01  11680          서울 강남구    NaN
1             2007-11-01  11305          서울 강북구    NaN
2             2007-11-01  11440          서울 마포구    NaN
3             2007-11-01  11590          서울 동작구    NaN
4             2007-11-01  11560         서울 영등포구    NaN
...                  ...    ...             ...    ...
1169030       2020-01-01  43112      충북 청주시 서원구    0.0
1169031       2020-01-01  41190          경기 부천시    0.0
1169032       2020-01-01  28177         인천 미추홀구    0.0
1169033       2020-01-01  43110          충북 청주시    0.0
1169034       2020-01-01  45110          전북 전주시    0.0

[1169035 rows x 4 columns]

In [146]:
group_patient_disease  # '법정동코드' 로 잘 바뀐 거 확인

        PRE_ER_ARREST_DT  법정동코드 P_ADD_CITY_DIST  count_disease
0             2007-11-01  11680          서울 강남구            NaN
1             2007-11-01  11305          서울 강북구            NaN
2             2007-11-01  11440          서울 마포구            NaN
3             2007-11-01  11590          서울 동작구            NaN
4             2007-11-01  11560         서울 영등포구            NaN
...                  ...    ...             ...            ...
1169030       2020-01-01  43112      충북 청주시 서원구            0.0
1169031       2020-01-01  41190          경기 부천시            0.0
1169032       2020-01-01  28177         인천 미추홀구            0.0
1169033       2020-01-01  43110          충북 청주시            0.0
1169034       2020-01-01  45110          전북 전주시            0.0

[1169035 rows x 4 columns]

In [147]:
# # Merge group_hospital with idx with 법정동코드

# group_hospital_idx = pd.merge(group_hospital, idx, on='법정동코드', how='inner')
# group_hospital_idx.sort_values(by='PRE_ER_ARREST_DT', inplace = True)
# group_hospital_idx.reset_index(drop = True, inplace = True)
# group_hospital_idx

In [148]:
# group_hospital - 236개만 매칭됨 

236 * 4384

1034624

In [ ]:
# 4개 매칭 안된 거 뭔지 찾자 - 계룡, 과천, 마포, 양양

a = set(group_hospital['법정동코드'].unique())
b = set(idx['법정동코드'].unique())

nonmatched = list(b - a)

idx.loc[idx['법정동코드'].isin(nonmatched)]

In [575]:
# group_hospital - 수도권 기준으로는 과천, 마포 두개가 아예 데이터가 없음

group_hospital.loc[group_hospital['H_ADD_CITY_DIST'].str.contains("마포")]

Empty DataFrame
Columns: [PRE_ER_ARREST_DT, 법정동코드, H_ADD_CITY_DIST, count]
Index: []

In [149]:
# group_patient 에는 71개 다 잘 살아있음

group_patient.loc[group_patient['P_ADD_CITY_DIST'].str.contains("마포")]

        PRE_ER_ARREST_DT  법정동코드 P_ADD_CITY_DIST  count
2             2007-11-01  11440          서울 마포구    NaN
265           2007-11-02  11440          서울 마포구    NaN
528           2007-11-03  11440          서울 마포구    NaN
791           2007-11-04  11440          서울 마포구    NaN
1054          2007-11-05  11440          서울 마포구    NaN
...                  ...    ...             ...    ...
1167722       2019-12-28  11440          서울 마포구    2.0
1167985       2019-12-29  11440          서울 마포구    0.0
1168248       2019-12-30  11440          서울 마포구    1.0
1168511       2019-12-31  11440          서울 마포구    2.0
1168774       2020-01-01  11440          서울 마포구    0.0

[4445 rows x 4 columns]

##### group_hospital 버리고 group_patient 기준으로만 하자 결정
여기서부터 처리는 다 group_patient 만 함

In [150]:
# Merge group_patient with idx with 법정동코드

group_patient_idx = pd.merge(group_patient, idx, on='법정동코드', how='inner')
group_patient_idx.sort_values(by='PRE_ER_ARREST_DT', inplace = True)
group_patient_idx.reset_index(drop = True, inplace = True)
group_patient_idx

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
0,2007-11-01,11680,서울 강남구,NaN,11230,강남구,2,1,NaN,NaN
1,2007-11-01,27200,대구 남구,NaN,22040,남구,51,0,대구,NaN
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,수원시 팔달구,128,1,NaN,NaN
3,2007-11-01,41590,경기 화성시,NaN,31240,화성시,247,1,NaN,NaN
4,2007-11-01,44200,충남 아산시,NaN,34040,아산시,133,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN
1066796,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN
1066797,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN
1066798,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN

In [151]:
# Merge group_patient_disease with idx with 법정동코드

group_patient_disease_idx = pd.merge(group_patient_disease, idx, on='법정동코드', how='inner')
group_patient_disease_idx.sort_values(by='PRE_ER_ARREST_DT', inplace = True)
group_patient_disease_idx.reset_index(drop = True, inplace = True)
group_patient_disease_idx

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
0,2007-11-01,11680,서울 강남구,NaN,11230,강남구,2,1,NaN,NaN
1,2007-11-01,27200,대구 남구,NaN,22040,남구,51,0,대구,NaN
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,수원시 팔달구,128,1,NaN,NaN
3,2007-11-01,41590,경기 화성시,NaN,31240,화성시,247,1,NaN,NaN
4,2007-11-01,44200,충남 아산시,NaN,34040,아산시,133,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN
1066796,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN
1066797,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN
1066798,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN

In [154]:
group_patient_idx.loc[group_patient_idx['법정동코드'] == 41133]  # 중원 check - ok

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN

In [155]:
group_patient_disease_idx.loc[group_patient_disease_idx['법정동코드'] == 41133]  # 중원 check - ok

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,성남시 중원구,116,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,성남시 중원구,116,1,NaN,NaN

In [156]:
# group_patient - 240개 다 매칭 잘 됨

240 * 4445

1066800

In [157]:
# group_hospital_idx.isna().sum()

In [158]:
group_patient_idx.isna().sum()

PRE_ER_ARREST_DT               0
법정동코드                          0
P_ADD_CITY_DIST                0
count                      14638
SIGUNGU_CD                     0
SIGUNGU_NM                     0
OBJECTID(air_out_idx)          0
check(수도권=1)                   0
location                  946785
SOCIAL                   1066800
dtype: int64

In [159]:
group_patient_disease_idx.isna().sum()

PRE_ER_ARREST_DT               0
법정동코드                          0
P_ADD_CITY_DIST                0
count_disease              14639
SIGUNGU_CD                     0
SIGUNGU_NM                     0
OBJECTID(air_out_idx)          0
check(수도권=1)                   0
location                  946785
SOCIAL                   1066800
dtype: int64

In [ ]:
# # aggregate by hospital location

# #pd.set_option("display.max_rows", 253)
# pd.reset_option('display.max_rows')
# group_hospital_table_location = group_hospital_idx.pivot_table(values='count', index=['법정동코드', 'SIGUNGU_NM', 'H_ADD_CITY_DIST'], aggfunc=np.sum)
# group_hospital_table_location

In [160]:
# aggregate by patient location - 그냥 한번 check (EDA용)
# 1위 - 종로구, 2위 - 중구, 3위 - 용산구

group_patient_table_location = group_patient_idx.pivot_table(values='count', index=['법정동코드', 'SIGUNGU_NM', 'P_ADD_CITY_DIST'], aggfunc=np.sum)
group_patient_table_location

                                   count
법정동코드 SIGUNGU_NM P_ADD_CITY_DIST
11110 종로구        서울 종로구           1086.0
11140 중구         서울 중구             896.0
11170 용산구        서울 용산구           1405.0
11200 성동구        서울 성동구           1554.0
11215 광진구        서울 광진구           1786.0
...                                  ...
48850 하동군        경남 하동군            607.0
48860 산청군        경남 산청군            475.0
48870 함양군        경남 함양군            592.0
48880 거창군        경남 거창군            765.0
48890 합천군        경남 합천군            704.0

[240 rows x 1 columns]

In [161]:
# aggregate by patient location - 그냥 한번 check (EDA용)
# 1위 - 종로구, 2위 - 중구, 3위 - 용산구

group_patient_disease_table_location = group_patient_disease_idx.pivot_table(values='count_disease', index=['법정동코드', 'SIGUNGU_NM', 'P_ADD_CITY_DIST'], aggfunc=np.sum)
group_patient_disease_table_location

                                  count_disease
법정동코드 SIGUNGU_NM P_ADD_CITY_DIST
11110 종로구        서울 종로구                   883.0
11140 중구         서울 중구                    717.0
11170 용산구        서울 용산구                  1116.0
11200 성동구        서울 성동구                  1208.0
11215 광진구        서울 광진구                  1395.0
...                                         ...
48850 하동군        경남 하동군                   440.0
48860 산청군        경남 산청군                   358.0
48870 함양군        경남 함양군                   435.0
48880 거창군        경남 거창군                   538.0
48890 합천군        경남 합천군                   513.0

[240 rows x 1 columns]

In [ ]:
# # group_hospital - aggregate by dates - 그냥 한번 check

# group_hospital_table_date = group_hospital_idx.pivot_table(values='count', index=['PRE_ER_ARREST_DT'], aggfunc=np.sum)
# group_hospital_table_date

In [162]:
# group_patient_idx - aggregate by dates - 그냥 한번 check (EDA용)

group_patient_table_date = group_patient_idx.pivot_table(values='count', index=['PRE_ER_ARREST_DT'], aggfunc=np.sum)
group_patient_table_date

                  count
PRE_ER_ARREST_DT
2007-11-01          0.0
2007-11-02          0.0
2007-11-03          0.0
2007-11-04          0.0
2007-11-05          0.0
...                 ...
2019-12-28         84.0
2019-12-29         97.0
2019-12-30        103.0
2019-12-31        110.0
2020-01-01          1.0

[4445 rows x 1 columns]

In [163]:
# group_patient_idx - aggregate by dates - 그냥 한번 check (EDA용)

group_patient_disease_table_date = group_patient_disease_idx.pivot_table(values='count_disease', index=['PRE_ER_ARREST_DT'], aggfunc=np.sum)
group_patient_disease_table_date

                  count_disease
PRE_ER_ARREST_DT
2007-11-01                  0.0
2007-11-02                  0.0
2007-11-03                  0.0
2007-11-04                  0.0
2007-11-05                  0.0
...                         ...
2019-12-28                 64.0
2019-12-29                 78.0
2019-12-30                 79.0
2019-12-31                 92.0
2020-01-01                  1.0

[4445 rows x 1 columns]

In [18]:
group_patient_idx.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_idx.csv', encoding = 'euc-kr', index = False)
group_patient_disease_idx.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_disease_idx.csv', encoding = 'euc-kr', index = False)
# group_hospital_idx.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_idx.csv', encoding = 'euc-kr', index = False)

In [125]:
# # 지역별 aggregate 

# group_patient_table_location.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_table_location.csv', encoding = 'euc-kr')
# # group_hospital_table_location.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_table_location.csv', encoding = 'euc-kr')

In [126]:
# # 일자별 aggregate

# group_patient_table_date.to_csv('data\급성심장정지조사(08-19)SAS\group_patient_table_date.csv', encoding = 'euc-kr')
# # group_hospital_table_date.to_csv('data\급성심장정지조사(08-19)SAS\group_hospital_table_date.csv', encoding = 'euc-kr')

#### Air data

##### index 생성

In [164]:
# r 코드 돌려서 만든 air_2020_idx 가져오기

air_2020_idx_zio = pd.read_csv('data\\out of hospital sudden cardiac arrest\\air_2020_idx_zio.csv', encoding = 'euc-kr')
air_2020_idx_zio

                             주소   측정소코드  air_out_idx
0    강원 강릉시 경강로 2179(옥천동 327-2)  632132            4
1                    강원 고성군 간성읍  632421           17
2            강원 고성군 간성읍 수성로 160  632441           17
3        강원 동해시 천곡로 77(천곡동 806)  632151           77
4      강원 삼척시 남양길 11(남양동 331-9)  632161          102
..                          ...     ...          ...
657  충청북도 청주시 상당구 가덕면 보청대로 4650  633215          221
658         충청북도 청주시 서원구 원흥로 81  633213          222
659  충청북도 청주시 흥덕구 오송읍 오송생명로 150  633214          224
660      충청북도 충주시 살미면 세성양지말길 41  633125          226
661     충청북도 충주시 중앙탑면 기업도시로 237  633124          226

[662 rows x 3 columns]

In [165]:
# merge with qgis_지도_idx

map_air_idx = pd.merge(idx, air_2020_idx_zio, left_on='OBJECTID(air_out_idx)', right_on='air_out_idx')
map_air_idx

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드,주소,측정소코드,air_out_idx
0,31370,가평군,1,1,NaN,NaN,41820,경기도 가평군 가평읍 석봉로 181,131611,1
1,31370,가평군,1,1,NaN,NaN,41820,경기도 가평군 설악면 한서로 8,131612,1
2,11230,강남구,2,1,NaN,NaN,11680,서울 강남구 도산대로 104,111263,2
3,11230,강남구,2,1,NaN,NaN,11680,서울 강남구 학동로 426,111261,2
4,11250,강동구,3,1,NaN,NaN,11740,서울 강동구 구천면로 42길 59,111274,3
...,...,...,...,...,...,...,...,...,...,...
624,32370,화천군,249,0,NaN,NaN,42790,강원도 화천군 화천읍 풍산리 산269,132992,249
625,32370,화천군,249,0,NaN,NaN,42790,강원도 화천군 화천읍 화천새싹길 45,632501,249
626,32320,횡성군,250,0,NaN,NaN,42730,강원 횡성군 강림면 강림리(치악산),632431,250
627,32320,횡성군,250,0,NaN,NaN,42730,강원 횡성군 횡성읍 중앙로 30,632432,250
628,32320,횡성군,250,0,NaN,NaN,42730,강원도 횡성군 횡성읍 중앙로 30,632432,250

In [166]:
map_air_idx.drop_duplicates(subset=['air_out_idx'], inplace = True)   # 240개 확인
map_air_idx.reset_index(drop = True, inplace = True)
map_air_idx

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드,주소,측정소코드,air_out_idx
0,31370,가평군,1,1,NaN,NaN,41820,경기도 가평군 가평읍 석봉로 181,131611,1
1,11230,강남구,2,1,NaN,NaN,11680,서울 강남구 도산대로 104,111263,2
2,11250,강동구,3,1,NaN,NaN,11740,서울 강동구 구천면로 42길 59,111274,3
3,32030,강릉시,4,0,NaN,NaN,42150,강원 강릉시 경강로 2179(옥천동 327-2),632132,4
4,11090,강북구,5,1,NaN,NaN,11305,서울 강북구 삼양로 139길 49,111291,5
...,...,...,...,...,...,...,...,...,...,...
235,32310,홍천군,246,0,NaN,NaN,42720,강원 홍천군 홍천읍 연봉동로 27,632481,246
236,31240,화성시,247,1,NaN,NaN,41590,경기 화성시 남양읍 남양성지로 192-5,131551,247
237,36370,화순군,248,0,NaN,NaN,46790,전남 화순군 북면 송단리,336451,248
238,32370,화천군,249,0,NaN,NaN,42790,강원 화천군 화천읍 화천새싹길 45,632501,249
239,32320,횡성군,250,0,NaN,NaN,42730,강원 횡성군 강림면 강림리(치악산),632431,250

In [167]:
# 겹치는 column drop

map_air_idx.drop(columns = {'SIGUNGU_CD', 'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'check(수도권=1)', 'location', 'SOCIAL'}, inplace = True)
map_air_idx

     법정동코드                          주소   측정소코드  air_out_idx
0    41820         경기도 가평군 가평읍 석봉로 181  131611            1
1    11680             서울 강남구 도산대로 104  111263            2
2    11740          서울 강동구 구천면로 42길 59  111274            3
3    42150  강원 강릉시 경강로 2179(옥천동 327-2)  632132            4
4    11305          서울 강북구 삼양로 139길 49  111291            5
..     ...                         ...     ...          ...
235  42720          강원 홍천군 홍천읍 연봉동로 27  632481          246
236  41590      경기 화성시 남양읍 남양성지로 192-5  131551          247
237  46790               전남 화순군 북면 송단리  336451          248
238  42790         강원 화천군 화천읍 화천새싹길 45  632501          249
239  42730         강원 횡성군 강림면 강림리(치악산)  632431          250

[240 rows x 4 columns]

In [168]:
map_air_idx.loc[map_air_idx['법정동코드'] == 41133]  # 중원 check - ok

     법정동코드                   주소   측정소코드  air_out_idx
111  41133  경기 성남시 중원구 둔촌대로 425  131129          116

In [ ]:
# # merge group_hospital_idx with air, map idx

# group_hospital_idx_air = pd.merge(group_hospital_idx, map_air_idx, on='법정동코드', how='left')
# group_hospital_idx_air

In [169]:
# merge group_patient_idx with air, map idx

group_patient_idx_air = pd.merge(group_patient_idx, map_air_idx, on='법정동코드', how='left')
group_patient_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,강남구,2,1,NaN,NaN,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,남구,51,0,대구,NaN,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,수원시 팔달구,128,1,NaN,NaN,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,화성시,247,1,NaN,NaN,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,아산시,133,0,NaN,NaN,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN,인천 미추홀구 독정안길 26,823632,83

In [170]:
# merge group_patient_disease_idx with air, map idx

group_patient_disease_idx_air = pd.merge(group_patient_disease_idx, map_air_idx, on='법정동코드', how='left')
group_patient_disease_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,강남구,2,1,NaN,NaN,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,남구,51,0,대구,NaN,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,수원시 팔달구,128,1,NaN,NaN,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,화성시,247,1,NaN,NaN,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,아산시,133,0,NaN,NaN,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,안성시,137,1,NaN,NaN,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,동구,70,0,광주,NaN,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,연수구,148,1,NaN,NaN,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,목포시,79,0,NaN,NaN,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,미추홀구,83,1,NaN,NaN,인천 미추홀구 독정안길 26,823632,83

In [171]:
240 * 4445

1066800

In [172]:
# 필요 없는 칼럼 한번 다시 정리

# group_hospital_idx_air.drop(columns = {'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'location', 'SOCIAL'}, axis = 1, inplace = True)
group_patient_idx_air.drop(columns = {'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'location', 'SOCIAL'}, axis = 1, inplace = True)
group_patient_disease_idx_air.drop(columns = {'SIGUNGU_NM', 'OBJECTID(air_out_idx)', 'location', 'SOCIAL'}, axis = 1, inplace = True)

In [173]:
group_patient_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83

In [174]:
group_patient_disease_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83

In [177]:
group_patient_idx_air.loc[group_patient_idx_air['법정동코드'] == 41133]  # 중원 check - ok

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116

In [178]:
group_patient_disease_idx_air.loc[group_patient_disease_idx_air['법정동코드'] == 41133]  # 중원 check - ok

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116

In [175]:
# group_patient_idx_air summary

print('patient <측정소코드> unique values: ', len(group_patient_idx_air['측정소코드'].unique()))
print('patient <air_out_idx> unique values: ', len(group_patient_idx_air['air_out_idx'].unique()))
print('patient <count> NaNs: ', group_patient_idx_air['count'].isna().sum())

patient <측정소코드> unique values:  240
patient <air_out_idx> unique values:  240
patient <count> NaNs:  14638

In [179]:
# group_patient_idx_air summary

print('patient_disease <측정소코드> unique values: ', len(group_patient_disease_idx_air['측정소코드'].unique()))
print('patient_disease <air_out_idx> unique values: ', len(group_patient_disease_idx_air['air_out_idx'].unique()))
print('patient_disease <count> NaNs: ', group_patient_disease_idx_air['count_disease'].isna().sum())

patient_disease <측정소코드> unique values:  240
patient_disease <air_out_idx> unique values:  240
patient_disease <count> NaNs:  14639

In [180]:
# 날짜 칼럼 datetime으로 

group_patient_idx_air['PRE_ER_ARREST_DT'] = pd.to_datetime(group_patient_idx_air['PRE_ER_ARREST_DT'])
group_patient_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83

In [181]:
# 날짜 칼럼 datetime으로 

group_patient_disease_idx_air['PRE_ER_ARREST_DT'] = pd.to_datetime(group_patient_disease_idx_air['PRE_ER_ARREST_DT'])
group_patient_disease_idx_air

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133
...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83

In [598]:
# 여기까지 깔끔 ~

In [ ]:
# # group_hospital_idx_air summary

# print('patient <측정소코드> unique values: ', len(group_hospital_idx_air['측정소코드'].unique()))
# print('patient <air_out_idx> unique values: ', len(group_hospital_idx_air['air_out_idx'].unique()))
# print('patient <count> unique values: ', group_hospital_idx_air['count'].isna().sum())

##### air data 불러오기

In [ ]:
# air data 불러와서 합치기 - 11분 소요 - 안해도 됨!

year_list = np.arange(2008, 2020, 1).tolist()
year_list = list(map(str, year_list))
year_list

air_data = pd.DataFrame()
for year in year_list: 
    air_tmp = pd.read_excel('data\\out of hospital sudden cardiac arrest\\air_year_{}.xlsx'.format(year))
    air_data = pd.concat([air_data, air_tmp], axis = 0)

In [ ]:
# air_data.to_csv('data\\out of hospital sudden cardiac arrest\\air_0819_zio.csv', encoding = 'euc-kr', index = False)

##### air - 07년도 데이터 추가

In [771]:
# 07년도 데이터 추가

air_07 = pd.read_excel('data\\out of hospital sudden cardiac arrest\\air_year_2007.xlsx')
air_07

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,NO2_median,NO2_min,NO2_max,NO2_sum,PM10_count,PM10_mean,PM10_median,PM10_min,PM10_max,PM10_sum
0,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-01,24,0.0051,0.0050,0.003,0.008,...,0.0240,0.011,0.037,0.576,24,42.2917,39.5,26.0,67.0,1015
1,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-02,24,0.0048,0.0050,0.001,0.008,...,0.0195,0.013,0.031,0.488,24,40.9167,40.0,16.0,79.0,982
2,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-03,24,0.0061,0.0060,0.004,0.010,...,0.0195,0.011,0.033,0.447,24,64.3333,64.0,45.0,88.0,1544
3,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-04,24,0.0051,0.0050,0.002,0.007,...,0.0180,0.009,0.035,0.466,24,46.7917,48.0,22.0,66.0,1123
4,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-01-05,24,0.0053,0.0050,0.002,0.008,...,0.0280,0.008,0.036,0.582,24,50.8333,49.0,19.0,87.0,1220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95949,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-27,24,0.0176,0.0170,0.011,0.026,...,0.0395,0.025,0.047,0.910,24,151.9583,157.0,79.0,236.0,3647
95950,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-28,24,0.0116,0.0100,0.007,0.020,...,0.0380,0.032,0.048,0.904,21,75.8571,72.0,54.0,115.0,1593
95951,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-29,24,0.0114,0.0090,0.004,0.022,...,0.0255,0.017,0.035,0.615,17,185.5294,152.0,107.0,352.0,3154
95952,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-30,24,0.0070,0.0065,0.004,0.013,...,0.0170,0.011,0.026,0.423,24,156.9167,156.0,59.0,275.0,3766
95953,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-31,24,0.0075,0.0070,0.005,0.012,...,0.0210,0.010,0.035,0.500,15,112.2000,108.0,72.0,157.0,1683

In [774]:
air_07['dt'] = air_07['dt'].astype(str)

In [777]:
# 11월, 12월만 뽑기

air_07_1112 = air_07.loc[air_07['dt'].str[0:7].isin(['2007-11', '2007-12'])]
air_07_1112

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,NO2_median,NO2_min,NO2_max,NO2_sum,PM10_count,PM10_mean,PM10_median,PM10_min,PM10_max,PM10_sum
304,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-01,24,0.0013,0.0010,0.001,0.003,...,0.0085,0.004,0.030,0.259,24,57.7917,55.0,27.0,100.0,1387
305,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-02,24,0.0011,0.0010,0.001,0.002,...,0.0175,0.006,0.037,0.421,24,40.5417,39.0,26.0,64.0,973
306,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-03,24,0.0019,0.0010,0.001,0.004,...,0.0155,0.008,0.033,0.394,24,49.4167,47.0,29.0,68.0,1186
307,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-04,24,0.0015,0.0010,0.001,0.004,...,0.0130,0.005,0.029,0.327,24,39.7500,38.0,28.0,63.0,954
308,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,...,0.0185,0.006,0.033,0.464,24,46.7917,44.5,27.0,79.0,1123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95949,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-27,24,0.0176,0.0170,0.011,0.026,...,0.0395,0.025,0.047,0.910,24,151.9583,157.0,79.0,236.0,3647
95950,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-28,24,0.0116,0.0100,0.007,0.020,...,0.0380,0.032,0.048,0.904,21,75.8571,72.0,54.0,115.0,1593
95951,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-29,24,0.0114,0.0090,0.004,0.022,...,0.0255,0.017,0.035,0.615,17,185.5294,152.0,107.0,352.0,3154
95952,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-30,24,0.0070,0.0065,0.004,0.013,...,0.0170,0.011,0.026,0.423,24,156.9167,156.0,59.0,275.0,3766
95953,충북 충주시,633123,칠금동,충북 충주시 칠금동,2007-12-31,24,0.0075,0.0070,0.005,0.012,...,0.0210,0.010,0.035,0.500,15,112.2000,108.0,72.0,157.0,1683

In [781]:
air_data2 = pd.concat([air_07_1112, air_data], axis = 0)
air_data2.reset_index(drop = True, inplace = True)
air_data2.to_csv('data\\out of hospital sudden cardiac arrest\\air_0711-1912_zio.csv', encoding = 'euc-kr', index = False)

##### air_data 다시 불러오기 (07.11 ~ 19.12)

In [182]:
# air_data 다시 불러오기 

air_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\air_0711-1912_zio.csv', encoding = 'euc-kr')

In [183]:
air_data

,지역,측정소코드,측정소명,주소,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-01,24,0.0013,0.001,0.001,0.003,...,55.0,27.0,100.0,1387,NaN,NaN,NaN,NaN,NaN,NaN
1,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-02,24,0.0011,0.001,0.001,0.002,...,39.0,26.0,64.0,973,NaN,NaN,NaN,NaN,NaN,NaN
2,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-03,24,0.0019,0.001,0.001,0.004,...,47.0,29.0,68.0,1186,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-04,24,0.0015,0.001,0.001,0.004,...,38.0,28.0,63.0,954,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,강원 강릉시 옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,...,44.5,27.0,79.0,1123,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437562,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-27,24,0.0039,0.004,0.003,0.006,...,44.5,30.0,78.0,1100,24.0,22.0417,20.5,13.0,44.0,529.0
1437563,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-28,24,0.0041,0.004,0.003,0.006,...,54.0,30.0,85.0,1256,24.0,24.1250,23.5,14.0,36.0,579.0
1437564,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-29,24,0.0042,0.004,0.003,0.006,...,59.0,43.0,77.0,1400,24.0,33.8333,32.0,27.0,46.0,812.0
1437565,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-30,22,0.0034,0.003,0.003,0.005,...,37.0,28.0,72.0,978,24.0,27.5000,26.0,14.0,52.0,660.0
1437566,충북 충주시,633123,칠금동,충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37),2019-12-31,24,0.0030,0.003,0.003,0.004,...,32.0,26.0,47.0,811,24.0,14.2083,14.5,8.0,19.0,341.0

In [184]:
# '주소' 겹치니까 지우기

air_data.drop(columns = ['주소'], axis = 1, inplace = True)
air_data

,지역,측정소코드,측정소명,dt,SO2_count,SO2_mean,SO2_median,SO2_min,SO2_max,SO2_sum,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,강원 강릉시,632132,옥천동,2007-11-01,24,0.0013,0.001,0.001,0.003,0.030,...,55.0,27.0,100.0,1387,NaN,NaN,NaN,NaN,NaN,NaN
1,강원 강릉시,632132,옥천동,2007-11-02,24,0.0011,0.001,0.001,0.002,0.027,...,39.0,26.0,64.0,973,NaN,NaN,NaN,NaN,NaN,NaN
2,강원 강릉시,632132,옥천동,2007-11-03,24,0.0019,0.001,0.001,0.004,0.046,...,47.0,29.0,68.0,1186,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,2007-11-04,24,0.0015,0.001,0.001,0.004,0.035,...,38.0,28.0,63.0,954,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,2007-11-05,0,NaN,NaN,NaN,NaN,0.000,...,44.5,27.0,79.0,1123,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437562,충북 충주시,633123,칠금동,2019-12-27,24,0.0039,0.004,0.003,0.006,0.093,...,44.5,30.0,78.0,1100,24.0,22.0417,20.5,13.0,44.0,529.0
1437563,충북 충주시,633123,칠금동,2019-12-28,24,0.0041,0.004,0.003,0.006,0.099,...,54.0,30.0,85.0,1256,24.0,24.1250,23.5,14.0,36.0,579.0
1437564,충북 충주시,633123,칠금동,2019-12-29,24,0.0042,0.004,0.003,0.006,0.100,...,59.0,43.0,77.0,1400,24.0,33.8333,32.0,27.0,46.0,812.0
1437565,충북 충주시,633123,칠금동,2019-12-30,22,0.0034,0.003,0.003,0.005,0.074,...,37.0,28.0,72.0,978,24.0,27.5000,26.0,14.0,52.0,660.0
1437566,충북 충주시,633123,칠금동,2019-12-31,24,0.0030,0.003,0.003,0.004,0.073,...,32.0,26.0,47.0,811,24.0,14.2083,14.5,8.0,19.0,341.0

In [185]:
air_data.isna().sum()

지역                  0
측정소코드               0
측정소명                0
dt                  0
SO2_count           0
SO2_mean        45431
SO2_median      45431
SO2_min         45431
SO2_max         45431
SO2_sum             0
CO_count            0
CO_mean         46585
CO_median       46585
CO_min          46585
CO_max          46585
CO_sum              0
O3_count            0
O3_mean         42993
O3_median       42993
O3_min          42993
O3_max          42993
O3_sum              0
NO2_count           0
NO2_mean        32031
NO2_median      32031
NO2_min         32031
NO2_max         32031
NO2_sum             0
PM10_count          0
PM10_mean       43841
PM10_median     43841
PM10_min        43841
PM10_max        43841
PM10_sum            0
PM25_count     666662
PM25_mean      977954
PM25_median    977954
PM25_min       977954
PM25_max       977954
PM25_sum       666662
dtype: int64

In [186]:
len(air_data['측정소코드'].unique())

497

In [187]:
air_data.dtypes

지역              object
측정소코드            int64
측정소명            object
dt              object
SO2_count        int64
SO2_mean       float64
SO2_median     float64
SO2_min        float64
SO2_max        float64
SO2_sum        float64
CO_count         int64
CO_mean        float64
CO_median      float64
CO_min         float64
CO_max         float64
CO_sum         float64
O3_count         int64
O3_mean        float64
O3_median      float64
O3_min         float64
O3_max         float64
O3_sum         float64
NO2_count        int64
NO2_mean       float64
NO2_median     float64
NO2_min        float64
NO2_max        float64
NO2_sum        float64
PM10_count       int64
PM10_mean      float64
PM10_median    float64
PM10_min       float64
PM10_max       float64
PM10_sum         int64
PM25_count     float64
PM25_mean      float64
PM25_median    float64
PM25_min       float64
PM25_max       float64
PM25_sum       float64
dtype: object

In [188]:
# date column 이름 맞춰주기

air_data.rename(columns = {'dt' : 'PRE_ER_ARREST_DT'}, inplace = True)

In [189]:
# 날짜 칼럼에 null 없는 거 check

air_data['PRE_ER_ARREST_DT'].isna().sum()

0

In [190]:
# datetime 으로 변경

air_data['PRE_ER_ARREST_DT'] = pd.to_datetime(air_data['PRE_ER_ARREST_DT'])

In [191]:
# # air_hospital_final

# air_hospital_final = pd.merge(group_hospital_idx_air, air_data, on=['측정소코드', 'PRE_ER_ARREST_DT'], how = 'left')
# air_hospital_final

In [192]:
# air_patient_final

air_patient_final = pd.merge(group_patient_idx_air, air_data, on=['측정소코드', 'PRE_ER_ARREST_DT'], how = 'left')
air_patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,34.0,29.0,49.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51,대구 남구,...,44.5,14.0,90.0,1010.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,40.0,26.0,81.0,1048.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,63.5,28.0,106.0,1503.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
# air_patient_disease_final

air_patient_disease_final = pd.merge(group_patient_disease_idx_air, air_data, on=['측정소코드', 'PRE_ER_ARREST_DT'], how = 'left')
air_patient_disease_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,34.0,29.0,49.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-01,27200,대구 남구,NaN,22040,0,대구 남구 성당로30길55 성명초등학교별관3층옥상,422141,51,대구 남구,...,44.5,14.0,90.0,1010.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,40.0,26.0,81.0,1048.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,63.5,28.0,106.0,1503.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-01,44200,충남 아산시,NaN,34040,0,충남 아산시 도고면 기곡리 296-4,534443,133,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066795,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066796,2020-01-01,29110,광주 동구,0.0,24010,0,광주 동구 서남로 1,324115,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066797,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066798,2020-01-01,46110,전남 목포시,0.0,36010,0,전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상),336111,79,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066799,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
240 * 4445

1066800

In [195]:
air_patient_final.loc[air_patient_final['법정동코드'] == 41133]  # 중원 check - air_patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,24.7917,24.5,17.0,33.0,595.0
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,27.2500,26.5,22.0,34.0,654.0
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,25.5000,26.0,12.0,36.0,612.0
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,13.2083,12.0,9.0,24.0,317.0
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
air_patient_disease_final.loc[air_patient_disease_final['법정동코드'] == 41133]  # 중원 check - air_patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
105,2007-11-01,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2007-11-02,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,2007-11-03,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,2007-11-04,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,2007-11-05,41133,경기 성남시 중원구,NaN,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065609,2019-12-28,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,24.7917,24.5,17.0,33.0,595.0
1065851,2019-12-29,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,27.2500,26.5,22.0,34.0,654.0
1066199,2019-12-30,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,25.5000,26.0,12.0,36.0,612.0
1066394,2019-12-31,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,경기 성남시,...,NaN,NaN,NaN,0.0,24.0,13.2083,12.0,9.0,24.0,317.0
1066678,2020-01-01,41133,경기 성남시 중원구,0.0,31022,1,경기 성남시 중원구 둔촌대로 425,131129,116,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
air_patient_final.isna().sum()   # 주요 변수에 null 없는 거 확인

PRE_ER_ARREST_DT         0
법정동코드                    0
P_ADD_CITY_DIST          0
count                14638
SIGUNGU_CD               0
check(수도권=1)             0
주소                       0
측정소코드                    0
air_out_idx              0
지역                  403567
측정소명                403567
SO2_count           403567
SO2_mean            427632
SO2_median          427632
SO2_min             427632
SO2_max             427632
SO2_sum             403567
CO_count            403567
CO_mean             428461
CO_median           428461
CO_min              428461
CO_max              428461
CO_sum              403567
O3_count            403567
O3_mean             418373
O3_median           418373
O3_min              418373
O3_max              418373
O3_sum              403567
NO2_count           403567
NO2_mean            419721
NO2_median          419721
NO2_min             419721
NO2_max             419721
NO2_sum             403567
PM10_count          403567
PM10_mean           424755
PM10_median         424755
PM10_min            424755
PM10_max            424755
PM10_sum            403567
PM25_count          704917
PM25_mean           842024
PM25_median         842024
PM25_min            842024
PM25_max            842024
PM25_sum            704917
dtype: int64

In [198]:
air_patient_disease_final.isna().sum()   # 주요 변수에 null 없는 거 확인

PRE_ER_ARREST_DT         0
법정동코드                    0
P_ADD_CITY_DIST          0
count_disease        14639
SIGUNGU_CD               0
check(수도권=1)             0
주소                       0
측정소코드                    0
air_out_idx              0
지역                  403567
측정소명                403567
SO2_count           403567
SO2_mean            427632
SO2_median          427632
SO2_min             427632
SO2_max             427632
SO2_sum             403567
CO_count            403567
CO_mean             428461
CO_median           428461
CO_min              428461
CO_max              428461
CO_sum              403567
O3_count            403567
O3_mean             418373
O3_median           418373
O3_min              418373
O3_max              418373
O3_sum              403567
NO2_count           403567
NO2_mean            419721
NO2_median          419721
NO2_min             419721
NO2_max             419721
NO2_sum             403567
PM10_count          403567
PM10_mean           424755
PM10_median         424755
PM10_min            424755
PM10_max            424755
PM10_sum            403567
PM25_count          704917
PM25_mean           842024
PM25_median         842024
PM25_min            842024
PM25_max            842024
PM25_sum            704917
dtype: int64

In [199]:
# # air_hospital_final summary

# print('air_hospital <air_out_idx> unique values: ', len(air_hospital_final['air_out_idx'].unique()))
# print('air_hospital <측정소코드> unique values: ',len(air_hospital_final['측정소코드'].unique()))

In [200]:
# air_patient_final summary - 240개 통일 확인

print('air_patient <air_out_idx> unique values: ', len(air_patient_final['air_out_idx'].unique()))
print('air_patient <측정소코드> unique values: ',len(air_patient_final['측정소코드'].unique()))

air_patient <air_out_idx> unique values:  240
air_patient <측정소코드> unique values:  240

In [201]:
# air_patient_disease_final summary - 240개 통일 확인

print('air_patient_disease <air_out_idx> unique values: ', len(air_patient_disease_final['air_out_idx'].unique()))
print('air_patient_disease <측정소코드> unique values: ',len(air_patient_disease_final['측정소코드'].unique()))

air_patient_disease <air_out_idx> unique values:  240
air_patient_disease <측정소코드> unique values:  240

#### Weather data

##### weather index 불러오기
- 수도권 71개만 있음 (air_out_idx)

In [202]:
weather_index = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_index.csv', encoding = 'euc-kr')
weather_index

       지점     지점명  air_out_idx
0     505    가평조종            1
1     505      현리            1
2     505    가평조종            1
3    1524    설악활곡            1
4    1428  명지산주차장            1
..    ...     ...          ...
843  1578     동탄2          247
844  1413      팔탄          247
845   489      서신          247
846   571      서신          247
847  1577      반월          247

[848 rows x 3 columns]

In [203]:
weather_index.drop_duplicates(subset=['지점'], inplace = True)   # 지점 기준 drop dup - 621개
weather_index.reset_index(drop = True, inplace = True)
weather_index

       지점     지점명  air_out_idx
0     505    가평조종            1
1    1524    설악활곡            1
2    1428  명지산주차장            1
3    1432    호명호수            1
4    1256      청평            1
..    ...     ...          ...
616  1509     남양동          247
617  1414      남양          247
618  1578     동탄2          247
619  1413      팔탄          247
620  1577      반월          247

[621 rows x 3 columns]

In [204]:
weather_index.drop(['지점명'], axis = 1, inplace = True)

In [205]:
weather_index

       지점  air_out_idx
0     505            1
1    1524            1
2    1428            1
3    1432            1
4    1256            1
..    ...          ...
616  1509          247
617  1414          247
618  1578          247
619  1413          247
620  1577          247

[621 rows x 2 columns]

In [247]:
중원_지점_리스트 = weather_index.loc[weather_index['air_out_idx'] == 116, '지점'].tolist()  # 중원 check - ok
중원_지점_리스트     # weather data의 '지점' 칼럼에 얘네 있는지 보자 (weather_index에는 있으므로 weather_data가 문제임)

[1317, 1555, 1463, 1321, 1320]

In [248]:
len(weather_index['air_out_idx'].unique())

71

In [ ]:
# weather data 불러오기 - 11분 소요 - 안해도 됨!

year_list = np.arange(2008, 2020, 1).tolist()
year_list = list(map(str, year_list))
year_list

weather_data = pd.DataFrame()
for year in year_list: 
    weather_tmp = pd.read_excel('data\\out of hospital sudden cardiac arrest\\weather_day_year{}.xlsx'.format(year))
    weather_data = pd.concat([weather_data, weather_tmp], axis = 0)

In [ ]:
# weather_data.to_csv('data\\out of hospital sudden cardiac arrest\\weather_0819_zio.csv', encoding = 'euc-kr', index = False)

##### weather_07 데이터 추가 - 안해도 됨! (이미 합쳐서 내보내놨음)

In [801]:
weather_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_0819_zio.csv', encoding = 'euc-kr')

In [55]:
weather_07 = pd.read_excel('data\\out of hospital sudden cardiac arrest\\weather_day_year2007.xlsx')
weather_07

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,12,안면도(감),2007-01-05,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,3,0.0,0.0,0.0,0.0,0.0
1,12,안면도(감),2007-01-10,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,2,0.0,0.0,0.0,0.0,0.0
2,12,안면도(감),2007-02-10,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0
3,12,안면도(감),2007-05-11,0,NaN,NaN,NaN,NaN,0.0,0,...,NaN,NaN,NaN,0.0,1,0.0,0.0,0.0,0.0,0.0
4,12,안면도(감),2007-11-13,10,12.1,12.25,10.2,13.9,121.4,10,...,0.0,0.0,0.0,0.0,10,68.0,66.5,60.1,85.4,680.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200609,978,춘천신북,2007-12-24,0,NaN,NaN,NaN,NaN,0.0,1,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200610,978,춘천신북,2007-12-26,0,NaN,NaN,NaN,NaN,0.0,4,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200611,978,춘천신북,2007-12-29,0,NaN,NaN,NaN,NaN,0.0,5,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200612,978,춘천신북,2007-12-30,0,NaN,NaN,NaN,NaN,0.0,15,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0
200613,978,춘천신북,2007-12-31,0,NaN,NaN,NaN,NaN,0.0,6,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0

In [804]:
# 11월, 12월만 뽑기

weather_07['dt'] = weather_07['dt'].astype(str)
weather_07_1112 = weather_07.loc[weather_07['dt'].str[0:7].isin(['2007-11', '2007-12'])].copy()
weather_07_1112.sort_values(by='dt', inplace = True)
weather_07_1112

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
108290,650,양지,2007-11-01,24,5.8,6.55,-1.4,10.6,139.0,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
84202,583,안흥,2007-11-01,24,6.3,6.90,-0.5,9.6,150.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
30591,300,말도,2007-11-01,24,12.1,11.80,10.6,15.0,291.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
186430,917,사천,2007-11-01,24,11.6,10.80,6.4,17.5,279.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
164832,826,신녕,2007-11-01,24,10.7,11.50,5.1,14.4,257.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66745,534,장호원,2007-12-31,24,-4.9,-5.70,-6.8,-1.9,-117.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
67110,535,서석,2007-12-31,24,-7.8,-8.20,-10.5,-5.0,-186.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
168542,836,현서,2007-12-31,24,-6.4,-6.85,-8.8,-3.1,-153.8,24,...,0.0,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0
135698,746,땅끝,2007-12-31,24,0.7,0.85,-0.8,3.0,17.8,24,...,0.0,0.0,0.5,1.5,24,0.0,0.0,0.0,0.0,0.0
200613,978,춘천신북,2007-12-31,0,NaN,NaN,NaN,NaN,0.0,6,...,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0

In [805]:
weather_data2 = pd.concat([weather_07_1112, weather_data], axis = 0)
weather_data2.reset_index(drop = True, inplace = True)
weather_data2.to_csv('data\\out of hospital sudden cardiac arrest\\weather_0711-1912_zio.csv', encoding = 'euc-kr', index = False)

##### weather_data 다시 불러오기 (07.11 ~ 19.12)

In [209]:
weather_data = pd.read_csv('data\\out of hospital sudden cardiac arrest\\weather_0711-1912_zio.csv', encoding = 'euc-kr')

In [210]:
weather_data

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_median,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum
0,650,양지,2007-11-01,24,5.8,6.55,-1.4,10.6,139.0,24,...,0.0,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0
1,583,안흥,2007-11-01,24,6.3,6.90,-0.5,9.6,150.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0
2,300,말도,2007-11-01,24,12.1,11.80,10.6,15.0,291.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0
3,917,사천,2007-11-01,24,11.6,10.80,6.4,17.5,279.4,24,...,0.0,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0
4,826,신녕,2007-11-01,24,10.7,11.50,5.1,14.4,257.9,24,...,0.0,0.0,0.0,0.0,24,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593804,980,강정,2019-12-27,24,5.3,5.20,4.3,6.7,127.3,24,...,0.0,0.0,0.0,0.0,24,57.6,57.00,51.9,66.8,1381.9
2593805,980,강정,2019-12-28,24,6.0,5.55,1.4,10.6,143.7,24,...,0.0,0.0,0.0,0.0,24,68.5,67.10,53.5,83.6,1644.6
2593806,980,강정,2019-12-29,24,11.2,10.50,7.0,15.8,268.2,24,...,0.0,0.0,13.5,38.5,24,83.9,80.15,73.3,98.0,2012.7
2593807,980,강정,2019-12-30,24,12.3,12.70,8.6,14.5,294.5,24,...,0.0,0.0,0.0,0.0,24,77.7,76.90,63.2,93.2,1865.0
2593808,980,강정,2019-12-31,24,4.1,3.45,1.3,8.6,98.9,24,...,0.0,0.0,0.0,0.0,24,61.8,59.15,44.0,82.6,1482.3

In [211]:
len(weather_data['지점'].unique())

632

In [249]:
weather_data.loc[weather_data['지점'].isin(중원_지점_리스트)]

Empty DataFrame
Columns: [지점, 지점명, dt, temp_count, temp_mean, temp_median, temp_min, temp_max, temp_sum, rain_count, rain_mean, rain_median, rain_min, rain_max, rain_sum, humi_count, humi_mean, humi_median, humi_min, humi_max, humi_sum]
Index: []

[0 rows x 21 columns]

In [58]:
# weather_data.loc[weather_data['지점'] == 418, '지점명'].unique()

In [59]:
# len(weather_data['지점'].unique())
# len(weather_index['지점'].unique())
# len(weather_index['air_out_idx'].unique())
# a = set(weather_data['지점'].unique())
# b = set(weather_index['지점'].unique())

# len(a.intersection(b))
# a2 = set(weather_data['지점명'].unique())
# b2 = set(weather_index['지점명'].unique())

# a2.intersection(b2)
# unique_place = weather_data['지점명'].unique().tolist()
# unique_place

In [60]:
# # join key 얼마나 겹치는지 확인

# a = set(weather_index['지점'].unique())
# b = set(weather_data['지점'].unique())

# len(a.intersection(b))

In [61]:
# wdata_list = pd.DataFrame({'지점' : weather_data['지점'].unique().tolist(), '지점2' : weather_data['지점'].unique().tolist()})
# wdata_list

In [62]:
# pd.set_option('display.max_rows', 1000)
# test = pd.merge(weather_index, wdata_list, on = '지점', how = 'left')
# test
# test2 = pd.merge(wdata_list, weather_index, on = '지점', how = 'left')
# test2

In [212]:
# pd.set_option("display.max_rows", 253)
weather_data_idx = pd.merge(weather_data, weather_index, on='지점', how = 'inner')
weather_data_idx

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,203,이천,2007-11-01,24,9.4,9.55,6.3,12.6,225.2,0,...,NaN,NaN,0.0,24,47.5,47.50,22.0,84.0,1139.0,183
1,203,이천,2007-11-02,24,7.6,6.55,3.2,14.3,182.0,0,...,NaN,NaN,0.0,24,59.3,61.50,25.0,84.0,1424.0,183
2,203,이천,2007-11-03,24,8.5,8.55,1.7,17.1,203.8,0,...,NaN,NaN,0.0,24,60.0,57.00,24.0,93.0,1439.0,183
3,203,이천,2007-11-04,24,6.9,6.90,-1.5,15.5,164.5,0,...,NaN,NaN,0.0,24,60.1,58.50,26.0,92.0,1442.0,183
4,203,이천,2007-11-05,24,5.9,5.20,0.6,12.6,140.5,0,...,NaN,NaN,0.0,24,73.3,80.50,43.0,92.0,1760.0,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394476,428,하남덕풍,2019-12-27,24,-0.9,-1.20,-5.3,3.9,-21.1,24,...,0.0,0.0,0.0,24,58.1,59.75,31.1,87.8,1393.8,237
394477,428,하남덕풍,2019-12-28,24,0.4,1.35,-4.1,5.5,8.9,24,...,0.0,0.0,0.0,24,63.4,64.35,46.4,83.4,1522.3,237
394478,428,하남덕풍,2019-12-29,24,3.2,3.75,-0.2,6.6,77.4,24,...,0.0,0.5,0.5,24,66.3,68.55,47.1,91.3,1591.5,237
394479,428,하남덕풍,2019-12-30,24,3.9,4.05,-2.6,6.8,93.8,24,...,0.0,0.0,0.0,24,83.2,89.95,51.8,96.1,1996.2,237
394480,428,하남덕풍,2019-12-31,24,-6.2,-6.20,-9.5,-3.3,-148.4,24,...,0.0,0.0,0.0,24,47.0,50.30,33.8,59.4,1127.3,237

In [213]:
len(weather_data_idx['air_out_idx'].unique())

59

In [246]:
weather_data_idx.loc[weather_data_idx['air_out_idx'] == 116]

Empty DataFrame
Columns: [지점, 지점명, dt, temp_count, temp_mean, temp_median, temp_min, temp_max, temp_sum, rain_count, rain_mean, rain_median, rain_min, rain_max, rain_sum, humi_count, humi_mean, humi_median, humi_min, humi_max, humi_sum, air_out_idx]
Index: []

[0 rows x 22 columns]

##### weather_data index 맞추기        
- 없는 지역은 각각 dataframe 만들어서 air_out_idx 만 지역별 idx로 바꿔주고, axis = 0으로 concat
- ex. air_out_idx == 200인 df 6개 만들어서 각각 6개 지역별 idx를 air_out_idx에 넣어줌

54,69,83,148,93,106 -> 200 데이터로 채우기

In [214]:
# df 만들기

weather_54 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_69 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_83 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_148 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_93 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()
weather_106 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 200].copy()

In [215]:
# 지역별 idx 채우기

weather_54['air_out_idx'] = 54
weather_69['air_out_idx'] = 69
weather_83['air_out_idx'] = 83
weather_148['air_out_idx'] = 148
weather_93['air_out_idx'] = 93
weather_106['air_out_idx'] = 106

127,128,181 -> 125 데이터로 채우기

In [216]:
# df 만들기

weather_127 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()
weather_128 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()
weather_181 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 125].copy()

In [217]:
# 지역별 idx 채우기

weather_127['air_out_idx'] = 127
weather_128['air_out_idx'] = 128
weather_181['air_out_idx'] = 181

138,139 -> 27 데이터로 채우기

In [218]:
# df 만들기

weather_138 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 27].copy()
weather_139 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 27].copy()

In [219]:
# 지역별 idx 채우기

weather_138['air_out_idx'] = 138
weather_139['air_out_idx'] = 139

15,20,21,47 -> 231 데이터로 채우기
* 01.10 - 21 추가

In [220]:
# df 만들기

weather_15 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()
weather_20 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()
weather_21 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()
weather_47 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 231].copy()

In [221]:
# 지역별 idx 채우기

weather_15['air_out_idx'] = 15
weather_20['air_out_idx'] = 20
weather_21['air_out_idx'] = 21
weather_47['air_out_idx'] = 47

28,92 -> 131 데이터로 채우기

In [222]:
# df 만들기

weather_28 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 131].copy()
weather_92 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 131].copy()

In [223]:
# 지역별 idx 채우기

weather_28['air_out_idx'] = 28
weather_92['air_out_idx'] = 92

40 -> 136 데이터로 채우기

In [224]:
# df 만들기

weather_40 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 136].copy()

In [225]:
# 지역별 idx 채우기

weather_40['air_out_idx'] = 40

169,170 -> 126 데이터로 채우기

In [226]:
# df 만들기

weather_169 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 126].copy()
weather_170 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 126].copy()

In [227]:
# 지역별 idx 채우기

weather_169['air_out_idx'] = 169
weather_170['air_out_idx'] = 170

114 -> 115 데이터로 채우기

In [228]:
# df 만들기

weather_114 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 115].copy()

In [229]:
# 지역별 idx 채우기

weather_114['air_out_idx'] = 114

237,122 -> 3 데이터로 채우기

In [230]:
# df 만들기

weather_237 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 3].copy()
weather_122 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 3].copy()

In [231]:
# 지역별 idx 채우기

weather_237['air_out_idx'] = 237
weather_122['air_out_idx'] = 122

113 -> 2 데이터로 채우기

In [232]:
# df 만들기

weather_113 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 2].copy()

In [233]:
# 지역별 idx 채우기

weather_113['air_out_idx'] = 113

168,177 -> 78 데이터로 채우기

In [234]:
# df 만들기

weather_168 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 78].copy()
weather_177 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 78].copy()

In [235]:
# 지역별 idx 채우기

weather_168['air_out_idx'] = 168
weather_177['air_out_idx'] = 177

43 -> 35 데이터로 채우기

In [236]:
# df 만들기

weather_43 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 35].copy()

In [237]:
# 지역별 idx 채우기

weather_43['air_out_idx'] = 43

110,197 -> 196 데이터로 채우기

In [238]:
# df 만들기

weather_110 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 196].copy()
weather_197 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 196].copy()

In [239]:
# 지역별 idx 채우기

weather_110['air_out_idx'] = 110
weather_197['air_out_idx'] = 197

144,6 -> 155 데이터로 채우기

In [240]:
# df 만들기

weather_144 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 155].copy()
weather_6 = weather_data_idx.loc[weather_data_idx['air_out_idx'] == 155].copy()

In [241]:
# 지역별 idx 채우기

weather_144['air_out_idx'] = 144
weather_6['air_out_idx'] = 6

만든 데이터 다 concat

In [242]:
weather_data_idx_final = pd.concat([weather_data_idx, 
weather_54, weather_69, weather_83, weather_148, weather_93, weather_106,
weather_127, weather_128, weather_181,
weather_138, weather_139,
weather_15, weather_20, weather_21, weather_47,
weather_28, weather_92,
weather_40,
weather_169, weather_170,
weather_114,
weather_237, weather_122,
weather_113,
weather_168, weather_177,
weather_43,
weather_110, weather_197, 
weather_144, weather_6
], axis = 0)

In [243]:
weather_data_idx_final

,지점,지점명,dt,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,203,이천,2007-11-01,24,9.4,9.55,6.3,12.6,225.2,0,...,NaN,NaN,0.0,24,47.5,47.5,22.0,84.0,1139.0,183
1,203,이천,2007-11-02,24,7.6,6.55,3.2,14.3,182.0,0,...,NaN,NaN,0.0,24,59.3,61.5,25.0,84.0,1424.0,183
2,203,이천,2007-11-03,24,8.5,8.55,1.7,17.1,203.8,0,...,NaN,NaN,0.0,24,60.0,57.0,24.0,93.0,1439.0,183
3,203,이천,2007-11-04,24,6.9,6.90,-1.5,15.5,164.5,0,...,NaN,NaN,0.0,24,60.1,58.5,26.0,92.0,1442.0,183
4,203,이천,2007-11-05,24,5.9,5.20,0.6,12.6,140.5,0,...,NaN,NaN,0.0,24,73.3,80.5,43.0,92.0,1760.0,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310702,510,영등포,2019-12-27,24,-0.1,0.25,-2.9,3.0,-2.9,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
310703,510,영등포,2019-12-28,24,2.7,2.60,-1.0,6.1,65.2,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
310704,510,영등포,2019-12-29,24,4.8,4.90,2.9,7.0,115.8,24,...,0.0,0.5,1.0,0,NaN,NaN,NaN,NaN,0.0,6
310705,510,영등포,2019-12-30,24,4.2,5.50,-3.6,7.5,101.6,24,...,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,0.0,6
310706,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [244]:
weather_data_idx_final['air_out_idx'].unique()

array([183, 168, 148, 150, 118,  74,  27, 177,  78,  76, 182,  32, 137,
       110,  19,   5,  40,  93, 125, 171,  47, 234,  35, 115, 247, 138,
        36,  26,  92,  28, 200, 197, 131, 196, 155, 231, 117, 237, 181,
       122, 135,   6, 144,  66, 163,   1, 136,   2,  54,   3,  31, 143,
       113,  58,  73, 233, 203,  55, 126,  69,  83, 106, 127, 128, 139,
        15,  20,  21, 169, 170, 114,  43], dtype=int64)

In [245]:
weather_data_idx_final.loc[weather_data_idx_final['air_out_idx'] == 116]     # 중원 check - 여기가 문제임!

Empty DataFrame
Columns: [지점, 지점명, dt, temp_count, temp_mean, temp_median, temp_min, temp_max, temp_sum, rain_count, rain_mean, rain_median, rain_min, rain_max, rain_sum, humi_count, humi_mean, humi_median, humi_min, humi_max, humi_sum, air_out_idx]
Index: []

[0 rows x 22 columns]

##### 최종 air_out_idx 개수 확인

In [96]:
len(weather_data_idx_final['air_out_idx'].unique())

72

In [97]:
# 열 이름 통일

weather_data_idx_final.rename(columns = {'dt': 'PRE_ER_ARREST_DT'}, inplace = True)
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,203,이천,2007-11-01,24,9.4,9.55,6.3,12.6,225.2,0,...,NaN,NaN,0.0,24,47.5,47.5,22.0,84.0,1139.0,183
1,203,이천,2007-11-02,24,7.6,6.55,3.2,14.3,182.0,0,...,NaN,NaN,0.0,24,59.3,61.5,25.0,84.0,1424.0,183
2,203,이천,2007-11-03,24,8.5,8.55,1.7,17.1,203.8,0,...,NaN,NaN,0.0,24,60.0,57.0,24.0,93.0,1439.0,183
3,203,이천,2007-11-04,24,6.9,6.90,-1.5,15.5,164.5,0,...,NaN,NaN,0.0,24,60.1,58.5,26.0,92.0,1442.0,183
4,203,이천,2007-11-05,24,5.9,5.20,0.6,12.6,140.5,0,...,NaN,NaN,0.0,24,73.3,80.5,43.0,92.0,1760.0,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310702,510,영등포,2019-12-27,24,-0.1,0.25,-2.9,3.0,-2.9,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
310703,510,영등포,2019-12-28,24,2.7,2.60,-1.0,6.1,65.2,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6
310704,510,영등포,2019-12-29,24,4.8,4.90,2.9,7.0,115.8,24,...,0.0,0.5,1.0,0,NaN,NaN,NaN,NaN,0.0,6
310705,510,영등포,2019-12-30,24,4.2,5.50,-3.6,7.5,101.6,24,...,0.0,1.0,1.0,0,NaN,NaN,NaN,NaN,0.0,6
310706,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [98]:
72 * 4445

320040

In [99]:
# 날짜 기준으로 sort

weather_data_idx_final = weather_data_idx_final.sort_values(by=['PRE_ER_ARREST_DT'])
weather_data_idx_final.reset_index(drop = True, inplace = True)
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,203,이천,2007-11-01,24,9.4,9.55,6.3,12.6,225.2,0,...,NaN,NaN,0.0,24,47.5,47.5,22.0,84.0,1139.0,183
1,543,영종도,2007-11-01,24,9.3,9.00,5.5,12.2,222.2,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,200
2,510,영등포,2007-11-01,24,10.4,10.55,7.9,14.1,250.7,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,6
3,402,강동,2007-11-01,24,9.5,9.50,5.8,12.7,227.2,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,122
4,417,금천,2007-11-01,24,9.8,9.75,7.7,13.1,234.1,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686524,543,영종도,2019-12-31,24,-7.0,-7.15,-10.0,-4.0,-168.0,24,...,0.0,0.0,0.0,24,55.3,56.7,37.7,76.2,1327.4,93
686525,568,일동,2019-12-31,24,-9.8,-10.25,-12.6,-5.7,-234.1,24,...,0.0,0.0,0.0,24,54.6,58.1,33.3,76.5,1310.5,234
686526,112,인천,2019-12-31,24,-7.3,-6.75,-9.9,-5.4,-175.0,2,...,0.0,0.0,0.0,24,49.3,50.5,38.0,59.0,1184.0,93
686527,665,무의도,2019-12-31,24,-6.6,-6.45,-8.9,-4.3,-158.5,24,...,0.0,0.0,0.0,24,55.9,56.2,45.9,71.7,1342.7,93
686528,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [100]:
weather_data_idx_final['PRE_ER_ARREST_DT'].isna().sum()

0

In [101]:
# pd.set_option('display.max_rows', 100)
# tmp = weather_data_idx.copy()
# tmp['PRE_ER_ARREST_DT'] = tmp['PRE_ER_ARREST_DT'].astype(str)
# tmp.groupby(tmp['PRE_ER_ARREST_DT'].str[0:4]).count()

In [102]:
# datetime 형식으로 바꾸기

weather_data_idx_final['PRE_ER_ARREST_DT'] = pd.to_datetime(weather_data_idx_final['PRE_ER_ARREST_DT'])
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,rain_min,rain_max,rain_sum,humi_count,humi_mean,humi_median,humi_min,humi_max,humi_sum,air_out_idx
0,203,이천,2007-11-01,24,9.4,9.55,6.3,12.6,225.2,0,...,NaN,NaN,0.0,24,47.5,47.5,22.0,84.0,1139.0,183
1,543,영종도,2007-11-01,24,9.3,9.00,5.5,12.2,222.2,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,200
2,510,영등포,2007-11-01,24,10.4,10.55,7.9,14.1,250.7,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,6
3,402,강동,2007-11-01,24,9.5,9.50,5.8,12.7,227.2,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,122
4,417,금천,2007-11-01,24,9.8,9.75,7.7,13.1,234.1,24,...,0.0,0.0,0.0,24,0.0,0.0,0.0,0.0,0.0,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686524,543,영종도,2019-12-31,24,-7.0,-7.15,-10.0,-4.0,-168.0,24,...,0.0,0.0,0.0,24,55.3,56.7,37.7,76.2,1327.4,93
686525,568,일동,2019-12-31,24,-9.8,-10.25,-12.6,-5.7,-234.1,24,...,0.0,0.0,0.0,24,54.6,58.1,33.3,76.5,1310.5,234
686526,112,인천,2019-12-31,24,-7.3,-6.75,-9.9,-5.4,-175.0,2,...,0.0,0.0,0.0,24,49.3,50.5,38.0,59.0,1184.0,93
686527,665,무의도,2019-12-31,24,-6.6,-6.45,-8.9,-4.3,-158.5,24,...,0.0,0.0,0.0,24,55.9,56.2,45.9,71.7,1342.7,93
686528,510,영등포,2019-12-31,24,-6.6,-5.75,-9.4,-4.7,-157.7,24,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,0.0,6

In [103]:
len(weather_data_idx_final['air_out_idx'].unique())

72

In [104]:
weather_data_idx_final.to_csv('data\\dump\\weather_data_idx_final.csv', encoding = 'euc-kr', index = False)

##### 여기서 make weather data_zio.r 로 넘어갈 것

In [243]:
## 전체 다 긁어서 돌리고 파일 다시 불러오기

#### 최종 ohca+air+weather 데이터 생성 - 일단 수도권만 확인

##### R에서 만든 weather data 가져오기

In [106]:
weather_data_idx_final = pd.read_csv('data\\dump\\weather_1317_5_sudogwon.csv', encoding = 'euc-kr')
weather_data_idx_final

,지점,지점명,PRE_ER_ARREST_DT,temp_count,temp_mean,temp_median,temp_min,temp_max,temp_sum,rain_count,...,humi_median,humi_min,humi_max,humi_sum,air_out_idx,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total
0,505,가평조종,2007-11-01,24,7.2,8.25,-0.3,11.4,173.3,24,...,0.00,0.0,0.0,0.0,1,11.7,7.866667,0.566667,10.933333,0.00
1,531,가평북면,2007-11-02,24,5.2,7.55,-2.1,12.6,124.2,24,...,0.00,0.0,0.0,0.0,1,14.7,5.633333,-1.233333,13.666667,0.00
2,531,가평북면,2007-11-03,24,8.7,7.20,2.7,16.4,209.5,24,...,0.00,0.0,0.0,0.0,1,13.7,8.700000,2.566667,13.233333,0.00
3,542,청평,2007-11-04,24,5.9,4.30,-1.1,16.4,142.2,24,...,0.00,0.0,0.0,0.0,1,17.5,5.200000,-2.133333,17.566667,0.00
4,542,청평,2007-11-05,24,6.0,4.95,0.4,15.1,143.8,24,...,0.00,0.0,0.0,0.0,1,14.7,5.266667,-0.500000,14.500000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305835,515,운평,2019-12-27,24,-0.8,-1.15,-4.8,2.4,-18.1,24,...,63.90,46.9,85.1,1548.3,247,7.2,-1.000000,-4.750000,7.400000,59.15
305836,571,화성,2019-12-28,24,1.3,1.70,-3.3,6.6,30.5,24,...,49.20,38.8,59.8,1154.7,247,9.9,1.150000,-3.350000,10.200000,55.00
305837,515,운평,2019-12-29,24,2.7,3.70,0.3,5.0,65.6,24,...,67.75,53.7,96.8,1732.6,247,4.7,3.400000,1.000000,4.500000,62.95
305838,515,운평,2019-12-30,24,3.7,4.05,-2.1,6.9,88.0,24,...,97.80,59.6,99.9,2121.8,247,9.0,3.750000,-2.400000,9.250000,81.15
305839,515,운평,2019-12-31,24,-6.1,-6.15,-8.2,-2.8,-145.9,24,...,63.45,48.5,69.3,1464.4,247,5.4,-6.400000,-8.750000,5.200000,54.70

In [107]:
len(weather_data_idx_final['air_out_idx'].unique())

72

In [108]:
weather_data_idx_final['PRE_ER_ARREST_DT'] = pd.to_datetime(weather_data_idx_final['PRE_ER_ARREST_DT'])

In [109]:
# # air_hospital_final 이랑 겹치는 index 확인

# a = set(air_hospital_final['air_out_idx'].unique())
# b = set(weather_data_idx['air_out_idx'].unique())

# len(a.intersection(b))

In [110]:
# air_patient_final이랑 겹치는 index 확인 - 72개 


a = set(air_patient_final['air_out_idx'].unique())
b = set(weather_data_idx_final['air_out_idx'].unique())

len(a.intersection(b))

72

In [112]:
len(b)

72

In [113]:
# len(air_hospital_final['air_out_idx'].unique())

In [114]:
# air_hospital_final_sudogwon = air_hospital_final.loc[air_hospital_final['check(수도권=1)'] == 1].reset_index(drop = True)
# air_hospital_final_sudogwon

In [115]:
# 

# hospital = pd.merge(air_hospital_final_sudogwon, weather_data_idx, on=['air_out_idx', 'PRE_ER_ARREST_DT'], how='inner')
# hospital

In [116]:
# len(hospital['air_out_idx'].unique())

In [124]:
ii = weather_data_idx_final['air_out_idx'].unique().tolist()
len(ii)

72

In [125]:
air_patient_final_2 = air_patient_final.loc[air_patient_final['air_out_idx'].isin(ii)]     # 72개 인덱스만 뽑아서 저장
air_patient_final_2.reset_index(drop = True, inplace = True)
air_patient_final_2

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,34.0,29.0,49.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,40.0,26.0,81.0,1048.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,63.5,28.0,106.0,1503.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,131193,136,경기 안산시,...,29.5,6.0,102.0,796.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,131382,20,경기 고양시,...,53.0,34.0,132.0,716.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
air_patient_disease_final_2 = air_patient_disease_final.loc[air_patient_disease_final['air_out_idx'].isin(ii)]     # 72개 인덱스만 뽑아서 저장
air_patient_disease_final_2.reset_index(drop = True, inplace = True)
air_patient_disease_final_2

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,PM10_median,PM10_min,PM10_max,PM10_sum,PM25_count,PM25_mean,PM25_median,PM25_min,PM25_max,PM25_sum
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,34.0,29.0,49.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,40.0,26.0,81.0,1048.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,63.5,28.0,106.0,1503.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,131193,136,경기 안산시,...,29.5,6.0,102.0,796.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,131382,20,경기 고양시,...,53.0,34.0,132.0,716.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
72 * 4445

320040

In [215]:
# # 이거 하면 안됨
# # 위에서 R에서 처리해서 가져왔음

# weather_data_idx_final.drop_duplicates(['PRE_ER_ARREST_DT', 'air_out_idx'], inplace = True)
# weather_data_idx_final.reset_index(drop = True, inplace = True)
# weather_data_idx_final

##### left join with [air_out_idx, PRE_ER_ARREST_DT]

In [128]:
# air_patient_final 에는 unique index 240개 - air_patient_final_2에 72개만 저장됨
# weather_data_idx_final 에는 unique index 72개 

patient = pd.merge(air_patient_final_2, weather_data_idx_final, on=['air_out_idx', 'PRE_ER_ARREST_DT'], how='left')
patient

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,humi_mean,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,0.0,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,45.9,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,0.0,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,131193,136,경기 안산시,...,0.0,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,131382,20,경기 고양시,...,0.0,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# air_patient_disease_final 에는 unique index 240개 - air_patient_disease_final_2에 72개만 저장됨
# weather_data_idx_final 에는 unique index 72개 

patient_disease = pd.merge(air_patient_disease_final_2, weather_data_idx_final, on=['air_out_idx', 'PRE_ER_ARREST_DT'], how='left')
patient_disease

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,측정소코드,air_out_idx,지역,...,humi_mean,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,111263,2,서울,...,0.0,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,131111,128,경기 수원시,...,45.9,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,131551,247,경기 화성시,...,0.0,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,131193,136,경기 안산시,...,0.0,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,131382,20,경기 고양시,...,0.0,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,131342,233,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,131117,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,131581,137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,823706,148,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,823632,83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
len(patient['PRE_ER_ARREST_DT'].unique())   # 4445

4445

In [131]:
len(patient_disease['PRE_ER_ARREST_DT'].unique())   # 4445

4445

In [132]:
len(patient['air_out_idx'].unique())   # 72

72

In [133]:
len(patient_disease['air_out_idx'].unique())    # 72

72

In [134]:
len(patient['법정동코드'].unique())

72

In [135]:
len(patient_disease['법정동코드'].unique())

72

In [136]:
4445 * 72

320040

In [376]:
# hospital['H_ADD_CITY_DIST'].unique()

In [137]:
len(patient['P_ADD_CITY_DIST'].unique())

72

In [138]:
# 필요 없는 칼럼 drop

# hospital.drop(['지역', '측정소명', '지점', '지점명'], axis = 1, inplace = True)
patient.drop(['지역', '측정소명', '지점', '측정소코드', '지점명'], axis = 1, inplace = True)
patient_disease.drop(['지역', '측정소명', '지점', '측정소코드', '지점명'], axis = 1, inplace = True)

In [139]:
patient

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,air_out_idx,SO2_count,SO2_mean,...,humi_mean,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,2,12.0,0.0054,...,0.0,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,128,24.0,0.0054,...,45.9,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,247,24.0,0.0027,...,0.0,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,136,11.0,0.0039,...,0.0,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,20,11.0,0.0078,...,0.0,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,148,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
patient_disease

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count_disease,SIGUNGU_CD,check(수도권=1),주소,air_out_idx,SO2_count,SO2_mean,...,humi_mean,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,2,12.0,0.0054,...,0.0,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,128,24.0,0.0054,...,45.9,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,247,24.0,0.0027,...,0.0,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,136,11.0,0.0039,...,0.0,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,20,11.0,0.0078,...,0.0,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,148,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [380]:
patient.isna().sum()

PRE_ER_ARREST_DT        0
법정동코드                   0
P_ADD_CITY_DIST         0
count                4392
SIGUNGU_CD              0
                    ...
temp_tc             14368
temp_mean_total     14316
temp_min_total      14316
temp_tc_total       14316
humi_mean_total     14200
Length: 67, dtype: int64

In [141]:
patient.isna().sum()

PRE_ER_ARREST_DT        0
법정동코드                   0
P_ADD_CITY_DIST         0
count                4392
SIGUNGU_CD              0
                    ...
temp_tc             14368
temp_mean_total     14316
temp_min_total      14316
temp_tc_total       14316
humi_mean_total     14200
Length: 67, dtype: int64

In [142]:
# hospital.to_csv('data\\급성심장정지조사(08-19)SAS\\hospital.csv', encoding = 'euc-kr', index = False)
patient.to_csv('data\\급성심장정지조사(08-19)SAS\\patient.csv', encoding = 'euc-kr', index = False)
patient_disease.to_csv('data\\급성심장정지조사(08-19)SAS\\patient_disease.csv', encoding = 'euc-kr', index = False)

#### Patient_final 생성 (patient_disease에서 count_disease만 떼서 patient에 붙인 것)

In [147]:
count_disease = patient_disease[['PRE_ER_ARREST_DT', '법정동코드', 'count_disease']]
count_disease

       PRE_ER_ARREST_DT  법정동코드  count_disease
0            2007-11-01  11680            NaN
1            2007-11-01  41115            NaN
2            2007-11-01  41590            NaN
3            2007-11-01  41271            NaN
4            2007-11-01  41285            NaN
...                 ...    ...            ...
320035       2020-01-01  41220            0.0
320036       2020-01-01  41113            0.0
320037       2020-01-01  41550            0.0
320038       2020-01-01  28185            0.0
320039       2020-01-01  28177            0.0

[320040 rows x 3 columns]

In [148]:
patient_final = pd.merge(patient, count_disease, on = ['PRE_ER_ARREST_DT', '법정동코드'], how = 'left')
patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,air_out_idx,SO2_count,SO2_mean,...,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total,count_disease
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,2,12.0,0.0054,...,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0,NaN
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,128,24.0,0.0054,...,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9,NaN
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,247,24.0,0.0027,...,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0,NaN
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,136,11.0,0.0039,...,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0,NaN
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,20,11.0,0.0078,...,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,148,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [149]:
patient_final.isna().sum()

PRE_ER_ARREST_DT        0
법정동코드                   0
P_ADD_CITY_DIST         0
count                4392
SIGUNGU_CD              0
                    ...
temp_mean_total     14316
temp_min_total      14316
temp_tc_total       14316
humi_mean_total     14200
count_disease        4392
Length: 68, dtype: int64

In [150]:
61 * 72   # 2007-11, 2007-12 결측

4392

In [151]:
patient_final.to_csv('data\\급성심장정지조사(08-19)SAS\\patient_final.csv', encoding = 'euc-kr', index = False)

In [143]:
## 2022.01.10 AM 10:56 1차 전처리 완. 
## 2022.01.13 AM 10:42 patient_disease 생성 완. 
## 2022.01.13 AM 10:45 patient_final 생성 완.

In [3]:
patient_final = pd.read_csv('data\\급성심장정지조사(08-19)SAS\\patient_final.csv', encoding = 'euc-kr')
patient_final

,PRE_ER_ARREST_DT,법정동코드,P_ADD_CITY_DIST,count,SIGUNGU_CD,check(수도권=1),주소,air_out_idx,SO2_count,SO2_mean,...,humi_median,humi_min,humi_max,humi_sum,temp_tc,temp_mean_total,temp_min_total,temp_tc_total,humi_mean_total,count_disease
0,2007-11-01,11680,서울 강남구,NaN,11230,1,서울 강남구 도산대로 104,2,12.0,0.0054,...,0.0,0.0,0.0,0.0,6.2,10.100,7.900,6.20,0.0,NaN
1,2007-11-01,41115,경기 수원시 팔달구,NaN,31013,1,경기 수원시 팔달구 신풍로 23번길 68,128,24.0,0.0054,...,43.0,30.0,84.0,1102.0,4.6,9.700,7.500,4.60,45.9,NaN
2,2007-11-01,41590,경기 화성시,NaN,31240,1,경기 화성시 남양읍 남양성지로 192-5,247,24.0,0.0027,...,0.0,0.0,0.0,0.0,5.5,10.150,7.700,5.45,0.0,NaN
3,2007-11-01,41271,경기 안산시 상록구,NaN,31091,1,경기 안산시 상록구 각골길 75,136,11.0,0.0039,...,0.0,0.0,0.0,0.0,5.6,10.000,7.600,5.60,0.0,NaN
4,2007-11-01,41285,경기 고양시 일산동구,NaN,31103,1,경기 고양시 일산동구 위시티로 151,20,11.0,0.0078,...,0.0,0.0,0.0,0.0,9.8,8.025,2.675,8.90,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320035,2020-01-01,41220,경기 평택시,0.0,31070,1,경기 평택시 안중읍 안현로 400,233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320036,2020-01-01,41113,경기 수원시 권선구,0.0,31012,1,경기 수원시 권선구 서부로 1600,125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320037,2020-01-01,41550,경기 안성시,0.0,31220,1,경기 안성시 시청길 25,137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320038,2020-01-01,28185,인천 연수구,0.0,23040,1,인천 연수구 갯벌로 12,148,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
320039,2020-01-01,28177,인천 미추홀구,0.0,23090,1,인천 미추홀구 독정안길 26,83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [4]:
patient_final.loc[patient_final['air_out_idx'] == 116]

Empty DataFrame
Columns: [PRE_ER_ARREST_DT, 법정동코드, P_ADD_CITY_DIST, count, SIGUNGU_CD, check(수도권=1), 주소, air_out_idx, SO2_count, SO2_mean, SO2_median, SO2_min, SO2_max, SO2_sum, CO_count, CO_mean, CO_median, CO_min, CO_max, CO_sum, O3_count, O3_mean, O3_median, O3_min, O3_max, O3_sum, NO2_count, NO2_mean, NO2_median, NO2_min, NO2_max, NO2_sum, PM10_count, PM10_mean, PM10_median, PM10_min, PM10_max, PM10_sum, PM25_count, PM25_mean, PM25_median, PM25_min, PM25_max, PM25_sum, temp_count, temp_mean, temp_median, temp_min, temp_max, temp_sum, rain_count, rain_mean, rain_median, rain_min, rain_max, rain_sum, humi_count, humi_mean, humi_median, humi_min, humi_max, humi_sum, temp_tc, temp_mean_total, temp_min_total, temp_tc_total, humi_mean_total, count_disease]
Index: []

[0 rows x 68 columns]

In [7]:
idx.loc[idx['OBJECTID(air_out_idx)'] == 116]

,SIGUNGU_CD,SIGUNGU_NM,OBJECTID(air_out_idx),check(수도권=1),location,SOCIAL,법정동코드
111,31022,성남시 중원구,116,1,NaN,NaN,41133

In [8]:
patient_final['P_ADD_CITY_DIST'].unique()

array(['서울 강남구', '경기 수원시 팔달구', '경기 화성시', '경기 안산시 상록구', '경기 고양시 일산동구',
       '경기 의왕시', '경기 용인시 기흥구', '경기 연천군', '경기 의정부시', '인천 중구', '경기 수원시 장안구',
       '인천 계양구', '경기 과천시', '인천 동구', '경기 포천시', '경기 성남시 수정구', '경기 안양시 동안구',
       '경기 이천시', '경기 파주시', '경기 용인시 처인구', '경기 안산시 단원구', '서울 노원구', '서울 종로구',
       '경기 성남시 분당구', '서울 송파구', '서울 성동구', '서울 광진구', '서울 서대문구', '인천 미추홀구',
       '서울 금천구', '서울 도봉구', '서울 중구', '서울 구로구', '서울 성북구', '서울 용산구',
       '서울 양천구', '서울 중랑구', '서울 동대문구', '서울 강서구', '서울 서초구', '서울 관악구',
       '서울 영등포구', '서울 동작구', '서울 은평구', '서울 강동구', '경기 시흥시', '경기 김포시',
       '인천 부평구', '경기 고양시 덕양구', '경기 남양주시', '경기 하남시', '경기 양주시',
       '경기 고양시 일산서구', '경기 광주시', '인천 서구', '경기 광명시', '경기 군포시', '경기 안양시 만안구',
       '경기 부천시', '인천 남동구', '경기 구리시', '서울 마포구', '경기 가평군', '경기 오산시',
       '경기 동두천시', '경기 용인시 수지구', '경기 수원시 영통구', '경기 평택시', '경기 수원시 권선구',
       '경기 안성시', '인천 연수구', '서울 강북구'], dtype=object)