In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [2]:
ukb37332 = pd.read_sas('SAS\\UKBIOBANK\\ukb37332.sas7bdat', format = 'sas7bdat')
ukb37332

,eid,23000-0.0,23000-1.0,23001-0.0,23001-1.0,23002-0.0,23002-1.0,23003-0.0,23003-1.0,23004-0.0,...,30893-0.0,30893-1.0,30894-0.0,30894-1.0,30895-0.0,30895-1.0,30896-0.0,30896-1.0,30897-0.0,30897-1.0
0,b'2273747',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'0.996996',NaN
1,b'3554696',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'5521075',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',b'0',b'0',b'0',NaN,NaN,b'1',b'1',b'1.00036',b'1'
3,b'1091667',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',b'0',b'0',b'0',NaN,NaN,b'1',b'1',b'1.00037',b'0.995743'
4,b'1744579',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'1.00124',NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502519,b'2512768',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'1.00064',NaN
502520,b'5313475',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'1.00242',NaN
502521,b'2166367',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'1.00386',NaN
502522,b'5668892',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'0.997976',NaN
502523,b'5846891',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,b'0',NaN,b'0',NaN,NaN,NaN,b'1',NaN,b'0.998844',NaN

In [4]:
ukb45783_data = []
ukb45783 = pd.read_sas('SAS\\UKBIOBANK\\ukb45783.sas7bdat', format = 'sas7bdat', chunksize=100000, iterator=True)

for chunk in ukb45783:
    ukb45783_data.append(chunk)
asm_data_df=pd.concat(ukb45783_data)

Warning: column count mismatch (1706 + 5743 != 14630)

In [ ]:
ukb46987 = pd.read_sas('SAS\\UKBIOBANK\\ukb46987.sas7bdat', format = 'sas7bdat')
ukb46987

In [64]:
ukb46987 = pd.read_sas('SAS\\ukb46987_new.sas7bdat', format = 'sas7bdat', encoding = 'euc-kr')
ukb46987

,eid,41270-0.0,41270-0.1,41270-0.2,41270-0.3,41270-0.4,41270-0.5,41270-0.6,41270-0.7,41270-0.8,...,41280-0.213,41280-0.214,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222
0,1000015,D693,E119,E780,I10,I200,I209,I251,I259,I350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,D128,E780,J459,K621,N40,S609,W290,Z800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,D127,D508,D509,D649,E669,F412,F431,G933,I10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,I839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,E039,Z038,Z538,Z873,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,I083,I10,I278,I48,S9230,W199,Z867,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,J189,K573,N393,T814,Y838,Z121,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
df = ukb46987.copy()

In [46]:
df2 = df.iloc[:, :224]
df2

,eid,41270-0.0,41270-0.1,41270-0.2,41270-0.3,41270-0.4,41270-0.5,41270-0.6,41270-0.7,41270-0.8,...,41270-0.213,41270-0.214,41270-0.215,41270-0.216,41270-0.217,41270-0.218,41270-0.219,41270-0.220,41270-0.221,41270-0.222
0,1000015,D693,E119,E780,I10,I200,I209,I251,I259,I350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,D128,E780,J459,K621,N40,S609,W290,Z800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,D127,D508,D509,D649,E669,F412,F431,G933,I10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,I839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,E039,Z038,Z538,Z873,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,I083,I10,I278,I48,S9230,W199,Z867,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,J189,K573,N393,T814,Y838,Z121,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df4 = df.iloc[:, 224:]
df4

,41280-0.0,41280-0.1,41280-0.2,41280-0.3,41280-0.4,41280-0.5,41280-0.6,41280-0.7,41280-0.8,41280-0.9,...,41280-0.213,41280-0.214,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222
0,1999-07-22,2018-06-07,2002-10-30,1999-09-23,2002-10-30,2002-10-17,2002-10-30,2018-06-07,2018-06-07,2014-12-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-16,2014-10-24,2014-10-24,2015-01-16,2014-10-24,2004-05-27,2004-05-27,2015-01-16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-13,2018-10-16,2018-10-30,2018-11-20,2019-02-05,2020-02-13,2018-10-09,2018-10-09,2018-11-20,2018-10-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,2014-09-30,2014-09-30,2014-09-30,2014-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,2013-12-30,2013-12-30,2013-12-30,2013-12-30,2015-09-30,2015-09-30,2013-12-30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,1999-01-25,2015-10-17,2002-03-24,2002-04-06,2002-04-06,2015-10-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# colnames = df2.columns.tolist()
# colnames.remove('eid')

# n18 = 0
# for row in range(len(df2)): 
#     for col in colnames: 
#         print(df2[col][row])
#         if df2[col][row] is not np.nan: 
#             disease = df2[col][row].decode('euc-kr')
#             if disease.startswith('N18') == True: 
#                 n18 += 1
#                 break

In [47]:
df2['N180'] = 0
df2['N181'] = 0
df2['N182'] = 0
df2['N183'] = 0
df2['N184'] = 0
df2['N185'] = 0
df2['N186'] = 0
df2['N187'] = 0
df2['N188'] = 0
df2['N189'] = 0

In [48]:
df2

,eid,41270-0.0,41270-0.1,41270-0.2,41270-0.3,41270-0.4,41270-0.5,41270-0.6,41270-0.7,41270-0.8,...,N180,N181,N182,N183,N184,N185,N186,N187,N188,N189
0,1000015,D693,E119,E780,I10,I200,I209,I251,I259,I350,...,0,0,0,0,0,0,0,0,0,0
1,1000027,D128,E780,J459,K621,N40,S609,W290,Z800,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1000039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1000040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,1000053,D127,D508,D509,D649,E669,F412,F431,G933,I10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,I839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
502472,6025340,E039,Z038,Z538,Z873,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
502473,6025353,I083,I10,I278,I48,S9230,W199,Z867,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
502474,6025364,J189,K573,N393,T814,Y838,Z121,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
502475,6025371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [79]:
colnames = df2.columns.tolist()
colnames.remove('eid')

for col in colnames: 
    df2.loc[df2[col] == 'N180', 'N180'] = 1  # 전체 222개 칼럼 순회하면서 N180 있으면 1 넣어주기
    df2.loc[df2[col] == 'N180', 'N180_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

    #df2["N180"] = df2.apply(lambda x: 1 if x[col] == 'N180' else 0, axis=0)

In [82]:
df2['N180'].value_counts()

0    502294
1       182
Name: N180, dtype: int64

In [83]:
# 인덱스랑 진단여부 갯수 똑같은 거 확인

df2['N180_index'].isna().sum()

502294

In [84]:
for col in colnames: 
    df2.loc[df2[col] == 'N181', 'N181'] = 1  # 전체 222개 칼럼 순회하면서 N181 있으면 1 넣어주기
    df2.loc[df2[col] == 'N181', 'N181_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [85]:
for col in colnames: 
    df2.loc[df2[col] == 'N182', 'N182'] = 1  # 전체 222개 칼럼 순회하면서 N182 있으면 1 넣어주기
    df2.loc[df2[col] == 'N182', 'N182_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [86]:
for col in colnames: 
    df2.loc[df2[col] == 'N183', 'N183'] = 1  # 전체 222개 칼럼 순회하면서 N183 있으면 1 넣어주기
    df2.loc[df2[col] == 'N183', 'N183_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [87]:
for col in colnames: 
    df2.loc[df2[col] == 'N184', 'N184'] = 1  # 전체 222개 칼럼 순회하면서 N184 있으면 1 넣어주기
    df2.loc[df2[col] == 'N184', 'N184_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [88]:
for col in colnames: 
    df2.loc[df2[col] == 'N185', 'N185'] = 1  # 전체 222개 칼럼 순회하면서 N185 있으면 1 넣어주기
    df2.loc[df2[col] == 'N185', 'N185_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [89]:
for col in colnames: 
    df2.loc[df2[col] == 'N186', 'N186'] = 1  # 전체 222개 칼럼 순회하면서 N186 있으면 1 넣어주기
    df2.loc[df2[col] == 'N186', 'N186_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [90]:
for col in colnames: 
    df2.loc[df2[col] == 'N187', 'N187'] = 1  # 전체 222개 칼럼 순회하면서 N187 있으면 1 넣어주기
    df2.loc[df2[col] == 'N187', 'N187_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [91]:
for col in colnames: 
    df2.loc[df2[col] == 'N188', 'N188'] = 1  # 전체 222개 칼럼 순회하면서 N188 있으면 1 넣어주기
    df2.loc[df2[col] == 'N188', 'N188_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [92]:
for col in colnames: 
    df2.loc[df2[col] == 'N189', 'N189'] = 1  # 전체 222개 칼럼 순회하면서 N189 있으면 1 넣어주기
    df2.loc[df2[col] == 'N189', 'N189_index'] = col[6:]  # 41280 변수에서 N18 진단받은 위치와 동일한 위치에 있는 날짜 뽑아오기 위해 칼럼명을 잘라서 인덱스만 가져오기

In [61]:
# colnames = df2.columns.tolist()
# colnames.remove('eid')

# for col in colnames: 
#     print(col, ' ', df2.loc[df2[col] == 'N181', col].count())

In [14]:
# for col in colnames: 
#     df["N180"] = df.apply(lambda x: 1 if x[col] == 'N180' else 0, axis = 1)
#     df["N181"] = df.apply(lambda x: 1 if x[col] == 'N181' else 0, axis = 1)
#     df["N182"] = df.apply(lambda x: 1 if x[col] == 'N182' else 0, axis = 1)
#     df["N183"] = df.apply(lambda x: 1 if x[col] == 'N183' else 0, axis = 1)
#     df["N184"] = df.apply(lambda x: 1 if x[col] == 'N184' else 0, axis = 1)
#     df["N185"] = df.apply(lambda x: 1 if x[col] == 'N185' else 0, axis = 1)
#     df["N186"] = df.apply(lambda x: 1 if x[col] == 'N186' else 0, axis = 1)
#     df["N187"] = df.apply(lambda x: 1 if x[col] == 'N187' else 0, axis = 1)
#     df["N188"] = df.apply(lambda x: 1 if x[col] == 'N188' else 0, axis = 1)
#     df["N189"] = df.apply(lambda x: 1 if x[col] == 'N189' else 0, axis = 1)

In [93]:
df2["N180"].value_counts()

0    502294
1       182
Name: N180, dtype: int64

In [103]:
df2['N180_index'].isna().sum()

502294

In [94]:
df2["N181"].value_counts()

0    502364
1       112
Name: N181, dtype: int64

In [105]:
df2['N181_index'].isna().sum()

502364

In [95]:
df2["N182"].value_counts()

0    501532
1       944
Name: N182, dtype: int64

In [106]:
df2['N182_index'].isna().sum()

501532

In [96]:
df2["N183"].value_counts()

0    495684
1      6792
Name: N183, dtype: int64

In [107]:
df2['N183_index'].isna().sum()

495684

In [97]:
df2["N184"].value_counts()

0    501924
1       552
Name: N184, dtype: int64

In [108]:
df2['N184_index'].isna().sum()

501924

In [98]:
df2["N185"].value_counts()

0    502004
1       472
Name: N185, dtype: int64

In [109]:
df2['N185_index'].isna().sum()

502004

In [99]:
df2["N186"].value_counts()

0    502476
Name: N186, dtype: int64

In [110]:
df2['N186_index'].isna().sum()

502476

In [100]:
df2["N187"].value_counts()

0    502476
Name: N187, dtype: int64

In [111]:
df2['N187_index'].isna().sum()

502476

In [101]:
df2["N188"].value_counts()

0    502448
1        28
Name: N188, dtype: int64

In [112]:
df2['N188_index'].isna().sum()

502448

In [102]:
df2["N189"].value_counts()

0    497967
1      4509
Name: N189, dtype: int64

In [113]:
df2['N189_index'].isna().sum()

497967

In [114]:
df_final = df2[['eid', 'N180', 'N181', 'N182', 'N183', 'N184', 'N185', 'N186', 'N187', 'N188', 'N189', 
                'N180_index', 'N181_index', 'N182_index', 'N183_index', 'N184_index', 'N185_index', 'N186_index', 'N187_index', 'N188_index', 'N189_index']]
df_final

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,N180_index,N181_index,N182_index,N183_index,N184_index,N185_index,N186_index,N187_index,N188_index,N189_index
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
df4

,41280-0.0,41280-0.1,41280-0.2,41280-0.3,41280-0.4,41280-0.5,41280-0.6,41280-0.7,41280-0.8,41280-0.9,...,41280-0.213,41280-0.214,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222
0,1999-07-22,2018-06-07,2002-10-30,1999-09-23,2002-10-30,2002-10-17,2002-10-30,2018-06-07,2018-06-07,2014-12-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-16,2014-10-24,2014-10-24,2015-01-16,2014-10-24,2004-05-27,2004-05-27,2015-01-16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-13,2018-10-16,2018-10-30,2018-11-20,2019-02-05,2020-02-13,2018-10-09,2018-10-09,2018-11-20,2018-10-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,2014-09-30,2014-09-30,2014-09-30,2014-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,2013-12-30,2013-12-30,2013-12-30,2013-12-30,2015-09-30,2015-09-30,2013-12-30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,1999-01-25,2015-10-17,2002-03-24,2002-04-06,2002-04-06,2015-10-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [380]:
df5 = pd.concat([df_final, df4], axis = 1)
df5

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,41280-0.213,41280-0.214,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [381]:
dftmp = df5[['N180_index', 'N181_index', 'N182_index', 'N183_index', 'N184_index', 'N185_index', 'N186_index', 'N187_index', 'N188_index', 'N189_index']].copy()

In [382]:
dftmp['N180_index'].unique()

array([nan, '0.16', '0.21', '0.18', '0.11', '0.13', '0.14', '0.20',
       '0.24', '0.17', '0.22', '0.15', '0.2', '0.23', '0.12', '0.9',
       '0.5', '0.8', '0.19', '0.1', '0.3', '0.10', '0.7', '0.4', '0.0',
       '0.6'], dtype=object)

In [417]:
#### TEST

coltest = ['idx1', 'idx2', 'idx3', '41280-1.0', '41280-5.0', '41280-9.0']
value = [[1, np.nan, np.nan, '2010-01-01', np.nan, np.nan], [np.nan, 5, np.nan, np.nan, '2010-03-03', np.nan], [np.nan, np.nan, 9, np.nan, np.nan, '2021-01-01'], [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]]
testdf = pd.DataFrame(columns = coltest, data=value)

# vltest = testdf[col].sum(axis = 1).tolist()
# vltestdf = pd.DataFrame(vltest)
# vltestdf[0].unique()

testdf['N18_idx'] = testdf.stack().groupby(level=0).first().reindex(testdf.index)   # 각 행에서 Nan 값이 아닌 유일한 값 가져오기
testdf
# testdf['N18_Date'] = list(map(lambda y: np.nan if y is np.nan else testdf['41280-' + str(y)].values[0], testdf['N18_idx']))

   idx1  idx2  idx3   41280-1.0   41280-5.0   41280-9.0 N18_idx
0   1.0   NaN   NaN  2010-01-01         NaN         NaN     1.0
1   NaN   5.0   NaN         NaN  2010-03-03         NaN     5.0
2   NaN   NaN   9.0         NaN         NaN  2021-01-01     9.0
3   NaN   NaN   NaN         NaN         NaN         NaN     NaN

In [424]:
testdf['eid'] = ['A', 'B', 'C', 'D']
valuelist = testdf['N18_idx'].tolist()

testdf['N18_Date'] = list(map(lambda x, y: np.nan if y is np.nan else testdf.loc[testdf['eid'] == x, '41280-' + str(y)].values[0], testdf['eid'], valuelist))

In [425]:
testdf

,idx1,idx2,idx3,41280-1.0,41280-5.0,41280-9.0,N18_idx,id,eid,N18_Date
0,1.0,NaN,NaN,2010-01-01,NaN,NaN,1.0,A,A,2010-01-01
1,NaN,5.0,NaN,NaN,2010-03-03,NaN,5.0,B,B,2010-03-03
2,NaN,NaN,9.0,NaN,NaN,2021-01-01,9.0,C,C,2021-01-01
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,D,NaN

In [ ]:
########## test end

In [383]:
column_list = ['N180_index', 'N181_index', 'N182_index', 'N183_index', 'N184_index', 'N185_index', 'N186_index', 'N187_index', 'N188_index', 'N189_index']

dftmp['N18_idx'] = dftmp.stack().groupby(level=0).first().reindex(dftmp.index)  # 각 행에서 Nan 값이 아닌 유일한 값 가져오기

In [384]:
dftmp['N18_idx'].unique()

array([nan, '0.14', '0.10', '0.4', '0.18', '0.15', '0.16', '0.13', '0.6',
       '0.23', '0.8', '0.17', '0.11', '0.9', '0.24', '0.1', '0.3', '0.5',
       '0.21', '0.19', '0.12', '0.7', '0.20', '0.22', '0.0', '0.2'],
      dtype=object)

In [385]:
dftmp

,N180_index,N181_index,N182_index,N183_index,N184_index,N185_index,N186_index,N187_index,N188_index,N189_index,N18_idx
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
502471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [386]:
df5 = pd.concat([df5, dftmp['N18_idx']], axis = 1)
df5

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,41280-0.214,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222,N18_idx
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [415]:
c = df5.columns.tolist()
for col in c: 
    print(col)

eid
N180
N181
N182
N183
N184
N185
N186
N187
N188
N189
N180_index
N181_index
N182_index
N183_index
N184_index
N185_index
N186_index
N187_index
N188_index
N189_index
41280-0.0
41280-0.1
41280-0.2
41280-0.3
41280-0.4
41280-0.5
41280-0.6
41280-0.7
41280-0.8
41280-0.9
41280-0.10
41280-0.11
41280-0.12
41280-0.13
41280-0.14
41280-0.15
41280-0.16
41280-0.17
41280-0.18
41280-0.19
41280-0.20
41280-0.21
41280-0.22
41280-0.23
41280-0.24
41280-0.25
41280-0.26
41280-0.27
41280-0.28
41280-0.29
41280-0.30
41280-0.31
41280-0.32
41280-0.33
41280-0.34
41280-0.35
41280-0.36
41280-0.37
41280-0.38
41280-0.39
41280-0.40
41280-0.41
41280-0.42
41280-0.43
41280-0.44
41280-0.45
41280-0.46
41280-0.47
41280-0.48
41280-0.49
41280-0.50
41280-0.51
41280-0.52
41280-0.53
41280-0.54
41280-0.55
41280-0.56
41280-0.57
41280-0.58
41280-0.59
41280-0.60
41280-0.61
41280-0.62
41280-0.63
41280-0.64
41280-0.65
41280-0.66
41280-0.67
41280-0.68
41280-0.69
41280-0.70
41280-0.71
41280-0.72
41280-0.73
41280-0.74
41280-0.75
41280-0.76
41280-0.77
41280-0.78
41280-0.79
41280-0.80
41280-0.81
41280-0.82
41280-0.83
41280-0.84
41280-0.85
41280-0.86
41280-0.87
41280-0.88
41280-0.89
41280-0.90
41280-0.91
41280-0.92
41280-0.93
41280-0.94
41280-0.95
41280-0.96
41280-0.97
41280-0.98
41280-0.99
41280-0.100
41280-0.101
41280-0.102
41280-0.103
41280-0.104
41280-0.105
41280-0.106
41280-0.107
41280-0.108
41280-0.109
41280-0.110
41280-0.111
41280-0.112
41280-0.113
41280-0.114
41280-0.115
41280-0.116
41280-0.117
41280-0.118
41280-0.119
41280-0.120
41280-0.121
41280-0.122
41280-0.123
41280-0.124
41280-0.125
41280-0.126
41280-0.127
41280-0.128
41280-0.129
41280-0.130
41280-0.131
41280-0.132
41280-0.133
41280-0.134
41280-0.135
41280-0.136
41280-0.137
41280-0.138
41280-0.139
41280-0.140
41280-0.141
41280-0.142
41280-0.143
41280-0.144
41280-0.145
41280-0.146
41280-0.147
41280-0.148
41280-0.149
41280-0.150
41280-0.151
41280-0.152
41280-0.153
41280-0.154
41280-0.155
41280-0.156
41280-0.157
41280-0.158
41280-0.159
41280-0.160
41280-0.161
41280-0.162
41280-0.163
41280-0.164
41280-0.165
41280-0.166
41280-0.167
41280-0.168
41280-0.169
41280-0.170
41280-0.171
41280-0.172
41280-0.173
41280-0.174
41280-0.175
41280-0.176
41280-0.177
41280-0.178
41280-0.179
41280-0.180
41280-0.181
41280-0.182
41280-0.183
41280-0.184
41280-0.185
41280-0.186
41280-0.187
41280-0.188
41280-0.189
41280-0.190
41280-0.191
41280-0.192
41280-0.193
41280-0.194
41280-0.195
41280-0.196
41280-0.197
41280-0.198
41280-0.199
41280-0.200
41280-0.201
41280-0.202
41280-0.203
41280-0.204
41280-0.205
41280-0.206
41280-0.207
41280-0.208
41280-0.209
41280-0.210
41280-0.211
41280-0.212
41280-0.213
41280-0.214
41280-0.215
41280-0.216
41280-0.217
41280-0.218
41280-0.219
41280-0.220
41280-0.221
41280-0.222
N18_idx

In [426]:
# 열별로 진단받은 날짜 추가하기

valuelist = df5['N18_idx'].tolist()
df5['N18_Date'] = list(map(lambda x, y: np.nan if y is np.nan else df5.loc[df5['eid'] == x, '41280-' + str(y)].values[0], df5['eid'], valuelist))

In [428]:
len(df5['N18_Date'].unique())

3301

In [429]:
df5

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,41280-0.215,41280-0.216,41280-0.217,41280-0.218,41280-0.219,41280-0.220,41280-0.221,41280-0.222,N18_idx,N18_Date
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [431]:
df6 = df5[['eid', 
'N180', 'N181', 'N182', 'N183', 'N184', 'N185', 'N186', 'N187', 'N188', 'N189', 
'N180_index', 'N181_index', 'N182_index', 'N183_index', 'N184_index', 'N185_index', 'N186_index', 'N187_index', 'N188_index', 'N189_index',
'N18_idx', 'N18_Date']]

In [432]:
df6

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,N182_index,N183_index,N184_index,N185_index,N186_index,N187_index,N188_index,N189_index,N18_idx,N18_Date
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [433]:
df6.to_csv('data\\ukb46987_N18preprocessed.csv', encoding = 'euc-kr', index = False)

#### 2021.12.06 ~

In [3]:
df = pd.read_csv('data\\ukb46987_N18preprocessed.csv', encoding = 'euc-kr')
df

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,N182_index,N183_index,N184_index,N185_index,N186_index,N187_index,N188_index,N189_index,N18_idx,N18_Date
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def conditions(df):
    if (df['N180'] == 1) or (df['N181'] == 1) or (df['N182'] == 1) or (df['N183'] == 1) or (df['N184'] == 1) or (df['N185'] == 1) or (df['N186'] == 1) or (df['N187'] == 1) or (df['N188'] == 1) or (df['N189'] == 1):
        return 1
    else:
        return 0

In [12]:
df['N18'] = df.apply(conditions, axis=1)

In [14]:
df['N18'].value_counts()

0    490906
1     11570
Name: N18, dtype: int64

In [32]:
df['N18_Date'].fillna(0, inplace = True)

In [33]:
df.loc[df['N18_Date'] == 0, 'N18_Date'].count()

490906

In [34]:
df

,eid,N180,N181,N182,N183,N184,N185,N186,N187,N188,...,N183_index,N184_index,N185_index,N186_index,N187_index,N188_index,N189_index,N18_idx,N18_Date,N18
0,1000015,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,1000027,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,1000039,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,1000040,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,1000053,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502471,6025339,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
502472,6025340,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
502473,6025353,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
502474,6025364,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
502475,6025371,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [35]:
df_final = df[['eid', 'N18_Date', 'N18']]
df_final

            eid N18_Date  N18
0       1000015        0    0
1       1000027        0    0
2       1000039        0    0
3       1000040        0    0
4       1000053        0    0
...         ...      ...  ...
502471  6025339        0    0
502472  6025340        0    0
502473  6025353        0    0
502474  6025364        0    0
502475  6025371        0    0

[502476 rows x 3 columns]

In [36]:
df_final.to_csv('data\\ukb46987_N18preprocessed.csv', encoding = 'euc-kr', index = False)

#### HTN drug preprocessing

In [48]:
ukb45783_drug = pd.read_sas('SAS\\ukb45783_drug.sas7bdat', format = 'sas7bdat')
ukb45783_drug

,eid,20003-0.0,20003-0.1,20003-0.2,20003-0.3,20003-0.4,20003-0.5,20003-0.6,20003-0.7,20003-0.8,...,20003-3.38,20003-3.39,20003-3.40,20003-3.41,20003-3.42,20003-3.43,20003-3.44,20003-3.45,20003-3.46,20003-3.47
0,6025371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000015.0,1.141165e+09,1.140922e+09,1.140868e+09,1.140910e+09,1.141195e+09,1.140865e+09,1.140916e+09,1.140884e+09,2.038460e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000027.0,1.141146e+09,1.141168e+09,1.140862e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000039.0,1.140868e+09,1.141195e+09,1.140871e+09,1.140861e+09,1.140879e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6025327.0,1.140853e+09,1.193000e+03,1.140885e+09,1.140910e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502482,6025339.0,1.141153e+09,1.140910e+09,1.140910e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502483,6025340.0,1.140910e+09,1.141178e+09,1.140917e+09,1.140853e+09,1.201000e+03,1.140871e+09,1.140910e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502484,6025353.0,1.140866e+09,2.038460e+09,1.140861e+09,1.140879e+09,1.140862e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502485,6025364.0,1.140871e+09,2.038460e+09,1.140889e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df = ukb45783_drug.copy()

In [90]:
HTN_drugcode_preprocessed_FINAL = pd.read_csv('data\\HTN_drugcode_preprocessed_FINAL.csv', encoding = 'euc-kr')
HTN_drugcode_preprocessed_FINAL

,주성분코드,주성분,Category,UK Biobank Count,UK Biobank code
0,104201ATB,1042.0,alacepril,NaN,NaN
1,107601ATB,1076.0,amlodipine besylate,NaN,NaN
2,107901ATB,1079.0,amosulalol hydrochloride,NaN,NaN
3,111402ATB,1114.0,atenolol,20583.0,1.140867e+09
4,114001ACH,1140.0,barnidipine hydrochloride,NaN,NaN
...,...,...,...,...,...
68,180230BIJ,1802.0,labetalol hydrochloride,NaN,NaN
69,229330BIJ,2293.0,sodium nitroprusside,NaN,NaN
70,512430BIJ,5124.0,treprostinil,NaN,NaN
71,471430CSI,4714.0,iloprost,NaN,NaN
72,NaN,NaN,NaN,87815.0,NaN

In [91]:
htn_drugcode = HTN_drugcode_preprocessed_FINAL['UK Biobank code'].dropna()
htn_drugcode = htn_drugcode.tolist()
htn_drugcode

[1140866738.0,
 1141156836.0,
 1140860750.0,
 1140909368.0,
 1140860882.0,
 1140888646.0,
 1141164148.0,
 1140866078.0,
 1141152998.0,
 1140861190.0,
 1140861276.0,
 1140860696.0,
 1140860532.0,
 1140928284.0,
 1140860806.0,
 1141145660.0,
 1140866144.0,
 1140866162.0,
 1140866236.0,
 1141166006.0]

In [92]:
colnames = df.columns.tolist()
colnames.remove('eid')

In [93]:
for col in colnames: 
    for val in htn_drugcode: 
        df.loc[df[col] == val, str(val)] = 1  # 전체 칼럼 순회하면서 drug code 있으면 칼럼 만들어서 1 넣어주기

In [94]:
df

,eid,20003-0.0,20003-0.1,20003-0.2,20003-0.3,20003-0.4,20003-0.5,20003-0.6,20003-0.7,20003-0.8,...,1140861276.0,1140860696.0,1140860532.0,1140928284.0,1140860806.0,1141145660.0,1140866144.0,1140866162.0,1140866236.0,1141166006.0
0,6025371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000015.0,1.141165e+09,1.140922e+09,1.140868e+09,1.140910e+09,1.141195e+09,1.140865e+09,1.140916e+09,1.140884e+09,2.038460e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000027.0,1.141146e+09,1.141168e+09,1.140862e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000039.0,1.140868e+09,1.141195e+09,1.140871e+09,1.140861e+09,1.140879e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,1000040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6025327.0,1.140853e+09,1.193000e+03,1.140885e+09,1.140910e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502482,6025339.0,1.141153e+09,1.140910e+09,1.140910e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502483,6025340.0,1.140910e+09,1.141178e+09,1.140917e+09,1.140853e+09,1.201000e+03,1.140871e+09,1.140910e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502484,6025353.0,1.140866e+09,2.038460e+09,1.140861e+09,1.140879e+09,1.140862e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
502485,6025364.0,1.140871e+09,2.038460e+09,1.140889e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
# 엑셀로 정리해둔 명수랑 얼추 맞음

for val in htn_drugcode: 
    print(df[str(val)].value_counts())

1.0    19526
Name: 1140866738.0, dtype: int64
1.0    6070
Name: 1141156836.0, dtype: int64
1.0    225
Name: 1140860750.0, dtype: int64
1.0    390
Name: 1140909368.0, dtype: int64
1.0    24
Name: 1140860882.0, dtype: int64
1.0    4475
Name: 1140888646.0, dtype: int64
1.0    29
Name: 1141164148.0, dtype: int64
1.0    1999
Name: 1140866078.0, dtype: int64
1.0    3896
Name: 1141152998.0, dtype: int64
1.0    5
Name: 1140861190.0, dtype: int64
1.0    544
Name: 1140861276.0, dtype: int64
1.0    14599
Name: 1140860696.0, dtype: int64
1.0    66
Name: 1140860532.0, dtype: int64
1.0    459
Name: 1140928284.0, dtype: int64
1.0    25428
Name: 1140860806.0, dtype: int64
1.0    2439
Name: 1141145660.0, dtype: int64
1.0    4
Name: 1140866144.0, dtype: int64
1.0    57
Name: 1140866162.0, dtype: int64
1.0    1026
Name: 1140866236.0, dtype: int64
1.0    816
Name: 1141166006.0, dtype: int64

In [110]:
htn_drugcode_str = list(map(str, htn_drugcode))
htn_drugcode_str.insert(0, 'eid')
htn_drugcode_str

['eid',
 '1140866738.0',
 '1141156836.0',
 '1140860750.0',
 '1140909368.0',
 '1140860882.0',
 '1140888646.0',
 '1141164148.0',
 '1140866078.0',
 '1141152998.0',
 '1140861190.0',
 '1140861276.0',
 '1140860696.0',
 '1140860532.0',
 '1140928284.0',
 '1140860806.0',
 '1141145660.0',
 '1140866144.0',
 '1140866162.0',
 '1140866236.0',
 '1141166006.0']

In [138]:
df_final = df[htn_drugcode_str].copy()
df_final

,eid,1140866738.0,1141156836.0,1140860750.0,1140909368.0,1140860882.0,1140888646.0,1141164148.0,1140866078.0,1141152998.0,...,1140861276.0,1140860696.0,1140860532.0,1140928284.0,1140860806.0,1141145660.0,1140866144.0,1140866162.0,1140866236.0,1141166006.0
0,6025371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000027.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,1000040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6025327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502482,6025339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502483,6025340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502484,6025353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
502485,6025364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
df_final.fillna(0, inplace = True)
df_final

,eid,1140866738.0,1141156836.0,1140860750.0,1140909368.0,1140860882.0,1140888646.0,1141164148.0,1140866078.0,1141152998.0,...,1140861276.0,1140860696.0,1140860532.0,1140928284.0,1140860806.0,1141145660.0,1140866144.0,1140866162.0,1140866236.0,1141166006.0
0,6025371.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000027.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000039.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1000040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6025327.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502482,6025339.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502483,6025340.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502484,6025353.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
502485,6025364.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [148]:
#### test

d = {'A':[1, 0, 0, 0, 0], 
          'B':[0, 1, 0, 0, 1], 
          'C':[1, 1, 1, 0, 0], 
          'D':[0, 0, 0, 0, 1], 
          'E':[0, 0, 0, 0, 0], 
          'col':[1, 1, 1, 0, 1]}
testdf = pd.DataFrame(data = d, index = ['prsn1', 'prsn2', 'prsn3', 'prsn4', 'prsn5'])
testdf

       A  B  C  D  E  col
prsn1  1  0  1  0  0    1
prsn2  0  1  1  0  0    1
prsn3  0  0  1  0  0    1
prsn4  0  0  0  0  0    0
prsn5  0  1  0  1  0    1

In [154]:
def create_htnmed(df):
    count = 0
    col = pd.DataFrame(df).columns.tolist()
    print(col)

    for c in col: 
        if df[str(c)] == 1: 
            count += 1
    if count > 0: 
        return 1
    else: 
        return 0

In [157]:
for val in htn_drugcode: 
    df_final.loc[df_final[str(val)] == 1, 'HTN_med'] = 1

In [160]:
df_final['HTN_med'].fillna(0, inplace = True)

In [161]:
df_final['HTN_med'].value_counts()

0.0    432255
1.0     70231
Name: HTN_med, dtype: int64

In [162]:
df_final

,eid,1140866738.0,1141156836.0,1140860750.0,1140909368.0,1140860882.0,1140888646.0,1141164148.0,1140866078.0,1141152998.0,...,1140860696.0,1140860532.0,1140928284.0,1140860806.0,1141145660.0,1140866144.0,1140866162.0,1140866236.0,1141166006.0,HTN_med
0,6025371.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000027.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000039.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1000040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6025327.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502482,6025339.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502483,6025340.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502484,6025353.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
502485,6025364.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
df_final.to_csv('data\\ukb45783_drugpreprocessed.csv', encoding = 'euc-kr', index = False)